
    ul {
        list-style-type: none;
    }

    .box-check-in {
        background-color: #fff;
        border-radius: 4px;
        border: 1px solid #bbddbb;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
        box-sizing: border-box;
    }

    .list {
        float: left;
        padding: 0px 5px;
    }

    .list-time {
        display: inline-flex;
        border: 2px solid #1667b2;
        border-radius: 4px;
        padding: 5px 10px;
        cursor: pointer;

    }

    

    /* .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
        background-color: #fff;
        border: 1px solid #ddd;
        color: #222;
    } */
    /* .ui-state-highlight,
    .ui-widget-content .ui-state-highlight,
    .ui-widget-header .ui-state-highlight {
        border: 1px solid #c5c5c5;
        background: #f6f6f6;
        font-weight: normal;
        color: #454545;
    }

    .ui-state-active,
    .ui-widget-content .ui-state-active,
    .ui-widget-header .ui-state-active,
    a.ui-button:active,
    .ui-button:active,
    .ui-button.ui-state-active:hover {
        background-color: #1667b2;
        border: 1px solid #1667b2;
        color: #fff;
    }

    .ui-state-active,
    .ui-widget-content .ui-state-active,
    .ui-widget-header .ui-state-active,
    a.ui-button:active,
    .ui-button:active,
    .ui-button.ui-state-active:hover {
        background-color: #1667b2;
        border: 1px solid #1667b2;
        color: #fff;
    }

    
    
    .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
        background-color: #1667b2 !important;
        border: 1px solid #1667b2 !important;
        color: #fff !important;
    }
    .ui-state-active, .ui-widget-content .ui-state-active,
    .ui-widget-header .ui-state-active, a.ui-button:active,
    .ui-button:active, .ui-button.ui-state-active:hover {
        border: 1px solid #1667b2 !important;
        background: #1667b2 !important;
        font-weight: normal;
        color: #ffffff;
    }

    .ui-widget-header {
        border: none !important;
        background: none !important; 
        color: #333333;
        font-weight: bold;
    }
     */
   
    /* .ui-widget-header .ui-icon {
        background-image: url(images/ui-icons_444444_256x240.png);
    } */

    
    #map {
        height: 300px;
        width: 100%;
    }

    @media screen and (max-width: 991px) {
        .pc {
            display: block;
        }
    }

    @media screen and (max-width: 768px) {
        .pc {
            display: none;
        }
    }
