<!DOCTYPE html>
<html lang="th-TH" dir="ltr">

<head>
    <title>Bangkok Life | eSignature</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=1">

    <meta name="keywords" content="จัดการขั้นตอนการทำงานของคุณให้เป็นเรื่องง่ายด้วย Creden e-Signature">
    <meta name="description" content="จัดการขั้นตอนการทำงานของคุณให้เป็นเรื่องง่ายด้วย Creden e-Signature">
    <meta property="og:url" content="https://www.creden.co" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Creden | eSignature" />
    <meta property="og:description" content="จัดการขั้นตอนการทำงานของคุณให้เป็นเรื่องง่ายด้วย Creden e-Signature" />
    <meta property="og:site_name" content="จัดการขั้นตอนการทำงานของคุณให้เป็นเรื่องง่ายด้วย Creden e-Signature" />
    <meta property="og:image" content="/bla/images/creden-icon.png">

    <!-- <link rel="icon" type="image/x-icon" href="images/Creden_logos_ICON_2-Tones.ico"> -->
    <link rel="icon" type="image/x-icon" href="web/images/BLA_Icon.ico">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" type="text/css" href="css/index.css?v=12341">
    <link rel="stylesheet" type="text/css" href="css/header.css?v=121">
    <link rel="stylesheet" type="text/css" href="css/font.css">
    <link rel="stylesheet" type="text/css" href="css/table.css?v=1211">
    <link rel="stylesheet" type="text/css" href="css/sideMenu.css?v=122">


    <!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css"> -->

    <script src="js/moment.js"></script>
</head>

<body class="bg-F2">

    <div id="navApp" v-cloak>

        <header class="header">
            <ul>
                <li v-if="lang_choose == 'th'">
                    <a href="/bla/#/dashboard">
                        <img src="images/bla_logo_th.png" class="w-h-12 ps-2 pb-2">
                    </a>
                </li>
                <li v-else>
                    <a href="/bla/#/dashboard">
                        <img src="images/bla_logo_en.png" class="w-h-12 ps-2 pb-2">
                    </a>
                </li>
                <li class="float-end">
                    <ul>
                        <li class="mt-3" v-if="lang_choose == 'th'" onclick="swithLang('en')">
                            <img src="images/thai-flag.svg" alt="thai" class="flag-size cs-pointer mx-lg-1 mx-2">
                            <span class="rg18-g2 mx-1 pc cs-pointer">ภาษาไทย</span>
                        </li>
                        <li class="mt-3" v-else onclick="swithLang('th')">
                            <img src="images/eng-flag.svg" alt="english" class="flag-size cs-pointer mx-lg-1 mx-2">
                            <span class="rg18-g2 mx-1 pc cs-pointer">English</span>
                        </li>
                        <li class="border-profile pt-5 pe-0 pc"></li>
                        <li class="ps-0 pc">

                            <div class="dropdown">

                                <a class="mt-2" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="true">
                                    <img v-if="myProfile" v-bind:src="myProfile" alt="profile" class="pic-profile2 radius50">
                                    <img v-else src="images/profile.png" alt="profile" class="w-100">
                                </a>

                                <ul class="dropdown-menu dropdown-profile" aria-labelledby="dropdownMenuButton">
                                    <li class="d-block">
                                        <div class="profile-box-img">
                                            <div class="max-profile-detail">
                                                <img v-if="myProfile" v-bind:src="myProfile" alt="profile" class="pic-profile2 radius50">
                                                <img v-else src="images/profile.png" alt="profile" class="w-100">
                                            </div>
                                        </div>
                                        <div class="profile-box-text">
                                            <div class="row">
                                                <div class="col-12 rg16-g1 text-overflow-dot">
                                                    {{myFirstname}} {{myLastname}}
                                                </div>
                                                <div class="col-12 rg12-g1">
                                                    {{myEmail}}
                                                </div>
                                                <div class="col-12 rg12-g1 cl-2F">
                                                    -
                                                </div>
                                            </div>
                                        </div>
                                        <div class="w-100 text-end rg10-g3 cl-CI pb-2">
                                            <span class="cs-pointer" @click="logout()">
                        <i class="fas fa-sign-out-alt"></i> {{lang_txt.logout[lang_choose]}}
                      </span>
                                        </div>
                                    </li>
                                </ul>
                            </div>


                        </li>
                        <li class="mt-3 me-2 mb">
                            <span class="btn cl-CI" onclick="openNav()" id="burger-open">
                <i class="fas fa-bars"></i>
              </span>
                        </li>
                    </ul>

                </li>
            </ul>
        </header>


        <div id="mySidenav" class="sidenav">
            <ul class="Mobile bg-CI pt-3" id="profileMobile">
                <li>
                    <img v-if="myProfile" v-bind:src="myProfile" alt="profile" class="pic-profile ms-2 radius50">
                    <img v-else src="images/profile.png" alt="profile" class="pic-profile">
                </li>
                <li class="w-100">
                    <div class="row">
                        <div class="col-12 md18-g1 cl-FF">
                            {{myFirstname}} {{myLastname}}
                        </div>
                        <div class="col-12 rg16-g3 cl-FF">
                            {{myEmail}}
                        </div>
                        <div class="col-12 rg16-g3 cl-FF">
                            -
                        </div>
                        <div class="col-12 rg14-g3 cl-FF text-nowrap text-end">
                            <span @click="logout()">
                <i class="fas fa-sign-out-alt"></i> {{lang_txt.logout[lang_choose]}}
              </span>
                        </div>
                    </div>
                </li>
            </ul>


            <ul class="btn-upload-doc PC">
                <li>
                    <button class="btn btn--bla w-100" onmouseover="this.style.backgroundColor='#007bff';return true;" onmouseout="this.style.backgroundColor='#0057a2';return true;"  type="button" onclick="document.location.href='/bla/upload_new.html'">
            {{lang_txt.upload[lang_choose]}}
          </button>
                </li>
            </ul>

            <ul id="manage_document" class="xx zz">
                <li class="md18-g1">
                    {{lang_txt.title[lang_choose]}}
                </li>
                <section class="collapse show" id="coll-manage-document">
                    <li class="sub-menu rg18-g1" :class="$route.path == '/dashboard' ? 'active':'' " @click="gotoPage('dashboard')">
                        <i class="fas fa-home"></i>{{lang_txt.home[lang_choose]}}
                    </li>
                    <li class="sub-menu rg18-g1" :class="$route.path == '/alldocument' ? 'active':'' " @click="gotoPage('alldocument')">
                        <i class="fas fa-inbox"></i>{{lang_txt.allinbox[lang_choose]}}
                    </li>
                    <li class="sub-menu rg18-g1" :class="$route.fullPath == '/draft' ? 'active':'' " @click="gotoPage('draft')">
                        <i class="fas fa-drafting-compass"></i>{{lang_txt.draft[lang_choose]}}
                    </li>
                    <li class="sub-menu rg18-g1" :class="$route.path == '/send' ? 'active':'' " @click="gotoPage('send')">
                        <i class="fas fa-paper-plane"></i>{{lang_txt.sent[lang_choose]}}
                    </li>
                    <li class="sub-menu rg18-g1" :class="$route.fullPath == '/inbox' ? 'active':'' " onclick="document.location.href='/bla/#/inbox'">
                        <i class="fas fa-box-open"></i>{{lang_txt.inbox[lang_choose]}}
                    </li>
                    <li class="sub-menu rg18-g1" :class="$route.fullPath == '/inbox_not_sign?sign=not_sign' ? 'active':'' " @click="gotoPage('inbox_not_sign?sign=not_sign')">
                        <i class="fas fa-edit"></i>{{lang_txt.notsign[lang_choose]}}
                    </li>
                    <li class="sub-menu rg18-g1" :class="$route.path == '/trash' ? 'active':'' " @click="gotoPage('trash')">
                        <i class="fas fa-trash-alt"></i>{{lang_txt.trash[lang_choose]}}
                    </li>
                </section>
            </ul>

            <ul>
                <li class="md18-g1">
                    {{lang_txt.folder[lang_choose]}}
                </li>
                <div id="coll-folder">
                    <li class="rg18-g1 sub-menu" :class="$route.path == '/public' ? 'active':'' " @click="gotoPage('public')">
                        <i class="fas fa-folder cl-21"></i>Public
                    </li>
                    <li class="rg18-g1 sub-menu" :class="$route.path == '/private' ? 'active':'' " @click="gotoPage('private')">
                        <i class="fas fa-folder cl-2F"></i>Private
                    </li>
                    <li class="rg18-g1 sub-menu" :class="$route.path == '/confidential' ? 'active':'' " @click="gotoPage('confidential')">
                        <i class="fas fa-folder cl-F0"></i>Confidential
                    </li>
                </div>

            </ul>

            <ul>
                <li class="md18-g1" id="tour_profile">
                    {{lang_txt.setting[lang_choose]}}
                </li>
                <section id="coll-setting">
                    <li id="profile" class="sub-menu rg18-g1" :class="$route.path == '/profile' ? 'active':'' " @click="gotoPage('profile')">
                        <i class="fas fa-user-circle"></i>{{lang_txt.profile[lang_choose]}}
                    </li>
                    <!-- <li class="sub-menu rg18-g1" @click="gotoPage('companySetting')">
            <i class="fas fa-building"></i> {{lang_txt.com_set[lang_choose]}}
          </li> -->
                    <li class="sub-menu rg18-g1" :class="$route.path == '/userSetting' ? 'active':'' " @click="gotoPage('userSetting')">
                        <i class="fas fa-user-friends"></i> {{lang_txt.user_set[lang_choose]}}
                    </li>
                    <!-- <li class="sub-menu rg18-g1" @click="gotoPage('ekyc')">
            <i class="fas fa-user-check"></i>{{lang_txt.iv[lang_choose]}}
          </li> -->

                </section>
            </ul>

            <ul>
                <li class="md18-g1">
                    {{lang_txt.kyc[lang_choose]}}
                </li>
                <section>
                    <li class="sub-menu rg18-g1" @click="gotoPage('certificate')">
                        <i class="far fa-clipboard"></i>{{lang_txt.cer[lang_choose]}}
                    </li>
                </section>
            </ul>
            <ul class="pb-5">
                <li class="md18-g1">
                    {{lang_txt.support[lang_choose]}}
                </li>
                <section id="coll-support">
                    <li class="sub-menu rg18-g1" @click="gotoPage('getstarted')">
                        <i class="fas fa-question-circle"></i>{{lang_txt.get_center[lang_choose]}}
                    </li>
                    <li class="sub-menu rg18-g1" @click="gotoPage('support')">
                        <i class="fas fa-headset"></i>{{lang_txt.help[lang_choose]}}
                    </li>
                </section>
            </ul>

        </div>

        <!-- Add Folder -->
        <div class="modal fade" id="addFolder" tabindex="-1" aria-labelledby="addFolderModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addFoldereModalLabel">{{lang_txt.new_folder[lang_choose]}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12 rg16-g1">
                                {{lang_txt.folder_name[lang_choose]}}
                                <input type="text" class="form-control mt-2" v-model="name_folder" v-on:keyup.enter="add_folder()">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{lang_txt.close[lang_choose]}}</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @click="add_folder">{{lang_txt.save[lang_choose]}}</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Add Folder -->

        <!-- Edit Folder -->
        <div class="modal fade" id="eDitFolder" tabindex="-1" aria-labelledby="eDitFolderModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="eDitFoldeModalLabel">{{lang_txt.edit_folder[lang_choose]}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12 rg16-g1">
                                {{lang_txt.folder_name[lang_choose]}}
                                <input type="text" class="form-control mt-2" v-model="name_folder">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{lang_txt.close[lang_choose]}}</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @click="edit_folder">
              {{lang_txt.save[lang_choose]}}
            </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Edit Folder -->

    </div>

    <div class="pages" id="app" v-cloak>
        <div class="container-fluid">
            <div class="content">
                <router-view></router-view>
            </div>
        </div>
    </div>




    <iframe id="bug_session" src="../capi/test_bug_session" style="display: none;"></iframe>
</body>

<script type="text/javascript" src="js/jquery-3.3.1.js"></script>
<!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.1.3/vue-router.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script src="js/dropzone.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/3.0.16/svg.min.js" type="text/javascript"></script>
<!-- <script src="https://cdn.rawgit.com/svgdotjs/svg.draggable.js/2.2.1/dist/svg.draggable.js"></script>
 -->
<script src="js/signature_pad.umd2.js"></script>
<script src="https://unpkg.com/clipboard@2.0.0/dist/clipboard.min.js"></script>
<!-- MY ITEM -->

<!-- Usetiful begin -->
<script>
    (function(w, d, s) {
        var a = d.getElementsByTagName('head')[0];
        var r = d.createElement('script');
        r.async = 1;
        r.src = s;
        r.setAttribute('id', 'usetifulScript');
        r.dataset.token = "3ad152bc60bbfa1aec80f2512da56838";
        a.appendChild(r);
    })(window, document, "https://www.usetiful.com/dist/usetiful.js");
</script>
<!-- Usetiful end -->

<script>
    $(document).ready(function() {
        preload_vue();
        // document.getElementsByClassName("paginate_button").onclick = function(){
        //   alert("xxxx")
        // }
        $(window).resize(function() {
            var width = $(window).width() + 17;
            if (width > 991) {
                openNav2()
            } else {
                closeNav()
            }
        });

    });
</script>
<script src="components/error_server.js?v=3_01"></script>
<script src="components/error_client.js?v=3_01"></script>
<script src="components/index.js?v=3_02311"></script>
<script src="components/css.js?v=3_0233"></script>
<script src="components/common.js?v=3_02"></script>
<script src="components/cancel.js?v=3_02"></script>
<script src="components/certificate.js?v=3_02"></script>
<script src="components/draft.js?v=3_02"></script>
<script src="components/dashboard.js?v=3_0111"></script>
<script src="components/document.js?v=3_01"></script>
<script src="components/ekyc.js?v=3_012"></script>
<script src="components/getstarted.js?v=3_01"></script>
<script src="components/profile.js?v=3_01"></script>
<script src="components/plans.js?v=3_01"></script>
<script src="components/inbox.js?v=3_4212"></script>
<script src="components/transaction.js?v=3_42"></script>
<script src="components/trash.js?v=3_42"></script>
<script src="components/self.js?v=3_0233"></script>
<script src="components/send.js?v=3_012"></script>
<script src="components/support.js?v=3_011"></script>
<script src="components/upload.js?v=3_421"></script>
<script src="components/user_setting.js?v=3_42"></script>
<script src="components/company_setting.js?v=3_421"></script>
<script src="components/folder_doc.js?v=3_42"></script>
<script src="components/electronic_cert.js?v=3_42"></script>
<script src="components/template.js?v=3_42"></script>
<script src="components/public.js?v=3_42"></script>
<script src="components/private.js?v=3_42"></script>
<script src="components/confidential.js?v=3_42"></script>
<script src="components/alldocument.js?v=3_42"></script>


</html>