.header {
    position  : fixed;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    width     : 100%;
    height    : 70px;
    background: #FFF;
    z-index   : 99;
    top       : 0;
    left      : 0;
}

.header ul {
    margin    : 0;
    padding   : 0;
    list-style: none;
    /* display   : flex; */
    justify-content: space-between;
}

.header ul li {
    float     : left;
    margin-top: 5px;
    padding   : 0px 10px;
}

.max-limit-logo {
    max-width: 160px;
}

.my-logo {
    width: 100%;
    height: 50px;
    object-fit: cover;
}

.btn-white {
    color : #fff !important;
    border: 3px solid !important;
}

.text-logo {
    text-decoration: none;
    color          : #FFFFFF;
}

.text-logo:hover {
    text-decoration: none !important;
    color          : #FFFFFF !important;
}

.dropdown-header2 {
    color      : #FFFFFF !important;
    border     : none !important;
    white-space: nowrap !important;
    font-size  : 14px !important;
}

.flag-size {
    width: 30px;
}

.input-group-text-transparent {
    display         : flex;
    align-items     : center;
    padding         : .375rem .75rem;
    font-size       : 1rem;
    font-weight     : 400;
    line-height     : 1.5;
    color           : #C4C4C4;
    text-align      : center;
    white-space     : nowrap;
    background-color: #FFFFFF;
    border          : 1px solid #ced4da;
    border-radius   : .25rem;
}

.border-right-none {
    border-right-color: transparent !important;
}

.border-left-none {
    border-left-color: transparent !important;
}

.border-right-radius {
    border-top-right-radius   : .25rem !important;
    border-bottom-right-radius: .25rem !important;
}

.shadow-input {
    box-shadow: 0 0rem 1rem rgba(0, 0, 0, .15) !important;
}

.btn-creden {
    display            : inline-block;
    font-weight        : 400;
    line-height        : 1.5;
    color              : #212529;
    text-align         : center;
    text-decoration    : none;
    vertical-align     : middle;
    cursor             : pointer;
    -webkit-user-select: none;
    -moz-user-select   : none;
    user-select        : none;
    background-color   : transparent;
    border             : 1px solid transparent;
    padding            : .375rem .75rem;
    font-size          : 14px;
    border-radius      : .25rem;
    transition         : color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-creden-primary {
    color           : #fff;
    background-color: #007BFF;
    border-color    : #007BFF;
}

.border-profile {
    border-left: 2px solid #BDBDBD;
}

.radius50 {
    border-radius: 50%;
}

.dropdown-profile {
    right: 0 !important;
    left : unset !important;
    width: 239px;
}

.profile-box-img {
    width: 30%;
    float: left;
}

.profile-box-text {
    width: 70%;
    float: left;
}

.max-profile-detail {
    max-width: 55px;
}

.header-search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
    min-width: 350px
}

.header-search input {
    text-indent: 25px;
    border: 2px solid #d6d4d4
}

.header-search .fa-search {
    position: absolute;
    top: calc(50% - 8px);
    left: 16px
}


@media screen and (max-width: 767px) {

    .header ul {
        display: flex;
    }

    .header ul li {
        float     : left;
        margin-top: 5px;
        padding   : 0px
    }

    .my-logo {
        width: 120px;
        height: 50px;
        object-fit: cover;
    }

}


/* --ใช้ร่วม-- */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 300px) {
    .navbar-brand span {
        font-size: 24px !important;
    }

    .mb {
        display: block;
    }

    .pc {
        display: none !important;
    }

    .header .logo img {
        width: 105px;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .navbar-brand span {
        font-size: 24px !important;
    }

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .navbar-brand {
        font-size: 2rem !important;
    }

    .pc {
        display: unset !important;
    }

    .mb {
        display: none !important;
    }

    .header .logo img {
        width: 150px;
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}