[v-cloak] {
    display: none;
}

input {
    font-size: 15px !important;
    
}
input:focus, textarea:focus, select:focus{
    outline: none !important;
    box-shadow: none !important;
}

::-webkit-input-placeholder {
    /* Edge */
    color: #C4C4C4;
}

:-ms-input-placeholder {
    /* Internet Explorer */
    color: #C4C4C4;
}

::placeholder {
    color: #C4C4C4;
}

.cs-pointer {
    cursor: pointer;
}

.cs-default {
    cursor: default !important;
}

.cs-no-drop {
    cursor: no-drop !important;
    pointer-events: unset !important;
}
.form-check-label.active,.form-check-label:hover{
	color: #1667B2;
}
#titleReciever.active,#titleReciever:hover {
	color: #1667B2;
}
.click-filter {
    cursor: pointer;
}

#viewer-header {
    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 99;
    top: 0;
    left: 0;
}

#viewer-header ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
    display: flex;
}

#viewer-header ul li {
    display: block;
    float: left;
    padding: 15px 10px 15px 10px;
    width: 100%;
}

.viewer-tool-header {
    background-color: #CCCCCC;
    justify-content: center;
    display: flex;
    position: fixed;
    width: 100%;
    top: 71px;
    padding: 5px 0px;
}

.viewer-tool-icon {
    padding: 0px 15px;
    cursor: pointer;
}

.pic-profile {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.pic-profile2 {
    width: 45px;
    height: 45px;
    object-fit: cover;
}

.w-15 {
    width: 15%;
}

.w-70 {
    width: 70%;
}

.w-h-12 {
    width: 150px;
    height: 70px;
}
.dropdown-menu.show1 {
    display: flex;
}
.w-h-viewer {
    width: 150px;
    height: 70px;
}

.icon-step-qr {
    font-size: 36px;
    color: #2F80ED;
}

.slide-left {
    -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.tool-scal-step3 {
    background-color: #DADADA;
    border: 1px solid #BDBDBD;
    width: 100%;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-3-2 23:56:23
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */

@-webkit-keyframes slide-left {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
    }
}

@keyframes slide-left {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
    }
}

/* .carousel-indicators [data-bs-target] {
    width: 20px;
    height: 20px;
    border-radius: 50% !important;
    border: none;
    margin: 5px 5px;
    outline: none;
} */

.box-review{
    background-color: #fff;
    width: 219px;
    height: 285px;
    max-width: 100%;
    border: 1px solid #C4C4C4;
}

.line-bd-BD {
    border: 1px solid #BDBDBD;
}

.line-bd-CF {
    border: 1px solid #ced4da !important;
}

.line-bd-cl-00 {
    border-color: #0058A9 !important;
}

.border-rigth-rd {
    border-bottom-right-radius: 0.25rem !important;
    border-top-right-radius: 0.25rem !important;
}

.a-under-none {
    text-decoration: none;
}

.bg-E5 {
    background: #E5E5E5;
}

.bg-F2 {
    background: #F2F2F2;
}
.bg-orange{
    background: #F2994A !important;
}
.bg-green-1{
    background: #219653;
}
.bg-red{
    background: #EB5757 !important;
}

.bg-BD {
    background: #BDBDBD !important;
}

.bg-FF {
    background: #FFFFFF !important;
}

.bg-CI {
    background: #1667B2 !important;
}

.bg-none {
    background-color: transparent !important;
}

.bd-r-E0 {
    border-right: 1px solid #E0E0E0;
}

.head-title-search {
    max-width: 100%;
    display: flex;
}

.head-title {
    width: 65%;
}

.head-search {
    width: 35%;
    display: flex;
    max-width: 100%;
    position: relative;
}

.head-search .input-search {
    width: 68%;
}

.head-search .input-filter {
    width: 32%;
    text-align: right;
    margin-top: 7px;
}

.display-doc {
    width: 100%;
    height: auto;
    background: #FFFFFF;
    border: 1px solid #2F80ED;
}

.btn-none-border {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 14px;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.select-none-bg {
    border: none !important;
    background-color: transparent !important;
}

.full-width {
    width: 100%;
}
.dash-box {
    width: 100%;
    height: 115px;
    border: 1px solid rgba(224, 224, 224, 1);
    border-radius: 4px;
}
.draw-box {
    width: 400px;
    height: 100px;
    border: 2px dashed #1667B2;
    border-radius: 5px;
    position: relative;
    margin: auto;
}

.draw-box-ps {
    width: 100px;
    height: 100px;
    border: 2px dashed #1667B2;
    border-radius: 5px;
    position: relative;
    margin: auto;
}

.profile_img {
    width: auto;
    height: 100px;
}

.show-multi-select {
    width: 100%;
    border: 1px solid #DFDFDF;
    box-sizing: border-box;
    border-radius: 4px;
    min-height: 35px !important;
    padding: 7px 8px !important;
}

.item-multi-select {
    background: #1667B2;
    border-radius: 18px;
    padding: 2px 6px !important;
    color: #fff;
    width: fit-content;
}

@media screen and (max-width: 991px) {
    .head-title {
        width: 100%;
    }
    .input-search, .input-filter {
        display: none;
    }
    .content {
        margin-top: 627px;
        padding: 30px 5px 30px 5px;
    }
    #box-storage {
        border-top: 1px solid #E0E0E0;
        padding-top: 10px;
    }
    .last-thead {
        display: none;
    }
    .PC {
        display: none !important;
    }
    .head-search {
        position: unset;
        width: 0;
    }
    .popup-filter {
        display: none;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        width: 80%;
        background: #FFFFFF;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        padding: 15px 15px;
    }
    .pic-profile {
        width: 50px;
        height: 50px;
        object-fit: cover;
    }
    .bg-doc {
        width: 100%;
        min-height: 776px;
        background: #FFFFFF;
    }
    .h-previwe {
        min-height: 776px;
        overflow-y: auto;
    }
    .bg-mb-ff {
        background-color: #fff;
        box-shadow: 0px -6px 7px rgba(0, 0, 0, 0.15);
        margin-top: 0.25rem;
        padding-bottom: 1rem;
        position: fixed;
        bottom: 0;
    }
    .fixed-top-step {
        position: fixed;
        top: 65px;
        right: 0;
        left: 0;
        z-index: 97;
    }
}

@media screen and (max-width: 992px) {
    .head-title {
        width: 100%;
    }
    .input-search, .input-filter {
        display: none;
    }
    .content {
        margin-top: 62px;
        padding: 30px 5px;
    }
    #box-storage {
        border-top: 1px solid #E0E0E0;
        padding-top: 10px;
    }
    .popup-filter {
        display: none;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        width: 80%;
        background: #FFFFFF;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        padding: 15px 15px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .head-title {
        width: 60%;
    }
    .head-search {
        display: flex;
        width: 40%;
    }
    .head-search .input-search {
        width: 65%;
    }
    .head-search .input-filter {
        width: 35%;
        text-align: right;
    }
}

@media screen and (min-width: 992px) {
    .pages {
        margin-left: 260px;
        min-height: 100vh;
        /* height     : 100vh; */
    }
    .Mobile {
        display: none !important;
    }
    .content {
        /* height    : 100vh; */
        margin-top: 77px;
        padding: 30px 15px 60px 15px;
    }
    .popup-filter {
        display: none;
        position: absolute;
        top: 40px;
        right: 0px;
        width: 100%;
        background: #FFFFFF;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        padding: 15px 15px;
    }
    .bg-doc {
        width: 100%;
        min-height: 776px;
        background: #fff;
    }
    .h-previwe {
        height: 870px;
        overflow: auto;
    }
    .fixed-top-step {
        position: fixed;
        top: 70px;
        right: 0;
        left: 0;
        z-index: 97;
    }
}

.hr-popup-filter {
    padding-bottom: 30px;
    border-bottom: 1px solid #E0E0E0;
}

.h-progress-02 {
    height: 0.2rem !important;
}

.progress {
    background-color: #BDBDBD !important;
}

.dy-none {
    display: none;
}

hr {
    height: 5px;
}

/* #last_document,
table {
    border-bottom: 1px solid #F2F2F2 !important;
}

#last_document,
table thead th {
    border-bottom   : 1px solid #DFDFDF !important;
    background-color: #FFFFFF !important;
}

#last_document {
    border: 1px solid #DFDFDF !important;
}

#last_document table tbody tr:nth-child(odd) {
    background-color    : #FFFFFF !important;
    --bs-table-accent-bg: #FFFFFF !important;
}

#last_document table tbody tr:nth-child(even) {
    background-color    : #F2F2F2 !important;
    --bs-table-accent-bg: #F2F2F2 !important;
} */

.list_upload {
    height: 54px;
    padding: 9px 10px !important;
}

.mt-7 {
    margin-top: 4rem !important;
}

.hr-blue {
    border: 1px solid #1667b2;
}

#menuMoreDocument {
    border-radius: 0px;
    inset: 10px auto auto -20px !important;
}

#menuMoreDocument li .dropdown-header {
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: calc(12px + (14 - 12) * ((100vw - 300px) / (1600 - 300))) !important;
    color: #333333 !important;
}

#menuMoreDocument li .dropdown-item {
    font-style: normal !important;
    font-weight: normal !important;
    font-size: calc(12px + (14 - 12) * ((100vw - 300px) / (1600 - 300)));
    color: #4F4F4F !important;
}

.text-out-line {
    width: 100%;
    text-align: center;
    border-bottom: 0.5px solid #DADADA;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.text-in-line {
    background: #F2F2F2;
    /* padding  :0 10px; */
    margin-right: 15%;
}

.btn-white2 {
    background: #FFFFFF !important;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.btn-gray {
    background: #6C757D !important;
    color: #FFFFFF !important;
    border-radius: 5px;
}

.btn-yellow {
    background: #FFC107 !important;
    border-radius: 5px;
}

.btn-red {
    background: #EB5757 !important;
    color: #FFFFFF !important;
    border-radius: 5px;
}

.btn-qr {
    border: 0;
    width: 30px !important;
    height: 30px;
    border-radius: 50px;
    background-color: #2F80ED;
    opacity: 1 !important;
    top: 50% !important;
    margin: 0px 15px !important;
}

.btn--bla{
    background-color:#0057a7;
    color: #fff;
    font-size: 18px;
}
.btn--bla:hover{
    color: #FFF;
}

.shadow-btn {
    box-shadow: 0px 1px 4px rgb(0 0 0 / 25%);
}

.menu-folder-edit {
    padding: 8px 10px 0px 10px !important;
}

.menu-folder-remove {
    padding: 0px 10px 8px 10px !important;
}

#profileMobile {
    display: flex;
}

#profileMobile ul li {
    float: left;
}

.swal2-title {
    font-weight: 500 !important;
}

.img_detail_document {
    width: 250px;
    -webkit-filter: blur(3px);
    filter: blur(3px);
    cursor: pointer;
    border: 5px solid #c4c4c4;
}

.text-overflow-dot {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.position-alert {
    position: fixed;
    width: 60%;
    z-index: 99;
}

.img_logo {
    width: 100px !important;
    height: auto;
}

.box-number {
    background-color: #fff;
    width: 50px;
    height: 50px;
}

.pd-t-2 {
    padding-top: 2rem;
}

.modal-none-bg {
    background-color: transparent !important;
    border: none !important;
}

.bd-callout {
    /* padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem; */
    /* border: 1px solid #e9ecef !important; */
    border-radius: .25rem !important;
    border-bottom-width: .5rem !important;
}

.max-limit-logo-company {
    max-width: 160px;
}

.qr-box {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    width: 100%;
    text-align: center;
    display: block;
}

.step-qr {
    color: #fff;
    background-color: #2F80ED;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
}

.img-qr {
    width: 85%;
}

.box-your-signature {
    border: 1px solid #DADADA;
    box-sizing: border-box;
}

/* .rq-frame{
    background-image: url("/images/qr_frame.svg");
    background-repeat: no-repeat;
    width: 350px;
} */

/* .tooltip2 {
    position: relative;
    display: inline-block;
    border-bottom: 1px solid #1667B2;
  }
  
  .tooltip2 .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #fff;
    color: #000;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
  }
  
  .tooltip2:hover .tooltiptext {
    visibility: visible;
  } */

.img-doc{
    height: 150px;
    object-fit:cover;
    object-position: center;
    padding: 10px;
}
.box-last-doc{
    height: 260px;
    max-width: 100%;
    border-radius: 4px;
}
.box-template {
    border: 1px solid rgba(224, 224, 224, 1);
    height: 185px;
    width: 148px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    max-width: 100%;
}

.layout-text-template-start {
    width: 90%;
    padding-right: 5px;
}

.layout-text-template-end {
    width: 10%;
}

.template-list {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.template-item {
    float: left;
    width: 150px;
    max-width: 100%;
}

.box-step {
    background-color: #fff;
    padding: 10px;
}

.layout-step3-start {
    width: 20%;
    background-color: #F2F2F2;
}

.layout-step3-center {
    width: 60%;
    background-color: #E0E0E0;
}

.layout-step3-end {
    width: 20%;
    background-color: #F2F2F2;
}

.scoll-y {
    overflow-y: scroll;
    /* height: 550px;
    padding-bottom: 30% !important; */
    height: calc(550px + (1029 - 550) * ((100vh - 300px) / (1600 - 300))) !important;
    padding-bottom: 100%;
}
.btn-outline-primary-tool{
    background: #FFFFFF;
    border: 1px solid #0058A9 !important;
    color: #222222;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border: 0;
    font-size: 18px;
    width: 120px;
    padding: 5px 10px;
} 
.linetext{
    text-decoration: underline;
    color:blue;
} 
.border-left{
    border-color: #0058A9 !important;
}
.bg-in{
    background-color: #0dcaf0;
}

.swal2-close:focus {
    box-shadow: none !important;
}

input.format-date::-webkit-datetime-edit, input.format-date::-webkit-inner-spin-button, input.format-date::-webkit-clear-button {
    display: none;
}
input.format-date:before {
    /* position: absolute; */
    padding: 3px;
    content: attr(data-date-format);
    min-width: 5rem;
    /* display: inline-block; */
    /* color: black; */
}
input.format-date {
    display: block;
}

select.arrow-visible {
    appearance: auto !important;
}

.edit-hidden select, .edit-visible select {
    padding: 0 0.75rem;
    height: 1.5rem;
}

.edit-hidden .close-btn, .edit-visible .close-btn {
    float: right;
    padding: 0rem 0.375rem;
}

.edit-hidden .close-btn i, .edit-visible .close-btn i {
    vertical-align: middle;
}

.edit-hidden .edit-hidden-item{
    display: block;
}

.edit-hidden .edit-visible-item{
    display: none;
}

.edit-visible .edit-visible-item{
    display: block;
}

.edit-visible .edit-hidden-item{
    display: none;
}

@media (max-width: 575.98px) {}

@media (max-width: 767.98px) {}

@media (max-width: 991.98px) {}

@media (max-width: 1199.98px) {}

@media (max-width: 1399.98px) {}

@media (min-width: 1399.99px) {
    .scoll-y {
        overflow-y: scroll;
        /* height: 1049px;
        padding-bottom: 30% !important; */
    }
}

.usercard {
    margin: 20px;
    width: 90%;
   
    background: #fff;
    border: 1px solid #C4C4C4;
}
.usercard2 {
    margin-left: 20px;
   
    border-right: 1px solid #C4C4C4 ;
}
.usercard3 {
    height: 200px;
}
.blabox{
    color: black;
    text-decoration: auto;
}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
  bottom: .5em;
}

