@font-face {
    font-family: 'DB Ozone X MediumIt';
    src: url('DBOzoneX-MediumIt.woff2') format('woff2'),
        url('DBOzoneX-MediumIt.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DB Ozone X';
    src: url('DBOzoneX-Light.woff2') format('woff2'),
        url('DBOzoneX-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DB Ozone X LightIt';
    src: url('DBOzoneX-LightIt.woff2') format('woff2'),
        url('DBOzoneX-LightIt.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DB Ozone X';
    src: url('DBOzoneX-Medium.woff2') format('woff2'),
        url('DBOzoneX-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DB Ozone X UltraLi';
    src: url('DBOzoneX-UltraLi.woff2') format('woff2'),
        url('DBOzoneX-UltraLi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DB Ozone X UltraLiIt';
    src: url('DBOzoneX-UltraLiIt.woff2') format('woff2'),
        url('DBOzoneX-UltraLiIt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DB Ozone X';
    src: url('DBOzoneX.woff2') format('woff2'),
        url('DBOzoneX.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

