#last_document,
table {
    border-bottom: 1px solid #F2F2F2 !important;
}

#last_document,
table thead th {
    border-bottom   : 1px solid #DFDFDF !important;
    background-color: #FFFFFF;
}

#last_document {
    border: 1px solid #DFDFDF !important;
}

.tr_mobile td {
    background-color    : #FFFFFF !important;
    --bs-table-accent-bg: #FFFFFF !important;
}

/* #last_document table thead tbody tr td {
    background-color    : #FFFFFF !important;
    --bs-table-accent-bg: #FFFFFF !important;
} */
/* #last_document table tbody tr td {
  padding: 15px 10px !important;
} */

/* #last_document table tbody tr:nth-child(even) {
    background-color    : #FFFFFF !important;
    --bs-table-accent-bg: #FFFFFF !important;
}

#last_document table tbody tr:nth-child(odd) {
    background-color    : #F2F2F2 !important;
    --bs-table-accent-bg: #F2F2F2 !important;
} */

#table.table>:not(caption)>*>* {
    background-color: #FFFFFF !important;
    background-image: unset !important;
}

#memberTable.table>:not(caption)>*>* {
    background-color: #FFFFFF !important;
    background-image: unset !important;
}
#ListName.table>:not(caption)>*>* {
    background-color: #FFFFFF !important;
    background-image: unset !important;
}

#groupsignTable.table>:not(caption)>*>* {
    background-color: #FFFFFF !important;
    background-image: unset !important;
}


table tbody tr {
    /* background  : #FFFFFF; */
    border-style: #828282;
}

.dataTables_paginate.paging_simple_numbers {
    margin-top: -2em;
    text-align: right;
}

.paginate_button {
    background     : #FFFFFF;
    border-radius  : 4px;
    font-size      : 16px;
    color          : #007BFF;
    border         : 1px solid #dee2e6;
    margin         : 0px 0px;
    padding        : 5px 15px;
    text-decoration: none !important;
    cursor         : pointer;
}

.ellipsis {
    margin: 0px 5px;
}

.paginate_button:hover {
    background: #e9ecef;
    color     : #007BFF;
}

.paginate_button.current {
    background: #007BFF;
    color     : #FFFFFF;
}

.paginate_button.previous.disabled {
    color         : #6c757d;
    pointer-events: none;
}

.paginate_button.next.disabled {
    color         : #6c757d;
    pointer-events: none;
}

.dataTables_empty {
    display: none;
}

#table_length label select {
    display: block;
    width: 100px;
    text-align-last: center;
    padding: .375rem 1.75rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#table_length label select:hover {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.badge {
    color: #fff;
}

.table-responsive {
    overflow-y: hidden;
}

/* .table-responsive .dataTables_wrapper label{
    width: 100%;
}

.table-responsive .dataTables_wrapper label input{
    min-width: 200px;
} */