<!DOCTYPE html>
<html lang="th-TH" dir="ltr">

<head>
  <title>Bangkok Life | Confirm</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=1">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="icon" type="image/x-icon" href="images/BLA_Icon.ico">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/bla/css/font.css?v=12">
  <link rel="stylesheet" type="text/css" href="css/index.css?v=12">

</head>

<body>

  <div id="app" v-cloak>

    

    <div class="mb-5 box-center mTop140">

      <div class="box-confirm">

        <div class="bd-confirm">

          <div class="mt-5 box-center">
              <img src="images/bla_logo.svg" alt="">
          </div>

          <div class="row">
            <div class="col-12 md24-g2 text-center mt-4">
              {{lang_txt.confirm_title[lang_choose]}}
            </div>

            <div class="col-12 rg18-g2 mt-3 text-center">
              {{lang_txt.confirm_pin[lang_choose]}}
            </div>

            <div class="col-12 md18-g2 mt-2 text-center">
              {{email}}
            </div>
          </div>

          <div class="mt-4 px-xl-5 px-lg-3 px-md-2 px-0 box-center">

            <div class="mx-2">
              <input type="text" class="form-control text-center input-pin" maxlength="1" v-model="p1" id="1"
                onkeyup="moveOnMax(this,'2', 'N/A')" :disabled="status_pin">
            </div>

            <div class="mx-2">
              <input type="text" class="form-control text-center input-pin" maxlength="1" v-model="p2" id="2"
                onkeyup="moveOnMax(this,'3', '1')" :disabled="status_pin">
            </div>

            <div class="mx-2">
              <input type="text" class="form-control text-center input-pin" maxlength="1" v-model="p3" id="3"
                onkeyup="moveOnMax(this,'4', '2')" :disabled="status_pin">
            </div>

            <div class="mx-2">
              <input type="text" class="form-control text-center input-pin" maxlength="1" v-model="p4" id="4"
                onkeyup="moveOnMax(this,'5', '3')" :disabled="status_pin">
            </div>

            <div class="mx-2">
              <input type="text" class="form-control text-center input-pin" maxlength="1" v-model="p5" id="5"
                onkeyup="moveOnMax(this,'6', '4')" :disabled="status_pin">
            </div>

            <div class="mx-2">
              <input type="text" class="form-control text-center input-pin" maxlength="1" v-model="p6" id="6"
                onkeyup="moveOnMax(this,'N/A', '5')" :disabled="status_pin">
            </div>

          </div>


          <div class="row" v-if="status_resend == '0'">
            <div class="col-12 rg16-g1 mt-4 cl-F0 text-center">
              {{lang_txt.not_close[lang_choose]}}
            </div>

            <div class="col-12 rg16-g1 cl-F0 text-center mt-2">
              {{lang_txt.not_receive[lang_choose]}} <u class="cs-pointer" @click="resend_mail()">{{lang_txt.resend[lang_choose]}}</u>
            </div>
          </div>

          <div class="row" v-else-if="status_resend == '1'">
            <div class="col-12 rg24-g1 mt-4 text-center">
              <i class="fas fa-spinner fa-spin"></i>
            </div>
          </div>

          <div class="row" v-else-if="status_resend == '2'">
            <div class="col-12 mt-4 rg16-g1">
              <div class="alert alert-success text-center" role="alert">
                {{lang_txt.pass_incorrect[lang_choose]}} &nbsp;<i class="fas fa-spinner fa-spin"></i>
              </div>
            </div>
          </div>

          <div class="row" v-else-if="status_resend == '3'">
            <div class="col-12 mt-4 rg16-g1">
              <div class="alert alert-danger text-center" role="alert">
                {{lang_txt.pin_invalid[lang_choose]}}
              </div>
            </div>
          </div>

          <div class="row" v-else-if="status_resend == '4'">
            <div class="col-12 mt-4 rg16-g1">
              <div class="alert alert-success text-center" role="alert">
                {{lang_txt.check_email[lang_choose]}}
              </div>
            </div>
          </div>

        </div>

        <div class="row">
   
          <div class="col-12 mt-2 text-end rg18-g1" v-if="lang_choose == 'th'">
            <span class="cl-CI cs-pointer">ไทย</span> | 
            <span class="cs-pointer" onclick="swithLang('en')">English</span>
          </div>
        
          <div class="col-12 mt-2 text-end rg18-g1" v-else>
            <span class="cs-pointer" onclick="swithLang('th')">ไทย</span> | 
            <span class="cl-CI cs-pointer">English</span>
          </div>

        </div>

      </div>
    </div>
  </div>

</body>
<script type="text/javascript" src="components/common_web.js"></script>
<script type="text/javascript" src="/bla/components/common.js"></script>
<script type="text/javascript" src="/bla/js/jquery-3.3.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.1.3/vue-router.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>


<!-- MY ITEM -->
<script>
  $(document).ready(function () {
    app = init_vue()

  });

  moveOnMax = function (field, nextFieldID, previousFieldID) {
    if (event.keyCode == "8" || event.keyCode == "46") {
      if (previousFieldID != "N/A") {
        document.getElementById(previousFieldID).focus();
        return false
      }
    }
    app.send_key()
    if (field.value.length == 1) {
      if (nextFieldID == "N/A") return false
      document.getElementById(nextFieldID).focus();
    }


  }

  function init_vue() {
    return new Vue({
      el: '#app',
      data: {
        lang_choose: localStorage.getItem('lang_choose') || 'th',
        lang_txt: lang_confirm,
        p1: "",
        p2: "",
        p3: "",
        p4: "",
        p5: "",
        p6: "",
        email: gup("email") || "N/A",
        token: gup("t") || "N/A",
        status_pin: false,
        status_resend: "0", //0 resend 1 load 2 success 3 unsuccess 4 check mail

      },
      mounted: function () {

      },
      methods: {
        send_key: function () {
          var that = this
          var pin = that.p1 + that.p2 + that.p3 + that.p4 + that.p5 + that.p6

          if(pin.length < 6) return false
          that.status_pin = true
          that.status_resend = "1"

         
          var data = {
            otp: pin,
            adminEmail: that.email,
            token: that.token
          }
       
          $.ajax({
              type: "POST",
              url: api_host + "register_confirm",
              data: JSON.stringify(data),
              dataType: "json",
              success: function (resp) {

                if (resp.success) {
                  var r = resp.data
                  that.status_resend = "2"
                  localStorage.setItem("compCode", resp.custCode);
                  localStorage.setItem("username", resp.username);
                  localStorage.setItem("extend_key", resp.extend_key);
                  localStorage.setItem("register_obj", JSON.stringify(r));

                  setTimeout(function(){ 
                    document.location.href = "/bla/#/dashboard?rd=" + new Date().getTime()
                  }, 3000);
         
                }
                else {
                  that.status_pin = false
                  that.status_resend = "3"
                  setTimeout(function(){ that.status_resend = "0" }, 5000);
                }
              },
              error: function (request, status, error) {
                alert("|" + status + ' |' + error);
              }
          });
      
        },
        resend_mail: function(){
            var that = this
            that.status_resend = "1"
            var data = {
              adminEmail: that.email
            }

            $.ajax({
              type: "POST",
              url: api_host + "register_resend_otp",
              data: JSON.stringify(data),
              dataType: "json",
              success: function (resp) {
      
                if (resp.success) {
                  that.status_resend = "4"
                  var r = resp.data
                  that.token = r.token

                  setTimeout(function(){ 
                    that.status_resend = "0"
                  }, 3000);

                }
                else {

                  alert("ไม่พบอีเมลนี้ในระบบ กรุณาเข้าสู่ระบบใหม่อีกครั้ง")
                  document.location.href = "login.html"

                }

              },
              error: function (request, status, error) {
                alert("|" + status + ' |' + error);
              }
          });

        },

      } //end methods
    })
  }

  var lang_confirm = {
    "confirm_title": { "th": "ยืนยันการสร้างบัญชีผู้ใช้งาน", "en": "Enter the verification code" },
    "confirm_pin": { "th": "รหัสยืนยัน 6 หลักจะถูกส่งไปยังบัญชีอีเมลของคุณ", "en": "A verification code of 6 numbers will be sent to your email." },
    "pin_invalid": { "th": "คุณใส่รหัสยืนยันไม่ถูกต้อง กรุณาใส่ใหม่อีกครั้ง", "en": "Your enter code invalid, please try again" },
    "not_close": { "th": "กรุณาอย่าปิดหน้าต่างนี้จนกว่าท่านจะใส่รหัสยืนยัน", "en": "Please do not close this window until you enter the verification code." },
    "not_receive": { "th": "หากไม่ได้รับอีเมลกรุณากด", "en": "If you do not receive the email," },
    "resend": { "th": "ส่งอีกครั้ง", "en": "Resend" },
    "pass_incorrect": { "th": "ยืนยันรหัสถูกต้อง กรุณารอสักครู่", "en": "Password incorrect, please wait " },
    "check_email": { "th": "กรุณาตรวจสอบอีเมลของคุณ", "en": "Now check your email." },
  }
</script>


</html>