<!DOCTYPE html>
<html lang="th-TH" dir="ltr">

<head>
  <title>Bangkok Life | Invite</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=1">
  <meta content="156004817605-qpm22mpvfvs0ch56s95igt6b1su33g78.apps.googleusercontent.com"
    name="google-signin-client_id">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">  
  <link rel="icon" type="image/x-icon" href="images/BLA_Icon.ico">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/bla/css/font.css?v=12">
  <link rel="stylesheet" type="text/css" href="css/index.css?v=12">
</head>

<body>

  <div id="app" v-cloak>

    <header>
      <ul>
        <li >
          <a href="/bla/#/dashboard">
            <img src="images/bla_logo_th.png" class="w-h-12 ps-2 pb-2">
          </a>
        </li>
        <li class="mt-4">
          <span class="rg18-g2">e-Signature</span>
        </li>
      </ul>
    </header>

    <div class="mb-5 box-center mTop100" v-show="mode == '0'">

      <div class="box-invite">
        <div class="row">

          <div class="col-12 md36-g1 text-center">
            กรุณาใส่บัญชีผู้ใช้งาน
          </div>

          <div class="col-12 rg14-g1 text-center mt-4">
            หากยังไม่เป็นสมาชิก? <a href="register.html">สมัครสมาชิก</a>
          </div>

          <div class="col-12 mt-3">
            <div class="input-group">
              <span class="input-group-text bg-FF bd-right-0">
                <i class="fas fa-user"></i>
              </span>
              <input type="text" class="form-control bd-left-0" v-model="email" v-on:keyup.enter="check_mail()" placeholder="อีเมล">
            </div>
            <span class="rg14-g3 cl-F0 dy-none" id="er_email">รูปแบบอีเมลไม่ถูกต้อง</span>
          </div>

          <div class="col-12 mt-4">
            <button type="button" class="btn btn-warning w-100 md18-g2" @click="check_mail()" v-if="btn_mode == '0'">
              ดำเนินการต่อ
            </button>

            <button type="button" class="btn btn-warning w-100 md18-g2" v-else>
              ดำเนินการต่อ <i class="fas fa-spinner fa-spin"></i>
            </button>

          </div>

          <div class="col-12 mt-2 text-end rg14-g1" v-if="lang_choose == 'th'">
            <span class="cl-CI cs-pointer">ไทย</span> |
            <span class="cs-pointer" onclick="swithLang('en')">English</span>
          </div>

          <div class="col-12 mt-2 text-end rg14-g1" v-else>
            <span class="cs-pointer" onclick="swithLang('th')">ไทย</span> |
            <span class="cl-CI cs-pointer">English</span>
          </div>

        </div>
      </div>
    </div>

    <div class="mb-5 mTop100" v-show="mode == '1'">
      <div class="row">
        <div class="col-12 md36-g1 text-center">
          กรุณาใส่รหัสผ่านผู้ใช้งาน
        </div>
      </div>
  
      <div class="box-center">
  
        <div class="box-invite">
          <div class="row">
  
            <div class="col-12 rg14-g1 text-center mt-4">
              <a href="javascript:void(0)" @click="change_account()">
                ลงชื่อเข้าใช้เป็นผู้ใช้งานอื่น
              </a>
            </div>
  
            <div class="col-12 rg14-g1 mt-3">
              <div class="alert alert-danger dy-none" role="alert" id="alert_msg">
                ชื่อบัญชีผู้ใช้งานหรือรหัสผ่านผู้ใช้งานไม่ถูกต้อง
              </div>
            </div>
  
            <div v-if="type_login == 'is_creden'">
              <div class="col-12 mt-1">
                <div class="input-group">
                  <span class="input-group-text bg-FF bd-right-0">
                    <i class="fas fa-key"></i>
                  </span>
                  <input type="password" class="form-control bd-left-0" placeholder="รหัสผ่าน" v-model="password"
                    v-on:keyup.enter="login()">
                </div>
              </div>
  
              <div class="col-12 mt-3 cl-CI text-end lg14-g3">
                <span class="cs-pointer" onclick="document.location.href='forgot.html'">
                  ลืมรหัสผ่าน?
                </span>
              </div>
  
              <div class="col-12 mt-4">
                <button type="button" class="btn btn-warning w-100 md18-g2" @click="login()"
                  v-if="btn_mode_password == '0'">
                  เข้าสู่ระบบ
                </button>
                <button type="button" class="btn btn-warning w-100 md18-g2" v-else>
                  เข้าสู่ระบบ <i class="fas fa-spinner fa-spin"></i>
                </button>
              </div>
          </div>
  
          <div class="col-12 mt-3" v-else-if="type_login == 'is_fb'">
            <button type="button" class="btn w-100 btn-facebook rg18-g1 cl-FF" onclick="fbLogin()">
              <img src="images/Facebook.svg" alt="facebook-icon" class="icon-facebook">&nbsp; Facebook
            </button>
          </div>
  
          <div class="col-12 mt-3" v-else-if="type_login == 'is_gamil'">
            <button type="button" class="btn w-100 btn-google rg18-g1" onclick="useGoogleSignIn=true;clickGoogle()">
              <img src="images/Google.svg" alt="google-icon" class="icon-google">&nbsp; Google
            </button>
          </div>
  
  
            <div class="col-12 mt-2 text-end rg14-g1" v-if="lang_choose == 'th'">
              <span class="cl-CI cs-pointer">ไทย</span> |
              <span class="cs-pointer" onclick="swithLang('en')">English</span>
            </div>
  
            <div class="col-12 mt-2 text-end rg14-g1" v-else>
              <span class="cs-pointer" onclick="swithLang('th')">ไทย</span> |
              <span class="cl-CI cs-pointer">English</span>
            </div>
  
          </div>
        </div>
      </div>
    </div>
    <!-- End App -->
  </div>

  <!-- Google Login -->
  <!-- <iframe id="logoutFrame" src=""></iframe> -->
  <div class="g-signin2 btn-block dy-none" data-onsuccess="onSignIn"></div>

</body>
<script type="text/javascript" src="components/common_web.js"></script>
<script type="text/javascript" src="/bla/components/common.js"></script>
<script type="text/javascript" src="/bla/js/jquery-3.3.1.js"></script>
<script async="" defer="" src="https://apis.google.com/js/platform.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

<!-- MY ITEM -->
<script>
  $(document).ready(function () {
    app = init_vue()

  });


  function init_vue() {
    return new Vue({
      el: '#app',
      data: {
        lang_choose: localStorage.getItem('lang_choose') || 'th',
        lang_txt: lang_invite,
        mode: "0",
        btn_mode: "0",
        btn_mode_password: "0",
        email: "",
        password: "",
        type_login: "is_creden",
      },
      mounted: function () {

        window.myApp = this
        var e = gup("email") || ""
        if (e) this.email = e

      },
      methods: {
        check_mail: function () {
          var that = this
          that.email = that.email.trim()
          var e = document.getElementById("er_email")

          if (that.email == "" || !validateEmail(that.email)) {
            e.style.display = "unset"
            return false
          }

          e.style.display = "none"
          that.btn_mode = "1"
          var data = {
            email: that.email
          }

          $.ajax({
            type: "POST",
            url: api_host + "check_have_user",
            data: JSON.stringify(data),
            dataType: "json",
            success: function (resp) {

              if (resp.success) {
                that.mode = "1"
                that.type_login = resp.type_login
              }
              else {
                Swal.fire({
                  title: 'ไม่มีบัญชีนี้ในระบบกรุณาสมัครสมาชิก',
                  confirmButtonText: `ตกลง`,
                  icon: 'warning',
                  timer: 3000
                }).then(() => {
                  document.location.href = "/bla/web/register.html?rd=" + new Date().getTime()
                });
              }
            },
            error: function (request, status, error) {
              alert("|" + status + ' |' + error);
            }
          });

        },
        change_account: function () {
          var that = this
          that.email = ""
          that.mode = "0"
          that.btn_mode = "0"
        },
        login: function () {
          var that = this
          var er_alert = document.getElementById("alert_msg")
          that.btn_mode_password = "1"
          u = that.email
          p = that.password

          $.ajax({
            type: "POST",
            url: api_host + "login",
            data: 'login_service=esig&username=' + u + '&password=' + p,
            dataType: "json",
            success: function (resp) {

              if (resp.success) {
                var r = resp.data

                if (r && r.activeStatus == 4) {
                  localStorage.setItem("compCode", resp.custCode);
                  localStorage.setItem("username", resp.username);
                  localStorage.setItem("extend_key", resp.extend_key);
                  localStorage.setItem("register_obj", JSON.stringify(r));
                  document.location.href = '/bla/#/dashboard'
                }
                else {
                  document.location.href = "confirm.html?email=" + resp.email + "&t=" + resp.token + "&rd=" + new Date().getTime()
                }
              }
              else {
                localStorage.removeItem("compCode");
                localStorage.removeItem("username");
                er_alert.style.display = "block"

                setTimeout(function () {
                  that.btn_mode_password = "0"
                  er_alert.style.display = "none"
                }, 5000);

              }
            },
            error: function (request, status, error) {
              alert("|" + status + ' |' + error);
            }
          });
        },
        google_login(arr) {
          var that = this
          var google = arr.getBasicProfile()

          var data = {
            adminEmail: google.getEmail(),
            adminFisrtname: google.getGivenName() || google.getEmail(),
            adminLastname: "",
            profile_pic: google.getImageUrl() || "",
            google_profile : google,
            is_gamil: true,
          }
          
          $.ajax({
              type: "POST",
              url: api_host + "register",
              data: JSON.stringify(data),
              dataType: "json",
              success: function (resp) {

                var r = resp.data
                if (resp.success) {

                  if (r && r.activeStatus == 4) {

                    localStorage.setItem("compCode", resp.custCode);
                    localStorage.setItem("username", resp.username);
                    localStorage.setItem("extend_key", resp.extend_key);
                    localStorage.setItem("register_obj", JSON.stringify(r));
                    document.location.href = '/bla/#/dashboard'

                  }
                  else {
                    document.location.href = "confirm.html?email=" + resp.email + "&t=" + resp.token + "&rd=" + new Date().getTime()
                  }
                }
                else {
                  document.location.href = "register.html?social=" + r.id_social  +"&email=" + r.email
                }
              },
              error: function (request, status, error) {
                alert("|" + status + ' |' + error);
              }
          });


        },
        facebook_login(arr) {
          var that = this

          var data = {
            adminEmail: arr.email,
            adminFisrtname: arr.first_name || arr.email,
            adminLastname: arr.last_name || arr.email,
            profile_pic: arr.picture.data.url || "",
            is_fb: true
          }

          $.ajax({
              type: "POST",
              url: api_host + "register",
              data: JSON.stringify(data),
              dataType: "json",
              success: function (resp) {
                
                var r = resp.data
                if (resp.success) {

                  if (r && r.activeStatus == 4) {
                    localStorage.setItem("compCode", resp.custCode);
                    localStorage.setItem("username", resp.username);
                    localStorage.setItem("extend_key", resp.extend_key);
                    localStorage.setItem("register_obj", JSON.stringify(r));
                    document.location.href = '/bla/#/dashboard'
                  }
                  else {
                    document.location.href = "confirm.html?email=" + resp.email + "&t=" + resp.token + "&rd=" + new Date().getTime()
                  }
                }
                else {
                  document.location.href = "register.html?social=" + r.id_social  +"&email=" + r.email
                }
              },
              error: function (request, status, error) {
                alert("|" + status + ' |' + error);
              }
          });

        },


      } //end methods
    })
  }

  window.fbAsyncInit = function () {
    // FB JavaScript SDK configuration and setup
    FB.init({
      appId: '637932219919136', // FB App ID
      cookie: true,  // enable cookies to allow the server to access the session
      xfbml: true,  // parse social plugins on this page
      version: 'v8.0' // use graph api version 2.8
    });

    // Check whether the user already logged in
    FB.getLoginStatus(function (response) {
      if (response.status === 'connected') {
        //display user data
        // $( "#fbLink" ).trigger( "click" );
        // fbLogin();
        // //console.log(response)
      }
    });
  };
  // Load the JavaScript SDK asynchronously
  (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Facebook login with JavaScript SDK
  function fbLogin() {
    FB.login(function (response) {
      if (response.authResponse) {
        // Get and display the user profile data
        // facebookLoginSuccess()
        getFbUserData();

      } else {
        document.getElementById('status').innerHTML = 'User cancelled login or did not fully authorize.';
      }
    }, { scope: 'email' });
  }

  function getFbUserData() {
    FB.api('/me', { locale: 'en_US', fields: 'id,first_name,last_name,email,link,gender,locale,picture' },
      function (response) {
        app.facebook_login(response)
        document.getElementById('fbLink').setAttribute("onclick", "fbLogout()");
        document.getElementById('fbLink').innerHTML = 'Logout from Facebook';
        document.getElementById('status').innerHTML = 'Thanks for logging in, ' + response.first_name + '!';
        document.getElementById('userData').innerHTML = '<p><b>FB ID:</b> ' + response.id + '</p><p><b>Name:</b> ' + response.first_name + ' ' + response.last_name + '</p><p><b>Email:</b> ' + response.email + '</p><p><b>Gender:</b> ' + response.gender + '</p><p><b>Locale:</b> ' + response.locale + '</p><p><b>Picture:</b> <img src="' + response.picture.data.url + '"/></p><p><b>FB Profile:</b> <a target="_blank" href="' + response.link + '">click to view profile</a></p>';

        // Save user data
      });
  }
  useGoogleSignIn = false
  function onSignIn(gu) {
    if (useGoogleSignIn) {
      app.google_login(gu)
    }
    else {
      window.gu = gu
      app.signedInGoogle = gu.isSignedIn()
    }
  }
  function signOutGoogle() {
    app.signOut(window.gu)
  }

  function clickGoogle() {
    $(".abcRioButtonContentWrapper").click();
  }

  var lang_invite = {
    "txt": { "th": "กรุณาใส่บัญชีผู้ใช้งาน", "en": "" },
    "txt": { "th": "หากยังไม่เป็นสมาชิก?", "en": "" },
    "txt": { "th": "สมัครสมาชิก", "en": "" },
    "txt": { "th": "ดำเนินการต่อ", "en": "" },
    "txt": { "th": "เข้าสู่ระบบ", "en": "" },
    "txt": { "th": "ลืมรหัสผ่าน", "en": "" },
    "txt": { "th": "ลงชื่อเข้าใช้เป็นผู้ใช้งานอื่น", "en": "" },
    "txt": { "th": "กรุณาใส่รหัสผ่านผู้ใช้งาน", "en": "" },
    "txt": { "th": "ไม่มีบัญชีนี้ในระบบกรุณาสมัครสมาชิก", "en": "" },
    "txt": { "th": "ตกลง", "en": "" },
    "txt": { "th": "คุณต้องการจะเข้าร่วม", "en": "" },
    "txt": { "th": "หรือไม่", "en": "" },
    "txt": { "th": "เข้าร่วม", "en": "" },
    "txt": { "th": "ปฏิเสธ", "en": "" },
  }
</script>


</html>