<!DOCTYPE html>
<html lang="th-TH" dir="ltr">

<head>
  <title>Bangkok Life | Policy</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=1">
  <meta content="156004817605-qpm22mpvfvs0ch56s95igt6b1su33g78.apps.googleusercontent.com"
    name="google-signin-client_id">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="icon" type="image/x-icon" href="images/BLA_Icon.ico">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/bla/css/font.css?v=12">
  <link rel="stylesheet" type="text/css" href="css/policy.css?v=12">
</head>

<body>

  <div id="app" v-cloak>
    <div class="bg-blue">
      <div class="container pb-5">

        <div class="row">

          <div class="col-12 text-end mt-4" v-if="lang_choose == 'th'">
            <span class="cs-pointer" onclick="swithLang('en')">
              <img src="/bla/images/thai-flag.svg" alt="thai" class="flag-size mx-lg-1 mx-2">
              <span class="rg14-g2 mx-1 cl-FF">ภาษาไทย</span>
            </span>
          </div>

          <div class="col-12 text-end mt-4" v-else>
            <span class="cs-pointer" onclick="swithLang('th')">
              <img src="/bla/images/eng-flag.svg" alt="englisg" class="flag-size mx-lg-1 mx-2">
              <span class="rg14-g2 mx-1 cl-FF">English</span>
            </span>
          </div>

          <div class="col-12 mt-4 text-center" v-if="lang_choose == 'th'">
            <img class="head-img" src="images/bla_logo_th.png" alt="" width="300px">
          </div>
          <div class="col-12 mt-4 text-center" v-else>
            <img class="head-img" src="images/bla_logo_en.png" alt="" width="300px">
          </div>

        </div>

        <div class="box-content">
          <div class="row">

            <div class="col-12">
              <h2 class="layout-1">
                {{lang_txt.t1[lang_choose]}}
              </h2>
            </div>

            <div class="col-12 t-desc mt-5">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t2[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t3[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              {{lang_txt.t4[lang_choose]}}
            </div>
            
            <div class="col-12 t-title mt-5">
              {{lang_txt.t5[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              {{lang_txt.t6[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              {{lang_txt.t7[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              {{lang_txt.t8[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              {{lang_txt.t9[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              {{lang_txt.t10[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              {{lang_txt.t11[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              {{lang_txt.t12[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              {{lang_txt.t13[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t14[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t15[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t16[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t17[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t18[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t19[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              {{lang_txt.t20[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              {{lang_txt.t21[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              {{lang_txt.t22[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              {{lang_txt.t23[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              {{lang_txt.t24[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              {{lang_txt.t25[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t26[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t27[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t28[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t29[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t30[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t31[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t32[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t33[lang_choose]}}
            </div>

            <div class="col-12 t-title mt-5">
              {{lang_txt.t34[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              {{lang_txt.t35[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              {{lang_txt.t36[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              {{lang_txt.t37[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              {{lang_txt.t38[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              {{lang_txt.t39[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              {{lang_txt.t40[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              {{lang_txt.t41[lang_choose]}}
            </div>

            <div class="col-12 t-title mt-5">
              {{lang_txt.t42[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              {{lang_txt.t43[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              {{lang_txt.t44[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t45[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t46[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t47[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t48[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              {{lang_txt.t49[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              {{lang_txt.t50[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t51[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t52[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              {{lang_txt.t53[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              {{lang_txt.t54[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t55[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t56[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t57[lang_choose]}}
            </div>

            <div class="col-12 t-title mt-5">
              {{lang_txt.t58[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              {{lang_txt.t59[lang_choose]}}
            </div>

            <div class="col-12 t-title mt-5">
              {{lang_txt.t60[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              {{lang_txt.t61[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              {{lang_txt.t62[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t63[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t64[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t65[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{lang_txt.t66[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{lang_txt.t67[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              {{lang_txt.t68[lang_choose]}}
            </div>

            <div class="col-12 t-title mt-5">
              {{lang_txt.t69[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              {{lang_txt.t70[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              {{lang_txt.t71[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              {{lang_txt.t72[lang_choose]}}
            </div>

            <div class="col-12 t-title mt-5">
              {{lang_txt.t73[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              {{lang_txt.t74[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              {{lang_txt.t75[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              {{lang_txt.t76[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              {{lang_txt.t77[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              {{lang_txt.t78[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t79[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t80[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t81[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t82[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t83[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              {{lang_txt.t84[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              {{lang_txt.t85[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              {{lang_txt.t86[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              {{lang_txt.t87[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              {{lang_txt.t88[lang_choose]}}
            </div>

            <div class="col-12 t-title mt-5">
              {{lang_txt.t89[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              {{lang_txt.t90[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              {{lang_txt.t91[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              {{lang_txt.t92[lang_choose]}}
            </div>

            <div class="col-12 t-title mt-5">
              {{lang_txt.t93[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              {{lang_txt.t94[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              {{lang_txt.t95[lang_choose]}}
            </div>

            <div class="col-12 t-title mt-5">
              {{lang_txt.t96[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              {{lang_txt.t97[lang_choose]}}
            </div>

            <div class="col-12 t-title mt-5">
              {{lang_txt.t98[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              {{lang_txt.t99[lang_choose]}}
            </div>

          </div>
        </div>


      </div>
    </div>


    <!-- End App -->
  </div>

</body>

<script type="text/javascript" src="/bla/components/common.js"></script>
<script type="text/javascript" src="components/common_web.js"></script>
<script type="text/javascript" src="/bla/js/jquery-3.3.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

<script>
  $(document).ready(function () {
    app = init_vue()

  });


  function init_vue() {
    return new Vue({
      el: '#app',
      data: {
        lang_choose: localStorage.getItem('lang_choose') || 'th',
        lang_txt: lang_policy,
      },
      mounted: function () {


      },
      methods: {

      } //end methods
    })
  }
  var lang_policy = {
    "t1": { "th": "นโยบายความเป็นส่วนตัว", "en": "Private Policy" },
    "t2": { "th": `ยินดีต้อนรับสู่แพลตฟอร์ม e-signature ของ Creden Asia Co. , Ltd. (โดยต่อไปนี้จะเรียกว่า "Creden e-Signature" หรือ "เรา") นโยบายนี้ใช้กับผลิตภัณฑ์และบริการที่เรามีให้รวมถึงผลิตภัณฑ์ลายเซ็นอิเล็กทรอนิกส์ และการฝากใบรับรอง ฯลฯ`, "en": `Welcome to the e-signature platform of Creden Asia Co., Ltd. (hereinafter referred to as "Creden e-Signature" or "we"), This policy applies to the products and services we provide, including electronic signature products, digital certificate uploading service, etc.` },
    "t3": { "th": `ด้วยนโยบายความเป็นส่วนตัวนี้เราหวังว่าจะอธิบายให้คุณทราบถึงวิธีที่เรารวบรวมใช้จัดเก็บแบ่งปันและถ่ายโอนข้อมูลส่วนบุคคลของคุณเมื่อใช้บริการ "Creden e-Signature" ตลอดจนวิธีที่เราให้คุณในการเข้าถึงแก้ไข การลบและการปกป้องข้อมูลดังกล่าว โปรดอ่านและทำความเข้าใจนโยบายความเป็นส่วนตัวนี้อย่างรอบคอบก่อนใช้บริการ "Creden e-Signature" และใช้ผลิตภัณฑ์หรือบริการของเราหลังจากยืนยันความเข้าใจและความยินยอมของคุณอย่างสมบูรณ์ หลังจากที่คุณใช้และเรามีการอัปเดตนโยบายความเป็นส่วนตัวนี้ (เราจะแจ้งอัปเดตให้คุณ) หากคุณยังคงใช้ผลิตภัณฑ์หรือบริการของ "Creden e-Signature" ซึ่งหมายความว่าคุณยอมรับเนื้อหาของนโยบายความเป็นส่วนตัวนี้ (รวมถึงเวอร์ชันที่อัปเดต) และตกลงว่าเราจะรวบรวมใช้จัดเก็บแบ่งปันและถ่ายโอนข้อมูลที่เกี่ยวข้องของคุณตามนโยบายความเป็นส่วนตัวนี้ หากคุณมีคำถาม ความคิดเห็นหรือข้อเสนอแนะเกี่ยวกับเนื้อหาของนโยบายนี้คุณสามารถติดต่อเราผ่านข้อมูลการติดต่อต่างๆที่ให้ไว้ในเว็ปไซต์นี้`, "en": `Through this privacy policy, we hope to explain to you how we collect, use, store, share and transfer your personal information when using the "Creden e-Signature" service, as well as the ways we provide you with to access, modification, deletion and protection such information. Please read and understand this privacy policy carefully before using the "Creden e-Signature" service, and use our products or services after confirming your full understanding and consent. After you use or update this Privacy Policy (we will prompt you to update it in time), if you intended continue to use the products or services of "Creden e-Signature", which means that you agree to the content of this Privacy Policy (including the updated version), and agree that we will collect, use, store, share and transfer your relevant information in accordance with this privacy policy. If you have any questions, comments or suggestions on the content of this policy, you can contact us through various contact information provided in this privacy policy.` },
    "t4": { "th": "นโยบายนี้จะช่วยให้คุณเข้าใจสิ่งต่อไปนี้:", "en": "This policy will help you understand the following:" },
    "t5": { "th": "1. เราจะรวบรวมข้อมูลส่วนบุคคลของคุณอย่างไร", "en": "1. How do we collect your personal information;" },
    "t6": { "th": "เรารวบรวมข้อมูลที่จำเป็นในการใช้งานการทำงานของผลิตภัณฑ์ตามหลักการของความถูกต้อง ตามกฎหมายความยุติธรรมและความจำเป็น และใช้ข้อมูลที่รวบรวมอย่างสมเหตุสมผล", "en": "We collect the information needed to realize product functions in accordance with the principles of lawfulness, fairness, and necessity, and use the collected information reasonably." },
    "t7": { "th": "เรารวบรวมข้อมูลส่วนบุคคลหรือข้อมูลขององค์กรดังต่อไปนี้:", "en": "We collect the following personal or corporate information:" },
    "t8": { "th": "(1) ข้อมูลที่คุณให้เมื่อลงทะเบียนและเปิด", "en": "(1) The information you provide when registering and opening" },
    "t9": { "th": "เพื่อให้เราสามารถให้บริการได้คุณต้องให้ข้อมูลที่สามารถระบุตัวตนได้ซึ่งรวมถึงชื่อจริง หมายเลขโทรศัพท์ส่วนตัว ที่อยู่อีเมล และที่อยู่เมื่อคุณลงทะเบียนหรือเปิดใช้บริการ หากคุณใช้บริการตรวจสอบตัวตนเราจะรวบรวม ID Card/หนังสือเดินทางและใบรับรองตัวตนอื่น ๆ วิดีโอการจดจำใบหน้า ลายเซ็นส่วน ตัวรูปถ่ายบัตรประจำตัว และข้อมูลการตรวจสอบสิทธิ์อื่น ๆ ที่คุณให้ไว้ ข้อมูลประเภทนี้ถูกรวบรวมเพื่อให้เป็นไปตามข้อกำหนดที่เกี่ยวกับกฎหมายและข้อบังคับที่เกี่ยวข้อง หากคุณไม่ให้ข้อมูลดังกล่าวคุณจะไม่สามารถดำเนินการยืนยันตัวตนได้ และคุณจะไม่สามารถออกเอกสารที่มีชื่อของคุณได้", "en": "In order for us to provide services, you need to provide personally identifiable information including your real name, personal phone number, email address, and address when you register or activate the service. If you perform identity authentication services, we will also collect your ID/passport and other identity certificates, face recognition videos, bank card information, mobile phone numbers, personal handwritten signatures, photos of your ID cards and other authentication information provided by you. This type of information is collected to meet the real-name requirements of relevant laws and regulations. If you do not provide such information, you will not be able to complete the real-name authentication, and you will not be able to issue documents with your real-name identity." },
    "t10": { "th": "หากคุณเป็นนิติบุคคลเราจะรวบรวมข้อมูลใบอนุญาตธุรกิจของคุณ หรือข้อมูลใบรับรองนิติบุคคล และหมายเลขใบรับรองที่ถูกต้อง ที่อยู่และหมายเลขโทรศัพท์", "en": "If you are a legal entity, we will also collect your company’s business license information or organization code certificate information and the valid certificate number, the company’s address, the company’s phone number." },
    "t11": { "th": "(2) ข้อมูลที่คุณให้ระหว่างการใช้งาน", "en": "(2) Information provided by you during use" },
    "t12": { "th": "เราจะรวบรวมเนื้อหาที่คุณอัปโหลดถึงเราโดยสมัครใจรวมถึงข้อความต้นฉบับของสัญญามูลค่าแฮชหรือเอกสารอื่น ๆ ที่เป็นลายลักษณ์อักษร ซึ่งอาจเกี่ยวข้องกับข้อมูลส่วนตัวหรือความลับทางการค้าของคุณ เราจะเก็บรักษาข้อมูลข้างต้นอย่างปลอดภัย เว้นแต่คุณจะขอตรวจสอบสัญญาเป็นกรณีพิเศษ เราจะไม่รวบรวมหรือวิเคราะห์ข้อมูลนี้ หากคุณให้ข้อมูลของบุคคลอื่นรวมถึงข้อมูลความเป็นส่วนตัวเช่น ชื่อ หมายเลขโทรศัพท์ หมายเลขประจำตัว ที่อยู่ผู้รับ ที่อยู่อีเมล ฯลฯ คุณต้องยืนยันว่าคุณได้รับการอนุญาตจากอีกฝ่ายและอีกฝ่ายหนึ่งก็รู้เช่นกันและ ตกลงที่จะผูกพันตามข้อตกลงความเป็นส่วนตัวนี้หากข้อมูลที่คุณให้มา ก่อให้เกิดความเสียหายแก่ผู้อื่นคุณจะต้องรับผิดชอบ แต่เพียงผู้เดียว ในขณะเดียวกันหากผู้อื่นแสดงความคิดเห็นที่ตรงกันข้ามหรือแสดงความคิดเห็นกับเราว่าพวกเขาไม่ต้องการผูกพันกับข้อตกลงความเป็นส่วนตัวนี้เราจะลบข้อมูลที่เกี่ยวข้องออก", "en": "We will collect the materials you voluntarily upload to us, including the original text of the contract, hash value or other written materials, which may involve your private information or trade secrets. We will keep the above information securely. Unless you actively submit a contract review service, we will not actively collect or analyze this information. If you provide other person’s information, including personal privacy information such as name, phone number, ID number, recipient address, email address, etc., you need to confirm that you have obtained the other party’s authorization and that the other party also knows and agrees to be bound by this privacy agreement. If the information you provide causes damage to others, you will be solely responsible for it. At the same time, if others put forward opposite opinions or express to us that they do not want to be bound by this privacy agreement, we will delete relevant information." },
    "t13": { "th": "นอกจากนี้เพื่อให้มั่นใจถึงความต่อเนื่องของบริการของเราและความปลอดภัยของบัญชีของคุณเราจะรวบรวมข้อมูลต่อไปนี้เกี่ยวกับคุณ:", "en": "In addition, in order to ensure the continuity of our services and the security of your account, we will collect the following information about you:" },
    "t14": { "th": "2.1 ข้อมูลอุปกรณ์: รุ่นอุปกรณ์เวอร์ชันของระบบปฏิบัติการตัวระบุอุปกรณ์เฉพาะข้อมูลที่อยู่ IP", "en": "2.1 Device information: device model, operating system version, unique device identifier, IP address information." },
    "t15": { "th": "2.2 ข้อมูลซอฟต์แวร์: หมายเลขเวอร์ชันซอฟต์แวร์ประเภทเบราว์เซอร์ เพื่อความปลอดภัยของสภาพแวดล้อมการทำงาน", "en": "2.2 Software information: software version number, browser type. In order to ensure the safety of the operating environment." },
    "t16": { "th": "2.3 ข้อมูลบันทึกบริการ: เมื่อคุณใช้บริการของเราเวลาเข้าสู่ระบบเนื้อหาและเวลาการทำงานข้อมูลความล้มเหลวของบริการและข้อมูลอื่น", "en": "2.3 Service log information. When you use our service, log in time, operation content and time, service failure information and other information." },
    "t17": { "th": "2.4 IP และข้อมูลตำแหน่ง: ตัวอย่างเช่นเราอาจได้รับข้อมูลตำแหน่งทางภูมิศาสตร์ของคุณผ่านที่อยู่ IP, GPS, WiFi หรือ base station", "en": "2.4 IP and location information. For example, we may obtain your geographic location information through IP address, GPS, WiFi, or base station." },
    "t18": { "th": "2.5 หากคุณใช้ระบบบริการลูกค้าของเราเราจะรวบรวมหมายเลขโทรศัพท์มือถือ ที่อยู่อีเมลและข้อมูลความคิดเห็นของคุณเพื่อใช้ในการติดต่อคุณและแก้ไขปัญหา", "en": "2.5 If you use our customer service system, we will collect your mobile phone number, email address, and your feedback information to use to contact you and solve problems." },
    "t19": { "th": "2.6 แนวทางปฏิบัติด้านการตลาดการขายและการโฆษณาของ Creden", "en": "2.6 Creden’s marketing, sales, and advertising practices. " },
    "t20": { "th": "(3) ข้อมูลที่บุคคลที่สามให้ไว้เพื่อวัตถุประสงค์ในการลงนามในสัญญา", "en": "(3) Information provided to us by a third party for the purpose of signing the contract" },
    "t21": { "th": "หลังจากได้รับความยินยอมอย่างชัดเจนจากคุณเราจะแบ่งปันข้อมูลส่วนบุคคลของคุณกับลูกค้าที่ร่วมมือกันของ Creden e-Signature", "en": "After obtaining your explicit consent, we will share your personal information with Creden's cooperative partners." },
    "t22": { "th": "(4) ข้อมูลอื่น ๆ", "en": "(4) Other information" },
    "t23": { "th": "เนื้อหาที่ระบุไว้ในข้อตกลงความเป็นส่วนตัวนี้ไม่ได้แสดงรายการและครอบคลุมฟังก์ชันและสถานการณ์ทางธุรกิจทั้งหมดที่อาจเกิดขึ้นในอนาคต เราจะรวบรวมข้อมูลของคุณตามวัตถุประสงค์เฉพาะอื่น ๆ ที่ไม่ได้ระบุไว้ในนโยบายนี้ แต่จะขอความยินยอมจากคุณล่วงหน้า", "en": "The content listed in this privacy agreement does not completely list and cover all the functions and business scenarios that may be realized in the future. We will collect your information based on other specific purposes not specified in this policy, but will seek your consent in advance." },
    "t24": { "th": "(5) ข้อยกเว้นสำหรับการได้รับอนุญาตและความยินยอม", "en": "(5) Exceptions for obtaining authorization and consent" },
    "t25": { "th": "ตามกฎหมายและข้อบังคับที่เกี่ยวข้องการรวบรวมข้อมูลส่วนบุคคลของคุณในสถานการณ์ต่อไปนี้ไม่จำเป็นต้องได้รับอนุญาตและยินยอมจากคุณ:", "en": "According to relevant laws and regulations, the collection of your personal information in the following situations does not require your authorization and consent:" },
    "t26": { "th": "5.1 ที่เกี่ยวข้องกับความมั่นคงของชาติและความมั่นคงในการป้องกันประเทศ", "en": "5.1 Related to national security and national defense security;" },
    "t27": { "th": "5.2 ที่เกี่ยวข้องกับความปลอดภัยสาธารณะสุขภาพของประชาชนและผลประโยชน์สาธารณะที่สำคัญ", "en": "5.2 Related to public safety, public health, and major public interests;" },
    "t28": { "th": "5.3 เกี่ยวข้องกับการสอบสวนคดีอาญาการฟ้องร้องการพิจารณาคดีและการดำเนินการตามคำพิพากษา", "en": "5.3 Related to criminal investigation, prosecution, trial and execution of judgments;" },
    "t29": { "th": "5.4 เพื่อจุดประสงค์ในการปกป้องชีวิตทรัพย์สินและสิทธิทางกฎหมายที่สำคัญอื่น ๆ ของเจ้าของข้อมูลส่วนบุคคลหรือบุคคลอื่น ๆ แต่เป็นการยากที่จะได้รับความยินยอมจากคุณเอง", "en": "5.4 For the purpose of protecting the life, property and other major legal rights of the personal information subject or other individuals, but it is difficult to obtain your own consent;" },
    "t30": { "th": "5.5 ข้อมูลส่วนบุคคลที่เก็บรวบรวมจะถูกเปิดเผยต่อสาธารณะด้วยตัวคุณเอง", "en": "5.5 The personal information collected is disclosed to the public by yourself;" },
    "t31": { "th": "5.6 จำเป็นสำหรับการลงนามในสัญญาตามข้อกำหนดของคุณหรือคู่สัญญาได้ตกลงไว้เป็นอย่างอื่นในสัญญา", "en": "5.6 Necessary for signing the contract according to your requirements or the parties have agreed otherwise in the contract;" },
    "t32": { "th": "5.7 เมื่อสถาบันวิจัยทางวิชาการดำเนินการวิจัยเชิงสถิติหรือเชิงวิชาการตามผลประโยชน์สาธารณะและเมื่อพวกเขาให้การวิจัยทางวิชาการหรือผลการบรรยายแก่ภายนอกสถาบันเหล่านั้นจะยกเลิกการระบุข้อมูลส่วนบุคคลที่มีอยู่ในผลการวิจัย", "en": "5.7 When academic research institutions conduct statistical or academic research based on public interest, and when they provide academic research or description results to the outside, they de-identify the personal information contained in the results;" },
    "t33": { "th": "5.8 สถานการณ์อื่น ๆ ที่กำหนดโดยกฎหมายและข้อบังคับ", "en": "5.8 Other circumstances stipulated by laws and regulations." },
    "t34": { "th": "2. เราใช้ข้อมูลส่วนบุคคลของคุณอย่างไร", "en": "2. How we use your personal information;" },
    "t35": { "th": "เราจะปฏิบัติตามกฎหมายข้อบังคับและข้อตกลงกับคุณอย่างเคร่งครัดและใช้ข้อมูลที่รวบรวมดังต่อไปนี้:", "en": "We will strictly abide by laws and regulations and the agreement with you, and use the collected information as follows:" },
    "t36": { "th": "(1) ช่วยให้คุณเป็นสมาชิกของเรา", "en": "(1) Help you become our member;" },
    "t37": { "th": "(2) เพื่อจัดหาผลิตภัณฑ์และบริการให้แก่คุณรวมถึงการใช้การรับรองชื่อจริงการรับรองความเต็มใจและการรับรองโดยบุคคลที่สามอย่างสมเหตุสมผล", "en": "(2) To provide you with products and services, including the reasonable use of real-name certification, willingness certification, and certification by a third party;" },
    "t38": { "th": "(3) การพัฒนาผลิตภัณฑ์และการเพิ่มประสิทธิภาพบริการ", "en": "(3) Product development and service optimization;" },
    "t39": { "th": "", "en": "(4) In order to make it easier for you to view the contract, authorize the Alipay Contract Butler Mini Program to provide functions such as viewing your signed contract;" },
    "t40": { "th": "(5) วัตถุประสงค์อื่น ๆ : เมื่อเราต้องการใช้ข้อมูลเพื่อวัตถุประสงค์อื่นที่ไม่ได้ระบุไว้ในนโยบายนี้หรือใช้ข้อมูลที่รวบรวมเพื่อวัตถุประสงค์เฉพาะเพื่อวัตถุประสงค์อื่นเราจะขอความยินยอมจากคุณล่วงหน้า", "en": "(5) Other purposes: When we want to use the information for other purposes not specified in this policy or use the information collected for a specific purpose for other purposes, we will ask for your consent in advance." },
    "t41": { "th": "ข้อมูลของคุณจะถูกเก็บไว้บนเซิร์ฟเวอร์ของ Creden เพื่อให้คุณได้รับประสบการณ์ที่ดีขึ้นปรับปรุงบริการของเราหรือวัตถุประสงค์อื่น ๆ ที่คุณตกลงไว้เราอาจใช้ข้อมูลที่รวบรวมผ่านบริการบางอย่างสำหรับบริการอื่น ๆ ของเราภายใต้กฎหมายและข้อบังคับที่เกี่ยวข้อง ตัวอย่างเช่นใช้ข้อมูลของคุณเมื่อคุณใช้บริการของเราสำหรับการวิจัยผู้ใช้งาน การวิเคราะห์และสถิติและบริการอื่น ๆ แต่เราจะไม่รวมข้อมูลที่เราจัดเก็บไว้ในซอฟต์แวร์การวิเคราะห์กับข้อมูลที่สามารถระบุตัวบุคคลที่คุณให้ไว้ในแอปพลิเคชัน", "en": "Your information will be stored on Creden's server. In order to allow you to have a better experience, improve our services or other purposes agreed by you, we may use the information collected through certain services for our other services, subject to relevant laws and regulations. For example, use your information when you use one of our services for user research, analysis and statistics and other services, but we will not combine the information we store in the analysis software with the personally identifiable information you provide in the application ." },
    "t42": { "th": "3. เราจะแบ่งปันถ่ายโอนและเปิดเผยข้อมูลส่วนบุคคลของคุณต่อสาธารณะได้อย่างไร", "en": "3. How do we share, transfer and publicly disclose your personal information" },
    "t43": { "th": "เราจะไม่เปิดเผยข้อมูลส่วนบุคคลของคุณกับ บริษัท และองค์กรหรือบุคคลใดๆ ยกเว้นในกรณีดังต่อไปนี้", "en": "We will not share your personal information with any company, organization or individual, except in the following cases:" },
    "t44": { "th": "(1) แบ่งปัน", "en": "(1) Share" },
    "t45": { "th": "1.1 เราอาจแบ่งปันข้อมูลส่วนบุคคลของคุณตามกฎหมายและข้อบังคับความต้องการในการระงับข้อพิพาททางคดีความหรือตามข้อกำหนดของหน่วยงานบริหารและกระบวนการยุติธรรม", "en": "1.1 we may share your personal information according to laws and regulations, litigation dispute resolution needs, or according to the requirements of administrative and judicial organs." },
    "t46": { "th": "1.2 การแบ่งปันกับพันธมิตร: เพื่อให้บรรลุวัตถุประสงค์ของสัญญาอิเล็กทรอนิกส์หรือบริการนี้เราและคู่ค้าจะให้บริการบางส่วน เราจะแบ่งปันข้อมูลส่วนบุคคลของคุณกับพันธมิตรของเราตามกฎหมายและข้อบังคับ ข้อมูลประจำตัวส่วนบุคคลของคุณและข้อมูลการลงนามในสัญญาควรถูกส่งไปยัง Ca, สำนักงานทนายความ, ศูนย์รับรองความถูกต้องของศาล, บล็อคเชน, คณะกรรมการอนุญาโตตุลาการ, หน่วยงานตรวจสอบตัวตนบุคคลที่สาม ซึ่งจะออกเอกสารรับรองที่เกี่ยวข้องหรือจัดการกรณีต่างๆเพื่อการใช้งานและการเก็บรักษา เราจะแบ่งปันข้อมูลส่วนบุคคลของคุณเพื่อวัตถุประสงค์ที่ถูกต้องถูกต้องตามกฎหมายและจำเป็นเท่านั้นและแบ่งปันเฉพาะข้อมูลส่วนบุคคลที่จำเป็นในการให้บริการ", "en": "1.2 sharing with partners: in order to achieve the purpose of this E-contract or service, some of our services will be provided by us and partners. We will share some of your personal information with our partners according to laws and regulations. Your personal identity information and contract signing information should be transmitted to Ca, notary office, judicial authentication center, blockchain, Arbitration Commission, third-party identity authentication agency, which will issue corresponding certification documents or handle cases for use and preservation. We will only share your personal information for legitimate, legitimate and necessary purposes, and only share the personal information necessary to provide services." },
    "t47": { "th": "1.3 เพื่อให้คุณได้รับประสบการณ์ที่ดีขึ้นในการใช้งาน เราอาจใช้ข้อมูลที่รวบรวมผ่านบริการบางอย่างสำหรับบริการอื่น ๆ ของเราบนพื้นฐานของการปฏิบัติตามกฎหมายและข้อบังคับที่เกี่ยวข้อง ตัวอย่างเช่นใช้ข้อมูลของคุณเมื่อใช้บริการของเราสำหรับการวิจัยการวิเคราะห์สถิติและบริการอื่น ๆ ของผู้ใช้", "en": "1.3 in order to make you have a better experience, improve our services or other uses agreed by you, we may use the information collected through some services for our other services on the premise of complying with relevant laws and regulations. For example, use your information when using one of our services for user research, analysis, statistics and other services." },
    "t48": { "th": "1.4 เพื่อให้มั่นใจในความปลอดภัยของบริการและช่วยให้เราเข้าใจการทำงานของแอปพลิเคชันของเราได้ดีขึ้นเราอาจบันทึกข้อมูลที่เกี่ยวข้องหรือใช้ข้อมูลที่รวบรวมเพื่อการวิเคราะห์ข้อมูลขนาดใหญ่เช่นความถี่ข้อมูลความผิดปกติการใช้งานโดยรวมข้อมูลประสิทธิภาพหรือการวิเคราะห์ แอปพลิเคชันของคุณเพื่อสร้างแผนที่ความร้อนของเมืองหรือรายงานข้อมูลเชิงลึกของอุตสาหกรรมโดยไม่มีข้อมูลส่วนบุคคล เราอาจเปิดเผยและแบ่งปันข้อมูลที่ประมวลผลทางสถิติกับพันธมิตรของเราซึ่งไม่มีเนื้อหาระบุตัวตนเพื่อทำความเข้าใจว่าผู้ใช้ใช้บริการของเราอย่างไรหรือแจ้งให้สาธารณชนทราบถึงแนวโน้มโดยรวมของบริการของเรา", "en": "1.4 in order to ensure the security of services and help us better understand the operation of our applications, we may record relevant information or use the collected information for big data analysis, such as the frequency, fault information, overall usage, performance data or analysis of your applications to form a city heat map or industry insight report without any personal information. We may disclose and share with our partners statistically processed information that does not contain identification content, so as to understand how users use our services or let the public know the overall trend of our services." },
    "t49": { "th": "(2) การมอบหมาย", "en": "(2) Assignment" },
    "t50": { "th": "เราจะไม่ถ่ายโอนข้อมูลส่วนบุคคลของคุณไปยัง บริษัท องค์กรหรือบุคคลอื่นใดยกเว้นในสถานการณ์ต่อไปนี้:", "en": "We will not transfer your personal information to any other company, organization or individual, except for the following circumstances:" },
    "t51": { "th": `2.1 จากการพัฒนาของธุรกิจ "Creden" เราและบริษัทในเครือของเรามีแนวโน้มที่จะดำเนินการควบรวมกิจการการซื้อกิจการการโอนสินทรัพย์หรือธุรกรรมอื่น ๆ ที่คล้ายคลึงกัน หากธุรกรรมที่เกี่ยวข้องเกี่ยวข้องกับการถ่ายโอนข้อมูลส่วนบุคคลของคุณเราจะกำหนดให้ บริษัท หรือองค์กร หรือบุคคลที่ถือครองข้อมูลส่วนบุคคลของคุณ ต้องปฏิบัติตามนโยบายนี้ต่อไปมิฉะนั้นเราจะกำหนดให้ บริษัท หรือองค์กร หรือบุคคล ต้องขออนุญาตจากคุณอีกครั้ง`, "en": `2.1 with the development of "Creden" business, we and our affiliated companies are likely to carry out merger, acquisition, asset transfer or other similar transactions. If the relevant transaction involves the transfer of your personal information, we will require the company, organization and individual holding your personal information to continue to be bound by this policy, otherwise we will require the company, organization and individual to seek your authorization again.` },
    "t52": { "th": "2.2 ด้วยความยินยอมโดยชัดแจ้งของคุณเราจะถ่ายโอนข้อมูลส่วนบุคคลของคุณที่เราได้รับไปยังบุคคลอื่น", "en": "2.2 with your explicit consent, we will transfer your personal information we have obtained to other parties." },
    "t53": { "th": "(3) การเปิดเผย", "en": "(3) Disclosure" },
    "t54": { "th": "เราจะเปิดเผยข้อมูลส่วนบุคคลของคุณในสถานการณ์ต่อไปนี้:", "en": "We will only disclose your personal information in the following circumstances:" },
    "t55": { "th": "3.1 ได้รับความยินยอมอย่างชัดเจนจากคุณ", "en": "3.1 has your explicit consent." },
    "t56": { "th": "3.2 เราอาจเปิดเผยข้อมูลส่วนบุคคลของคุณต่อสาธารณะ เมื่อกฎหมายมีการกำหนดกระบวนการทางกฎหมาย การดำเนินคดีหรือมีคำสั่งจากหน่วยงานของรัฐ", "en": "3.2 we may disclose your personal information to the public when required by law, legal proceedings, litigation or government authorities" },
    "t57": { "th": "3.3 สถานการณ์อื่น ๆ ที่กำหนดโดยกฎหมายและข้อบังคับ", "en": "3.3 other circumstances stipulated by laws and regulations." },
    "t58": { "th": "4. เราใช้เทคโนโลยีคุ๊กกี้ อย่างไร", "en": "4. How do we use COOKIES technology;" },
    "t59": { "th": "เมื่อคุณใช้ผลิตภัณฑ์หรือบริการของเราแพลตฟอร์มของ เราจะรับและบันทึกข้อมูลบนเบราว์เซอร์และคอมพิวเตอร์ของคุณโดยอัตโนมัติรวมถึงที่อยู่ IP ลายเซ็นอิเล็กทรอนิกส์ที่คุณสร้างขึ้นข้อมูลคุณลักษณะซอฟต์แวร์และฮาร์ดแวร์ตลอดจนบันทึกหน้าเว็บที่คุณต้องการและข้อมูลในคุกกี้ เพื่อให้การทำงานของเว็บไซต์เป็นไปตามปกติเราจะจัดเก็บไฟล์ข้อมูลขนาดเล็กที่เรียกว่าคุกกี้ไว้ในคอมพิวเตอร์หรืออุปกรณ์เคลื่อนที่ของคุณ หากคุณไม่ปฏิเสธที่จะยอมรับคุกกี้คุกกี้จะถูกส่งไปยังเบราว์เซอร์ของคุณและจัดเก็บไว้ในฮาร์ดดิสก์ของคอมพิวเตอร์ของคุณ เราใช้คุกกี้เพื่อจัดเก็บข้อมูลที่เกี่ยวข้องจากการเยี่ยมชมเว็บไซต์ของเรา เมื่อคุณเยี่ยมชมหรือเยี่ยมชมเว็บไซต์ของเราอีกครั้งเราสามารถระบุตัวตนของคุณและให้บริการที่ดีขึ้นและมากขึ้นโดยการวิเคราะห์ข้อมูล คุณมีสิทธิ์ที่จะยอมรับหรือปฏิเสธคุกกี้ คุณสามารถปฏิเสธที่จะยอมรับคุกกี้ได้โดยแก้ไขการตั้งค่าเบราว์เซอร์ แต่เราจำเป็นต้องเตือนคุณว่าเนื่องจากคุณปฏิเสธที่จะยอมรับคุกกี้คุณจึงไม่สามารถใช้ฟังก์ชันบางอย่างที่ขึ้นอยู่กับคุกกี้ได้", "en": "When you use our products or services, our platform will automatically receive and record the information on your browser and computer, including your IP address, your generated electronic signature, software and hardware feature information, as well as the web page records you need, and the information in cookie. To ensure the normal operation of the website, we will store a small data file called cookie on your computer or mobile device. If you do not refuse to accept the cookie, the cookie will be sent to your browser and stored on your computer hard disk. We use cookie to store the relevant data of your visit to our website. When you visit or visit our website again, we can identify you and provide you with better and more services by analyzing the data. You have the right to accept or reject cookie. You can refuse to accept cookie by modifying the browser settings, but we need to remind you that because you refuse to accept cookie, you may not be able to use some functions that depend on cookie." },
    "t60": { "th": "5. เราจัดเก็บข้อมูลส่วนบุคคลของคุณอย่างไร", "en": "5. How do we store your personal information;" },
    "t61": { "th": "(2) เราจัดเก็บข้อมูลส่วนบุคคลของคุณในช่วงเวลาที่จำเป็นสำหรับวัตถุประสงค์ของนโยบายนี้และภายในระยะเวลาที่กฎหมายและข้อบังคับกำหนด ตามกฎหมายลายเซ็นอิเล็กทรอนิกส์เราจะเก็บข้อมูลส่วนบุคคลของคุณเป็นเวลาอย่างน้อยห้าปี", "en": "(2) We only store your personal information during the period necessary for the purpose of this policy and within the time limit required by laws and regulations. According to the electronic signature law, we will keep your personal information for at least five years." },
    "t62": { "th": "(3) อย่างไรก็ตามภายใต้สถานการณ์ต่อไปนี้เราอาจเปลี่ยนแปลงเวลาในการจัดเก็บข้อมูลส่วนบุคคลเพื่อให้เป็นไปตามข้อกำหนดทางกฎหมาย:", "en": "(3) However, under the following circumstances, we may change the storage time of personal information to meet the legal requirements:" },
    "t63": { "th": "3.1 เพื่อให้เป็นไปตามกฎหมายและข้อบังคับที่บังคับใช้", "en": "3.1 in order to comply with applicable laws and regulations;" },
    "t64": { "th": "3.2 เพื่อปฏิบัติตามคำพิพากษาการพิจารณาคดีหรือกระบวนการทางกฎหมายอื่น ๆ ของศาล", "en": "3.2 in order to comply with the judgment, ruling or other legal procedures of the court;" },
    "t65": { "th": "3.3 เพื่อให้เป็นไปตามข้อกำหนดของหน่วยงานของรัฐที่เกี่ยวข้องหรือองค์กรที่ได้รับอนุญาตตามกฎหมาย", "en": "3.3 in order to comply with the requirements of relevant government agencies or statutory authorized organizations;" },
    "t66": { "th": "3.4 เรามีเหตุผลที่เชื่อได้ว่าเราจำเป็นต้องปฏิบัติตามกฎหมายและข้อบังคับ", "en": "3.4 we have reason to believe that we need to comply with laws and regulations;" },
    "t67": { "th": "3.5 เพื่อวัตถุประสงค์ในการดำเนินการตามข้อตกลงการบริการที่เกี่ยวข้องหรือนโยบายนี้การปกป้องผลประโยชน์สาธารณะและการปกป้องความปลอดภัยส่วนบุคคลและทรัพย์สินหรือสิทธิและผลประโยชน์ที่ชอบด้วยกฎหมายอื่น ๆ ของลูกค้า", "en": "3.5 for the purpose of implementing the relevant service agreement or this policy, safeguarding the public interest, and protecting the personal and property safety or other legitimate rights and interests of our customers." },
    "t68": { "th": `(4) หากเราหยุดดำเนินการผลิตภัณฑ์หรือบริการของ "Creden e-Signature" เราจะหยุดกิจกรรมในการรวบรวมข้อมูลส่วนบุคคลของคุณต่อไปให้ทันเวลาแจ้งให้คุณทราบถึงการหยุดดำเนินการในรูปแบบของการจัดส่งทีละรายการ หรือประกาศและลบหรือเปิดเผยข้อมูลส่วนบุคคลที่เก็บไว้ของเรา`, "en": `(4) If we stop operating the products or services of "Creden e-Signature", we will stop the activities of continuing to collect your personal information in time, notify you of the notice of stopping operation in the form of one by one delivery or announcement, and delete or anonymize our stored personal information.` },
    "t69": { "th": "6. เราจะปกป้องข้อมูลส่วนบุคคลของคุณอย่างไร", "en": "6. How do we protect your personal information;" },
    "t70": { "th": "(1) สำหรับ บริษัท หรือองค์กร หรือบุคคลที่เราแบ่งปันข้อมูลส่วนบุคคลด้วย เราจะลงนามในข้อกำหนดการคุ้มครองข้อมูลที่เข้มงวดโดยกำหนดให้พวกเขาจัดการข้อมูลส่วนบุคคลตามคำแนะนำของเรานโยบายความเป็นส่วนตัวนี้และมาตรการรักษาความลับและความปลอดภัยอื่น ๆ ที่เกี่ยวข้อง", "en": "(1) For companies, organizations and individuals with whom we share personal information, we will sign strict data protection terms, requiring them to handle personal information in accordance with our instructions, this Privacy Policy and any other relevant confidentiality and security measures." },
    "t71": { "th": "(2）เพื่อปกป้องความปลอดภัยของข้อมูลของคุณเราจะใช้มาตรการที่จำเป็นทุกประเภทเพื่อปกป้องข้อมูลของคุณหลังจากรวบรวมข้อมูลของคุณ เราจะจัดเก็บข้อมูลที่ระบุแยกต่างหากจากข้อมูลที่สามารถใช้ในการกู้คืนและระบุตัวบุคคลเพื่อให้แน่ใจว่าจะไม่มีการระบุตัวบุคคลอีกครั้งในการประมวลผลข้อมูลที่ระบุในภายหลัง", "en": "(2) In order to protect your information security, we will take all kinds of necessary measures to protect your information after collecting your information. We will store the de-identified information separately from the information that can be used to recover and identify the individual, so as to ensure that the individual will not be re-identified in the subsequent processing of de-identified information." },
    "t72": { "th": "(3) เราสัญญาว่าเราจะบรรลุการป้องกันความปลอดภัยข้อมูลระดับชั้นนำของอุตสาหกรรม เพื่อปกป้องความปลอดภัยของข้อมูลของคุณเรามุ่งมั่นที่จะใช้เทคโนโลยีความปลอดภัยต่างๆและระบบการจัดการที่สนับสนุนเพื่อลดความเสี่ยงจากการรั่วไหลของข้อมูลความเสียหายการใช้งานในทางที่ผิดการเข้าถึงโดยไม่ได้รับอนุญาตการเปิดเผยและการเปลี่ยนแปลงโดยไม่ได้รับอนุญาต ตัวอย่างเช่น: ผ่านซอฟต์แวร์รักษาความปลอดภัยเครือข่าย (SSL) สำหรับการส่งผ่านที่ปลอดภัยการจัดเก็บข้อมูลความปลอดภัยข้อ จำกัด ที่เข้มงวดในการเข้าถึงศูนย์ข้อมูล เมื่อส่งและจัดเก็บข้อมูลที่ละเอียดอ่อนส่วนบุคคล (รวมถึงข้อมูลไบโอเมตริกซ์ส่วนบุคคล) เราจะใช้มาตรการรักษาความปลอดภัยเช่นการรักษาความปลอดภัยการควบคุมอำนาจการระบุตัวตน ฯลฯ ในขณะเดียวกันเราใช้เทคโนโลยีการสำรองและการกู้คืนเพื่อกู้คืนข้อมูลในเวลา กรณีข้อมูลสูญหาย", "en": "(3) We promise that we will achieve the industry-leading level of information security protection. In order to protect your information security, we are committed to using various security technologies and supporting management systems to minimize the risks of your information leakage, damage, misuse, unauthorized access, unauthorized disclosure and change. For example: through the network security software (SSL) for secure transmission, information security storage, strict restrictions on data center access. When transmitting and storing personal sensitive information (including personal biometric information), we will adopt security measures such as security, authority control, de identification, etc. At the same time, we adopt the backup and recovery technology to recover the data in time in the case of data loss." },
    "t73": { "th": "7. สิทธิ์ของคุณในการจัดการข้อมูลส่วนบุคคล", "en": "7. Your right to manage personal information" },
    "t74": { "th": "(1) เข้าถึงข้อมูลส่วนบุคคลของคุณ", "en": "(1) Access your personal information" },
    "t75": { "th": "คุณสามารถไปที่ www.creden.co หากต้องการสอบถามและแก้ไขข้อมูลส่วนบุคคล เปลี่ยนรหัสผ่าน หรือเพิ่มข้อมูลความปลอดภัย", "en": "You can visit www.creden.co To query and edit personal data, change your password and add security information" },
    "t76": { "th": "(2) ลบข้อมูลส่วนบุคคลของคุณ", "en": "(2) Delete your personal information" },
    "t77": { "th": "คุณสามารถสมัครเพื่อลบข้อมูลส่วนบุคคลของคุณได้โดยติดต่อฝ่ายบริการลูกค้า support_eks@creden.co", "en": "You can apply to delete your personal information by emailing customer service support_eks@creden.co" },
    "t78": { "th": `คุณมีสิทธิ์ขอให้ "Creden e-Signature" ลบข้อมูลส่วนบุคคลของคุณในกรณีต่อไปนี้:`, "en": `You have the right to ask "Creden e-Signature" to delete your personal information in the following cases:` },
    "t79": { "th": "2.1 เราได้รวบรวมข้อมูลส่วนบุคคลของคุณโดยไม่ได้รับความยินยอมอย่างชัดเจนจากคุณ", "en": "2.1 we have collected your personal information without your explicit consent." },
    "t80": { "th": "2.2 การประมวลผลข้อมูลส่วนบุคคลของคุณละเมิดข้อกำหนดของกฎหมายและข้อบังคับ", "en": "2.2 our processing of your personal information violates the requirements of laws and regulations." },
    "t81": { "th": "2.3 เราได้ละเมิดข้อตกลงกับคุณในการใช้และประมวลผลข้อมูลส่วนบุคคลของคุณ", "en": "2.3 we have violated the agreement with you to use and process your personal information." },
    "t82": { "th": `2.4 คุณไม่ได้ใช้หรือยกเลิกบัญชี "Creden e-Signature" อีกต่อไป`, "en": `2.4 you no longer use or cancel the "e-signing treasure" account.` },
    "t83": { "th": "2.5 เราหยุดให้บริการแก่คุณ", "en": "2.5 we stop providing services to you." },
    "t84": { "th": "ตามความต้องการของธุรกิจและเพื่อปกป้องผลประโยชน์ของทุกฝ่ายที่เกี่ยวข้องกับธุรกรรมเราจะยังคงเก็บรักษาข้อมูลส่วนบุคคลของคุณที่เกี่ยวข้องโดยตรงกับการรับรองความถูกต้องของชื่อจริง การรับรองความถูกต้องของการยืนยันตัวตนและการลงนามในสัญญาภายใต้สถานการณ์ 2.4 ของวรรคสองของ บทความนี้.", "en": "Based on the needs of business and in order to protect the interests of all parties involved in the transaction, we will still retain your personal information directly related to real name authentication, intention authentication and signing documents under the circumstances of 2.4 of the second paragraph of this article." },
    "t85": { "th": "หากคุณยังต้องการลบข้อมูลส่วนนี้คุณและผู้เกี่ยวข้องทั้งหมดของธุรกิจจำเป็นต้องอนุญาตและตกลง หลังจากได้รับคำแนะนำการลบทั่วไปจากคุณและผู้ที่เกี่ยวข้องทั้งหมดของธุรกิจเราจะลบข้อมูลส่วนบุคคลของคุณที่เกี่ยวข้องกับธุรกิจ", "en": "If you still want to delete this part of information, you and all relevant parties of the business need to authorize and agree. After receiving the common deletion instruction from you and all relevant parties of the business, we will delete your personal information involved in the business." },
    "t86": { "th": "เมื่อคุณหรือเราช่วยเหลือคุณในการลบข้อมูลที่เกี่ยวข้องเราอาจไม่สามารถลบข้อมูลที่เกี่ยวข้องออกจากระบบสำรองข้อมูลได้ทันทีเนื่องจากกฎหมายและเทคโนโลยีความปลอดภัยที่เกี่ยวข้อง เราจะจัดเก็บข้อมูลส่วนบุคคลของคุณอย่างปลอดภัยและหลีกเลี่ยงการประมวลผลใด ๆ จนกว่าจะสามารถล้างข้อมูลสำรองหรือไม่ระบุชื่อได้", "en": "When you or we assist you in deleting the relevant information, we may not be able to immediately delete the corresponding information from the backup system due to the applicable laws and security technologies. We will safely store your personal information and avoid any further processing until the backup can be cleared or anonymous." },
    "t87": { "th": "(3) การแก้ไขข้อมูลส่วนบุคคลของคุณ", "en": "(3) Correct your personal information" },
    "t88": { "th": "เมื่อคุณพบว่าข้อมูลส่วนบุคคลที่รวบรวมและจัดเก็บไว้ไม่ถูกต้องหรือจำเป็นต้องได้รับการอัปเดตคุณสามารถติดต่อฝ่ายบริการลูกค้า support_eks@creden.co เพื่อแก้ไขได้", "en": "When you find that the collected and stored personal information is wrong or needs to be updated, you can contact support_eks@creden.co customer service to correct." },
    "t89": { "th": "8. การคุ้มครองข้อมูลส่วนบุคคลของผู้เยาว์", "en": "8. Personal information protection of minors" },
    "t90": { "th": "หากคุณเป็นผู้เยาว์ที่อายุต่ำกว่า 18 ปีคุณควรอ่านและยอมรับนโยบายความเป็นส่วนตัวนี้ภายใต้การดูแลและคำแนะนำของพ่อแม่หรือผู้ปกครองคนอื่น ๆ ก่อนที่จะใช้ผลิตภัณฑ์และบริการที่เกี่ยวข้องของเรา", "en": "If you are a minor under the age of 18, you should read and agree to this Privacy Policy under the supervision and guidance of your parents or other guardians before using our products and related services;" },
    "t91": { "th": "เราปกป้องข้อมูลส่วนบุคคลของผู้เยาว์ตามกฎหมายและข้อบังคับของประเทศที่เกี่ยวข้อง เราจะเก็บรวบรวมใช้แบ่งปันหรือเปิดเผยข้อมูลส่วนบุคคลของผู้เยาว์เมื่อได้รับอนุญาตตามกฎหมายโดยได้รับความยินยอมอย่างชัดเจนจากพ่อแม่หรือผู้ปกครองคนอื่นๆ หรือเมื่อจำเป็นสำหรับการคุ้มครองผู้เยาว์ หากเราพบว่าเราได้รวบรวมข้อมูลส่วนบุคคลของผู้เยาว์โดยไม่ได้รับความยินยอมล่วงหน้าจากพ่อแม่ที่ตรวจสอบได้หรือผู้ปกครองคนอื่น ๆ ผู้ใหญ่จะพยายามลบข้อมูลส่วนบุคคลของพวกเขาโดยเร็ว", "en": "We protect the personal information of minors in accordance with the relevant national laws and regulations. We will only collect, use, share or disclose the personal information of minors when permitted by law, with the explicit consent of parents or other guardians, or when necessary for the protection of minors. If we find that we have collected the personal information of minors without the prior consent of verifiable parents or other guardians Adults will try to delete their personal information as soon as possible." },
    "t92": { "th": "หากคุณมีคำถามใด ๆ เกี่ยวกับข้อมูลส่วนบุคคลของผู้เยาว์โปรดติดต่อเราผ่านข้อมูลติดต่อที่เผยแพร่ใน www.creden.co", "en": "If you have any questions about the personal information of minors, please contact us through the contact information publicized in www.creden.co" },
    "t93": { "th": "9. ข้อจำกัดความรับผิดชอบ", "en": "9. Disclaimer" },
    "t94": { "th": `(1) "Creden e-Signature" มีลิงก์ไปยังเว็บไซต์อื่น ๆ เราอาจเพิ่มเว็บไซต์ของพันธมิตรทางธุรกิจหรือแบรนด์ทั่วไปเมื่อจำเป็น "Creden e-Signature" ไม่รับผิดชอบต่อการคุ้มครองความเป็นส่วนตัวของคุณ ที่ต้องเชื่อมโยงไปยังเว็บไซต์อื่นผ่าน "Creden e-Signature"`, "en": `(1) "Creden e-Signature" contains links to other websites. We may add websites of business partners or common brands whenever necessary. "Creden e-Signature" is not responsible for the privacy protection you need to link to other websites through "Creden e-Signature".` },
    "t95": { "th": `(2) หากรหัสผ่านบัญชีของคุณรั่วไหลเนื่องจากเหตุผลส่วนตัวของคุณซึ่งนำไปสู่การรั่วไหลของข้อมูลส่วนบุคคล "Creden e-Signature" จะไม่รับผิดชอบใด ๆ แต่เราจะให้ความร่วมมือกับคุณในการดึงข้อมูลหรือเปลี่ยนรหัสผ่านของคุณ`, "en": `(2) If your account password is leaked due to your personal reasons, which leads to the leakage of personal information, "Creden e-Signature" will not take any responsibility, but we will actively cooperate with you to retrieve or change your password.` },
    "t96": { "th": "10. ติดต่อเราได้อย่างไร", "en": "10. How to contact us" },
    "t97": { "th": "หากคุณมีคำถามความคิดเห็นข้อเสนอแนะหรือข้อร้องเรียนใด ๆ เกี่ยวกับนโยบายความเป็นส่วนตัวและการจัดการข้อมูลส่วนบุคคลของคุณคุณสามารถให้ข้อเสนอแนะทางอีเมลล์ support_eks@creden.co", "en": "If you have any questions, opinions, suggestions or complaints about our privacy policy and the handling of your personal information, you can give feedback through customer service email support_eks@creden.co" },
    "t98": { "th": "11. การเปลี่ยนแปลงและแก้ไขนโยบายความเป็นส่วนตัว", "en": "11. Changes and revisions to the privacy policy" },
    "t99": { "th": "เราอาจแก้ไขนโยบายนี้เป็นครั้งคราว หากมีการเปลี่ยนแปลงดังกล่าวภายใต้นโยบายนี้เราจะแจ้งให้คุณทราบโดยการแสดงหน้านี้อย่างชัดเจนและส่งอีเมลถึงคุณก่อนที่การเปลี่ยนแปลงจะมีผล ในกรณีที่คุณยังคงใช้บริการของเรา หมายความว่าคุณตกลงเห็นด้วยตามนโยบายฉบับแก้ไข", "en": "We may revise this policy from time to time. we will notify you by prominently displaying the page and sending you e-mail before the change takes effect. In this case, if you continue to use our services, you agree to be bound by the revised policy." },
    "t100": { "th": "", "en": "" },
  }
</script>

</html>