<!DOCTYPE html>
<html lang="th-TH" dir="ltr">

<head>
  <title>Bangkok Life | Register</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=1">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="icon" type="image/x-icon" href="images/BLA_Icon.ico">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/bla/css/font.css?v=18">
  <link rel="stylesheet" type="text/css" href="css/index.css?v=12">

</head>

<body>

  <div id="app" v-cloak>

    <!-- ไม่ใช้ได้ -->
    <div class="container" v-if="form_register.usability == ''">
      <div class="row">
        <div class="col-12 md36-g1 text-center mt-5">
          {{lang_txt.signup_title[lang_choose]}}
        </div>

        <div class="col-12 mt-3">
          <div class="row">
            <div class="col-md-2 col-0"></div>
            <div class="col-md-4 col-10 offset-md-0 offset-1  mt-2 me-md-2 pb-4 text-center shadow-box bg-FF">

              <div class="row">
                <div class="col-12 rg24-g1 mt-3">
                  {{lang_txt.individual_title[lang_choose]}}
                </div>
                <div class="col-12 mt-3">
                  <img src="images/individual.svg" alt="individual icon">
                </div>
                <div class="col-12 mt-4">
                  <button type="button" class="btn btn-outline-primary" @click="select_type_usability('individual')">
                    {{lang_txt.signup_text[lang_choose]}}
                  </button>
                </div>
              </div>

            </div>


            <div class="col-md-4 col-10 offset-md-0 offset-1 mt-2 ms-md-2 pb-4 text-center shadow-box bg-FF">

              <div class="row">
                <div class="col-12 rg24-g1 mt-3">
                  {{lang_txt.company_title[lang_choose]}}
                </div>
                <div class="col-12 mt-3">
                  <img src="images/company.svg" alt="company icon">
                </div>
                <div class="col-12 mt-4">
                  <button type="button" class="btn btn-warning" @click="select_type_usability('company')">
                    {{lang_txt.signup_text[lang_choose]}}
                  </button>
                </div>
              </div>

            </div>
            <div class="col-md-2 col-0"></div>
          </div>
        </div>

      </div>
    </div>


    <!-- Start Company -->
    <div class="mb-5 box-center mTop80" v-else-if="form_register.usability != ''">
      <div class="box-login-ff d-flex flex-column justify-content-center py-5 px-4 position-relative mb-5">
        <div class="row">
          <div class="col-12 md36-g1 text-center">
            <img src="images/bla_logo.svg" alt="">
          </div>

          <div class="col-12 md24-g1 text-start mt-3">
            {{lang_txt.signup_title[lang_choose]}}
          </div>

          <div class="col-12 rg18-g1">
            <div class="row">

              <div class="col-md-6 col-12 mt-3">
                {{lang_txt.first_name[lang_choose]}} <span class="cl-F0">*</span>
                <input type="text" class="form-control mt-1" v-model="form_register.adminFisrtname">
                <span class="rg14-g3 cl-F0 dy-none" id="er_firstname">{{lang_txt.required[lang_choose]}}</span>
              </div>

              <div class="col-md-6 col-12 mt-3">
                {{lang_txt.last_name[lang_choose]}} <span class="cl-F0">*</span>
                <input type="text" class="form-control mt-1" v-model="form_register.adminLastname">
                <span class="rg14-g3 cl-F0 dy-none" id="er_lastname">{{lang_txt.required[lang_choose]}}</span>
              </div>

            </div>
          </div>

          <div class="col-12 mt-3 rg18-g1">
            {{lang_txt.email[lang_choose]}} <span class="cl-F0">*</span>
            <input type="text" class="form-control mt-1" v-model="form_register.adminEmail" @change="chk_reserve_mail()"
              :disabled="social">
            <span class="rg14-g3 cl-F0 dy-none" id="er_format_email">{{lang_txt.email_format[lang_choose]}}</span>
            <span class="rg14-g3 cl-F0 dy-none" id="er_reserve_email">{{lang_txt.email_already[lang_choose]}}</span>
          </div>

          <div class="col-12 rg18-g1" v-if="social == false">
            <div class="row">
              <div class="col-12 mt-3">
                {{lang_txt.password[lang_choose]}} <span class="cl-F0">*</span>
                <div class="input-group">
                  <input type="password" class="form-control bd-right-0" id="password"
                    v-model="form_register.adminPassword" maxlength="16" @keypress="chk_format_password()"
                    @change="chk_format_password();chk_confirm_password()">
                  <span class="input-group-text bg-FF bd-left-0">
                    <i class="fas fa-eye-slash cs-pointer" v-if="eye_password == false" @click="see_password(true)"></i>
                    <i class="fas fa-eye cs-pointer" v-else @click="see_password(false)"></i>
                  </span>
                </div>
              </div>
              <div class="col-12 mt-3">
                {{lang_txt.confirm_password[lang_choose]}} <span class="cl-F0">*</span>
                <div class="input-group">
                  <input type="password" class="form-control bd-right-0" id="confirm_password"
                    v-model="form_register.adminPasswordC" @keypress="chk_confirm_password()"
                    @change="chk_confirm_password()">
                  <span class="input-group-text bg-FF bd-left-0">
                    <i class="fas fa-eye-slash cs-pointer" v-if="eye_confirm_password == false"
                      @click="see_confirm_password(true)"></i>
                    <i class="fas fa-eye cs-pointer" v-else @click="see_confirm_password(false)"></i>
                  </span>
                </div>
                <span class="rg14-g3 cl-F0 dy-none"
                  id="er_confirm_password">{{lang_txt.pass_invalid[lang_choose]}}</span>
              </div>

            </div>
          </div>

          <div class="col-12 rg12-g3 mt-2" id="rg_pw8font" v-if="social == false">
            <i class="far fa-check-circle"></i>&nbsp;&nbsp;&nbsp; {{lang_txt.max_cha[lang_choose]}}
          </div>
          <div class="col-12 rg12-g3 mt-1" id="rg_upperandlower" v-if="social == false">
            <i class="far fa-check-circle"></i>&nbsp;&nbsp;&nbsp; {{lang_txt.upper_case[lang_choose]}}
          </div>
          <div class="col-12 rg12-g3 mt-1" id="rg_numberonemore" v-if="social == false">
            <i class="far fa-check-circle"></i>&nbsp;&nbsp;&nbsp; {{lang_txt.numeric[lang_choose]}}
          </div>


          <div class="col-6 mt-4 align-self-center">
            <a href="login.html" class="md24-g1 cl-CI"
              style="text-decoration-line: none;">{{lang_txt.back[lang_choose]}}</a>
          </div>
          <div class="col-6 mt-4">
            <button type="button" class="btn cl-bla-bg w-100 md24-g2 ccc" @click="btn_signup()"
              v-if="chk_signup == true">
              {{lang_txt.next[lang_choose]}}
            </button>
            <button type="button" class="btn cl-bla-bg w-100 md24-g2 vvvv" v-else>
              {{lang_txt.next[lang_choose]}} &nbsp;<i class="fas fa-spinner fa-spin"></i>
            </button>
          </div>


        </div>

        <!-- lang -->
        <div class="row position-absolute start-0" style="bottom: -40px;">
          <div class="col-12 mt-2 text-end rg18-g1" v-if="lang_choose == 'th'">
            <span class="cl-CI cs-pointer">ไทย</span> |
            <span class="cs-pointer" onclick="swithLang('en')">English</span>
          </div>

          <div class="col-12 mt-2 text-end rg18-g1" v-else>
            <span class="cs-pointer" onclick="swithLang('th')">ไทย</span> |
            <span class="cl-CI cs-pointer">English</span>
          </div>
        </div>
      </div>
    </div>
    <!-- End Company -->


  </div>

</body>

<script type="text/javascript" src="/bla/js/jquery-3.3.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
<script type="text/javascript" src="components/common_web.js"></script>
<script type="text/javascript" src="/bla/components/common.js"></script>

<!-- MY ITEM -->
<script>
  $(document).ready(function () {
    app = init_vue()

  });


  function init_vue() {
    return new Vue({
      el: '#app',
      data: {
        lang_choose: localStorage.getItem('lang_choose') || 'th',
        lang_txt: lang_register,
        chk_signup: true,
        agreement: false,
        eye_password: false,
        eye_confirm_password: false,
        type_mail: false,
        form_register: {
          adminFisrtname: "",
          adminLastname: "",
          adminEmail: "",
          adminPassword: '',
          adminPasswordC: "",
          usability: "individual",
          type_of_business: "",
          company_name: "",
          job_title: "",
          comTel: "",
        },
        is_social: "N/A",
        social: false,

      },
      mounted: function () {
        window.myApp = this
        this.is_social = gup("social") || "N/A"
        if (this.is_social != "N/A") {
          this.get_social()
        }

      },
      methods: {
        btn_signup: function () {
          var that = this
          var u = that.form_register
          var er1 = document.getElementById("er_firstname")
          var er2 = document.getElementById("er_lastname")
          var er3 = document.getElementById("er_usability")
          var er4 = document.getElementById("er_type_business")
          var er5 = document.getElementById("er_company_name")
          var er6 = document.getElementById("er_job")
          var er7 = document.getElementById("er_comTel")
          var er8 = document.getElementById("er_agree")

          if (u.adminFisrtname == "") er1.style.display = "unset";
          else er1.style.display = "none"

          if (u.adminLastname == "") er2.style.display = "unset";
          else er2.style.display = "none"

          if (u.usability == "company") {

            if (u.type_of_business == "") er4.style.display = "unset";
            else er4.style.display = "none"

            if (u.company_name == "") er5.style.display = "unset";
            else er5.style.display = "none"

            if (u.job_title == "") er6.style.display = "unset";
            else er6.style.display = "none"

          }

          var email = that.type_mail
          var usability = that.chk_usability()

          var is_signup = ""
          if (that.social) {
            is_signup = (email && usability && that.agreement)
          }
          else {
            var password = that.chk_format_password()
            var con_pass = (u.adminPasswordC == u.adminPassword && u.adminPasswordC != "")
            that.chk_confirm_password()
            is_signup = (password && con_pass && email)
          }

          //console.log('is_signup: ', is_signup);
          if (is_signup) {
            that.chk_signup = false
            var data = that.form_register
            if (that.social) {
              data.social = that.social
            }

            $.ajax({
              type: "POST",
              url: api_host + "register_bla",
              data: JSON.stringify(data),
              dataType: "json",
              success: function (resp) {

                if (resp.success) {
                  document.location.href = "confirm.html?email=" + resp.email + "&t=" + resp.token + "&rd=" + new Date().getTime()
                }
                else {

                  that.chk_signup = true
                }
              },
              error: function (request, status, error) {
                alert("|" + status + ' |' + error);
              }
            });
          }
          else {
            // window.scrollTo(0, 0);
            return false
          }

        },
        chk_format_password: function () {
          var that = this
          var pw = that.form_register.adminPassword.toString()

          if (pw.length >= 8) document.getElementById("rg_pw8font").style.color = "#219653";
          else document.getElementById("rg_pw8font").style.color = "#828282"

          var upper = /(?=.*[A-Z])/
          if (upper.test(pw)) document.getElementById("rg_upperandlower").style.color = "#219653"
          else document.getElementById("rg_upperandlower").style.color = "#828282"

          var num = /(?=.*[0-9])/
          if (num.test(pw)) document.getElementById("rg_numberonemore").style.color = "#219653"
          else document.getElementById("rg_numberonemore").style.color = "#828282"

          // var speical = /(?=.*[!@#$%^&*])/
          // if (speical.test(pw)) document.getElementById("rg_special").style.color = "#219653"
          // else document.getElementById("rg_special").style.color = "#828282"

          if (pw.length >= 8 && upper.test(pw) && num.test(pw)) {
            return true
          }
          else {
            return false
          }
          // that.btn_signup()
        },
        chk_reserve_mail: function () {
          var that = this
          that.form_register.adminEmail = that.form_register.adminEmail.trim().toLowerCase();
          var email = that.form_register.adminEmail
          var er1 = document.getElementById("er_format_email")
          var er2 = document.getElementById("er_reserve_email")

          if (!that.validateEmail(email)) {
            er1.style.display = "unset"
            return false
          }
          else {
            er1.style.display = "none"
          }

          var data = {
            adminEmail: email
          }

          $.ajax({
            type: "POST",
            url: api_host + "chk_reserve_mail",
            data: JSON.stringify(data),
            dataType: "json",
            success: function (resp) {

              if (resp.success) {
                er2.style.display = "unset"
                that.type_mail = false
              }
              else {
                er2.style.display = "none"
                that.type_mail = true
              }
              // that.btn_signup()
            },
            error: function (request, status, error) {
              alert("|" + status + ' |' + error);
            }
          });

        },
        chk_confirm_password: function () {
          var that = this
          var er1 = document.getElementById("er_confirm_password")
          var pw = that.form_register.adminPassword
          var pwc = that.form_register.adminPasswordC

          if (pwc != pw) er1.style.display = "unset";
          // else if (pwc == "") er1.style.display = "unset";
          else er1.style.display = "none";

          // that.btn_signup()
        },
        chk_usability: function () {
          var that = this
          var u = that.form_register

          if (u.usability == "") {
            return false
          }
          else {

            var profile = (u.adminFisrtname != "" && u.adminLastname != "" && u.comTel != "")
            var type_usa = true

            if (u.usability == "company") {
              type_usa = (u.type_of_business != "" && u.company_name != "" && u.job_title)
            }

            if (profile && type_usa) return true
            else return false

          }
        },
        see_password: function (value) {
          var that = this
          var obj = document.getElementById("password");

          if (value == false) {
            that.eye_password = false
            obj.type = "password"
          }
          else {
            that.eye_password = true
            obj.type = "text"
          }

        },
        see_confirm_password: function (value) {
          var that = this
          var obj = document.getElementById("confirm_password");

          if (value == false) {
            that.eye_confirm_password = false
            obj.type = "password"
          }
          else {
            that.eye_confirm_password = true
            obj.type = "text"
          }
        },
        validateEmail: function (sEmail) {
          var filter = /^[\w-.+]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,4}$/;
          return filter.test(sEmail)
        },
        get_social: function () {
          var that = this
          this.social = true

          var data = {
            id_social: that.is_social,
            adminEmail: gup("email") || "N/A",
          }

          $.ajax({
            type: "POST",
            url: api_host + "register_get_social",
            data: JSON.stringify(data),
            dataType: "json",
            success: function (resp) {

              if (resp.success) {

                var user = resp.data
                that.form_register = {
                  adminFisrtname: user.adminFisrtname || "",
                  adminLastname: user.adminLastname || "",
                  adminEmail: user.adminEmail,
                  adminPassword: '',
                  adminPasswordC: "",
                  usability: "individual",
                  type_of_business: "",
                  company_name: "",
                  job_title: "",
                  comTel: "",
                }
                that.form_register.profile_pic = user.profile_pic || ""
                that.type_mail = true

                if (user.is_fb) that.form_register.is_fb = true
                else that.form_register.is_gamil = true

                if (user.google_profile) that.form_register.google_profile = user.google_profile

              }
              else {
                alert("กรุณาเข้าสู่ระบบใหม่อีกครั้ง")
                document.location.href = "login.html"
              }
            },
            error: function (request, status, error) {
              alert("|" + status + ' |' + error);
            }
          });
        },
        select_type_usability: function (usability) {
          var that = this
          that.form_register.usability = usability

        },

      } //end methods
    })

  }

  var lang_register = {
    "signup_title": { "th": "สมัครสมาชิก", "en": "Sign up" },
    "login_title": { "th": "เข้าสู่ระบบ", "en": "Log in" },
    "individual_title": { "th": "บุคคลธรรมดา", "en": "Individual" },
    "company_title": { "th": "นิติบุคคล", "en": "Company" },
    "signup_text": { "th": "สมัครสมาชิก", "en": "Sign up" },
    "first_name": { "th": "ชื่อ", "en": "First Name" },
    "last_name": { "th": "นามสกุล", "en": "Last Name" },
    "email": { "th": "อีเมล", "en": "Email" },
    "password": { "th": "รหัสผ่าน", "en": "Password" },
    "confirm_password": { "th": "ยืนยันรหัสผ่าน", "en": "Confirm Password" },
    "type_business": { "th": "ประเภทธุรกิจ", "en": "Type of business" },
    "company_name": { "th": "ชื่อบริษัท", "en": "Company Name" },
    "designation": { "th": "ตำแหน่ง", "en": "Designation" },
    "comTel": { "th": "เบอร์โทรศัพท์", "en": "Phone Number" },
    "confirmation": { "th": "ยืนยัน", "en": "Confirmation" },
    "tc": { "th": "ข้อตกลงในการใช้งาน", "en": "Terms & Conditions" },
    "already": { "th": "คุณมีบัญชีการใช้งานแล้ว?", "en": "Already have an account?" },
    "max_cha": { "th": "8 ตัวอักษรมากกว่า (สูงสุดไม่เกิน 16 ตัว)", "en": "Your password must be between 8 and 16 characters and is case-sensitive" },
    "upper_case": { "th": "ตัวอักษรพิมพ์ใหญ่และพิมพ์เล็ก", "en": "Your password must contain a minimum of one uppercase letter (A-Z) and a minimum of one lowercase letter (a-z)" },
    "numeric": { "th": "อย่างน้อยหนึ่งตัวเลข (0-9)", "en": "Your password must contain a minimum of one numeric character (0-9)" },
    "required": { "th": "กรุณากรอกข้อมูล", "en": "Required" },
    "pass_invalid": { "th": "รหัสผ่านไม่ถูกต้อง", "en": "Password invalid" },
    "email_already": { "th": "มีอีเมลนี้ในระบบแล้ว", "en": "Email already in used" },
    "email_format": { "th": "รูปแบบอีเมลไม่ถูกต้อง", "en": "Email format invalid" },
    "required_tc": { "th": "กรุณากดยอมรับข้อตกลง", "en": "Required" },
    "t1": { "th": "บัญชีภาษี", "en": "Accounting Tax" },
    "t2": { "th": "บริการทางธุรกิจ / ที่ปรึกษา", "en": "Business Services / Consulting" },
    "t3": { "th": "การก่อสร้าง", "en": "Construction" },
    "t4": { "th": "การศึกษา", "en": "Education" },
    "t5": { "th": "บริการทางการเงิน", "en": "Financial Services" },
    "t6": { "th": "รัฐบาล", "en": "Government" },
    "t7": { "th": "การดูแลสุขภาพ - ผู้จ่ายแผนสุขภาพ", "en": "Healthcare - Health Plans Payers" },
    "t8": { "th": "การดูแลสุขภาพ - ผู้ให้บริการ", "en": "Healthcare - Providers" },
    "t9": { "th": "ประกันภัย", "en": "Insurance" },
    "t10": { "th": "กฎหมาย", "en": "Legal" },
    "t11": { "th": "วิทยาศาสตร์ชีวภาพ", "en": "Life Sciences" },
    "t12": { "th": "การผลิต", "en": "Manufacturing" },
    "t13": { "th": "จำนอง", "en": "Mortgage" },
    "t14": { "th": "องค์กรไม่แสวงหาผลกำไร", "en": "Non-profit organization" },
    "t15": { "th": "อสังหาริมทรัพย์ - เชิงพาณิชย์", "en": "Real Estate - Commercial" },
    "t16": { "th": "อสังหาริมทรัพย์ - ที่อยู่อาศัย", "en": "Real Estate - Residential" },
    "t17": { "th": "ขายปลีก", "en": "Retail" },
    "t18": { "th": "นักศึกษา", "en": "Student" },
    "t19": { "th": "เทคโนโลยี", "en": "Technology" },
    "t20": { "th": "อื่นๆ", "en": "Other" },
    "t21": { "th": "ฉันยอมรับ", "en": "I agree to the" },
    "t22": { "th": "ข้อกำหนดในการให้บริการ ", "en": "Terms of Service and" },
    "t23": { "th": "นโยบายความเป็นส่วนตัว", "en": "Privacy Policy." },
    "t24": { "th": "และ", "en": "and" },
    "next": { "th": "ถัดไป", "en": "Next" },
    "back": { "th": "ย้อนกลับ", "en": "Back" },
  }

</script>


</html>