<!DOCTYPE html>
<html lang="th-TH" dir="ltr">

<head>
  <title>Bangkok Life | Terms & Conditions</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=1">
  <meta content="156004817605-qpm22mpvfvs0ch56s95igt6b1su33g78.apps.googleusercontent.com"
    name="google-signin-client_id">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="icon" type="image/x-icon" href="images/BLA_Icon.ico">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/bla/css/font.css?v=12">
  <link rel="stylesheet" type="text/css" href="css/term.css?v=12">
</head>

<body>

  <div id="app" v-cloak>

    <div class="bg-blue">
      <div class="container pb-5">

        <div class="row">

          <div class="col-12 text-end mt-4" v-if="lang_choose == 'th'">
            <span class="cs-pointer" onclick="swithLang('en')">
                <img src="/esign/images/thai-flag.svg" alt="thai" class="flag-size mx-lg-1 mx-2">
                <span class="rg14-g2 mx-1 cl-FF">ภาษาไทย</span>
            </span>
          </div>
  
          <div class="col-12 text-end mt-4" v-else>
            <span class="cs-pointer" onclick="swithLang('th')">
              <img src="/esign/images/eng-flag.svg" alt="englisg" class="flag-size mx-lg-1 mx-2">
              <span class="rg14-g2 mx-1 cl-FF">English</span>
            </span>
          </div>

          <div class="col-12 mt-4 text-center">
            <img class="head-img" src="images/Creden_logo_white.png" alt="" width="300px">
          </div>

        </div>

        <div class="box-content">
          <div class="row">
            <div class="col-12">
              <h2 class="layout-1">
                {{lang_txt.t1[lang_choose]}}
              </h2>
            </div>

            <div class="col-12 t-title mt-5">
              {{lang_txt.t2[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t3[lang_choose]}}
            </div>

            <div class="col-12 t-title mt-5">
              {{lang_txt.t4[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t5[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t6[lang_choose]}}
            </div>

            <div class="col-12 t-title mt-5">
              {{lang_txt.t7[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t8[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t9[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t10[lang_choose]}}
            </div>
            
            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t11[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t12[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t13[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t14[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t15[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t16[lang_choose]}}
            </div>

            <div class="col-12 t-title mt-5">
              {{lang_txt.t17[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t18[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t19[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t20[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t21[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t22[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t23[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t24[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t25[lang_choose]}}
            </div>

            <div class="col-12 t-title mt-5">
              {{lang_txt.t26[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t27[lang_choose]}}
            </div>

            <div class="col-12 t-title mt-5">
              {{lang_txt.t28[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t29[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t30[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t31[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t32[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t33[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t34[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t35[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t36[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t37[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t38[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t39[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t40[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t41[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t42[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t43[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t44[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t45[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t46[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t47[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t48[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t49[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t50[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t51[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t52[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t53[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t54[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t55[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t56[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t57[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t58[lang_choose]}}
            </div>

            <div class="col-12 t-title mt-5">
              {{lang_txt.t59[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t60[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t61[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t62[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t63[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t64[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t65[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t66[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t67[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t68[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t69[lang_choose]}}
            </div>
            
            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t70[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t71[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t72[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t73[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t74[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t75[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t76[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t77[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t78[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t79[lang_choose]}}
            </div>

            <div class="col-12 t-title mt-5">
              {{lang_txt.t80[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t81[lang_choose]}}
            </div>

            <div class="col-12 t-title mt-5">
              {{lang_txt.t82[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t83[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t84[lang_choose]}}
            </div>

            <div class="col-12 t-title mt-5">
              {{lang_txt.t86[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t87[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t88[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t89[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t90[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t91[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t92[lang_choose]}}
            </div>

            <div class="col-12 t-title mt-5">
              {{lang_txt.t93[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t94[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t95[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t96[lang_choose]}}
            </div>

            <div class="col-12 t-title mt-5">
              {{lang_txt.t97[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t98[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t99[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t100[lang_choose]}}
            </div>

            <div class="col-12 t-desc mt-4">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lang_txt.t101[lang_choose]}}
            </div>

          </div>

        </div>

      </div>
    </div>





    <!-- End App -->
  </div>

</body>

<script type="text/javascript" src="/esign/components/common.js"></script>
<script type="text/javascript" src="components/common_web.js"></script>
<script type="text/javascript" src="/esign/js/jquery-3.3.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

<script>
  $(document).ready(function () {
    app = init_vue()

  });


  function init_vue() {
    return new Vue({
      el: '#app',
      data: {
        lang_choose: localStorage.getItem('lang_choose') || 'th',
        lang_txt: lang_term,
      },
      mounted: function () {


      },
      methods: {


      } //end methods
    })
  }

  var lang_term = {
    "t1": { "th": "ข้อตกลงในการใช้งาน", "en": "Terms & Conditions" },
    "t2": { "th": `ข้อตกลงในการให้บริการหรือข้อกำหนดและเงื่อนไข`, "en": `Service Agreement or Terms & Conditions (hereinafter referred as "Terms of use")` },
    "t3": { 
      "th": `ข้อตกลงนี้เป็นข้อตกลงการให้บริการ Creden e-Signature ที่ลงนามโดย Creden Asia Co. , Ltd. (ในที่นี้เรียกว่า "บริษัท " หรือ "เรา") และผู้ใช้ Creden e-Signature (ในที่นี้เรียกว่า "ผู้ใช้" หรือ "คุณ" ).

บริษัทให้บริการผู้ใช้ ภายใต้แพลตฟอร์ม Creden e-Signature ข้อตกลงนี้มีผลตามสัญญาและผู้ใช้ตรวจสอบเพื่อยืนยันว่าข้อตกลงนี้ได้รับการจัดตั้งขึ้นและมีผลบังคับใช้

ข้อตกลงการใช้บริการ Creden e-Signature ฉบับนี้ ปรับปรุงเมื่อ ..... , ..... และจะมีผลบังคับใช้ในวันที่ ...... , ........`, 
    "en": `This agreement is an Creden e-Signature service agreement signed by Creden Asia Co., Ltd. (hereinafter referred to as "Company" or "we") and Creden e-Signature users (hereinafter referred to as "User" or "you"). 

The company provides users with various services under the Creden e-Signature platform. This agreement has the effect of contract, and the user checks to confirm that this agreement is established and effective.

This Creden e-Signature service agreement is updated on ....., ..... and will come into effect on ......, ........` 
    },
    "t4": { "th": "1. คำชี้แจงและความมุ่งมั่น", "en": "1. Statement and commitment" },
    "t5": { 
      "th": `1.1 คุณยืนยันว่าคุณได้อ่านและเข้าใจเนื้อหาทั้งหมดของข้อตกลงนี้อย่างครบถ้วนก่อนที่คุณจะลงทะเบียนเป็นผู้ใช้ "Creden e-Signature" เมื่อคุณลงทะเบียนสำเร็จเพื่อใช้บริการนี้คุณตกลงที่จะปฏิบัติตามข้อกำหนดทั้งหมดของข้อตกลงนี้ หากคุณไม่เห็นด้วยกับเนื้อหาใด ๆ ของข้อตกลงนี้หรือไม่สามารถเข้าใจเงื่อนไขของข้อตกลงนี้ได้อย่างถูกต้องโปรดอย่าใช้บริการ ในขณะเดียวกันคุณสัญญาว่าจะปฏิบัติตามบทบัญญัติของกฎหมายข้อบังคับกฎระเบียบและเอกสารทางราชการอื่นๆ ของประเทศไทย หากมีผลทางกฎหมายที่เกิดจากการละเมิด คุณจะต้องรับผิดชอบตามกฎหมายที่เกี่ยวข้องทั้งหมดแต่เพียงผู้เดียว`,
      "en": `1.1 You confirm that you have fully read and understood all the contents of this agreement before you register as "Creden e-Signature" user. Once you register successfully to use this service, you agree to abide by all the provisions of this agreement. If you do not agree with any content of this agreement or cannot correctly understand the terms of this agreement, please do not use this service. At the same time, you promise to abide by the provisions of Thailand laws, regulations, rules and other government normative documents. If there is any legal consequence caused by a violation, you are solely responsible for all applicable laws.` 
    },
    "t6": { 
      "th": `1.2 เราอาจแก้ไขข้อตกลงในการให้บริการหรือข้อกำหนดและเงื่อนไขนี้เป็นครั้งคราว หากมีการเปลี่ยนแปลงดังกล่าวภายใต้เงื่อนไขเราจะแจ้งให้คุณทราบโดยการแสดงหน้านี้อย่างชัดเจนและส่งอีเมลถึงคุณก่อนที่การเปลี่ยนแปลงจะมีผล ในกรณีที่คุณยังคงใช้บริการของเรา หมายความว่าคุณตกลงเห็นด้วยตามนโยบายฉบับแก้ไข`, 
      "en": `1.2 We may revise this terms of use from time to time. we will notify you by prominently displaying the page and sending you e-mail before the change takes effect. In this case, if you continue to use our services, you agree to be bound by the revised terms of use.` 
    },
    "t7": { 
      "th": "2. ความหมายและการตีความ", 
      "en": "2. Definition and interpretation" 
    },
    "t8": { 
      "th": `2.1 บัญชี Creden e-Signature

เป็นบัญชีเฉพาะที่บริษัทของเราจัดหาให้คุณ คุณสามารถตั้งรหัสผ่านของคุณเองสำหรับบัญชีที่จะใช้หรือสอบถามบริการที่มีให้โดยแพลตฟอร์ม Creden e-Signature

คุณต้องใช้อีเมลของคุณหรือวิธีอื่น ๆ ที่ บริษัท ของเราอนุญาตเช่นการป้อนรหัสผ่านการกรอกรหัสยืนยันทาง SMS หรือรหัส OTP เป็นต้นเพื่อเข้าสู่ระบบบัญชี`, 
      "en": `2.1 Creden e-Signature account

It is the unique account provided to you by our company. You can set your own password for the account to use or query the service provided by Creden e-Signature platform. 

You need to use your e-mail or other ways allowed by our company, such as entering password, backfilling SMS verification code or OTP code, etc. as a way to log in to the account.` 
    },
    "t9": { 
      "th": `2.2 แพลตฟอร์ม

เว้นแต่จะระบุไว้เป็นอย่างอื่นในข้อตกลงนี้หมายถึง www.creden.co และแอปพลิเคชั่นมือถือที่เกี่ยวข้องกับ Creden e-Signature`, 
      "en": `2.2 Platform

Unless otherwise specified in this agreement, means www.creden.co And Creden e-Signature related mobile application.` 
    },
    "t10": { 
      "th": `2.3 CA ของบุคคลที่สาม

หมายถึงองค์กรที่ออกใบรับรองดิจิทัลของบุคคลที่สามที่มีใบอนุญาตของบริการตรวจสอบความถูกต้องทางอิเล็กทรอนิกส์`, 
      "en": `2.3 Third-party CA

It refers to the third party digital certificate issuing organization with the license of electronic authentication service.` 
    },
    "t11": { 
      "th": `2.4 ใบรับรองการตรวจสอบลายเซ็นอิเล็กทรอนิกส์ (ใบรับรองดิจิทัล)

หมายถึงชุดข้อมูลที่จัดทำโดยศูนย์การตรวจสอบสิทธิ์ดิจิทัลของบุคคลที่สามซึ่งเป็นที่ยอมรับของรัฐซึ่งรวมถึงข้อมูลประจำตัวของผู้ถือใบรับรองคีย์สาธารณะและข้อมูลอื่น ๆ ที่เกี่ยวข้องซึ่งใช้ในการตรวจสอบข้อมูลประจำตัวของเอนทิตีในการสื่อสารทางอินเทอร์เน็ต ความปลอดภัยของข้อมูลออนไลน์`, 
      "en": `2.4 Electronic signature authentication certificate (digital certificate)

It refers to a series of data provided by the state recognized third-party digital authentication center, including the identity information of certificate holder, public key and other related information, which is used to verify the identity information of entities in Internet communication and ensure the security of online information.` 
    },
    "t12": { 
      "th": `2.5 ลายมือชื่อ

ลายมือชื่ออิเล็กทรอนิกส์แบบทั่วไป และ ลายมือชื่ออิเล็กทรอนิกส์ที่เชื่อถือได้ (ในที่นี้เรียกว่า "ลายเซ็น")

ลายมือชื่ออิเล็กทรอนิกส์แบบทั่วไป (ประเภทที่ 1) คือรูปแบบของลายเซ็นที่สามารถนำมาใช้ประกอบในกระบวนการลงลายเซ็นอิเล็กทรอนิกส์ในระบบงานอัตโนมัติ (automated workflow system) ซึ่งมีการควบคุมการเข้าถึง การยืนยันตัวตน และการตรวจสอบสิทธิของผู้ใช้งาน ก่อนอนุญาตให้ผู้ใช้งานดำเนินการลงลายเซ็นอิเล็กทรอนิกส์ เช่น ระบบอีเมลที่มีการยืนยันความถูกต้องของผู้ส่งอีเมลและการส่งอีเมล ระบบอนุมัติเอกสารภายในหน่วยงานที่มีการเก็บรักษาบันทึกธุรกรรม (transaction record) ไว้ในระบบการจัดการเอกสารที่เหมาะสม

ลายมือชื่ออิเล็กทรอนิกส์ที่เชื่อถือได้ (ประเภทที่ 2) เป็นลายเซ็นที่ได้จากกระบวนการเข้ารหัสลับข้อมูลอิเล็กทรอนิกส์
หรือแฮชของข้อมูลอิเล็กทรอนิกส์ด้วยกุญแจส่วนตัว (private key) ในระบบรหัสแบบอสมมาตร (asymmetric cryptography) ซึ่งมีคุณสมบัติด้านความมั่นคงปลอดภัยในการช่วยให้สามารถยืนยันตัวเจ้าของลายเซ็น  และตรวจพบการเปลี่ยนแปลงของข้อความและลายเซ็นอิเล็กทรอนิกส์ได้ (data integrity)`, 
      "en": `2.5 Signature

Electronic signature and Digital signature (Hereinafter referred to as "Signature")

Electronic signature (Type 1) is a electronic signature format that can be incorporated into the electronic signing process in the automated workflow system with access control. Identity verification and checking user rights before allowing users to perform electronic signature operations, such as e-mail systems that verify the authenticity. With the document approval system in the organization where transaction records are kept in an appropriate document managemen

Electronic signature (Type 2) is an electronic signature obtained through the process of encrypting electronic information.
Or a hash of electronic data with a private key in an asymmetric coding system Which has security features to help verify the owner's signature And changes to the message and the electronic signature can be detected.` 
    },
    "t13": { 
      "th": `2.6 ตราประทับอิเล็กทรอนิกส์

ข้อมูลภาพอิเล็กทรอนิกส์ของตราประทับทางกายภาพแบบดั้งเดิมที่ใช้เทคโนโลยีลายเซ็นดิจิทัลมีลักษณะพื้นฐานของการจัดเก็บข้อมูลดิจิทัลการระบุตัวตนที่ไม่ซ้ำกันการป้องกันโดยใช้เทคโนโลยีลายเซ็นดิจิทัลและการอนุญาต`, 
      "en": `2.6 Electronic seal

The electronic image data of traditional physical seal based on digital signature technology has the basic characteristics of digital storage, unique identification, protection based on digital signature technology and authorization.` 
    },
    "t14": { 
      "th": `2.7 ลายเซ็นที่วาดด้วยมือ

ข้อมูลภาพอิเล็กทรอนิกส์ของลายเซ็นที่เขียนด้วยลายเซ็นแบบดั้งเดิมที่ใช้เทคโนโลยีลายเซ็นดิจิทัลมีลักษณะพื้นฐานของการจัดเก็บข้อมูลดิจิทัลการระบุตัวตนที่ไม่ซ้ำกันการป้องกันโดยใช้เทคโนโลยีลายเซ็นดิจิทัลและการอนุญาต`, 
      "en": `2.7 Hand drawn signature

The electronic image data of traditional handwritten signature based on digital signature technology has the basic characteristics of digital storage, unique identification, protection based on digital signature technology and authorization.` 
    },
    "t15": { 
      "th": `2.8 การประทับเวลา

หมายถึงการประทับเวลาตามกฎหมายที่จัดทำโดยบุคคลที่สามซึ่งพิสูจน์ได้ว่าข้อมูลอิเล็กทรอนิกส์มีอยู่ ณ ช่วงเวลาหนึ่งและสามารถพบการเปลี่ยนแปลงใด ๆ หลังจากจุดเวลานั้นได้`, 
      "en": `2.8 Time stamp

It refers to the legal time stamp provided by a third party, which proves that a piece of electronic data has existed at a certain time point, and any modification after that time point can be found.`
    },
    "t16": { 
      "th": `2.9 เอกสาร

เอกสารอิเล็กทรอนิกส์และเอกสาร (ต่อไปนี้เรียกว่า "เอกสาร")`, 
      "en": `2.9 Document

Electronic document and document (Hereinafter referred to as "Document")` 
    },
    "t17": { "th": "3. เนื้อหาบริการ", "en": "3. Service content" },
    "t18": { "th": "3.1 บริการลายเซ็นอิเล็กทรอนิกส์", "en": "3.1 electronic signature service" },
    "t19": { 
      "th": `3.1.1 คุณสามารถสร้างข้อมูลลายเซ็นอิเล็กทรอนิกส์ของคุณเองผ่านแพลตฟอร์ม Creden e-Signature คุณสามารถสมัครใบรับรองดิจิทัลได้โดยเลือกวิธีที่เหมาะสมสำหรับการยืนยันตัวตนของคุณบนแพลตฟอร์ม Creden e-Signature คุณสามารถสร้างตราประทับส่วนตัวของคุณเองได้โดยเลือกบริการประทับตราเช่นการอัปโหลดตราประทับส่วนบุคคล คุณสามารถตรวจสอบเอกสารอิเล็กทรอนิกส์ที่เกี่ยวข้องได้บนแพลตฟอร์ม Creden e-Signature และใช้ตราประทับส่วนตัวของคุณตามความต้องการส่วนตัวของคุณ เรียกใช้คีย์ส่วนตัวใบรับรองดิจิทัลของคุณเพื่อกรอกลายเซ็นของเอกสารอิเล็กทรอนิกส์`, 
      "en": `3.1.1 You can make your own electronic signature data through Creden e-Signature platform. You can apply for digital certificate by choosing the right way for your identity authentication on Creden e-Signature platform. You can make your own personal seal by choosing seal services such as personal seal upload. You can check the corresponding electronic documents on Creden e-Signature platform and use your personal seal. According to your personal wishes, call your digital certificate private key to complete the signature of documents.` 
    },
    "t20": { "th": "3.1.2 เมื่อคุณเซ็นเอกสารบนแพลตฟอร์ม Creden e-Signature จะประทับเวลา(Time Stamp) เพื่อกำหนดเวลาลงนามของลายเซ็นแต่ละรายการ", "en": "3.1.2 when you sign a document. the Creden e-Signature platform will stamp the document with a time stamp to determine the signing time of each signature." },
    "t21": { "th": "3.1.3 Creden e-Signature ช่วยให้มั่นใจได้ว่าข้อมูลการสร้างลายเซ็นที่คุณสร้างบนแพลตฟอร์มเป็นของคุณแต่เพียงผู้เดียวและคุณเป็นผู้ควบคุม", "en": "3.1.3 Creden e-Signature ensures that the signature creation data you make on the platform is exclusively owned by you and controlled by you." },
    "t22": { "th": "3.2 บริการจัดเก็บข้อมูล", "en": "3.2 Data storage service" },
    "t23": { "th": "3.2.1 เพื่อให้แน่ใจว่าเอกสารของคุณจะชัดเจนมากขึ้นในภายหลังคุณอนุญาตให้แพลตฟอร์ม Creden e-Signature รวบรวมและแก้ไขข้อมูลการลงนามของคุณซึ่งรวมถึงแต่ไม่จำกัด เพียงข้อมูลอุปกรณ์ข้อมูลเครือข่ายบันทึกระบบผู้ลงนาม ข้อมูลประจำตัววิธีการลงนามและข้อมูลอื่น ๆ ของบัญชีการดำเนินการ", "en": "3.2.1 in order to ensure that your document can be more evidentiary in the later stage, you authorize Creden e-Signature platform to collect and fix your signing information, including but not limited to the equipment information, network information, system log, signer's identity information, signing method and other data of the operation account." },
    "t24": { "th": "3.2.2 เอกสารอิเล็กทรอนิกส์และข้อมูลการลงนามที่คุณลงนามจะถูกส่งไปยังระบบของ Creden e-Signature แบบเรียลไทม์และแก้ไขโดยเทคโนโลยีการประทับเวลาแบบเรียลไทม์", "en": "3.2.2 the electronic documents and signing information signed by you will be transmitted to Creden e-Signature's system synchronously in real time, and fixed by time stamp technology in real time;" },
    "t25": { "th": "3.2.3 สำหรับเอกสารอิเล็กทรอนิกส์แบบคงที่หรือข้อมูลลายเซ็นคุณสามารถออกรายงานหลักฐานฉบับอิเล็กทรอนิกส์หรือกระดาษผ่านแพลตฟอร์ม Creden e-Signature เพื่อพิสูจน์ความถูกต้องของเอกสารและกระบวนการลงนาม", "en": "3.2.3 for the fixed electronic document or signature information, you can issue electronic or paper version evidence report through Creden e-Signature platform to prove the authenticity of document and signature process." },
    "t26": { "th": "4. ค่าบริการ", "en": "4. Service fees" },
    "t27": { "th": "เมื่อคุณใช้บริการนี้บริษัทมีสิทธิ์ที่จะเรียกเก็บค่าบริการจากคุณ บริษัทมีสิทธิ์กำหนดและปรับอัตราค่าบริการ ค่าบริการเฉพาะจะอยู่ภายใต้การประกาศวิธีการเรียกเก็บเงินที่ระบุไว้ในหน้าผลิตภัณฑ์ของเว็บไซต์นี้ เมื่อคุณใช้บริการหรือข้อตกลงที่เป็นลายลักษณ์อักษรอื่นๆ ที่ตกลงกันระหว่างคุณและบริษัท", "en": "When you use this service, the company has the right to charge you for the service. The company has the right to formulate and adjust the service fee. The specific service fee is subject to the announcement of the charging method listed on the product page of this website when you use the service or other written agreements reached between you and the company." },
    "t28": { "th": "5. บัญชีผู้ใช้", "en": "5. User account" },
    "t29": { "th": "5.1 การลงทะเบียนที่เกี่ยวข้อง", "en": "" },
    "t30": { "th": "5.1.1 ผู้ใช้ Creden e-Signature แบ่งออกเป็นผู้ใช้รายบุคคลและผู้ใช้แบบองค์กร เมื่อคุณตกลงที่จะยอมรับข้อตกลงนี้และลงทะเบียนในฐานะผู้ใช้ Creden e-Signature คุณมีอายุมากกว่า 18 ปีหรือคุณดำเนินกิจกรรมทางธุรกิจหรือกิจกรรมอื่น ๆ ในประเทศไทยอย่างถูกกฎหมาย บุคคลตามกฎหมายหรือองค์กรอื่น ๆ ของธุรกิจ เนื้อหาของข้อตกลงนี้ไม่ได้รับการยกเว้นโดยกฎหมายในประเทศหรือภูมิภาคของคุณ หากคุณไม่ปฏิบัติตามเงื่อนไขดังกล่าวคุณควรยุติการลงทะเบียนทันทีหรือหยุดใช้บริการ", "en": "5.1.1 Creden e-Signature users are divided into individual users and corporate users. When you agree to accept this agreement and register as Creden e-Signature user, you are over 18 years old, or you are legally carrying out business activities or other activities in Thailand. The legal person or other organization of the business; The content of this agreement is not excluded by the laws of your country or region. If you do not meet the aforementioned conditions, you should immediately terminate the registration or stop using the service." },
    "t31": { "th": "5.1.2 บัญชี Creden e-Signature เป็นบัญชีเฉพาะที่แพลตฟอร์มนี้มอบให้คุณ เว้นแต่จะระบุไว้เป็นอย่างอื่นในข้อตกลงนี้หรือผลิตภัณฑ์ที่เกี่ยวข้องคุณต้องลงทะเบียนบนเว็บไซต์นี้หรือเข้าสู่ระบบผ่านอีเมลหรือรหัสยืนยันมือถือ เพื่อรับสร้างบัญชี Creden e-Signature ที่บริษัทจัดหาให้และให้ข้อมูลที่เกี่ยวข้องตามข้อกำหนดของเราก่อนจึงจะสามารถใช้งานบริการได้ทั้งหมด", "en": "5.1.2 Creden e-Signature account is the unique account provided to you by this platform. Unless otherwise specified in this agreement or related products, you must register on this website or log in through email or mobile verification code to obtain the Creden e-Signature account provided by the company, and provide relevant information according to our requirements before you can use all the services." },
    "t32": { "th": "5.1.3 คุณควรกรอกข้อมูลการลงทะเบียนที่เว็บไซต์นี้กำหนดให้คุณต้องให้อย่างถูกต้องและตรงตามความเป็นจริง อัพเดทข้อมูลอยู่เสมอและตรวจสอบความถูกต้องของข้อมูลติดต่อและที่อยู่อีเมลของคุณเพื่อให้เราสามารถติดต่อคุณได้อย่างมีประสิทธิภาพ และทันท่วงที", "en": "5.1.3 You should accurately and truthfully fill in the registration information that this website requires you to provide, conscientiously improve your personal information, and ensure the authenticity of your contact information and email address, so that we can contact you in a timely and effective manner." },
    "t33": { "th": "5.1.4 คุณยืนยันว่าหากคุณลงทะเบียนบนแพลตฟอร์มนี้ในนามของบุคคลธรรมดาบุคคลตามกฎหมายและองค์กรอื่น ๆ คุณรับประกันว่าคุณได้รับการอนุญาตตามกฎหมายและผูกพันตามข้อตกลงนี้", "en": "5.1.4 You confirm that if you register on this platform on behalf of other natural persons, legal persons and other organizations, you declare and warrant that you have obtained their legal authorization and are bound by this agreement." },
    "t34": { "th": "5.2 การพิสูจน์ตัวตน", "en": "5.2 Identity Authentication" },
    "t35": { "th": "5.2.1 หลังจากที่คุณได้รับบัญชี Creden e-Signature ผ่านการลงทะเบียนหรือวิธีการอื่นๆที่บริษัทอนุญาต คุณสามารถใช้บริการอัปโหลดใบรับรองอิเล็กทรอนิกส์ที่ Creden จัดเตรียมไว้ให้ หรือคุณสามารถเลือกได้ว่าจะใช้บริการ e-KYC ที่ Creden จัดหาให้", "en": "5.2.1 After you have actually obtained an Creden e-Signature account through registration or other methods allowed by company, you can use the digital certificate upload service provided by Creden. You can choose whether to use the e-KYC service provided by Creden." },
    "t36": { "th": "5.2.2 หากคุณกรอกลายเซ็นโดยไม่มีการพิสูจน์ตัวตนแม้ว่าข้อมูลอิเล็กทรอนิกส์ที่ลงนามโดยลายเซ็นจะสามารถทำหน้าที่ป้องกันการปลอมแปลงได้ แต่เนื่องจากบัญชีของคุณบน Creden e-Signature ไม่สามารถยืนยันตัวตนที่แท้จริงของคุณได้ ข้อมูลอิเล็กทรอนิกส์ที่มีได้รับการลงนามทางอิเล็กทรอนิกส์โดยคุณอาจไม่ได้รับการยอมรับจากหน่วยงานในกระบวนการยุติธรรมเนื่องจากเหตุผล เช่น ไม่ทราบตัวตนของบุคคล", "en": "5.2.2 If you complete the signature without identity authentication, although the electronic data signed by the signature can achieve the function of tamper-proof, but because your account on Creden e-Signature fails to verify your real identity, The electronic data that has been electronically signed by you may not be recognized by the judicial authorities due to reasons such as the identity of the subject is unknown." },
    "t37": { "th": "5.2.3 หากคุณกรอกลายเซ็นโดยไม่มีการพิสูจน์ตัวตนคุณควรแจ้งให้ฝ่ายที่ลงนามในเอกสารทราบถึงความเสี่ยงและความรับผิดชอบในการลงนามในเอกสารโดยไม่ต้องพิสูจน์ตัวตนอย่างชัดเจนและระบุอย่างชัดเจนในเอกสาร ตรวจสอบให้แน่ใจว่าทุกฝ่ายในสัญญาลงนามในเอกสารเมื่อตระหนักถึงความเสี่ยงและความรับผิดชอบอย่างชัดเจน", "en": "5.2.3 If you complete the signature without identity authentication, you should clearly inform the parties signing the document of the risks and responsibilities of signing the document without identity authentication, and indicate clearly in the document. Clearly, ensure that all parties to the contract signed the document when clearly aware of the risks and responsibilities." },
    "t38": { "th": "5.2.4 คุณตระหนักถึงผลทางกฎหมายของการไม่ยืนยันตัวตนโดยคุณและผู้ที่เกี่ยวข้อง คุณสามารถเลือกได้ว่าจะใช้การตรวจสอบตัวตนของบริษัท ตามสถานการณ์และความต้องการในการใช้งานจริงของคุณหรือไม่ หากคุณไม่ได้ใช้ในการพิสูจน์ตัวตนของบริษัทที่จัดหาให้ หากเอกสารที่คุณและผู้ที่เกี่ยวข้องลงนาม ไม่ถูกต้องตามกฎหมายบริษัทจะไม่รับผิดชอบ บริษัทเป็นเพียงผู้ให้บริการด้านเทคนิคสำหรับการพิสูจน์ตัวตนและผู้ให้บริการ บริษัทไม่ได้เป็นคนกำหนดว่าคุณจะต้องเลือกการยืนยันตัวตนแบบใดเพื่อรับผิดชอบผลทางกฎหมาย", "en": "5.2.4 You are aware of the legal consequences of not verifyed identity by you and your signed affiliates. You can choose whether to use the company’s identity authentication according to your actual application scenarios and needs. If you have not used the company’s identity authentication medthods, If the document signed by you and your signed affiliates is not legally valid, the company is not liable. The company is only a technical service provider for identity authentication and electronic signature. The company does not determine whether you choose identity authentication, Or choose different types of identity authentication to take responsibility for the legal consequences." },
    "t39": { "th": "5.2.5 คุณควรทำการยืนยันตัวตนของคุณให้เสร็จสิ้น หากเอกสารที่ลงนามไม่ได้รับการคุ้มครองตามกฎหมายที่เกี่ยวข้อง คุณต้องรับผิดชอบทางกฎหมายที่เกี่ยวข้อง แต่เพียงผู้เดียว", "en": "5.2.5 You should complete your identity verification. If the signed document are not protected by relevant laws, you solely corresponding legal responsibilities." },
    "t40": { "th": "5.3 ข้อมูลที่เกี่ยวข้อง", "en": "5.3 Information related" },
    "t41": { "th": "5.3.1 คุณควรอัปเดตข้อมูลที่ถูกต้องเป็นปัจจุบันและสมบูรณ์หลังจากได้รับบัญชีตามข้อกำหนดของ Creden e-Signature หาก บริษัท มีเหตุอันควรสงสัยว่าข้อมูลและเอกสารที่เกี่ยวข้องที่คุณให้มานั้นไม่ถูกต้องเป็นเท็จล้าสมัยหรือไม่สมบูรณ์ บริษัทมีสิทธิ์ที่จะระงับหรือยุติการให้บริการ Creden e-Signature บางส่วนหรือทั้งหมดแก่คุณ บริษัทจะไม่รับผิดชอบใดๆ ในเรื่องนี้และคุณจะต้องรับผิดชอบค่าใช้จ่ายใดๆที่เกิดขึ้นทั้งทางตรงและทางอ้อม หากเป็นไปตามกฎหมายและข้อบังคับของประเทศ หรือข้อกำหนดของหน่วยงานกำกับดูแล บริษัทต้องการให้คุณให้ข้อมูลที่เกี่ยวข้องหากคุณไม่สามารถให้ข้อมูลได้ทันเวลา บริษัทมีสิทธิ์ที่จะระงับหรือยุติการให้บางส่วนหรือทั้งหมด ของบริการ Creden e-Signature ให้กับคุณ หากคุณไม่จัดหาข้อมูลที่เกี่ยวข้องและทำให้เกิดการสูญเสีย บริษัทจะไม่รับผิดชอบใด ๆ", "en": "5.3.1 You should update your correct, up-to-date and complete identity information after obtaining the account in accordance with the requirements of Creden e-Signature. If the company has reasonable grounds to suspect that the identity information and related materials you provide are wrong, false, outdated or incomplete, the company has the right to suspend or terminate the provision of part or all of the Creden e-Signature service to you. The company does not bear any responsibility for this, and you will bear any direct or indirect expenses incurred. If due to national laws and regulations or requirements of regulatory agencies, the company needs you to provide any relevant information, if you fail to provide it in time, the company has the right to suspend or terminate the provision of part or all of the Creden e-Signature service to you. If you fail to provide relevant materials and cause any loss, the company will not bear any responsibility." },
    "t42": { "th": "5.3.2 คุณควรระบุข้อมูลให้ถูกต้องและอัปเดตที่อยู่อีเมลและข้อมูลติดต่อที่คุณให้ไว้อย่างถูกต้อง เพื่อให้บริษัทสามารถติดต่อคุณได้อย่างทันท่วงทีและมีประสิทธิภาพ คุณจะต้องรับผิดชอบแต่เพียงผู้เดียวสำหรับความสูญเสียหรือค่าใช้จ่ายที่เพิ่มขึ้นและผลกระทบที่ไม่พึงประสงค์อื่นๆที่เกิดขึ้นระหว่างการใช้บริการนี้เนื่องจากไม่สามารถติดต่อกับคุณผ่านวิธีการติดต่อเหล่านี้ คุณเข้าใจและยอมรับว่าคุณมีหน้าที่ต้องรักษาความถูกต้องของข้อมูลการติดต่อที่คุณให้ไว้และหากมีการเปลี่ยนแปลงที่จำเป็นต้องได้รับการอัปเดตคุณควรดำเนินการตามข้อกำหนดของบริษัท", "en": "5.3.2 You should accurately provide and update the email address and contact information you provided in a timely manner so that the company can contact you in a timely and effective manner. You shall be solely responsible for any loss or any increase in costs and other adverse consequences you incur during the use of this service due to the inability to get in touch with you through these contact methods. You understand and agree that you are obligated to maintain the validity of the contact information you provide, and if there is a change that needs to be updated, you should operate according to the company's requirements." },
    "t43": { "th": "5.3.3 คุณควรอัปเดตข้อมูลของคุณอย่างทันท่วงที (รวมถึงแต่ไม่จำกัดเพียง บัตรประจำตัวประชาชน และเอกสารระบุตัวตนอื่น ๆ ข้อมูลติดต่ออีเมลหรือหมายเลขโทรศัพท์มือถือ) ผลที่ตามมาทั้งหมดที่เกิดจากความล้มเหลวในการอัปเดตข้อมูลของคุณในเวลาที่เหมาะสมจะตกเป็นความรับผิดชอบของคุณ รวมถึงแต่ไม่จำกัดเพียงผลที่ตามมารวมตลอดถึงความล้มเหลวในการให้บริการ หรือข้อผิดพลาดใดๆที่เกิดขึ้นเมื่อมีการให้บริการ)", "en": "5.3.3 You should update your information in a timely manner (including but not limited to ID cards, and other identification documents, contact information, email or mobile phone number, etc.) All consequences caused by your failure to update the information in a timely manner shall be borne by you. The consequences include, but are not limited to, the failure to provide this service or any errors that occur when the service is provided, and the account production data are stolen by others." },
    "t44": { "th": "5.3.4 หากคุณเป็นผู้ใช้รายบุคคล คุณตกลงว่าบริษัทนั้นมีสิทธิ์ตรวจสอบบัตรประจำตัวประชาชนที่ถูกต้องหรือเอกสารที่จำเป็นอื่นๆ และเก็บสำเนาสแกนสีของบัตรประจำตัวประชาชน และคุณควรให้ความร่วมมืออย่างจริงจังมิฉะนั้นบริษัทมีสิทธิ์จำกัดหรือหยุดให้บริการ Creden e-Signature บางส่วนหรือทั้งหมดแก่คุณ ในขณะเดียวกันคุณยอมรับว่าบริษัทมีสิทธิ์ในการส่งข้อมูลส่วนบุคคลของคุณสำเนาหรือสแกนสำเนาใบรับรองของคุณไปยังสถาบันอ้างอิงเครดิตและผู้ให้บริการข้อมูลอื่นๆ ที่มีคุณสมบัติที่เป็นที่ยอมรับในระดับชาติซึ่งจะถูกใช้และบันทึกไว้เพื่อวัตถุประสงค์ในการยืนยันตัวตนของคู่สัญญา", "en": "5.3.4 If you are an individual user, you confirm that the company has the right to check your valid ID card or other necessary documents, and keep the color scanned copy of the valid ID card. You should actively cooperate, Otherwise, the company has the right to limit or stop providing part or all of the Creden e-Signature service to you; at the same time, you agree that the company has the right to transmit your personal identity information, copy or scanned copy of your certificate to credit reference institutions and other data service providers with national recognized qualifications, which will be used and saved for the purpose of verifying the identity of the contracting party." },
    "t45": { "th": "5.3.5 หากคุณเป็นผู้ใช้ระดับองค์กรและองค์กรของคุณถูกรวมเลิกกิจการยกเลิกประกาศล้มละลายหรือปิดตัวลงหรือใบอนุญาตประกอบธุรกิจของคุณถูกเพิกถอน คุณควรแจ้ง Creden e-Signature เป็นลายลักษณ์อักษรภายใน 5 วันทำการของสถานการณ์ข้างต้น และยุติการใช้งานบัญชี Creden e-Signature ที่ลงทะเบียนกับผู้ใช้องค์กรและใบรับรองดิจิทัลที่เกี่ยวข้อง มิฉะนั้น Creden มีสิทธิ์ยกเลิกบริการและใบรับรองดิจิทัลของคุณได้ทุกเมื่อโดยไม่ต้องรับผิดใดๆ ต่อการละเมิดสัญญา หากคุณไม่ปฏิบัติตามข้อผูกพันในการแจ้งเตือนและก่อให้เกิดความสูญเสียต่อ Creden e-Signature คุณจะต้องรับผิดชอบค่าชดเชยทั้งหมด", "en": "5.3.5 If you are an enterprise user, and your enterprise is merged, dissolved, cancelled, declared bankrupt or closed down, or your business license is revoked, you should inform Creden e-Signature in writing within 5 working days of the above situation, and terminate the use of your Creden e-Signature account registered with the enterprise user and the corresponding digital certificate. Otherwise, Creden has the right to cancel your service and your digital certificate at any time without any liability for breach of contract. If you fail to fulfill the notification obligation and cause losses to Creden e-Signature, you shall be responsible for all compensation." },
    "t46": { "th": "5.4 การยกเลิก", "en": "5.4 Cancellation related" },
    "t47": { "th": "5.4.1 บัญชี Creden e-Signature ที่คุณใช้สำหรับการยกเลิกควรเป็นบัญชีที่คุณลงทะเบียนตามข้อตกลงการลงทะเบียน Creden e-Signature คุณควรยกเลิกบัญชีของคุณตามขั้นตอนที่ บริษัทกำหนด", "en": "5.4.1 the Creden e-Signature account you apply for cancellation should be the one you registered in accordance with Creden e-Signature registration agreement. You should cancel your account in accordance with the procedures stipulated by the company." },
    "t48": { "th": "5.4.2 การยกเลิกบัญชีเป็นการดำเนินการที่ไม่สามารถกู้คืนได้ คุณจะไม่สามารถใช้บัญชีหรือเรียกดูเนื้อหาใดๆ ที่คุณเพิ่มหรือผูกไว้กับบัญชีได้อีกต่อไป รวมถึงลายเซ็นใบรับรองดิจิทัลประทับตราอิเล็กทรอนิกส์ เอกสารและบันทึกลายเซ็นข้อมูลที่เกี่ยวข้อง (แม้ว่าคุณจะลงทะเบียนอีกครั้งด้วย หมายเลขโทรศัพท์มือถือหรืออีเมลเดียวกันและใช้บริการ) คุณควรสำรองข้อมูลและข้อมูลที่เกี่ยวข้องกับบัญชีด้วยตัวเอง โปรดยืนยันว่าเอกสารทั้งหมดที่เกี่ยวข้องกับบัญชีได้รับการดำเนินการอย่างถูกต้องก่อนดำเนินการยกเลิก", "en": "5.4.2 Canceling an account is an irrecoverable operation. You will no longer be able to use the account or retrieve any content that you added or bound to the account, including signature, digital certificate, electronic seal, document and signature record related information (even if you register again with the same mobile phone number or email and use the service), you should back up the information and data related to the account by yourself. Please confirm that all documents related to the account have been properly processed before operation." },
    "t49": { 
      "th": `5.4.3 การยกเลิกบัญชี Creden e-Signature จะส่งผลให้สิทธิและหน้าที่ของทั้งสองฝ่ายตกลงกันโดยบริษัทและคุณ ในขณะเดียวกันก็อาจให้ผลลัพธ์ต่อไปนี้ในบัญชีซึ่งคุณจะต้องรับผิดชอบ:

A. ข้อมูลส่วนตัวและเอกสารที่ลงนามทั้งหมดของบัญชีจะไม่ถูกเรียกคืน

B. ยอดคงเหลือของค่าบริการแพ็กเกจที่เติมโดยบัญชีนี้จะไม่ถูกส่งคืน`, 
      "en": `5.4.3 the cancellation of Creden e-Signature account will result in the termination of the rights and obligations of both parties agreed by the company and you. At the same time, it may also produce the following results on the account, which shall be borne by you:

A. All personal data and signed documents of the account will not be retrieved.

B. The balance of the package charge recharged by this account will not be returned.` 
    },
    "t50": { "th": "5.4.4 บัญชี Creden e-Signature ที่คุณใช้สำหรับการยกเลิกจะต้องปราศจากความสัมพันธ์ทางสัญญาใดๆ ที่ไม่มั่นคงที่เกิดจากการยกเลิกบัญชีและสิทธิ์และภาระผูกพันอื่นๆ ที่เกิดขึ้นหรือคงไว้ตามการมีอยู่ของบัญชี และบริษัทเชื่อว่าการยกเลิกบัญชีจะส่งผลให้เกิดข้อพิพาทเกี่ยวกับสิทธิ์และภาระผูกพันที่ยังไม่ยุติ", "en": "5.4.4 the Creden e-Signature account you apply for cancellation shall be free from any unsettled contractual relationship caused by the cancellation of the account and other rights and obligations arising or maintained based on the existence of the account, and the company believes that the cancellation of the account will result in disputes over the unsettled rights and obligations" },
    "t51": { "th": "5.4.5 ในช่วงเวลาของการยกเลิกบัญชีหากบัญชีของคุณถูกร้องเรียนโดยผู้อื่น หรือการสอบสวนโดยหน่วยงานของรัฐ หรือในการดำเนินคดีหรือกระบวนการอนุญาโตตุลาการ หรือพบว่ามีสถานการณ์ใดๆ บริษัทมีสิทธิ์ที่จะยุติการยกเลิกบัญชีของคุณ โดยไม่ได้รับความยินยอมจากคุณ", "en": "5.4.5 during the period of the account cancellation, if your account is complained by others, investigated by state organs, or in litigation or arbitration proceedings, or is found to have any circumstances, our company has the right to terminate the cancellation of your account without your consent." },
    "t52": { "th": "5.4.6 คุณยอมรับว่าหากบริษัทจำเป็นต้องตรวจสอบการลงนามในเอกสารที่เกี่ยวข้องของคุณเมื่อคุณยื่นขอยกเลิกบัญชี บริษัทมีสิทธิ์ที่จะอายัดบัญชีของคุณต่อไปเพื่อการตรวจสอบเพิ่มเติมและมีสิทธิ์รายงานการฉ้อโกง หรือพฤติกรรมที่ผิดกฎหมายต่อหน่วยงานกำกับดูแลหรือกระบวนการยุติธรรมเมื่อจำเป็น การยกเลิกบัญชีของคุณไม่ได้หมายความว่าการยกเลิกบัญชีของคุณและความรับผิดชอบที่เกี่ยวข้องจะได้รับการยกเว้นหรือบรรเทาลง", "en": "5.4.6 you agree that if the company is still or needs to verify your relevant document signing when you apply for cancellation of the account, the company has the right to continue to freeze your account for further verification, and has the right to report fraud or illegal behavior to the regulatory or judicial departments when necessary. The cancellation of your account does not mean that the cancellation of your account and the related responsibilities will be exempted or mitigated." },
    "t53": { "th": "5.5 ความปลอดภัยของบัญชี", "en": "5.5 Account security" },
    "t54": { "th": "5.5.1 คุณควรเก็บชื่อล็อกอินรหัสผ่าน รหัสยืนยัน โทรศัพท์มือถือและข้อมูลอื่นๆให้ถูกต้อง คุณควรแบกรับความสูญเสียที่เกิดจากการรั่วไหลของรหัสผ่านและการรั่วไหลของข้อมูลอันเนื่องมาจากเหตุผลของคุณเอง ความสูญเสียใดๆที่เกิดจากการสูญหายข้อมูลเหล่านี้จะตกเป็นภาระของคุณ", "en": "5.5.1 You should keep your e-signer login name, password, mobile phone, PIN code and other information properly. You should bear the loss caused by password leakage due to your own reasons. Any loss caused by the loss of these informations shall be borne by you." }, 
    "t55": { "th": "5.5.2 หากคุณพบว่ามีผู้อื่นแอบอ้างใช้หรือยักยอกบัญชีของคุณหรือสถานการณ์อื่นใดโดยไม่ได้รับอนุญาตตามกฎหมายหรือสถานการณ์อื่น ๆ อาจเป็นอันตรายต่อความปลอดภัยของบัญชีของคุณคุณควรแจ้งให้บริษัททราบทันที และแจ้งให้บริษัททำการการระงับบริการที่เกี่ยวข้อง คุณเข้าใจดีว่าบริษัทต้องการระยะเวลาที่เหมาะสมในการดำเนินการตามคำขอของคุณ บริษัทจะไม่รับผิดชอบต่อคำสั่งดำเนินการและ / หรือความสูญเสียของคุณ", "en": "5.5.2 if you find that someone else falsely uses or embezzles your account or any other situation without legal authorization, or other situation may endanger the security of your account, you should immediately notify the company in an effective way and apply to the company for suspension of relevant services. You understand that the company needs a reasonable period of time to take action on your request. Before that, the company will not be responsible for the executed instructions and / or your losses." },
    "t56": { "th": "5.5.3 คุณควรตรวจสอบให้แน่ใจว่าคุณออกจากเว็บไซต์ด้วยขั้นตอนที่ถูกต้องเมื่อสิ้นสุดระยะเวลาการเข้าสู่ระบบอย่างต่อเนื่อง บริษัทไม่สามารถและจะไม่รับผิดชอบต่อความสูญเสียความเสียหายและผลเสียอื่นๆ ที่เกิดจากการที่คุณไม่ปฏิบัติตามข้อนี้", "en": "5.5.3 you should ensure that you leave the website with the correct steps at the end of the continuous login period. The company cannot and will not be responsible for any loss, damage and other adverse consequences arising from your failure to comply with this clause." },
    "t57": { "th": "5.5.4 คุณยืนยันว่าคุณควรรับผิดชอบบัญชีของคุณและมีเพียงคุณเท่านั้นที่สามารถใช้บัญชีนี้ได้ บัญชีนี้ไม่สามารถโอนให้บริจาคหรือสืบทอดได้ แต่ทรัพย์สินที่เกี่ยวข้องในบัญชีสามารถสืบทอดได้ตามกฎหมาย เมื่อคุณตัดสินใจที่จะไม่ใช้บัญชีคุณควรส่งออกหรือลบข้อมูลที่มีอยู่ในบัญชีและนำไปใช้กับบริษัท เพื่อยกเลิกบัญชีตามกระบวนการที่บริษัทกำหนด", "en": "5.5.4 you confirm that you should be responsible for your account, and only you can use the account. The account is not transferable, donatable or inheritable, but the relevant assets in the account can be inherited according to law. When you decide not to use the account, you should export or delete the available data in the account, and apply to the company for cancellation of the account according to the company's specified process." },
    "t58": { "th": "5.5.5 บริษัทมีสิทธิ์ที่จะทราบพื้นหลังธุรกรรมที่แท้จริงและวัตถุประสงค์ในการใช้บริการของบริษัท และคุณควรให้ข้อมูลที่เป็นความจริงครอบคลุมและถูกต้องตามความเป็นจริงตามที่บริษัทต้องการ หากบริษัทมีเหตุผลอันสมควรที่จะสงสัยว่าคุณให้ข้อมูลการทำธุรกรรมที่ผิดพลาด บริษัทมีสิทธิ์ที่จะจำกัดฟังก์ชันบางส่วนหรือทั้งหมดของผลิตภัณฑ์หรือบริการที่คุณใช้เป็นการชั่วคราวหรือถาวร", "en": "5.5.5 the company has the right to know the real transaction background and purpose of your use of the company's services, and you should truthfully provide the true, comprehensive and accurate information required by the company; if the company has reasonable reasons to suspect that you provide false transaction information, the company has the right to temporarily or permanently limit some or all functions of the products or services you use." },
    "t59": { "th": "6. กฎการใช้งาน", "en": "6. Rules of use" },
    "t60": { "th": "6.1 ในระหว่างที่คุณใช้บริการนี้เนื้อหาของข้อตกลงนี้ที่ปรากฏบนหน้าเว็บ หรือเนื้อหาของข้อมูลที่บริษัทส่งถึงคุณมีกฎที่เกี่ยวข้องสำหรับการใช้บริการนี้ของคุณ บริการหมายความว่าคุณตกลงที่จะยอมรับกฎที่เกี่ยวข้องของบริการนี้ คุณเข้าใจและยอมรับว่าบริษัทมีสิทธิ์ในการแก้ไขกฎระเบียบที่เกี่ยวข้องของบริการเพียงฝ่ายเดียวโดยไม่ได้รับความยินยอมจากคุณ กฎการบริการควรเป็นไปตามข้อความแจ้งของหน้าหลักเมื่อคุณใช้บริการ (หรือข้อความหรืออีเมล ฯลฯ ) การยอมรับและปฏิบัติตามกฎการบริการเป็นข้อกำหนดเบื้องต้นสำหรับการใช้บริการนี้ของคุณ", "en": "6.1 During your use of this service, the content of this agreement appearing on the webpage, or the content of the information sent by the company to you, There are the relevant rules for your use of this service. Service means that you agree to accept the relevant rules of this service. You understand and agree that the company has the right to unilaterally modify the relevant rules of the service without your consent. The service rules should be based on the home page when you use the service (or text messages or email, etc.). Agree and comply with the service rules is a prerequisite for your use of this service." },
    "t61": { "th": "6.2 บริษัทจะแจ้งให้คุณทราบถึงความคืบหน้าของเอกสาร และบริการอื่นๆ ทางอีเมล และวิธีการอื่นๆ และแจ้งให้คุณดำเนินการขั้นต่อไป แต่บริษัทไม่รับประกันว่าคุณจะได้รับการแจ้งเตือนอย่างทันท่วงที ดังนั้นในขั้นตอนการทำธุรกรรมคุณควรเข้าสู่ระบบเว็บไซต์เพื่อดู และดำเนินการด้วยตนเอง บริษัทจะไม่รับผิดชอบต่อข้อพิพาทหรือความสูญเสียใดๆ ที่เกิดจากความล้มเหลวในการตรวจสอบและการดำเนินการ", "en": "6.2 The company will inform you of the progress of document and other services by e-mail, and other means, and prompt you for the next step of operation, but the company does not guarantee that you can receive a notification in a timely manner, and will not bear any consequences. Therefore, in the process of transaction, you should timely log in to this website to view and conduct operation. The company will not be responsible for any dispute or loss caused by your failure to check and conduct signature operation in time." },
    "t62": { "th": "6.3 คุณตกลงที่จะอนุญาตให้บริษัทให้ข้อมูลลายเซ็นของคุณ แก่คู่สัญญาที่เกี่ยวข้องของคุณ และยอมรับว่าบริการนี้ปราศจากความรับผิดทางกฎหมายใดๆ ที่เกิดขึ้นจากข้อมูลโดยไม่เปลี่ยนแปลงเนื้อหาของข้อมูลที่คุณให้ คุณตกลงที่จะให้ข้อมูลลายเซ็นที่จำเป็นแก่บริษัท หากคุณต้องการความยินยอมจากผู้ลงนามที่เกี่ยวข้อง คุณต้องรับผิดชอบต่อความถูกต้องของข้อมูล บริษัทจะไม่รับผิดชอบต่อข้อพิพาทหรือความสูญเสียที่เกิดจากข้อมูลที่คุณไม่เป็นความจริงหรือไม่สมบูรณ์", "en": "6.3 you agree to authorize the company to provide your signature information to your related contract parties, and agree that the service is free from any legal liability arising from the information without changing the substance of the information you provide. You agree to provide the company with the necessary signature information, if you require the consent of the signing party concerned. You are responsible for the authenticity of the information. The company is not responsible for any disputes or losses caused by the information you are not truthful or incomplete." },
    "t63": { "th": "6.4 ความเสี่ยงในการใช้งาน", "en": "6.4 Risk" },
    "t64": { "th": "6.4.1 เมื่อใช้บริการนี้หากคุณหรือบุคคลอื่นที่ลงนามในเอกสารกับคุณ ไม่ปฏิบัติตามข้อแนะนำและกฎการปฏิบัติงานในข้อตกลงนี้หรือหน้าคำอธิบายเว็บไซต์ บริษัทมีสิทธิ์ที่จะปฏิเสธที่จะให้บริการที่เกี่ยวข้องกับคุณและอีกฝ่าย โดยบริษัทจะไม่รับผิดชอบต่อความเสียหาย.", "en": "6.4.1 when using this service, if you or the other party signing the electronic document with you fails to comply with the operation tips and rules in this agreement or the website description page, the company has the right to refuse to provide relevant services for you and the other party, and the company will not be liable for damages." },
    "t65": { "th": "6.4.2 ความสูญเสียใดๆ ที่เกิดจากความผิดของคุณจะตกเป็นภาระของคุณ ความผิดดังกล่าวรวมถึงแต่ไม่จำกัดเพียง: การไม่ปฏิบัติตามการดำเนินการของลายเซ็นอิเล็กทรอนิกส์ (ลายเซ็น), การไม่ดำเนินการตรวจสอบตัวตน, ลืมหรือรหัสผ่านรั่วไหล, รหัสผ่านโดยขโมยและคอมพิวเตอร์ของคุณถูกดำเนินการโดยผู้บุกรุก", "en": "6.4.2 Any loss caused by your fault shall be borne by you. The fault includes but is not limited to: not following the prompt operation of electronic signature (signature), not carrying out identity authentication operation in time, forgetting or leaking password, password being cracked by others, and computer you use being intruded by others." },
    "t66": { "th": "6.5 การจัดเก็บข้อมูล", "en": "6.5 Data storage" },
    "t67": { "th": "6.5.1 บริษัทจะไม่รับผิดชอบต่อการลบหรือความล้มเหลวในการจัดเก็บข้อมูลที่เกี่ยวข้องของคุณในบริการนี้", "en": "6.5.1 The company will not be responsible for the deletion or storage failure of your relevant data in this service." },
    "t68": { "th": "6.5.2 บริษัทมีสิทธิ์กำหนดระยะเวลาการจัดเก็บข้อมูลสูงสุดในบริการตามสถานการณ์จริงและจัดสรรพื้นที่จัดเก็บข้อมูลสูงสุดสำหรับข้อมูลบนเซิร์ฟเวอร์ คุณสามารถสำรองข้อมูลที่เกี่ยวข้องในบริการนี้ได้ตามความต้องการของคุณเอง", "en": "6.5.2 The company has the right to determine the maximum storage period of data in the service according to the actual situation, and allocate the maximum storage space for the data on the server. You can back up the relevant data in this service according to your own needs." },
    "t69": { "th": "6.5.3 หากคุณหยุดใช้บริการหรือบริการถูกยกเลิกหรือยกเลิก บริษัทสามารถลบข้อมูลของคุณออกจากเซิร์ฟเวอร์อย่างถาวรหลังจากที่บริการถูกยุติหรือยกเลิก บริษัทไม่มีภาระผูกพันที่จะต้องส่งคืนข้อมูลใดๆ ให้กับคุณ", "en": "6.5.3 If you stop using the service or the service is terminated or cancelled, the company can permanently delete your data from the server. After the service is stopped, terminated or cancelled, the company has no obligation to return any data to you." },
    "t70": { "th": "6.10 ข้อจำกัดในการใช้งาน", "en": "6.10 Restrictions on use" },
    "t71": { "th": "6.10.1 เมื่อใช้บริการคุณจะต้องปฏิบัติตามกฎหมายและข้อบังคับที่เกี่ยวข้องของประเทศไทย กฎหมายและข้อบังคับของประเทศหรือภูมิภาคของคุณและหลักปฏิบัติสากลที่เกี่ยวข้องและจะไม่ใช้บริการเพื่อวัตถุประสงค์ที่ผิดกฎหมายหรือในทางที่ผิดกฎหมายใดๆ", "en": "6.10.1 when using the service, you shall abide by the relevant laws and regulations of Thailand, laws and regulations of your country or region and relevant international practices, and shall not use the service for any illegal purpose or in any illegal way." },
    "t72": { "th": "6.10.2 คุณไม่ได้รับอนุญาตให้ใช้บริการเพื่อมีส่วนร่วมในกิจกรรมที่ละเมิดสิทธิ์และผลประโยชน์อันชอบธรรมของผู้อื่น มิฉะนั้นบริษัทมีสิทธิ์ที่จะปฏิเสธที่จะให้บริการ และคุณต้องแบกรับความรับผิดทางกฎหมายที่เกี่ยวข้องทั้งหมด หากความเสียหายเกิดขึ้นกับบริษัทหรือพนักงานคุณควรรับผิดชดใช้", "en": "6.10.2 you are not allowed to use the service to engage in activities that infringe upon the legitimate rights and interests of others, otherwise, the company has the right to refuse to provide the service, and you should bear all relevant legal liabilities. If the damage is caused to the company or its employees, you should be liable for compensation." },
    "t73": { "th": "6.10.3 คุณเข้าใจและยอมรับว่า บริษัทจะไม่รับผิดชอบต่อความเสียหายใดๆ ที่เกิดจากสถานการณ์ต่อไปนี้ซึ่งรวมถึงแต่ไม่จำกัดเพียงความเสียหายจากการสูญเสียกำไร ความเจตนาดีในการใช้ข้อมูล ฯลฯ หรือความสูญเสียที่ไม่มีตัวตนอื่นๆ (ไม่ว่าบริษัทได้รับแจ้งถึงความเป็นไปได้ของความเสียหายดังกล่าวหรือไม่)", "en": "6.10.3 you understand and agree that the company shall not be liable for any damages caused by any of the following circumstances, including but not limited to damages for loss of profits, goodwill, use, data, etc. or other intangible losses (whether the company has been informed of the possibility of such damages or not)" },
    "t74": { "th": "ก. บริษัทมีสิทธิ์ที่จะระงับขัดขวางหรือยุติการให้บริการหรือส่วนใดส่วนหนึ่งของคุณและลบข้อมูลของคุณตามการตัดสินฝ่ายเดียวรวมถึงแต่ไม่จำกัดเพียงความเห็นของบริษัทที่ว่าคุณได้ละเมิดบทบัญญัติและเจตนารมณ์โดยชัดแจ้งของข้อตกลงนี้", "en": "A. The company has the right to suspend, interrupt or terminate the provision of the service or any part thereof to you and remove your information based on unilateral judgment, including but not limited to the company's opinion that you have violated the express provisions and spirit of this agreement." },
    "t75": { "th": "ข. บริษัทมีสิทธิ์ระงับหรือยุติการใช้งานบัญชี Creden e-Signature ทั้งหมดหรือบางส่วนภายใต้ชื่อของคุณ (รวมถึงแต่ไม่จำกัดเพียงการยกเลิกลายเซ็นและมาตรการที่จำกัดอื่นๆ สำหรับเอกสารและในกระบวนการลงนามภายใต้ชื่อบัญชีเหล่านี้) โดยไม่ต้องแจ้งให้ทราบเมื่อพบว่าลายเซ็นมีความผิดปกติหรือมีเหตุอันควรสงสัยว่าน่าสงสัยหรือละเมิดกฎหมายหรือข้อตกลงและปฏิเสธให้คุณใช้บริการ", "en": "B. The company has the right to suspend or terminate the use of all or part of the Creden e-Signature account under your name (including but not limited to the cancellation of signature and other restrictive measures for the electronic documents and in transit signature process under these account names) without notice when it finds that the signature is abnormal or reasonably suspected to be suspicious or in violation of the law or the agreement, and refuses you to use the service You should pay attention to it in time." },
    "t76": { "th": "ค. คุณเข้าใจและยอมรับว่าภายใต้สถานการณ์ต่อไปนี้ บริษัทมีสิทธิ์ที่จะระงับหรือยุติบริการ Creden e-Signature ทั้งหมดหรือบางส่วนสำหรับบัญชีภายใต้ชื่อของคุณหรือยุติกระบวนการลงนามทั้งหมดหรือบางส่วนและมีสิทธิ์ในการจำกัดฟังก์ชันบางอย่างหรือทั้งหมด ของผลิตภัณฑ์หรือบริการที่คุณใช้ (รวมถึงแต่ไม่จำกัดเพียงการยกเลิกเอกสารและในขั้นตอนการลงนามการภายใต้ชื่อบัญชีเหล่านี้)", "en": "C. You understand and agree that under the following circumstances, the company has the right to suspend or terminate all or part of the Creden e-Signature service for the  account under your name, or terminate all or part of the signing process, and has the right to limit some or all functions of the products or services you use (including but not limited to the cancellation of electronic documents and in transit signing process under these account names) You should pay attention to it in time" },
    "t77": { 
      "th": `1) ตามข้อตกลงของข้อตกลงนี้;

2) ตามกฎหมายข้อบังคับและเอกสารทางกฎหมาย

3) ตามข้อกำหนดของหน่วยงานที่มีอำนาจ;

4) การใช้บริการ Creden e-Signature ของคุณถูกสงสัยว่าละเมิดกฎหมายข้อบังคับและระเบียบบริหารของประเทศ

5) เมื่อบริษัทเชื่อว่ามีความผิดปกติในการดำเนินการบัญชีหรือขั้นตอนการเซ็นตามการตัดสินที่สมเหตุสมผลฝ่ายเดียว

6) บริษัทเชื่อว่าอาจมีความเสี่ยงขึ้นอยู่กับการตัดสินใจที่สมเหตุสมผลของบริษัทเอง

7) เมื่อคุณมีส่วนร่วมในกิจกรรมทางการตลาดคุณได้ลงทะเบียนบัญชีแบทช์และทำการฉ้อโกงอื่นๆที่ละเมิดกฎของกิจกรรมและหลักการที่สุจริต
8) คุณถูกคนอื่นร้องเรียนและอีกฝ่ายได้แสดงหลักฐานบางอย่าง
9) คุณอาจใช้ระบบการระบุตัวตนหรือการตรวจสอบชื่อจริงในบัญชีของบุคคลอื่นโดยไม่ได้ตั้งใจ
`, 
      "en": `1) According to the agreement of this agreement;

2) According to laws, regulations and legal documents;

3) According to the requirements of the competent authority;

4) Your use of Creden e-Signature services is suspected of violating national laws, regulations and administrative regulations;

5) When the company believes that there is an abnormality in the account operation or signature process based on unilateral reasonable judgment;

6) The company believes that there may be risks based on its own reasonable judgment;

7) When you participate in market activities, you have registered batch accounts and other frauds that violate the rules of the activity and the principle of good faith;
8) You have been complained by others, and the other party has provided certain evidence;
9) You may have performed identification system or real-name authentication on another person’s account by mistake.
` 
    },
    "t78": { "th": "6.10.4 หากคุณส่งคำร้องเพื่อขอกลับมาใช้บริการ หรือยกเลิกการหยุดให้บริการดังกล่าวข้างต้นคุณควรให้ข้อมูลที่เกี่ยวข้อง เช่น ใบรับรองประจำตัวของคุณและข้อมูลหรือเอกสารอื่นๆที่บริษัทต้องการตามข้อกำหนดของบริษัทเพื่อให้บริษัทสามารถตรวจสอบได้ และบริษัทมีสิทธิ์ตัดสินใจว่าจะเห็นด้วยกับข้อร้องเรียนของคุณตามวิจารณญาณของบริษัทเองหรือไม่ คุณควรเข้าใจอย่างถ่องแท้ว่าคำขอของคุณไม่จำเป็นต้องได้รับอนุญาต หากคุณปฏิเสธที่จะให้ข้อมูลที่เกี่ยวข้องและการระบุตัวตนตามความเป็นจริงหรือไม่ผ่านการตรวจสอบของบริษัท คุณยืนยันว่าบริษัทมีสิทธิ์ที่จะหยุดให้บริการบัญชีดังกล่าวเป็นเวลานานและจำกัดฟังก์ชันบางส่วนหรือทั้งหมดของผลิตภัณฑ์หรือบริการดังกล่าวเป็นเวลานาน", "en": "6.10.4 if you apply to resume the service and lift the above freeze, you should provide the relevant information, your identity certificate and other information or documents required by the company according to the company's requirements, so that the company can verify, and the company has the right to decide whether to agree with your application according to its own judgment. You should fully understand that your request is not necessarily allowed. If you refuse to provide the relevant information and identification truthfully, or fail to pass the audit of the company, you confirm that the company has the right to stop providing services to such accounts for a long time and restrict some or all functions of such products or services for a long time." },
    "t79": { "th": "6.11 เมื่อบริษัทเห็นสมควรว่าจำเป็น บริษัทสามารถยุติบริการได้โดยไม่ต้องแจ้งให้ทราบล่วงหน้าระงับปิดหรือลบบัญชีผู้ลงนามทั้งหมดหรือบางส่วนภายใต้ชื่อของคุณและข้อมูลและไฟล์ที่เกี่ยวข้องทั้งหมดในบัญชีเหล่านี้.", "en": "6.11 when the company reasonably considers it necessary, the company can terminate the service without prior notice, suspend, close or delete all or part of the account under your name and all relevant information and files in these accounts." },
    "t80": { "th": "7. นโยบายความเป็นส่วนตัวของผู้ใช้", "en": "7. User Privacy Policy" },
    "t81": { "th": `โปรดรวจสอบ "นโยบายความเป็นส่วนตัว" สำหรับรายละเอียด`, "en": `Please refer to "Privacy Policy" for details` },
    "t82": { "th": "8. การประกาศทรัพย์สินทางปัญญา", "en": "8. Intellectual property declaration" },
    "t83": { "th": "8.1 เนื้อหาทั้งหมดบนเว็บไซต์นี้รวมถึงแต่ไม่จำกัดเพียงผลงานรูปภาพ, ไฟล์, ข้อมูลวัสดุโครงสร้างเว็บไซต์, การจัดหน้าจอเว็บไซต์ และการออกแบบหน้าเว็บจะเป็นของบริษัทตามกฎหมาย. รวมถึงแต่ไม่จำกัดเพียงสิทธิในเครื่องหมายการค้า สิทธิ์ในสิทธิบัตรลิข สิทธิ์ความลับทางการค้า ฯลฯ", "en": "8.1 all contents on this website, including but not limited to works, pictures, files, information, materials, website structure, website screen arrangement and webpage design, shall be owned by the company or its affiliated enterprises according to law, including but not limited to trademark right, patent right, copyright, trade secret, etc." },
    "t84": { "th": "8.2 โดยไม่ได้รับความยินยอมเป็นลายลักษณ์อักษรจากบริษัทไม่มีใครได้รับอนุญาตให้ใช้แก้ไขคัดลอกเผยแพร่เปลี่ยนแปลงแจกจ่ายแจกจ่ายหรือเผยแพร่โปรแกรมหรือเนื้อหาของเว็บไซต์นี้ต่อสาธารณะ", "en": "8.2 without the written consent of the company or its affiliated enterprises, no one is allowed to use, modify, copy, publicly disseminate, change, distribute, distribute or publicly publish the program or content of this website." },
    "t86": { "th": "9. ข้อจำกัดความรับผิดชอบ", "en": "9. Disclaimer" },
    "t87": { 
      "th": `9.1 บริษัทจะไม่รับผิดชอบต่อความเสียหายหากระบบของบริษัท หากไม่สามารถทำงานได้ตามปกติเนื่องจากเงื่อนไขต่อไปนี้รวมถึงแต่ไม่จำกัดเฉพาะ:

ก. บริษัทในเว็บไซต์นี้แจ้งให้ทราบถึงระยะเวลาการบำรุงรักษาระบบหยุดทำงาน

ข. อุปกรณ์โทรคมนาคมไม่สามารถส่งข้อมูลได้

ค. เนื่องจากพายุไต้ฝุ่นแผ่นดินไหว สึนามิน้ำท่วมไ ฟดับ สงครามการโจมตีของผู้ก่อการร้ายและเหตุสุดวิสัยอื่น ๆ ระบบของบริษัทถูกขัดขวางและไม่สามารถดำเนินธุรกิจได้

ง. การหยุดชะงักของบริการหรือความล่าช้าที่เกิดจากการโจมตีของแฮ็กเกอร์ การปรับตัวทางเทคนิคหรือความล้มเหลวของแผนกโทรคมนาคมการอัปเกรดเว็บไซต์เป็นต้น 

บริษัทจะรับผิดชอบเฉพาะขอบเขตความรับผิดที่ระบุไว้ในข้อตกลงนี้`,
      "en": `9.1 the company will not be liable for damages if the system of the company fails to operate normally due to the following conditions, including but not limited to:

A. The company in this website notice system downtime maintenance period.

B. The telecommunication equipment fails to carry out data transmission.

C. Due to typhoon, earthquake, tsunami, flood, power failure, war, terrorist attack and other force majeure factors, the company's system is obstructed and unable to carry out business.

D. Service interruption or delay caused by hacker attack, technical adjustment or failure of telecommunication department, website upgrade, etc.

The company is only responsible for the scope of liability specified in this agreement.` 
    },
    "t88": { "th": "9.2 ข้อมูลผู้ใช้ Creden e-Signature จัดทำโดยผู้ใช้เอง บริษัทไม่สามารถรับประกันความถูกต้องตรงเวลาและความสมบูรณ์ของข้อมูลได้ คุณควรรับผิดชอบอย่างเต็มที่ในการตัดสินของคุณ", "en": "9.2 Creden e-Signature user information is provided by the user himself. The company can not guarantee the accuracy, timeliness and completeness of the information. You should take full responsibility for your judgment." },
    "t89": { "th": "9.3 ตามขอบเขตที่กฎหมายอนุญาต บริษัทจะต้องรับผิดต่อความสูญเสียทางอ้อมการลงโทษ ความสูญเสียพิเศษและอนุพันธ์ใด ๆ (รวมถึงการสูญเสียทางธุรกิจ, การสูญเสียรายได้, การสูญเสียกำไร, การสูญเสียข้อมูลการใช้งาน) ที่เกี่ยวข้องหรือเกิดจากข้อตกลงนี้ ไม่ว่าจะเกิดขึ้นอย่างไรและไม่ว่าจะเกิดจากการละเมิดข้อตกลงนี้ (รวมถึงการละเมิดการรับประกัน) หรือการละเมิดเราจะไม่รับผิดชอบแม้ว่าเราจะได้รับแจ้งถึงความเป็นไปได้ของการสูญเสียดังกล่าวล่วงหน้า นอกจากนี้แม้ว่าการผ่อนปรน แต่เพียงผู้เดียวที่ระบุไว้ในข้อตกลงนี้จะไม่บรรลุวัตถุประสงค์พื้นฐาน แต่ความรับผิดของบริษัท สำหรับความสูญเสียข้างต้นจะได้รับการยกเว้น", "en": "9.3 To the extent permitted by law, the company shall be liable for any indirect, punitive, special and derivative losses (including business loss, loss of income, loss of profit, loss of goodwill, loss of use data) related to or caused by this agreement. No matter how it is caused, and whether it is caused by breach of this Agreement (including breach of warranty) or tort, we shall not be liable, even if we have been informed of the possibility of such loss in advance. In addition, even if the exclusive relief provided in this agreement fails to achieve its basic purpose, the company's liability for the above losses shall be excluded." },
    "t90": { "th": "9.4 คุณเข้าใจอย่างถ่องแท้และยอมรับว่าบริษัทอาจให้บริการคุณและคู่สัญญาของคุณในเวลาเดียวกัน คุณตกลงที่จะยกเว้นบริษัทอย่างชัดเจนจากพฤติกรรมดังกล่าวและจะไม่อ้างว่าบริษัทมีข้อบกพร่องทางกฎหมายในการให้บริการ", "en": "9.4 You fully understand and agree that the company may provide the service for you and your counterparties at the same time. You agree to explicitly exempt the company from such behaviors and shall not claim that the company has legal defects in providing the service." },
    "t91": { "th": "9.5 เมื่อคุณใช้บริการนี้คุณยอมรับและรับทราบว่าอาจไม่สามรถให้บริการได้เนื่องจากปัญหาของระบบปัญหาการเชื่อมต่อเครือข่ายการทำงานที่เกี่ยวข้องหรือปัจจัยอื่น ๆ ที่ไม่อาจต้านทานได้และบริษัทจะไม่รับผิดชอบใดๆ สำหรับสิ่งนี้", "en": "9.5 When you use this service, you agree and acknowledge that this service may not be provided due to system problems, related operation network connection problems or other irresistible factors, and the company does not assume any responsibility for this." },
    "t92": { "th": "9.6 เว้นแต่จะระบุไว้เป็นอย่างอื่นในข้อตกลงนี้หรือบริษัทได้ตกลงไว้เป็นอย่างอื่น การมอบหมายงานของคุณที่มีต่อบริษัทและคำแนะนำที่ออกให้กับบริษัทจะไม่ถูกเพิกถอน", "en": "9.6 Unless otherwise specified in this agreement or otherwise agreed by the company, your entrustment to the company and the instructions issued to the company shall not be revoked." },
    "t93": { "th": "10. ความรับผิดในการผิดสัญญา", "en": "10. Liability for breach of contract" },
    "t94": { "th": "นอกเหนือจากข้อตกลงที่เป็นลายลักษณ์อักษรเกี่ยวกับความรับผิดในการละเมิดสัญญาระหว่างบริษัทและคุณ หากเอกสารที่คุณลงนามถือว่าไม่ถูกต้องโดยศาลและคณะกรรมการอนุญาโตตุลาการเนื่องจากข้อบกพร่องทางเทคนิคของลายเซ็นของบริษัท บริษัทจะต้องรับผิดชอบความรับผิดต่อความเสียหายสูงสุด 50,000 บาท", "en": "In addition to the written agreement on the liability for breach of contract between the company and you, if the electronic document you signed is deemed invalid by the court and the arbitration commission due to the technical defects of the company's electronic signature, the company shall bear the liability for damages, up to 50,000 Baht." },
    "t95": { "th": "11. กฎหมายและการระงับข้อพิพาท", "en": "11. Law and dispute resolution" },
    "t96": { "th": "ความถูกต้องการตีความการปรับเปลี่ยนการบังคับใช้และการระงับข้อพิพาทของข้อตกลงนี้จะอยู่ภายใต้กฎหมายของประเทศไทย ในกรณีที่ไม่มีกฎหมายที่เกี่ยวข้องให้อ้างถึงแนวปฏิบัติทางธุรกิจระหว่างประเทศทั่วไปและ (หรือ) แนวปฏิบัติในอุตสาหกรรม ข้อพิพาททั้งหมดที่เกิดจากข้อตกลงนี้จะได้รับการจัดการตามกฎหมายของประเทศไทย", "en": "The validity, interpretation, modification, execution and dispute settlement of this Agreement shall be governed by the laws of Thailand. In the absence of relevant laws, the general international business practices and (or) industry practices shall be referred to. All disputes arising from this Agreement shall be handled in accordance with the laws of Thailand" },
    "t97": { "th": "12. อื่นๆ", "en": "12. Others" },
    "t98": { "th": "12.1 เมื่อคุณใช้บริการที่เกี่ยวข้องกับ Creden e-Signature คุณควรอ่านรับรู้และตกลงที่จะปฏิบัติตามข้อกำหนดเพิ่มเติมของบริการที่เกี่ยวข้อง", "en": "12.1 when you use Creden e-Signature related services, you should also fully read, recognize and agree to abide by the additional terms of related services." },
    "t99": { "th": "12.2 ข้อตกลงนี้จะมีผลตั้งแต่วันที่คุณลงทะเบียนเป็นผู้ใช้เว็บไซต์นี้ เว้นแต่เว็บไซต์นี้จะยุติข้อตกลงในการให้บริการนี้หรือผู้ใช้สูญเสียคุณสมบัติของผู้ใช้ของเว็บไซต์นี้ข้อตกลงการให้บริการนี้จะยังคงมีผลบังคับใช้ การสิ้นสุดข้อตกลงในการให้บริการนี้ไม่ได้ยกเว้นผู้ใช้จากภาระหน้าที่และความรับผิดชอบภายใต้ข้อตกลงบริการนี้หรือข้อตกลงและกฎอื่นๆ ที่เกี่ยวข้อง", "en": "12.2 this Agreement shall take effect from the date when you register as a user of this website. Unless this website terminates this service agreement or the user loses the user qualification of this website, this service agreement shall remain valid. The termination of this service agreement does not exempt the user from his obligations and responsibilities under this service agreement or other relevant agreements and rules." },
    "t100": { "th": "12.3 หากข้อกำหนดใดๆ ของข้อตกลงนี้ไม่ถูกต้องหรือไม่สามารถบังคับใช้ได้ทั้งหมดหรือบางส่วนไม่ว่าด้วยเหตุผลใดก็ตามข้อกำหนดที่เหลืออยู่ของข้อตกลงนี้จะยังคงมีผลและมีผลผูกพัน", "en": "12.3 if any provision of this agreement is invalid or unenforceable in whole or in part for any reason, the remaining provisions of this Agreement shall remain valid and binding." },
    "t101": { "th": "12.4 บริษัทมีสิทธิ์ขั้นสุดในการตีความข้อตกลงการให้บริการ", "en": "12.4 the company has the final right to interpret the service agreement" },
  }

</script>

</html>