<!DOCTYPE html>
<html lang="th-TH" dir="ltr">

<head>
  <title>Bangkok Life | Forgot Password</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=1">
  <meta content="156004817605-qpm22mpvfvs0ch56s95igt6b1su33g78.apps.googleusercontent.com"
    name="google-signin-client_id">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="icon" type="image/x-icon" href="images/BLA_Icon.ico">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/bla/css/font.css?v=12">
  <link rel="stylesheet" type="text/css" href="css/index.css?v=12">
</head>

<body>

  <div id="app" v-cloak>

    <header>
      <ul>
        <li class="max-limit-size-logo">
          <img src="images/bla_logo_th.png" class="w-h-12 ps-2 pb-2">
        </li>
        <li class="mt-4">
          <span class="rg18-g2">e-Signature</span>
        </li>
      </ul>
    </header>

    <div class="row">
      <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-10 offset-1 mTop100">
        <div class="alert alert-success rg16-g1" role="alert" id="alert_success" v-if="alert_success == true">
          {{lang_txt.aleart_success[lang_choose]}} {{alert_email}}
        </div>
      </div>
    </div>

    <div class="mb-5 box-center mt-2" v-if="mode == '0' || mode == '1'">

      <div class="box-forgot">
        <div class="row">

          <div class="col-12 md36-g1 text-center">
            {{lang_txt.re_pass_title[lang_choose]}}
          </div>

          <div class="col-12 rg14-g1 text-center mt-3">
            {{lang_txt.email_address[lang_choose]}}
          </div>
          <!-- <div class="col-12 rg14-g1 text-center mt-1">
            You may need to check your spam folder
          </div> -->

          <div class="col-12 mt-3 px-5">
            <div class="input-group">
              <span class="input-group-text bg-FF bd-right-0">
                <i class="fas fa-user"></i>
              </span>
              <input type="text" class="form-control bd-left-0" v-bind:placeholder="lang_txt.email[lang_choose]" v-model="email"
                v-on:keyup.enter="send_mail()" :disabled="mode != '0'">
            </div>
          </div>

          <div class="col-12 mt-2 text-end rg14-g1 px-5" v-if="lang_choose == 'th'">
            <span class="cl-CI cs-pointer">ไทย</span> | 
            <span class="cs-pointer" onclick="swithLang('en')">English</span>
          </div>
        
          <div class="col-12 mt-2 text-end rg14-g1 px-5" v-else>
            <span class="cs-pointer" onclick="swithLang('th')">ไทย</span> | 
            <span class="cl-CI cs-pointer">English</span>
          </div>

          <div class="col-12 mt-4 px-5">
            <button type="button" class="btn btn-warning w-100 md18-g2" @click="send_mail()" v-if="mode == '0'">
              {{lang_txt.reset_pass[lang_choose]}}</button>
            <button type="button" class="btn btn-warning w-100 md18-g2" v-else-if="mode == '1'">{{lang_txt.reset_pass[lang_choose]}} &nbsp;<i
                class="fas fa-spinner fa-spin"></i></button>
          </div>

        </div>
      </div>
    </div>

    <div class="mb-5 box-center mt-2" v-else-if="mode == '2'">

      <div class="box-forgot">
        <div class="row">

          <div class="col-12 md36-g1 text-center">
            {{lang_txt.re_pass_title[lang_choose]}}
          </div>

          <div class="col-12 rg18-g1 px-5">
            <div class="row">

              <div class="col-12 mt-3">
                {{lang_txt.new_pass[lang_choose]}} <span class="cl-F0">*</span>
                <div class="input-group">
                  <input type="password" class="form-control bd-right-0" id="password" maxlength="16"
                    v-model="adminPassword" @keypress="chk_format_password();chk_confirm_password()"
                    @change="chk_format_password();chk_confirm_password()">
                  <span class="input-group-text bg-FF bd-left-0">
                    <i class="fas fa-eye-slash cs-pointer" v-if="eye_password == false" @click="see_password(true)"></i>
                    <i class="fas fa-eye cs-pointer" v-else @click="see_password(false)"></i>
                  </span>
                </div>
              </div>

              <div class="col-12 mt-3">
                {{lang_txt.new_pass_confirm[lang_choose]}} <span class="cl-F0">*</span>
                <div class="input-group">
                  <input type="password" class="form-control bd-right-0" id="confirm_password" maxlength="16"
                    v-model="adminPasswordC" @keypress="chk_confirm_password()" @change="chk_confirm_password()">
                  <span class="input-group-text bg-FF bd-left-0">
                    <i class="fas fa-eye-slash cs-pointer" v-if="eye_confirm_password == false"
                      @click="see_confirm_password(true)"></i>
                    <i class="fas fa-eye cs-pointer" v-else @click="see_confirm_password(false)"></i>
                  </span>
                </div>
                <span class="rg14-g3 cl-F0 dy-none" id="er_confirm_password">{{lang_txt.pass_invalid[lang_choose]}}</span>
              </div>

              <div class="col-12 mt-2 text-end rg14-g1" v-if="lang_choose == 'th'">
                <span class="cl-CI cs-pointer">ไทย</span> | 
                <span class="cs-pointer" onclick="swithLang('en')">English</span>
              </div>
            
              <div class="col-12 mt-2 text-end rg14-g1" v-else>
                <span class="cs-pointer" onclick="swithLang('th')">ไทย</span> | 
                <span class="cl-CI cs-pointer">English</span>
              </div>

            </div>
          </div>

          <div class="col-12 rg12-g3 mt-2 px-5">
            {{lang_txt.strong_password[lang_choose]}}
          </div>
          <div class="col-12 rg12-g3 mt-2 px-5" id="rg_pw8font">
            <i class="far fa-check-circle"></i>&nbsp;&nbsp;&nbsp; {{lang_txt.max_cha[lang_choose]}}
          </div>
          <div class="col-12 rg12-g3 mt-1 px-5" id="rg_upperandlower">
            <i class="far fa-check-circle"></i>&nbsp;&nbsp;&nbsp; {{lang_txt.upper_case[lang_choose]}}
          </div>
          <div class="col-12 rg12-g3 mt-1 px-5" id="rg_numberonemore">
            <i class="far fa-check-circle"></i>&nbsp;&nbsp;&nbsp; {{lang_txt.numeric[lang_choose]}}
          </div>

          <div class="col-12 mt-4 px-5 px-5">
            <button type="button" class="btn btn-warning w-100 md18-g2" v-if="btn_reset == true"
              @click="reset_password()">
              {{lang_txt.confirm_pass[lang_choose]}}
            </button>
            <button type="button" class="btn btn-warning w-100 md18-g2" v-else>
              {{lang_txt.confirm_pass[lang_choose]}} &nbsp;<i class="fas fa-spinner fa-spin"></i>
            </button>
          </div>

        </div>
      </div>
    </div>


    <!-- End App -->
  </div>

</body>
<script type="text/javascript" src="components/common_web.js"></script>
<script type="text/javascript" src="/bla/components/common.js"></script>
<script type="text/javascript" src="/bla/js/jquery-3.3.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

<!-- MY ITEM -->
<script>
  $(document).ready(function () {
    app = init_vue()

  });


  function init_vue() {
    return new Vue({
      el: '#app',
      data: {
        lang_choose: localStorage.getItem('lang_choose') || 'th',
        lang_txt: lang_forgot,
        email: "",
        alert_email: "",
        alert_success: false,
        code: "",
        mode: "0", //0 request 1 send mail success 2 form reset password
        password_old: "",
        adminPassword: "",
        adminPasswordC: "",
        eye_password: false,
        eye_confirm_password: false,
        btn_reset: true,
      },
      mounted: function () {

        window.myApp = this
        if (gup("email") && gup("code")) {
          this.mode = "2"
          this.email = gup("email") || "N/A"
          this.code = gup("code") || "N/A"
        }

      },
      methods: {
        send_mail: function () {
          var that = this

          if (!that.validateEmail(that.email)) {
            alert("รูปแบบอีเมลไม่ถูกต้อง")
            return false
          }

          var data = {
            adminEmail: that.email
          }
          that.alert_email = that.email
          that.mode = "1"
          $.ajax({
            type: "POST",
            url: api_host + "forgot_request_bla",
            data: JSON.stringify(data),
            dataType: "json",
            success: function (resp) {

              if (resp.success) {
                that.email = ""
                that.alert_success = true
                //  document.getElementById("alert_success").style.display = "unset"

                setTimeout(function () {
                  that.mode = "0"
                  that.alert_success = false
                  // document.getElementById("alert_success").style.display = "none"
                }, 10000);
              }

            },
            error: function (request, status, error) {
              alert("|" + status + ' |' + error);
            }
          });

        },
        reset_password: function () {
          var that = this
          that.email = that.email.toLowerCase().trim()
          var password = that.chk_format_password()
          var con_pass = (that.adminPasswordC == that.adminPassword && that.adminPasswordC != "")
          that.chk_confirm_password()

          if (password && con_pass) {
            var data = {
              adminEmail: that.email,
              code: that.code,
              adminPassword: that.adminPassword,
              adminPasswordC: that.adminPasswordC,
            }

            $.ajax({
              type: "POST",
              url: api_host + "forgot",
              data: JSON.stringify(data),
              dataType: "json",
              success: function (resp) {
                var r = resp.data
                if (resp.success) {
                  if (r && r.activeStatus == 4) {

                    localStorage.setItem("compCode", resp.custCode);
                    localStorage.setItem("username", resp.username);
                    localStorage.setItem("extend_key", resp.extend_key);
                    localStorage.setItem("register_obj", JSON.stringify(r));
                    document.location.href = '/bla/#/dashboard'

                  }
                  else {
                    document.location.href = "login.html?rd=" + new Date().getTime()
                  }
                }
                else {

                }
              },
              error: function (request, status, error) {
                alert("|" + status + ' |' + error);
              }
            });

          }
          else {
            window.scrollTo(0, 0);
            return false
          }

        },
        chk_format_password: function () {
          var that = this
          var pw = that.adminPassword

          if (pw.length >= 8) document.getElementById("rg_pw8font").style.color = "#219653";
          else document.getElementById("rg_pw8font").style.color = "#828282"

          var upper = /(?=.*[A-Z])/
          if (upper.test(pw)) document.getElementById("rg_upperandlower").style.color = "#219653"
          else document.getElementById("rg_upperandlower").style.color = "#828282"

          var num = /(?=.*[0-9])/
          if (num.test(pw)) document.getElementById("rg_numberonemore").style.color = "#219653"
          else document.getElementById("rg_numberonemore").style.color = "#828282"

          // var speical = /(?=.*[!@#$%^&*])/
          // if (speical.test(pw)) document.getElementById("rg_special").style.color = "#219653"
          // else document.getElementById("rg_special").style.color = "#828282"

          if (pw.length >= 8 && upper.test(pw) && num.test(pw)) {
            return true
          }
          else {
            return false
          }

        },
        chk_confirm_password: function () {
          var that = this
          var er1 = document.getElementById("er_confirm_password")
          var pw = that.adminPassword
          var pwc = that.adminPasswordC

          if (pwc != pw) er1.style.display = "unset";
          else if (pwc == "") er1.style.display = "unset";
          else er1.style.display = "none";

        },

        validateEmail: function (sEmail) {
          var filter = /^[\w-.+]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,4}$/;
          return filter.test(sEmail)
        },
        see_password: function (value) {
          var that = this
          var obj = document.getElementById("password");

          if (value == false) {
            that.eye_password = false
            obj.type = "password"
          }
          else {
            that.eye_password = true
            obj.type = "text"
          }

        },
        see_confirm_password: function (value) {
          var that = this
          var obj = document.getElementById("confirm_password");

          if (value == false) {
            that.eye_confirm_password = false
            obj.type = "password"
          }
          else {
            that.eye_confirm_password = true
            obj.type = "text"
          }
        },

      } //end methods
    })
  }


  var lang_forgot = {
    "forgot_pass": { "th": "ลืมรหัสผ่าน", "en": "Forgot Password" },
    "email_address": { "th": "ป้อนที่อยู่อีเมลของคุณเพื่อรีเซ็ตรหัสผ่านหากไม่ได้รับอีเมลคุณอาจต้องตรวจสอบโฟลเดอร์สแปมของคุณ", "en": "Enter the email address registered to your Creden account If you don't receive the password reset email, please check your spam or junk mail folder" },
    "reset_pass": { "th": "รีเซ็ตรหัสผ่าน", "en": "Reset Password" },
    "re_pass_title": { "th": "รีเซ็ตรหัสผ่านของคุณ", "en": "Reset your Password" },
    "new_pass": { "th": "รหัสผ่านใหม่", "en": "New Password" },
    "confirm_pass": { "th": "ยืนยันรหัสผ่านใหม่", "en": "Confirm New Password" },
    "strong_password": { "th": "รหัสผ่านของคุณจะต้องมี:", "en": "Strong Password is required:" },
    "max_cha": { "th": "8 ตัวอักษรมากกว่า (สูงสุดไม่เกิน 16 ตัว)", "en": "Your password must be between 8 and 16 characters and is case-sensitive" },
    "upper_case": { "th": "ตัวอักษรพิมพ์ใหญ่และพิมพ์เล็ก", "en": "Your password must contain a minimum of one uppercase letter (A-Z) and a minimum of one lowercase letter (a-z)" },
    "numeric": { "th": "อย่างน้อยหนึ่งตัวเลข (0-9)", "en": "Your password must contain a minimum of one numeric character (0-9)" },
    "confirm_pass": { "th": "ยืนยันเปลี่ยนรหัสผ่าน", "en": "Confirm Password Change" },
    "email": { "th": "อีเมล", "en": "Email" },
    "new_pass": { "th": "รหัสผ่านใหม่", "en": "New Password" },
    "new_pass_confirm": { "th": "ยืนยันรหัสผ่านใหม่", "en": "Confirm New Password" },
    "pass_invalid": { "th": "รหัสผ่านไม่ถูกต้อง", "en": "Password invalid" },
    "aleart_success": { "th": "เราต้องการแน่ใจว่าเป็นคุณจริงๆ กรุณาทำการยืนยันตัวตนของคุณ โดยเข้าลิงก์ที่ส่งไปที่", "en": "To complete this process, please verify your identity using the link sent to your registered email." },

  }
</script>


</html>