<!DOCTYPE html>
<html lang="th-TH" dir="ltr">

<head>
  <title>Bangkok Life | Pricing</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=1">
  <meta content="156004817605-qpm22mpvfvs0ch56s95igt6b1su33g78.apps.googleusercontent.com"
    name="google-signin-client_id">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="icon" type="image/x-icon" href="images/BLA_Icon.ico">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/bla/css/font.css?v=12">
  <link rel="stylesheet" type="text/css" href="css/index.css?v=12">
  <link rel="stylesheet" type="text/css" href="css/pricing.css?v=12">
</head>

<body>

  <div id="app" v-cloak>

    <header class="bg-CI height70">
      <ul class="container between-menu">
        <li class="max-limit-size-logo">
          <img src="images/Creden_logo_white.png" alt="logo creden website" class="w-100">
        </li>
        <li class="mt-2">
          <ul>
            <li v-if="lang_choose == 'th'" onclick="swithLang('en')" class="cs-pointer">
              <img src="/esign/images/thai-flag.svg" class="flag me-2"> <span class="rg14-g2 cl-FF pc">ภาษาไทย</span>
            </li>
            <li v-else onclick="swithLang('th')" class="cs-pointer">
              <img src="/esign/images/eng-flag.svg" class="flag me-2"> <span class="rg14-g2 cl-FF pc">English</span>
            </li>
            <li class="border-profile pt-4 pe-0 pc" v-if="email"></li>
            <li v-if="email">
              <div class="rg12-g3 cl-FF">สวัสดี, {{firstname}}</div>
              <div class="rg12-g3 cl-FF">ไม่ใช่คุณ {{firstname}}? <span class="cs-pointer" @click="logout()">ออกจากระบบ</span></div>
            </li>
          </ul>

        </li>
      </ul>
    </header>

    <div v-if="display == '0'"></div>

    <!-- Detail Package -->
    <div v-if="display == '1'">
      <div class="container">

        <div class="row">
          <div class="col-12 rg36-g1 cl-CI text-center mt-5">
            Upgrade Your Plan
          </div>

          <div class="col-12 text-center mt-3">
            <label class="md14-g1"> ANNUAL</label>
            <label class="switch">
              <input type="checkbox" @change="select_plan()" v-model="plan">
              <span class="slider round"></span>
            </label>
            <label class="md14-g1">MONTHLY</label>
          </div>
        </div>

        <div class="row">
          <div class="col-12 list-pricing">
            <div class="list-pricing-box">

              <div class="list-pricing-item">
                <div class="row">
                  <div class="col-12 mt-3 text-center rg20-g1" data-bs-toggle="tooltip"  title="Tooltip on top" tabindex="0">
                    Free Package
                  </div>
                  <div class="col-12 text-center md36-g1 cl-CI mt-2">
                    Free
                  </div>
                  <div class="col-12 text-center cl-CI lg14-g1">
                    -
                  </div>
                  <div class="col-12 bd-bottom-1-bd pb-4 mt-4">
                    <button type="button" class="btn btn-secondary w-100">Free trial</button>
                  </div>
                  <div class="col-12 text-center rg16-g1 mt-3 pb-3 bd-bottom-1-bd">
                    <div>User Limitation</div>
                    <div class="cl-CI mt-1">3 user</div>
                  </div>
                  <div class="col-12 text-center rg16-g1 mt-3 pb-3 bd-bottom-1-bd">
                    <div>Document Limitation</div>
                    <div class="cl-CI mt-1">5 Documents</div>
                  </div>
                  <div class="col-12 text-center rg16-g1 mt-3 pb-3 bd-bottom-1-bd">
                    Basic Fields
                  </div>
                  <div class="col-12 text-center rg16-g1 mt-3 pb-3 bd-bottom-1-bd">
                    Basic Admin
                  </div>
                  <div class="col-12 text-center rg16-g1 mt-3 pb-3 bd-bottom-1-bd">
                    Timestamp (TEDA Standard)
                  </div>
                  <div class="col-12 text-center rg16-g1 mt-3 pb-3 bd-bottom-1-bd">
                    <div>Digital Certificate</div>
                  </div>
                  <div class="col-12 text-center rg16-g1 mt-3 pb-3 bd-bottom-1-bd">
                    <div>Internal User : Standard e-KYC</div>
                    <div>(OCR + Selfie + DOPA Check)</div>
                  </div>
                  <div class="col-12 text-center rg16-g1 mt-3 pb-3 bd-bottom-1-bd">
                    <div>External User : Standard e-KYC</div>
                    <div>(OCR + Selfie + DOPA Check)</div>
                  </div>
                </div>
              </div>

              <div class="list-pricing-item">
                <div class="row">
                  <div class="col-12 mt-3 text-center rg20-g1">
                    Basic Package
                  </div>
                  <div class="col-12 text-center md36-g1 cl-CI mt-2">
                    <sup class="md24-g1 cl-CI">฿</sup>{{package.basic | numberWithCommas}}
                  </div>
                  <div class="col-12 text-center cl-CI lg14-g1">
                    per user, per {{use_per}}
                  </div>
                  <div class="col-12 bd-bottom-1-bd pb-4 mt-4">
                    <button type="button" class="btn btn-warning w-100" @click="choose_package('basic')">Buy
                      Now</button>
                  </div>
                  <div class="col-12 text-center rg16-g1 mt-3 pb-3 bd-bottom-1-bd">
                    <div>User Limitation</div>
                    <div class="cl-CI mt-1">5 user</div>
                  </div>
                  <div class="col-12 text-center rg16-g1 mt-3 pb-3 bd-bottom-1-bd">
                    <div>Storage Limitation</div>
                    <div class="cl-CI mt-1">5 GB</div>
                  </div>
                  <div class="col-12 text-center rg16-g1 mt-3 pb-3 bd-bottom-1-bd">
                    Document Unlimited
                  </div>
                  <div class="col-12 text-center rg16-g1 mt-3 pb-3 bd-bottom-1-bd">
                    Basic Fields
                  </div>
                  <div class="col-12 text-center rg16-g1 mt-3 pb-3 bd-bottom-1-bd">
                    Basic Admin
                  </div>
                  <div class="col-12 text-center rg16-g1 mt-3 pb-3 bd-bottom-1-bd">
                    Reminders & notifications
                  </div>
                  <div class="col-12 text-center rg16-g1 mt-3 pb-3 bd-bottom-1-bd">
                    Personalized Logo
                  </div>
                  <div class="col-12 text-center rg16-g1 mt-3 pb-3 bd-bottom-1-bd">
                    Timestamp (TEDA Standard)
                  </div>
                  <div class="col-12 text-center rg16-g1 mt-3 pb-3 bd-bottom-1-bd">
                    <div>Digital Certificate</div>
                  </div>
                  <div class="col-12 text-center rg16-g1 mt-3 pb-3 bd-bottom-1-bd">
                    <div>Internal User : Standard e-KYC</div>
                    <div>(OCR + Selfie + DOPA Check)</div>
                  </div>
                  <div class="col-12 text-center rg16-g1 mt-3 pb-3 bd-bottom-1-bd">
                    <div>External User : Standard e-KYC</div>
                    <div>(OCR + Selfie + DOPA Check)</div>
                  </div>
                </div>
              </div>

              <div class="list-pricing-item">
                <div class="row">
                  <div class="col-12 mt-3 text-center rg20-g1">
                    Advanced Package
                  </div>
                  <div class="col-12 text-center md36-g1 cl-CI mt-2">
                    <sup class="md24-g1 cl-CI">฿</sup>{{package.advanced | numberWithCommas}}
                  </div>
                  <div class="col-12 text-center cl-CI lg14-g1">
                    per user, per {{use_per}}
                  </div>
                  <div class="col-12 bd-bottom-1-bd pb-4 mt-4">
                    <button type="button" class="btn btn-warning w-100" @click="choose_package('advanced')">Buy
                      Now</button>
                  </div>
                  <div class="col-12 text-center rg16-g1 mt-3 pb-3 bd-bottom-1-bd">
                    <div>User Limitation</div>
                    <div class="cl-CI mt-1">10 user</div>
                  </div>
                  <div class="col-12 text-center rg16-g1 mt-3 pb-3 bd-bottom-1-bd">
                    <div>Storage Limitation</div>
                    <div class="cl-CI mt-1">20 GB</div>
                  </div>
                  <div class="col-12 text-center rg16-g1 mt-3 pb-3 bd-bottom-1-bd">
                    Document Unlimited
                  </div>
                  <div class="col-12 text-center rg16-g1 mt-3 pb-3 bd-bottom-1-bd">
                    Basic Fields
                  </div>
                  <div class="col-12 text-center rg16-g1 mt-3 pb-3 bd-bottom-1-bd">
                    Basic Admin
                  </div>
                  <div class="col-12 text-center rg16-g1 mt-3 pb-3 bd-bottom-1-bd">
                    Document Template Upload
                  </div>
                  <div class="col-12 text-center rg16-g1 mt-3 pb-3 bd-bottom-1-bd">
                    Approval Function
                  </div>
                  <div class="col-12 text-center rg16-g1 mt-3 pb-3 bd-bottom-1-bd">
                    Save Draft
                  </div>
                  <div class="col-12 text-center rg16-g1 mt-3 pb-3 bd-bottom-1-bd">
                    Basic Signer Fields
                  </div>
                  <div class="col-12 text-center rg16-g1 mt-3 pb-3 bd-bottom-1-bd">
                    Advance Signer Fields
                  </div>
                  <div class="col-12 text-center rg16-g1 mt-3 pb-3 bd-bottom-1-bd">
                    Reminders & notifications
                  </div>
                  <div class="col-12 text-center rg16-g1 mt-3 pb-3 bd-bottom-1-bd">
                    Personalized Logo
                  </div>
                  <div class="col-12 text-center rg16-g1 mt-3 pb-3 bd-bottom-1-bd">
                    Timestamp (TEDA Standard)
                  </div>
                  <div class="col-12 text-center rg16-g1 mt-3 pb-3 bd-bottom-1-bd">
                    <div>Digital Certificate</div>
                  </div>
                  <div class="col-12 text-center rg16-g1 mt-3 pb-3 bd-bottom-1-bd">
                    <div>Internal User : Standard e-KYC</div>
                    <div>(OCR + Selfie + DOPA Check)</div>
                  </div>
                  <div class="col-12 text-center rg16-g1 mt-3 pb-3 bd-bottom-1-bd">
                    <div>External User : Standard e-KYC</div>
                    <div>(OCR + Selfie + DOPA Check)</div>
                  </div>
                </div>
              </div>

              <div class="list-pricing-item">
                <div class="row">
                  <div class="col-12 mt-3 text-center rg20-g1">
                    Premium Package
                  </div>
                  <div class="col-12 text-center md36-g1 cl-CI mt-2">
                    <sup class="md24-g1 cl-CI">฿</sup>{{package.premium | numberWithCommas}}
                  </div>
                  <div class="col-12 text-center cl-CI lg14-g1">
                    per user, per {{use_per}}
                  </div>
                  <div class="col-12 bd-bottom-1-bd pb-4 mt-4">
                    <button type="button" class="btn btn-warning w-100" @click="choose_package('premium')">Buy
                      Now</button>
                  </div>
                  <div class="col-12 text-center rg16-g1 mt-3 pb-3 bd-bottom-1-bd">
                    <div>User Limitation</div>
                    <div class="cl-CI mt-1">20 user</div>
                  </div>
                  <div class="col-12 text-center rg16-g1 mt-3 pb-3 bd-bottom-1-bd">
                    <div>Storage Limitation</div>
                    <div class="cl-CI mt-1">50 GB</div>
                  </div>
                  <div class="col-12 text-center rg16-g1 mt-3 pb-3 bd-bottom-1-bd">
                    Document Unlimited
                  </div>
                  <div class="col-12 text-center rg16-g1 mt-3 pb-3 bd-bottom-1-bd">
                    Basic Fields
                  </div>
                  <div class="col-12 text-center rg16-g1 mt-3 pb-3 bd-bottom-1-bd">
                    Basic Admin
                  </div>
                  <div class="col-12 text-center rg16-g1 mt-3 pb-3 bd-bottom-1-bd">
                    Document Template Upload
                  </div>
                  <div class="col-12 text-center rg16-g1 mt-3 pb-3 bd-bottom-1-bd">
                    Approval Function
                  </div>
                  <div class="col-12 text-center rg16-g1 mt-3 pb-3 bd-bottom-1-bd">
                    Save Draft
                  </div>
                  <div class="col-12 text-center rg16-g1 mt-3 pb-3 bd-bottom-1-bd">
                    Basic Signer Fields
                  </div>
                  <div class="col-12 text-center rg16-g1 mt-3 pb-3 bd-bottom-1-bd">
                    Advance Signer Fields
                  </div>
                  <div class="col-12 text-center rg16-g1 mt-3 pb-3 bd-bottom-1-bd">
                    Reminders & notifications
                  </div>
                  <div class="col-12 text-center rg16-g1 mt-3 pb-3 bd-bottom-1-bd">
                    Personalized Logo
                  </div>
                  <div class="col-12 text-center rg16-g1 mt-3 pb-3 bd-bottom-1-bd">
                    Timestamp (TEDA Standard)
                  </div>
                  <div class="col-12 text-center rg16-g1 mt-3 pb-3 bd-bottom-1-bd">
                    <div>Digital Certificate</div>
                  </div>
                  <div class="col-12 text-center rg16-g1 mt-3 pb-3 bd-bottom-1-bd">
                    <div>Internal User : Standard e-KYC</div>
                    <div>(OCR + Selfie + DOPA Check)</div>
                  </div>
                  <div class="col-12 text-center rg16-g1 mt-3 pb-3 bd-bottom-1-bd">
                    <div>Internal User : IAL2.3</div>
                    <div>(Dip Chip + Selfie) + Digital Certificate</div>
                  </div>
                  <div class="col-12 text-center rg16-g1 mt-3 pb-3 bd-bottom-1-bd">
                    <div>External User : Standard e-KYC</div>
                    <div>(OCR + Selfie + DOPA Check)</div>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>

      </div>

      <hr class="mt-5 line-bd">

      <div class="container mt-5">
        <div class="row">
          <div class="col-12 rg36-g1 cl-CI">
            Enterprise Solutions Call for more info: 098-123-4322
          </div>
          <div class="col-12 md18-g1 cl-CI">
            All of our Enterprise features, plus:
          </div>

          <div class="col-12 mt-3">
            <div class="row">
              <div class="col-12 rg18-g2">
                API
              </div>
              <div class="col-12 lg14-g2 mt-2">
                Use our pre-built but flexible integrations or create your own. With our REST and SOAP APIs, recipes,
                coding tools, and robust sandbox environment, you'll have the tools to deploy with Creden.
              </div>
            </div>
          </div>

          <div class="col-12 mt-3">
            <div class="row">
              <div class="col-12 rg18-g2">
                Integrations
              </div>
              <div class="col-12 lg14-g2 mt-2">
                With pre-built connectors, quickly integrate your CRM with DocuSign. We're compatible with many CRM
                systems such as Salesforce, Microsoft Dynamics CRM, Microsoft SharePoint, NetSuite Sugar CRM, and many
                more.
              </div>
            </div>
          </div>

          <div class="col-12 mt-3">
            <div class="row">
              <div class="col-12 rg18-g2">
                Advanced branding
              </div>
              <div class="col-12 lg14-g2 mt-2">
                With pre-built connectors, quickly integrate your CRM with DocuSign. We're compatible with many CRM
                systems such as Salesforce, Microsoft Dynamics CRM, Microsoft SharePoint, NetSuite Sugar CRM, and many
                more.
              </div>
            </div>
          </div>

          <div class="col-12 mt-3">
            <div class="row">
              <div class="col-12 rg18-g2">
                More users
              </div>
              <div class="col-12 lg14-g2 mt-2">
                Suite of products for identity verification and authentication for an agreement or for eIDAS compliance,
                including SMS, phone, access code, knowledge-based authentication, and verification of government IDs
                and electronic IDs.
              </div>
            </div>
          </div>

          <div class="col-12 mt-3">
            <div class="row">
              <div class="col-12 rg18-g2">
                Customizable usage limits
              </div>
              <div class="col-12 lg14-g2 mt-2">
                A sales representative will work with you to develop a usage plan to meet the specific needs of your
                organization.
              </div>
            </div>
          </div>

          <div class="col-12 mt-3">
            <div class="row">
              <div class="col-12 rg18-g2">
                Industry modules
              </div>
              <div class="col-12 lg14-g2 mt-2">
                Tailored solutions for regulated industries: Government (e.g., FedRAMP), Healthcare / Life Sciences
                (e.g., 21 CFR Part 11, HIPAA) and Financial Services (e.g., Rooms for Mortgage).
              </div>
            </div>
          </div>

          <div class="col-12 mt-3">
            <div class="row">
              <div class="col-12 rg18-g2">
                Enterprise level support
              </div>
              <div class="col-12 lg14-g2 mt-2">
                Accelerate user success with professional service options. Whether you need help implementing or
                managing risk, our experts can help.
              </div>
            </div>
          </div>



        </div>
      </div>

      <hr class="mt-5 line-bd">

      <div class="container mt-5">
        <div class="row">
          <div class="col-12 rg36-g1 cl-CI">
            FAQ
          </div>

          <div class="col-12">
            <div class="accordion accordion-flush" id="accordionFlushExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                  <a class="accordion-button collapsed a-line-none cs-pointer" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    <ul class="faq-list">
                      <li class="rg18-g2">
                        Can I try Creden before I purchase a plan?
                      </li>
                      <li class="lg14-g2 mt-2">
                        We offer free 30-day trials to help you learn the ropes before you decide if you want to
                        purchase a plan. Try it here
                      </li>
                    </ul>

                  </a>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                    single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore
                    wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                    occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of
                    them accusamus labore sustainable VHS.</div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                  <a class="accordion-button collapsed rg18-g2 a-line-none cs-pointer" type="button"
                    data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false"
                    aria-controls="flush-collapseTwo">
                    How many envelopes can I send for signatures each month or each year?
                  </a>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                    single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore
                    wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                    occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of
                    them accusamus labore sustainable VHS.</div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                  <a class="accordion-button collapsed rg18-g2 a-line-none cs-pointer" type="button"
                    data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false"
                    aria-controls="flush-collapseThree">
                    How many envelopes can I send for signatures each month or each year?
                  </a>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                    single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore
                    wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                    occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of
                    them accusamus labore sustainable VHS.</div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>

      <hr class="mt-5 line-bd">

      <div class="container mt-5">
        <div class="row">
          <div class="col-12 lg14-g2">
            If you're interested to know more about our enterprise solutions or need more than 20 users call
            087-123-4567 to talk to a sales specialist.
          </div>
          <div class="col-12 lg14-g2">
            $ Additional fees may apply.
          </div>
          <div class="col-12 lg14-g2">
            The 30-day refund option may only be used once per customer. When you sign up for a Creden subscription
            plan, you must agree to the Terms and Conditions and Privacy Policy for Use of Creden Service Plans. This
            agreement contains important information regarding fees and payment terms, return of balances, and account
            terms and terminations. We only process cancellations and refunds according to the terms specified in the
            Term and Conditions.
          </div>
          <div class="col-12 lg14-g2">
            The Creden Payments feature is only available on Business Pro plans purchased in the US, United Kingdom,
            Australia, and Canada.
          </div>
          <div class="col-12 lg14-g2">
            * ACCESS20 offer expires February 5, 2021 at 11:59 PM PST. 20% savings is valid for the first year of
            single-user Creden annual subscription when purchased on Creden.co. Cannot be combined with any other offer
            or discount. Maximum discount value of $96 or equivalent in local currency. Creden corporate and API plans
            are not eligible. Valid for NEW customers only. No price_package adjustments on previous purchases.
          </div>
        </div>
      </div>
    </div>
    <!-- End Detail Package -->

    <!-- Step Buy Package -->
    <div class="container" v-else-if="display == '2'">
      <div class="row">

        <div class="col-12 rg36-g1 cl-CI mt-5">
          Purchase {{ form_product.package | firstUpper }} Package
        </div>

        <div class="col-12 mt-4">
          <ul class="px-0" style="list-style: none;display: flex;">
            <li class="bg-FF py-4 px-3 me-5" style="width: 50%;">
              <div class="row">

                <div class="col-12 text-center rg24-g2">
                  Checkout
                </div>

                <div class="col-12 lg14-g2 mt-3">
                  <a href="/esign/web/login.html">Login to Purchase</a>
                </div>

                <div class="col-12 md18-g2 mt-3">
                  <span class="cl-FF number-pay">1</span> Account
                </div>

                <div class="col-12 lg14-g2 mt-3" v-if="step != '1'">
                  {{form_product.firstname}} {{form_product.lastname}} :: {{form_product.email}}
                  <span class="cl-2F8 float-end cs-pointer" @click="goToStep('1', step)">Edit</span>
                </div>

                <div class="collapse multi-collapse show" id="paystep1">

                  <div class="col-12 mt-4">
                    <div class="row">
                      <div class="col-6">
                        Firstname
                        <input type="text" class="form-control mt-2" v-model="form_product.firstname">
                      </div>
                      <div class="col-6">
                        Lastname
                        <input type="text" class="form-control mt-2" v-model="form_product.lastname">
                      </div>
                    </div>
                  </div>

                  <div class="col-12 mt-3">
                    Email address
                    <input type="text" class="form-control mt-2" v-model="form_product.email" disabled>
                  </div>

                  <div class="col-12 mt-3">
                    Company*
                    <input type="text" class="form-control mt-2" v-model="form_product.company_name">
                  </div>

                  <div class="col-12 mt-3">
                    Select an Industry*
                    <select class="form-select mt-2" v-model="form_product.type_of_business">
                      <option value="">กรุณาเลือกประเภท</option>
                      <option value="Accounting">Accounting &amp; Tax</option>
                      <option value="Business Services">Business Services / Consulting</option>
                      <option value="Construction">Construction</option>
                      <option value="Education">Education</option>
                      <option value="Financial Services">Financial Services</option>
                      <option value="Government">Government</option>
                      <option value="Insurance - Health">Healthcare - Health Plans &amp; Payers</option>
                      <option value="Healthcare - Providers">Healthcare - Providers</option>
                      <option value="Insurance">Insurance</option>
                      <option value="Legal">Legal</option>
                      <option value="Healthcare/Life Sciences">Life Sciences</option>
                      <option value="Manufacturing">Manufacturing</option>
                      <option value="Real Estate - Mortgage">Mortgage</option>
                      <option value="Not For Profit">Not For Profit</option>
                      <option value="Real Estate - Commercial">Real Estate - Commercial</option>
                      <option value="Real Estate - Agent">Real Estate - Residential</option>
                      <option value="Retail">Retail</option>
                      <option value="Individual">Student</option>
                      <option value="Technology">Technology</option>
                      <option value="Other">Other</option>
                    </select>
                  </div>

                  <div class="col-12 mt-5">
                    <button type="button" class="btn btn-warning w-100" @click="next_step_1()">CONTINUE</button>
                  </div>

                </div>

                <div class="col-12 mt-3">
                  <hr class="line-bd">
                </div>

                <div class="col-12 md18-g2 mt-3">
                  <span class="cl-FF number-pay">2</span> Customers also purchased
                  <span class="lg14-g2 cl-2F8 float-end cs-pointer" @click="goToStep('2', step)"
                    v-if="step != '1' && step != '2'">Edit</span>
                </div>

                <div class="collapse multi-collapse" id="paystep2">
                  <div>
                    <div class="col-12 mt-3 rg18-g2">
                      <i class="fas fa-boxes mx-3"></i> Additional Storage (30 Days)
                    </div>
                    <div class="col-12 mt-3 rg18-g2 px-5">
                      <select class="form-select" style="width: 50% !important;" v-model="select_storage">
                        <option value="10">10 GB (+ ฿50.00 )</option>
                        <option value="25">25 GB (+ ฿125.00 )</option>
                        <option value="50">50 GB (+ ฿250.00 )</option>
                        <option value="100">100 GB (+ ฿500.00 )</option>
                      </select>
                    </div>
                    <div class="col-12 text-center md18-g2 mt-4">
                      ฿{{storage['s' + select_storage] | numberWithCommasDotZero}} <button type="button"
                        class="btn btn-warning ms-5" @click="fn_add_on('storage')">Add to Cart</button>
                    </div>
                  </div>

                  <div v-if="form_product.package != 'premium'">
                    <div class="col-12 mt-3 rg18-g2">
                      <i class="fas fa-star-half-alt mx-3"></i> Advance Functions (30 Days)
                    </div>
                    <div class="col-12 mt-2 lg14-g2 px-5">
                      Initials Sign, In-person Sign, Clone All Signature, Image Field
                    </div>
                    <div class="col-12 text-center md18-g2 mt-4">
                      ฿3,000.00 <button type="button" class="btn btn-warning ms-5" @click="fn_add_on('advance')"
                        :disabled="form_product.advance_func">Add to Cart</button>
                    </div>
                  </div>

                  <div class="col-12 mt-5">
                    <button type="button" class="btn btn-warning w-100" @click="next_step_2()">CONTINUE</button>
                  </div>

                </div>

                <div class="col-12 mt-3">
                  <hr class="line-bd">
                </div>

                <div class="col-12 md18-g2 mt-3 pb-2">
                  <span class="cl-FF number-pay">3</span> Billing
                </div>

                <div class="collapse multi-collapse" id="paystep3">

                  <div class="col-12 mt-3 rg18-g2">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="RadioPlan" id="monthly_radio"
                        @change="change_plan(true)" v-model="plan" value="true">
                      <label class="form-check-label" for="monthly_radio">
                        Monthly Subscription
                      </label>
                    </div>
                    <div class="form-check mt-3">
                      <input class="form-check-input" type="radio" name="RadioPlan" id="annual_radio"
                        @change="change_plan(false)" v-model="plan" value="false">
                      <label class="form-check-label" for="annual_radio">
                        Yearly Subscription <span class="cl-EB">- 15% Savings</span>
                      </label>
                    </div>
                  </div>

                  <div class="col-12 mt-4">
                    <hr class="line-bd">
                  </div>

                  <div class="col-12 mt-4 md14-g2">
                    Total Users
                  </div>

                  <div class="col-12 mt-2 lg14-g2">
                    Add users to your Creden plan to allow them to securely send documents to be signed. $300.00 per
                    user, per year. For more than 5 users, call 1-877-720-2040.
                  </div>

                  <div class="col-12 mt-5 pb-3">
                    <button type="button" class="btn btn-warning w-100" @click="confirm_buy_package()">PURCHASE</button>
                  </div>

                </div>

              </div>
            </li>

            <li style="width: 30%;">

              <div class="row bg-FF py-4 px-3">

                <div class="col-12 rg16-g1">
                  Order Summary
                </div>
                <div class="col-12 rg18-g3 mt-2">
                  {{ form_product.package | firstUpper }} Package
                </div>

                <div class="col-12 mt-2">
                  <hr class="line-bd">
                </div>
                <div class="col-12 mt-2 rg18-g1">
                  <i class="fas fa-minus-circle me-2 cl-CI cs-pointer" @click="minus_user()"></i>
                  {{form_product.users}}
                  <i class="fas fa-plus-circle ms-2 me-2 cl-CI cs-pointer" @click="plus_user()"></i>
                  User
                  <span class="float-end">฿{{cal_pack_per_user(form_product.price_package, form_product.users ) |
                    numberWithCommas}}</span>
                </div>
                <div class="col-12 lg14-g2 mt-1">
                  ฿{{ form_product.price_package | numberWithCommasDotZero }}/User/{{ use_per | firstUpper }}
                </div>
                <div class="col-12 lg14-g2 mt-2" v-for="r, i in add_on">
                  ฿{{r.price | numberWithCommasDotZero }} ({{ r.display_name }})
                  <span class="float-end">
                    <i class="fas fa-times cs-pointer cl-EB" @click="remove_add_on(i, r.name)"></i>
                  </span>
                </div>
                <!-- that.form_product.promo_code_use -->
                <div class="col-12 mt-2">
                  <hr class="line-bd">
                </div>
                <div class="col-12 rg18-g1 mt-2">
                  Promo Code

                  <span class="rg18-g2 cl-EB float-end" v-if="form_product.promo_code_use == true">
                    - ฿ {{form_product.promo_code_value | numberWithCommasDotZero }}
                  </span>
                  <span v-else>
                    <span class="float-end cl-CI cs-pointer" v-if="use_promo == false" @click="get_use_promo(true)">
                      Add Code
                    </span>
                    <span class="float-end cl-CI cs-pointer" v-else-if="use_promo == true"
                      @click="get_use_promo(false)">
                      Cancel
                    </span>
                  </span>

                </div>

                <div class="col-12 mt-2 lg14-g2" v-if="form_product.promo_code_use == true">
                  {{ form_product.promo_code }}
                  &nbsp;&nbsp;&nbsp;<span><i class="fas fa-times cs-pointer cl-EB"
                      @click="remove_promo_code()"></i></span>
                </div>
                <div class="col-12 mt-2" v-else-if="use_promo == true">
                  <div class="row">
                    <div class="col-8">
                      <input type="text" class="form-control" v-model="txt_promo_code">
                    </div>
                    <div class="col-4">
                      <button type="button" class="btn btn-primary" @click="add_promo_code()">ADD</button>
                    </div>
                  </div>
                </div>


                <div class="col-12 mt-2">
                  <hr class="line-bd">
                </div>
                <div class="col-12 md24-g1 mt-2">
                  Total Due <span class="float-end">฿{{ form_product.total | numberWithCommas }}</span>
                </div>
                <div class="col-12 mt-2">
                  <hr class="line-bd">
                </div>
                <div class="col-12 rg14-g1 text-center mt-2 pb-2">
                  <i class="fas fa-envelope"></i> <a href="#">Email Support</a>
                </div>

              </div>

            </li>
          </ul>
        </div>

      </div>
    </div>
    <!-- End Step Buy Package -->

    <form method="post" action="https://www.thaiepay.com/epaylink/payment.aspx" class="dy-none">
      <input type="hidden" name="refno" v-model="refno" />
      <input type="hidden" name="merchantid" value="77917046" />
      <input type="hidden" name="customeremail" v-model="customeremail" />
      <input type="hidden" name="cc" value="00" />
      <input type="hidden" name="productdetail" v-model="productdetail" />
      <input type="hidden" name="total" v-model="total" />
      <br>
      <input type="submit" name="Submit" value="Comfirm Order" id="submitForm_payment" />
    </form>

    <div class="w-100 bg-CI">

      <div class="container mt-5">
        <div class="row">


          <div class="col-6">
            <div class="row">
              <div class="col-12 max-limit-size-logo mt-3 ps-0">
                <img src="images/Creden_logo_white.png" alt="logo creden website" class="w-100">
              </div>

              <div class="col-12 mt-4">
                <div class="row">
                  <div class="col-4">
                    <div class="row">
                      <div class="col-12 md18-g1 cl-FF-op-6">
                        บริการของเรา
                      </div>
                      <div class="col-12 rg14-g3 mt-2">
                        <a href="#" class="a-line-none cl-FF">Creden e-KYC</a>
                      </div>
                      <div class="col-12 rg14-g3 cl-FF mt-2">
                        <a href="#" class="a-line-none cl-FF">Creden e-Signature</a>
                      </div>
                      <div class="col-12 rg14-g3 cl-FF mt-2">
                        <a href="#" class="a-line-none cl-FF">Creden CreditScore</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="row">
                      <div class="col-12 md18-g1 cl-FF-op-6">
                        เกี่ยวกับเรา
                      </div>
                      <div class="col-12 rg14-g3 mt-2">
                        <a href="#" class="a-line-none cl-FF">ติดต่อเรา</a>
                      </div>
                      <div class="col-12 rg14-g3 cl-FF mt-2">
                        <a href="#" class="a-line-none cl-FF">ติดต่อฝ่ายขาย</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="row">
                      <div class="col-12 md18-g1 cl-FF-op-6">
                        อื่น ๆ
                      </div>
                      <div class="col-12 rg14-g3 mt-2">
                        <a href="#" class="a-line-none cl-FF">ความปลอดภัย</a>
                      </div>
                      <div class="col-12 rg14-g3 cl-FF mt-2">
                        <a href="#" class="a-line-none cl-FF">ข้อกำหนดการใช้งาน</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>

          <div class="col-6">
            <div class="row">

              <div class="col-12 mt-4 pt-3">
                <div class="fb-page" data-href="https://www.facebook.com/creden.co/" data-tabs="" data-width=""
                  data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false"
                  data-show-facepile="false">
                  <blockquote cite="https://www.facebook.com/creden.co/" class="fb-xfbml-parse-ignore"><a
                      href="https://www.facebook.com/creden.co/">Creden.co</a></blockquote>
                </div>
              </div>

              <div class="col-12 mt-3 rg24-g1 cl-FF-op-6">
                ติดต่อฝ่ายขาย
              </div>

              <div class="col-12 mt-2 rg18-g1 cl-FF">
                sales@creden.co
              </div>

              <div class="col-12 mt-2 rg14-g1 cl-FF">
                ( จันทร์ - ศุกร์ 9.00 - 18.00 น. )
              </div>

            </div>
          </div>

          <div class="col-12 rg14-g1 cl-FF-op-6 mt-5 pb-4">
            © สงวนลิขสิทธิ์ 2564 ครีเดน เอเชีย จำกัด
          </div>

        </div>
      </div>

    </div>

    <!-- End App -->
  </div>
</body>

<script type="text/javascript" src="components/common_web.js"></script>
<script type="text/javascript" src="/esign/components/common.js"></script>
<script type="text/javascript" src="/esign/js/jquery-3.3.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

<!-- MY ITEM -->
<script>
  $(document).ready(function () {
    app = init_vue()
    window.fbAsyncInit = function () {
      FB.init({
        xfbml: true,
        version: 'v7.0'
      });
    };
    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/th_TH/sdk/xfbml.customerchat.js';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  });


  function init_vue() {
    return new Vue({
      el: '#app',
      data: {
        lang_choose: localStorage.getItem('lang_choose') || 'th',
        lang_txt: lang_pricing,
        refno: "",
        customeremail: "",
        productdetail: "",
        total: "1",
        //End Form payment 

        display: "0",
        step: "1",
        email: getUserField("adminEmail") || "",
        firstname: getUserField("adminFisrtname") || "",
        plan: true,
        package: {
          basic: "350",
          advanced: "590",
          premium: "790",
        },
        select_storage: "10",
        storage: {
          s10: "50",
          s25: "125",
          s50: "250",
          s100: "500",
        },
        use_per: "month",
        add_on: [],
        use_promo: false,
        txt_promo_code: "CREDEN_PROMO",
        form_product: {
          email: getUserField("adminEmail") || "",
          firstname: getUserField("adminFisrtname") || "",
          lastname: getUserField("adminLastname") || "",
          type_of_business: getUserField("type_of_business") || "",
          company_name: getUserField("company_name") || "",
          plan: "",
          package: "",
          price_package: "0",
          total: 0,
          users: 1,
          storage: [],
          advance_func: false,
          promo_code_use: false,
          promo_code: "",
          promo_code_value: "",
        },
        my_plan: [],

      },
      filters: {
        numberWithCommas(x) {
          return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        },
        numberWithCommasDotZero(x) {
          x = x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
          return x + ".00"
        },
        firstUpper(txt) {
          if (txt == "basic") txt = "Basic"
          else if (txt == "advanced") txt = "Advanced"
          else if (txt == "premium") txt = "Premium"
          else if (txt == "month") txt = "Month"
          else if (txt == "year") txt = "Year"
          return txt
        }
      },
      mounted: function () {

        if (this.email) {
          this.get_my_plan()
        }
        else {
          this.display = "1"
        }

      },
      methods: {
        choose_package: function (select_pack) {
          var that = this
          that.display = "2"

          that.form_product.plan = (that.plan == true) ? "monthly" : "annual"
          that.form_product.package = select_pack
          that.form_product.price_package = that.package[select_pack]
          that.form_product.total = Number(that.package[select_pack]).toFixed(2)
        },
        select_plan: function () {
          var that = this

          if (that.plan == true) {
            that.package = {
              basic: "350",
              advanced: "590",
              premium: "790",
            }
            that.use_per = "month"
          }
          else {
            that.package = {
              basic: "3570",
              advanced: "6010",
              premium: "8050",
            }
            that.use_per = "year"
          }
        },
        change_plan: function (plan) {
          var that = this

          that.plan = plan
          that.form_product.plan = (plan == true) ? "monthly" : "annual"
          if (that.plan == true) {
            that.package = {
              basic: "350",
              advanced: "590",
              premium: "790",
            }
            that.use_per = "month"
          }
          else {
            that.package = {
              basic: "3570",
              advanced: "6010",
              premium: "8050",
            }
            that.use_per = "year"
          }
          that.form_product.price_package = that.package[that.form_product.package]
          // that.form_product.total = Number(that.package[that.form_product.package]).toFixed(2)
          that.cal_total()

        },
        next_step_1: function () {
          var x = new Date().getTime()
          var that = this

          if (that.form_product.company_name == "") {
            alert("กรุณาใส่ชื่อบริษัท")
            return false
          }

          if (that.form_product.type_of_business == "") {
            alert("กรุณาใส่ประเภทธุรกิจ")
            return false
          }


          $.ajax({
            type: "GET",
            url: api_host + "extend_session?random=" + x,
            data: '',
            dataType: "json",
            success: function (resp) {

              if (resp.user_only) {
                that.goToStep("2", "1")
              }
              else {
                alert("กรุณาเข้าสู่ระบบก่อนทำการซื้อ")
                document.location.href = '/esign/web/login.html?rd=' + new Date().getTime()
              }

            },
            error: function (request, status, error) {
              console.log("Extend session error |" + status + ' |' + error);
            }
          });


        },
        next_step_2: function () {
          var that = this
          that.goToStep("3", "2")
        },
        confirm_buy_package: function () {
          var that = this
          var str = "คุณยืนยันที่จะทำการซื้อหรือไม่"

          if (confirm(str)) {

            var data = that.form_product
            $.ajax({
              type: "POST",
              url: api_host + "save_package",
              data: JSON.stringify(data),
              dataType: "json",
              success: function (resp) {

                if (resp.success) {
                  var r = resp.data
                  that.refno = r.ref_id
                  that.customeremail = r.email
                  // that.total = r.total
                  // that.productdetail = "BUY_" + r.package + "_" + r.total
                  that.productdetail = r.package + "(" + r.price_package + ")__Total(" + r.total + ")"
                  // console.log(resp.data)

                  setTimeout(function () {
                    $("#submitForm_payment").click()
                  }, 1000);

                }
                else {
                  alert("บันทึกการสั่งซื้อไม่สำเร็จ")
                }

              },
              error: function (request, status, error) {
                alert("|" + status + ' |' + error);
              }
            });

          }
        },
        minus_user: function () {
          var that = this
          var min = 1
          if (that.form_product.users > min) {
            that.form_product.users = that.form_product.users - 1
            that.cal_pack_per_user(that.form_product.price_package, that.form_product.users)
            that.cal_total()
          }
          else {
            return false
          }
        },
        plus_user: function () {
          var that = this
          var max = 1
          var pack = that.form_product.package
          if (pack == "basic") max = 5
          else if (pack == "advanced") max = 10
          else if (pack == "premium") max = 20
          if (that.form_product.users < max) {
            that.form_product.users = that.form_product.users + 1
            that.cal_pack_per_user(that.form_product.price_package, that.form_product.users)
            that.cal_total()
          }
          else {
            return false
          }
        },
        cal_total: function () {
          var that = this
          var f = that.form_product
          var total = 0
          var pack_per_user = that.cal_pack_per_user(f.price_package, f.users)
          var total_add_on = 0
          for (i = 0; i < that.add_on.length; i++) {
            total_add_on = total_add_on + Number(that.add_on[i].price)
          }
          total = pack_per_user + total_add_on
          if (f.promo_code_use == true) total = total - Number(f.promo_code_value)

          that.form_product.total = total.toFixed(2)
        },
        cal_pack_per_user: function (package, user) {
          var p = Number(package)
          var u = Number(user)
          return p * u
        },
        fn_add_on: function (add) {
          var that = this

          if (add == "advance") {
            that.form_product.advance_func = true
            that.add_on.push({
              display_name: "Advance Functions",
              name: "Advance Functions",
              price: "3000",
              exp: "30",
            })
          }
          else if (add == "storage") {
            that.add_on.push({
              display_name: "Storage " + that.select_storage + " GB",
              name: "Storage",
              size: that.select_storage,
              price: that.storage['s' + that.select_storage],
              exp: "30",
            })

            that.form_product.storage.push({
              display_name: "Storage " + that.select_storage + " GB",
              name: "Storage",
              size: that.select_storage,
              price: that.storage['s' + that.select_storage],
              exp: "30",
            })
          }

          that.cal_total()
        },
        remove_add_on: function (index, name) {
          var that = this
          that.add_on.splice(index, 1)
          if (name == "Advance Functions") {
            that.form_product.advance_func = false
          }
          that.cal_total()
        },
        add_promo_code: function () {
          var that = this

          if (that.txt_promo_code == "") {
            alert("กรุณาใส่รหัสโค้ด")
            return false
          }

          // if(that.email == "") {
          //   alert("กรุณาเข้าสู่ระบบ ก่อนทำรายการ")
          //   return false
          // }

          var data = {
            code: that.txt_promo_code,
            email: that.email
          }
          $.ajax({
            type: "POST",
            url: api_host + "chk_promocode",
            data: JSON.stringify(data),
            dataType: "json",
            success: function (resp) {

              if (resp.success) {
                var r = resp.data
                that.form_product.promo_code_use = true
                that.form_product.promo_code = r.code
                that.form_product.promo_code_value = r.value
                that.cal_total()
              }
              else if (resp.success == false && resp.error_code == "999") {
                alert("รหัสโค้ดไม่ถูกต้อง")
                that.txt_promo_code = ""
                return false
              }
              else {
                alert("กรุณาเข้าสู่ระบบ ก่อนทำรายการ 2")
                document.location.href = "/esign/web/login.html"
              }

            },
            error: function (request, status, error) {
              alert("|" + status + ' |' + error);
            }
          });
        },
        remove_promo_code: function () {
          var that = this
          that.form_product.promo_code_use = false
          that.form_product.promo_code = ""
          that.form_product.promo_code_value = ""
          that.cal_total()
        },
        get_use_promo: function (value) {
          var that = this
          that.use_promo = value
        },
        goToStep: function (next, currunet) {
          var that = this
          that.step = next
          $("#paystep" + next).addClass("show")
          $("#paystep" + currunet).removeClass("show")
        },
        get_my_plan: function () {
          var that = this
          var data = {}
          $.ajax({
            type: "POST",
            url: api_host + "get_my_plan",
            data: JSON.stringify(data),
            dataType: "json",
            success: function (resp) {

              if (resp.success) {
                var r = resp.data
                var more = gup("buy") || "N/A"

                if (more == "more") {
                  that.choose_package(r.package)
                }
                else {
                  that.display = "1"
                }

                that.my_plan = r

              }

            },
            error: function (request, status, error) {
              alert("|" + status + ' |' + error);
            }
          });
        },
        logout: function () {

          localStorage.removeItem('compCode')
          localStorage.removeItem('username')
          localStorage.removeItem("register_obj")

          $.ajax({
            type: "POST",
            url: api_host + "logout",
            data: JSON.stringify(''),
            dataType: "json",
            success: function (data) {
              document.location.reload()
            },
            error: function (request, status, error) {
              console.log("Logout Error |" + status + ' |' + error);
              document.location.href = 'index.html'
            }
          });

        },



      } //end methods
    })
  }

  var lang_pricing = {
    //FAQ
    "con1": { "th": "Creden e-Signature คืออะไร?", "en": "What is Creden e-Signature?" },
    "con1_2": { "th": "Creden e-Signature เป็นโซลูชันจัดการเอกสารบนคลาวด์ที่ช่วยให้คุณสามารถแทนที่กระบวนการลายเซ็นกระดาษและหมึกด้วยการเซ็นอิเล็กทรอนิกส์ คุณจึงสามารถส่งลงนามติดตามและจัดการกระบวนการลายเซ็นโดยใช้เบราว์เซอร์หรืออุปกรณ์เคลื่อนที่ได้อย่างง่ายดาย", "en": "Creden e-Signature, is cloud-based document solution that lets you replace paper and ink signature processes with fully automated electronic signature workflows. So you can easily send, sign, track, and manage signature processes using a browser or mobile device." },
    "reset_pass": { "th": "ลายเซ็นอิเล็กทรอนิกส์คืออะไร?", "en": "What is an electronic signature?" },
    "reset_pass": {
      "th": "รีเซ็ตรหัสผ่าน", "en": `ตามนิยามของกฎหมายว่าด้วยธุรกรรมทางอิเล็กทรอนิกส์และข้อเสนอแนะมาตรฐานนี้ หมายถึง อักษร อักขระ ตัวเลข เสียง หรือสัญลักษณ์อื่นใดที่สร้างขึ้นให้อยู่ในรูปแบบอิเล็กทรอนิกส์ซึ่งนำมาใช้ประกอบกับข้อมูลอิเล็กทรอนิกส์ เพื่อแสดงความสัมพันธ์ระหว่างบุคคลกับข้อมูลอิเล็กทรอนิกส์ โดยมีวัตถุประสงค์เพื่อระบุตัวบุคคลผู้เป็นเจ้าของลายมือชื่ออิเล็กทรอนิกส์ที่เกี่ยวข้องกับข้อมูลอิเล็กทรอนิกส์นั้น และเพื่อแสดงว่าบุคคลดังกล่าวยอมรับข้อความในข้อมูลอิเล็กทรอนิกส์นั้น

ลายมือชื่ออิเล็กทรอนิกส์ ตาม พ.ร.บ.ว่าด้วยธุรกรรมทางอิเล็กทรอนิกส์ฯ ปรากฏอยู่ใน 2 มาตรา คือ มาตรา 9 และมาตรา 26

ลายมือชื่อตามมาตรา 9 ในกรณีที่กฎหมายกำหนดให้มีการลงลายมือชื่อ หรือกำหนดผลทางกฎหมาย กรณีที่ไม่มีการลงลายมือชื่อไว้ ให้ถือว่าได้มีการลงลายมือชื่อแล้ว ถ้า

(1) ใช้วิธีการที่สามารถระบุตัวเจ้าของลายมือชื่อ และสามารถแสดงเจตนาของเจ้าของลายมือชื่อเกี่ยวกับข้อความในข้อมูลอิเล็กทรอนิกส์ และ

(2) ใช้วิธีการในลักษณะอย่างใดอย่างหนึ่ง ดังต่อไปนี้

(ก) วิธีการที่เชื่อถือได้โดยเหมาะสมกับวัตถุประสงค์ของการสร้างหรือส่งข้อมูลอิเล็กทรอนิกส์ โดยคำนึงถึงพฤติการณ์แวดล้อมทั้งปวง รวมถึงข้อตกลงใด ๆ ที่เกี่ยวข้อง หรือ
(ข) วิธีการอื่นใดที่สามารถยืนยันตัวเจ้าของลายมือชื่อและสามารถแสดงเจตนาของเจ้าของลายมือชื่อ ตาม (1) ได้ด้วยวิธีการนั้นเองหรือประกอบกับพยานหลักฐานอื่น

วิธีการที่เชื่อถือได้ ให้คำนึงถึง

(1) ความมั่นคงและรัดกุมของการใช้วิธีการหรืออุปกรณ์ในการระบุตัวบุคคล สภาพพร้อมใช้งานของทางเลือกในการระบุตัวบุคคล กฎเกณฑ์เกี่ยวกับลายมือชื่อที่กำหนดไว้ใน กฎหมายระดับความมั่นคงปลอดภัยของการใช้ลายมือชื่ออิเล็กทรอนิกส์ การปฏิบัติตาม กระบวนการในการระบุตัวบุคคลผู้เป็นสื่อกลาง ระดับของการยอมรับหรือไม่ยอมรับ วิธีการที่ใช้ ในการระบุตัวบุคคลในการทำธุรกรรม วิธีการระบุตัวบุคคล ณ ช่วงเวลาที่มีการทำธุรกรรมและ ติดต่อสื่อสาร

(2) ลักษณะ ประเภท หรือขนาดของธุรกรรมที่ทำ จำนวนครั้งหรือความสม่ำเสมอ ในการทำธุรกรรม ประเพณีทางการค้าหรือทางปฏิบัติ ความสำคัญ มูลค่าของธุรกรรมที่ทำ หรือ

(3) ความรัดกุมของระบบการติดต่อสื่อสาร ให้นำความในวรรคหนึ่งมาใช้บังคับกับการประทับตราของนิติบุคคลด้วยวิธีการ ทางอิเล็กทรอนิกส์ ด้วยโดยอนุโลม

ลายมือชื่อตามมาตรา 26 ลายมือชื่ออิเล็กทรอนิกส์ที่มีลักษณะดังต่อไปนี้ให้ถือว่าเป็นลายมือชื่ออิเล็กทรอนิกส์ที่เชื่อถือได้

(1) ข้อมูลสำหรับใช้สร้างลายมือชื่ออิเล็กทรอนิกส์นั้นได้เชื่อมโยงไปยังเจ้าของลายมือชื่อ โดยไม่เชื่อมโยงไปยังบุคคลอื่นภายใต้สภาพที่นำมาใช้

(2) ในขณะสร้างลายมือชื่ออิเล็กทรอนิกส์นั้น ข้อมูลสำหรับใช้สร้างลายมือชื่ออิเล็กทรอนิกส์อยู่ภายใต้การควบคุมของเจ้าของลายมือชื่อโดยไม่มีการควบคุมของบุคคลอื่น

(3) การเปลี่ยนแปลงใด ๆ ที่เกิดแก่ลายมือชื่ออิเล็กทรอนิกส์ นับแต่เวลาที่ได้สร้างขึ้น สามารถจะตรวจพบได้

ในกรณีที่กฎหมายกำหนดให้การลงลายมือชื่อเป็นไปเพื่อรับรองความครบถ้วน และไม่มีการเปลี่ยนแปลงของข้อความ การเปลี่ยนแปลงใดแก่ข้อความนั้นสามารถตรวจพบได้นับ แต่เวลาที่ลงลายมือชื่ออิเล็กทรอนิกส์ บทบัญญัติในวรรคหนึ่ง ไม่เป็นการจำกัดว่าไม่มีวิธีการอื่นใดที่แสดงได้ว่าเป็นลายมือชื่ออิเล็กทรอนิกส์ที่เชื่อถือได้ หรือการแสดงพยานหลักฐานใดเกี่ยวกับความไม่น่าเชื่อถือของลายมือชื่ออิเล็กทรอนิกส์
` },
    "reset_pass": { "th": "รีเซ็ตรหัสผ่าน", "en": "Password" },
    "reset_pass": { "th": "รีเซ็ตรหัสผ่าน", "en": "Password" },
    "reset_pass": { "th": "รีเซ็ตรหัสผ่าน", "en": "Password" },
    "reset_pass": { "th": "รีเซ็ตรหัสผ่าน", "en": "Password" },
    "reset_pass": { "th": "รีเซ็ตรหัสผ่าน", "en": "Password" },
    "reset_pass": { "th": "รีเซ็ตรหัสผ่าน", "en": "Password" },
    "reset_pass": { "th": "รีเซ็ตรหัสผ่าน", "en": "Password" },
    "reset_pass": { "th": "รีเซ็ตรหัสผ่าน", "en": "Password" },
    "reset_pass": { "th": "รีเซ็ตรหัสผ่าน", "en": "Password" },
    "reset_pass": { "th": "รีเซ็ตรหัสผ่าน", "en": "Password" },
    "reset_pass": { "th": "รีเซ็ตรหัสผ่าน", "en": "Password" },
    "reset_pass": { "th": "รีเซ็ตรหัสผ่าน", "en": "Password" },
    "reset_pass": { "th": "รีเซ็ตรหัสผ่าน", "en": "Password" },
    "reset_pass": { "th": "รีเซ็ตรหัสผ่าน", "en": "Password" },
  }
</script>


</html>