<!DOCTYPE html>
<html lang="th-TH" dir="ltr">

<head>
  <title>Bangkok Life | ver_otp_eks</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=1">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="icon" type="image/x-icon" href="images/BLA_Icon.ico">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/bla/css/font.css?v=12">
  <link rel="stylesheet" type="text/css" href="css/index.css?v=12">
</head>

<body style="background-color: #1667B2;" >
  <div class="mb-5 box-center mTop140" id="app">
    <div class="box-confirm">

      <div>
        <div class="row" v-cloak>
          <div class="col-12 md36-g1 text-center">
            <img src="images/Creden_logo_white.png" width="260">
          </div>
          <div class="col-12 md36-g1 text-center mt-3">
            <p style="color: white;font-size: 24px;">{{lang_ver_otp.text1[lang_choose]}}</p>
          </div>
          <div class="col-12 md36-g1 text-center" v-if="step == 1">
            <div class="row">
              <div class="col-12 md36-g1 text-center">
                <input type="number" maxlength="12" v-model="tel">
              </div>
              <div class="col-12 md36-g1 text-center mt-5">
                <button style="background: #F2C94C;
            border: 1px solid #F2C94C;
            box-sizing: border-box;
            border-radius: 4px;
            padding: 15px 80px;" @click="requestOTP">{{lang_ver_otp.text10[lang_choose]}}</button>
              </div>
            </div>
          </div>
          <span v-else-if="step == 2" >
            <center>
              <p style="color: white;" >{{lang_ver_otp.text2[lang_choose]}} {{tel}}</p>
            </center>
            <div class="mt-4 px-xl-5 px-lg-3 px-md-2 px-0 box-center">

              <div class="col-2 md36-g1 text-center">
                <div class="mx-2">
                  <input type="text" pattern="\d*"  class="form-control text-center input-pin" maxlength="1" v-model="p1" id="1"
                    onkeyup="moveOnMax(this,'2', 'N/A')" :disabled="status_pin">
                </div>
              </div>
              <div class="col-2 md36-g1 text-center">
                <div class="mx-2">
                  <input type="text" pattern="\d*"  class="form-control text-center input-pin" maxlength="1" v-model="p2" id="2"
                    onkeyup="moveOnMax(this,'3', '1')" :disabled="status_pin">
                </div>
              </div>
              <div class="col-2 md36-g1 text-center">
                <div class="mx-2">
                  <input type="text" pattern="\d*"  class="form-control text-center input-pin" maxlength="1" v-model="p3" id="3"
                    onkeyup="moveOnMax(this,'4', '2')" :disabled="status_pin">
                </div>
              </div>
              <div class="col-2 md36-g1 text-center">
                <div class="mx-2">
                  <input type="text" pattern="\d*"  class="form-control text-center input-pin" maxlength="1" v-model="p4" id="4"
                    onkeyup="moveOnMax(this,'5', '3')" :disabled="status_pin">
                </div>
              </div>
              <div class="col-2 md36-g1 text-center">
                <div class="mx-2">
                  <input type="text" pattern="\d*"  class="form-control text-center input-pin" maxlength="1" v-model="p5" id="5"
                    onkeyup="moveOnMax(this,'6', '4')" :disabled="status_pin">
                </div>
              </div>
              <div class="col-2 md36-g1 text-center">
                <div class="mx-2">
                  <input type="text" pattern="\d*"  class="form-control text-center input-pin" maxlength="1" v-model="p6" id="6"
                    onkeyup="moveOnMax(this,'N/A', '5')" >
                </div>
              </div>
            </div>
            <center>
              <br>
              <p style="color:white;">{{lang_ver_otp.text3[lang_choose]}}&nbsp;<span>{{count}}</span>&nbsp;{{lang_ver_otp.text4[lang_choose]}}</p>
              <p style="color: white;"  v-if="count!=0">{{lang_ver_otp.text5[lang_choose]}} <span style="color: gray;text-decoration: underline;
                text-decoration-color: gray;" >{{lang_ver_otp.text6[lang_choose]}}</span></p>
                 
                 <p style="color: white; " v-else>{{lang_ver_otp.text5[lang_choose]}} <span style="color: yellow;text-decoration: underline;
                  text-decoration-color: yellow;" @click="requestOTP1">{{lang_ver_otp.text6[lang_choose]}}</span></p>
            </center>
            <div class="row">
              <div class="col-12 rg16-g1 mt-4 cl-F0 text-center mb-3">
                <button style="background: #F2C94C;
 
              border: 1px solid #F2C94C;
              box-sizing: border-box;
              border-radius: 4px;
              padding: 15px 80px;" @click="verifyOTP">{{lang_ver_otp.text7[lang_choose]}}</button>
              </div>


            </div>
          </span>
          <div v-else-if="step==4">
            <center>
            <p style="color: white;">{{lang_ver_otp.text8[lang_choose]}}</p>
            <span style="color: white;">{{lang_ver_otp.text9[lang_choose]}}</span>
          </center>
          </div>

          <div class="col-12 md36-g1 text-center mt-3" v-else>
            <button style="background: #F2C94C;
 
        border: 1px solid #F2C94C;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 15px 80px;" @click="confirm_otp">{{lang_ver_otp.text10[lang_choose]}}</button>
          </div>
          <form name="ekycForm" style="display: none;" method="post">
            <input type="hidden" name="ref_no" id="ref_no" />
            <input type="hidden" name="txid" id="txid" />
            <input type="hidden" name="redirect_url" id="redirect_url" />
            <input type="hidden" name="cr" id="cr" />
            <input type="hidden" name="qr_id" id="qr_id" />
            <!--  <input type="hidden" name="apiKey" id="apiKey" /> -->
            <input type="hidden" name="adminEmail" id="adminEmail" />
          </form>


        </div>
      </div>
    </div>
  </div>
</body>
<script type="text/javascript" src="/bla/components/common.js"></script>
<script type="text/javascript" src="/bla/js/jquery-3.3.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.1.3/vue-router.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script>
  $(document).ready(function () {
    app = init_vue()

  });

  function init_vue() {
    return new Vue({
      el: '#app',
      data: {
        adminEmail: getUsername(),
        is_verifly: false,
        lastupdateekyc: '',
        chk_kyc_status: '',
        lang_choose: localStorage.getItem('lang_choose') || 'th',
        lang_ver_otp : lang_ver_otp,
        p1: '',
        p2: '',
        p3: '',
        count:0,
        p4: '',
        p5: '',
        p6: '',
        status_pin: false,
        tel: '',
        step: 0,
        link: '',
        token: '',
        qr_id: gup('qr_id') || '',
        comTel : '',
        status_qr: false,
        step_verify_otp: false

      },
      mounted: function () {
        if(this.qr_id != ""){
         // alert('posososos'+this.qr_id)
          this.check_qr(this.qr_id)
        }else{

          if(that.lang_choose == 'th'){
            alert('ไม่พบ QR code กรุณาลองใหม่อีกครั้งจากหน้า QR code')

          }else{
            alert("Sorry, your code isn't working. Please try again")

          }
          document.location.href = '/bla/web/login.html?rd='+ new Date().getTime()
        }

      },
      methods: {
        confirm_otp: function () {
          // alert('click')
          var that = this
          that.step = 2
          if(that.adminEmail == "auddy_005@hotmail.com" || that.adminEmail == "goohps@hotmail.com"){
            that.goKyc()
          }else{
            that.requestOTP()
          }
         
        },
        check_qr: function (qr) {
          //alert('qqqq')
          var that = this
            
            that.status_qr = false
           var data = { username:getUsername(),modal:'check_id',qr_id:qr}

            $.ajax({
                type: "POST",
                url: document.location.origin + "/capi/create_qr_eks",
                data: JSON.stringify(data),
                dataType: "json",
                success: function (res) {
                    if(res.success){
                        console.log(res)
                        if(res.fail == false){
                         // alert('201')
                        that.adminEmail = res.username
                        // alert(res.tel)
                        var check = res.tel.indexOf("0")
                        if(check == "0"){
                          that.tel = res.tel
                        }else{
                          that.tel = "0"+res.tel
                        }
                        that.comTel = res.tel
                        localStorage.setItem("username", res.username);
                          
                       // alert(JSON.stringify(res))
                        }else{
                          if(that.lang_choose == 'th'){
                            alert('QR code ของคุณหมดอายุกรุณาทำการเจนใหม่อีกครั้ง')

                          }else{
                            alert('Sorry, your QR code expired!')

                          }
                          document.location.href = '/bla/web/login.html?rd=' +new Date().getTime()
                        }
                    }
                    else {
                        // alert(res.error_msg)
                        if(that.lang_choose == "th"){
                          alert('QR code ของคุณไม่ถูกต้อง หรือหมดอายุ กรุณาตรวจสอบอีกครั้ง')

                        }else{
                          alert("Sorry, your code isn't working. Please try again")
                        }
                    }
                },
                error: function (request, status, error) {
                    // console.log("|" + status + ' |' + error);
                    // alert('QR code ของคุณไม่ถูกต้อง หรือหมดอายุ กรุณาตรวจสอบอีกครั้ง')
                    if(that.lang_choose == "th"){
                          alert('QR code ของคุณไม่ถูกต้อง หรือหมดอายุ กรุณาตรวจสอบอีกครั้ง')

                        }else{
                          alert("Sorry, your code isn't working. Please try again")
                        }

                }
            });

        
        },
        requestOTP1: function () {
        var that = this;

        if (that.comTel.length == 10) {
          a = that.comTel.substr(0, 1);
          // alert(a)
          if (a == 0) { that.comTel = that.comTel.substr(1) }
        }
        data = { tel: that.comTel, email: that.adminEmail, country: '66' }
        // alert(getUsername())
        if(that.lang_choose == 'th'){
            // alert('QR code ของคุณหมดอายุกรุณาทำการเจนใหม่อีกครั้ง')
            alert('ระบบได้ทำการส่ง OTP ไปยังมือถือของคุณ')


          }else{
             alert('OTP is sent to Your Mobile Number')


          }
        $.ajax({
          type: "POST",
          url: api_host + "request_otp_new",
          data: JSON.stringify(data),
          dataType: "json",
          success: function (data) {
            console.log(data.emailx);
            that.token = data.token;
            // that.step = 2
            var counter = 60;
var newYearCountdown = setInterval(function(){
  console.log(counter);
  counter--
  if (counter === 0) {
    // console.log("HAPPY NEW YEAR!!");
    clearInterval(newYearCountdown);
    if(that.lang_choose == 'th'){
      alert('เวลานับถอยหลัง ของ OTP หมดอายุแล้ว กรุณากด ส่งใหม่อีกครั้ง')
    }else{
      alert('Sorry, your OTP has expired, please press on RESEND to generate a new OTP')

    }
    
  }
  that.count = counter
}, 1000);

          },
          error: function (request, status, error) {
            alert("|" + status + ' |' + error);

          }
        });

        },
        requestOTP: function () {

          
          var that = this;
          that.countdown()
          if (that.comTel.length == 10) {
            a = that.comTel.substr(0, 1);
            // alert(a)
            if (a == 0) { that.comTel = that.comTel.substr(1) }
          }
          data = { tel: that.comTel, email: that.adminEmail, country: '66' }
          // alert(getUsername())
          // alert('ระบบได้ทำการส่ง OTP ไปยังมือถือของคุณ')
          $.ajax({
            type: "POST",
            url: api_host + "request_otp_new",
            data: JSON.stringify(data),
            dataType: "json",
            success: function (data) {
              console.log(data.emailx);
              that.token = data.token;
              // that.step = 2
              var counter = 60;
var newYearCountdown = setInterval(function(){
  console.log(counter);
  counter--
  if (counter === 0) {
    console.log("HAPPY NEW YEAR!!");
    clearInterval(newYearCountdown);
    if(that.lang_choose == 'th'){
      alert('เวลานับถอยหลัง ของ OTP หมดอายุแล้ว กรุณากด ส่งใหม่อีกครั้ง')
    }else{
      alert('Sorry, your OTP has expired, please press on RESEND to generate a new OTP')

    }
    // alert('เวลานับถอยหลัง ของ OTP หมดอายุแล้ว กรุณากด ส่งใหม่อีกครั้ง')
  }
  that.count = counter
}, 1000);

            },
            error: function (request, status, error) {
              alert("|" + status + ' |' + error);

            }
          });

        },
        countdown:function(){
         
           
        },
       
        check_pin: function () {
          var that = this;
          var pin = that.p1 + that.p2 + that.p3 + that.p4 + that.p5 + that.p6

          

        },
        verifyOTP: function () {
          var that = this;
          var otp_confirm = that.p1 + that.p2 + that.p3 + that.p4 + that.p5 + that.p6
          data = { otp: otp_confirm, token: that.token, tel: that.tel, adminEmail: that.adminEmail, login_service: 'esig' }
          // alert(JSON.stringify(data))
          $.ajax({
            type: "POST",
            url: api_host + "verify_otp_eks",
            data: JSON.stringify(data),
            dataType: "json",
            success: function (res) {
              if (res.success) {

                that.step = 4
                setTimeout(function () {
                  that.goKyc()
                }, 1500)


              } else {
                if(that.lang_choose == 'th'){
                  alert('OTP ของคุณไม่ถูกต้องกรุณาตรวจสอบอีกครั้ง')

                }else{
                  alert('Your OTP is invalid, please check again.')

                }
              }
            },
            error: function (request, status, error) {
              alert("|" + status + ' |' + error);
            }
          });

        },
        goKyc: function () {
          var that = this
          // alert(getUsername())
          document.getElementById('ref_no').value = this.adminEmail
          document.getElementById('txid').value = new Date().getTime();
          document.getElementById('adminEmail').value = getUsername()
          document.getElementById('cr').value = 'cr'
          document.getElementById('qr_id').value = that.qr_id
          localStorage.setItem("username", getUsername());


          document.getElementById('redirect_url').value = document.location.origin + '/bla/#/ekyc';
          document.ekycForm.action = document.location.origin + '/capi/ekyc_auth_self_qr'
          document.ekycForm.submit();
        },

      } //end methods
    })
  }

  moveOnMax = function (field, nextFieldID, previousFieldID) {
    if (event.keyCode == "8" || event.keyCode == "46") {
      if (previousFieldID != "N/A") {
        document.getElementById(previousFieldID).focus();
        return false
      }
    }
    app.check_pin()
    if (field.value.length == 1) {
      if (nextFieldID == "N/A") return false
      document.getElementById(nextFieldID).focus();
    }


  }
var count=30;

var counter=setInterval(timer, 1000); //1000 will  run it every 1 second

function timer()
{
  count=count-1;
  if (count <= 0)
  {
     clearInterval(counter);
     //counter ended, do something here
     return;
  }

  //Do code for showing the number of seconds here
}


var lang_ver_otp = {
  // ------new 
  "text1": { "th": "ยืนยันตัวตนของคุณก่อนทำ e-KYC", "en": "Verify your identity before doing e-KYC process" },
  "text2": { "th": "กรุณากรอกรหัสที่ส่งไปยังเบอร์", "en": "OTP is sent to Your Mobile Number" },
  "text3": { "th": "กรุณากรอกรหัสภายใน  วินาที", "en": "OTP Expires in 60 seconds" },
  "text4": { "th": "วินาที", "en": "seconds" },
  "text5": { "th": "คุณไม่ได้รับรหัส?", "en": "Didn't receive code?" },
  "text6": { "th": "ส่งอีกครั้ง", "en": "Resend OTP" },
  "text7": { "th": "ยืนยัน OTP", "en": "Next" },
  "text8": { "th": "คุณได้ทำการยืนยันรหัส OTP เรียบร้อย", "en": "OTP verified Successfully!" },
  "text9": { "th": "ระบบกำลัง Redirect e-KYC", "en": "Redirect to e-KYC process" },
  "text10": { "th": "ฉันยอมรับ", "en": "accept" },


};
</script>






</html>
