[v-cloak] {
  display: none;
}

body {
  font-family: 'Kanit', sans-serif !important;
  background: #F2F2F2;
}

.flag-size {
  width: 30px;
}

.cs-pointer {
  cursor: pointer;
}

.bg-blue {
  background: linear-gradient(150.87deg, #1667B2 15.28%, #4785D0 85.92%);
  width: 100%;
  height: 600px;
}

.head-img {
  width: 300px;
}

.top-bg {
  background: linear-gradient(150.87deg, #1667B2 15.28%, #4785D0 85.92%);
  width: 100%;
  height: 600px;
}

.box-content {
  padding: 46px 35px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  margin: 50px 0px;
}

.t-title {
  font-weight: 500;
  font-style: normal;
  color: #000000;
  font-size: 14px;
}

.t-desc {
  font-weight: 300;
  font-style: normal;
  color: #000000;
  font-size: 14px;
}

.layout-1 {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  color: #000000;
}