<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 md36-g2 px-0">
        {{lang_txt.alldoc_title[lang_choose]}}
      </div>
      <div class="col-12 px-0 mt-3">
        <div class="row">
          <div class="col-6">
            <input type="text" class="form-control rg16-g1" v-bind:placeholder="lang_txt.des_search[lang_choose]"
              v-model="txt_search" @focus="show_all_table()" @focusout="set_table()" @keyup="search_table()"
              :disabled="!display">
          </div>
          <div class="col-6 mt-2">
            <a class="cs-pointer a-under-none rg16-g1" data-bs-toggle="collapse" href="#collapseSearch" role="button"
              aria-expanded="false" aria-controls="collapseSearch">
              <i class="fas fa-sliders-h"></i> &nbsp;{{lang_txt.adv_search[lang_choose]}}
            </a>
          </div>
        </div>
      </div>

      <div class="col-12 collapse mt-4 px-0" id="collapseSearch">
        <div class="row">
          <div class="col-12 rg16-g3">
            <i class="fas fa-sliders-h"></i> &nbsp;{{lang_txt.adv_search[lang_choose]}}
          </div>

          <div class="col-12 px-0">
            <div class="btn-group btn-group-md">

              <div class="dropdown mx-2 mt-3">
                <button class="btn dropdown-toggle rg16-g2 cl-G2 bg-BD" type="button" id="d_status_doc"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  {{lang_txt.doc_status[lang_choose]}}
                </button>
                <ul class="dropdown-menu" aria-labelledby="d_status_doc">
                  <li>
                    <a class="dropdown-item rg16-g1" href="javascript:void(0)" @click="set_fill('doc', '1')">
                      {{lang_txt.complete[lang_choose]}}
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item rg16-g1" href="javascript:void(0)" @click="set_fill('doc', '0')">
                      {{lang_txt.incomplete[lang_choose]}}
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item rg16-g1" href="javascript:void(0)" @click="set_fill('doc', '3')">
                      {{lang_txt.doc_cancel[lang_choose]}}
                    </a>
                  </li>
                </ul>
              </div>

              <div class="dropdown mx-2 mt-3">
                <button class="btn dropdown-toggle rg16-g2 cl-G2 bg-BD" type="button" id="d_status_signer"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  {{lang_txt.sign_status[lang_choose]}}
                </button>
                <ul class="dropdown-menu" aria-labelledby="d_status_signer">
                  <li>
                    <a class="dropdown-item rg16-g1" href="javascript:void(0)" @click="set_fill('signer', '0')">
                      {{lang_txt.notsign[lang_choose]}}
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item rg16-g1" href="javascript:void(0)" @click="set_fill('signer', '1')">
                      {{lang_txt.signed[lang_choose]}}
                    </a>
                  </li>
                </ul>
              </div>

              <div class="dropdown mx-2 mt-3">
                <button class="btn dropdown-toggle rg16-g2 cl-G2 bg-BD" type="button" id="d_send"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  {{lang_txt.sender[lang_choose]}}
                </button>
                <ul class="dropdown-menu" aria-labelledby="d_send">
                  <li>
                    <a class="dropdown-item rg16-g1" href="javascript:void(0)" @click="set_fill('send', '0')">
                      {{lang_txt.me[lang_choose]}}
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item rg16-g1" href="javascript:void(0)" @click="set_fill('send', '1')">
                      {{lang_txt.notme[lang_choose]}}
                    </a>
                  </li>
                </ul>
              </div>

              <div class="dropdown mx-2 mt-3">
                <button class="btn dropdown-toggle rg16-g2 cl-G2 bg-BD" type="button" id="d_date"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  {{lang_txt.date[lang_choose]}}
                </button>
                <ul class="dropdown-menu" aria-labelledby="d_send">
                  <li>
                    <a class="dropdown-item rg16-g1" href="javascript:void(0)" @click="set_fill('date', 365)">
                      {{lang_txt.year[lang_choose]}}
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item rg16-g1" href="javascript:void(0)" @click="set_fill('date', 183)">
                      {{lang_txt.six[lang_choose]}}
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item rg16-g1" href="javascript:void(0)" @click="set_fill('date', 30)">
                      {{lang_txt.month[lang_choose]}}
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item rg16-g1" href="javascript:void(0)" @click="set_fill('date', 7)">
                      {{lang_txt.week[lang_choose]}}
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item rg16-g1" href="javascript:void(0)" @click="set_fill('date', 1)">
                      {{lang_txt.day[lang_choose]}}
                    </a>
                  </li>
                </ul>
              </div>

            </div>
          </div>

          <div class="col-12 mt-3">

            <span class="badge rounded-pill bg-primary f-weight-normal rg14-g3 text-white" v-if="filter.doc != ''">
              {{lang_txt.doc_status[lang_choose]}}:
              <span v-if="filter.doc == '0'">{{lang_txt.incomplete[lang_choose]}}</span>
              <span v-else-if="filter.doc == '1'">{{lang_txt.complete[lang_choose]}}</span>
              <span v-else-if="filter.doc == '3'">{{lang_txt.doc_cancel[lang_choose]}}</span>
              &nbsp;&nbsp;
              <span class="cs-pointer" @click="clear_filter('doc')">
                <i class="far fa-times-circle"></i>
              </span>
            </span>

            <span class="badge rounded-pill bg-primary f-weight-normal rg14-g3 text-white" v-if="filter.signer != ''">
              {{lang_txt.sign_status[lang_choose]}}:
              <span v-if="filter.signer == '0'">{{lang_txt.notsign[lang_choose]}}</span>
              <span v-else-if="filter.signer == '1'">{{lang_txt.signed[lang_choose]}}</span>
              &nbsp;&nbsp;
              <span class="cs-pointer" @click="clear_filter('signer')">
                <i class="far fa-times-circle"></i>
              </span>
            </span>

            <span class="badge rounded-pill bg-primary f-weight-normal rg14-g3 text-white" v-if="filter.send != ''">
              {{lang_txt.sender[lang_choose]}}:
              <span v-if="filter.send == '0'">{{lang_txt.me[lang_choose]}}</span>
              <span v-else-if="filter.send == '1'">{{lang_txt.notme[lang_choose]}}</span>
              &nbsp;&nbsp;
              <span class="cs-pointer" @click="clear_filter('send')">
                <i class="far fa-times-circle"></i>
              </span>
            </span>

            <span class="badge rounded-pill bg-primary f-weight-normal rg14-g3 text-white" v-if="filter.date != ''">
              {{lang_txt.date[lang_choose]}}:
              <span v-if="filter.date == 365">{{lang_txt.year[lang_choose]}}</span>
              <span v-else-if="filter.date == 183">{{lang_txt.six[lang_choose]}}</span>
              <span v-else-if="filter.date == 30">{{lang_txt.month[lang_choose]}}</span>
              <span v-else-if="filter.date == 7">{{lang_txt.week[lang_choose]}}</span>
              <span v-else-if="filter.date == 1">{{lang_txt.day[lang_choose]}}</span>
              &nbsp;&nbsp;
              <span class="cs-pointer" @click="clear_filter('date')">
                <i class="far fa-times-circle"></i>
              </span>
            </span>

            <a class="a-under-none lg14-g3 cl-2F ms-3 rg14-g3" href="javascript:void(0)"
              v-if="filter.doc != '' || filter.signer != '' || filter.send != '' || filter.date != ''"
              @click="clear_filter('all')">
              <i class="far fa-times-circle cs-pointer"></i> {{lang_txt.clear[lang_choose]}}
            </a>

          </div>
        </div>
      </div>

    </div>


    <div class="row" v-if="display == false">
      <div class="col-12 text-center md36-g1" style="margin-top: 250px">
        {{lang_txt.wait[lang_choose]}} <i class="fas fa-spinner fa-spin"></i>
      </div>
    </div>


    <div class="row" v-else>

      <!-- start -->
      <div v-if="count_check > 0">
        <div class="row mt-3">
          <div class="col-auto">
            <p class="md18-g2 mt-3"> <span class="cl-CI ">{{count_check}}</span> {{lang_txt.list[lang_choose]}} </p>
          </div>
          <div class="col-auto pt-2 d-md-flex">
            <div class="dropdown">
              <button type="button" class="btn btn-danger" v-if="btn_multi_remove == true"
                @click="delTrash_multi()">
                <i class="fas fa-trash-alt"></i> {{lang_txt.delete[lang_choose]}}
              </button>
              <button type="button" class="btn btn-secondary" v-else>
                <i class="fas fa-trash-alt"></i> {{lang_txt.delete[lang_choose]}}
              </button>

            </div>

            <label class="cl-F0 mt-2 ms-3 rg12-g1" v-if="btn_multi_remove != true">
              {{lang_txt.can_not_delete[lang_choose]}}
            </label>

          </div>
        </div>
      </div>

      <!-- end -->
      <div class="col-12 mt-3 px-0">
        <div class="alert dy-none" role="alert" id="er_alert">
          {{lang_err}}
        </div>
      </div>

      <div class="col-12 mt-1 px-0">
        <div class="">
          <table id="table" class="table">
            <thead>
              <tr>
                <th class="align-middle rg18-g1 text-center">
                  <input type="checkbox" class="checkbox cs-pointer" @change="check_all()" id="check_all">
                </th>
                <th class="md24-g1">{{lang_txt.subject[lang_choose]}}</th>
                <th class="md24-g1">{{lang_txt.sign_status[lang_choose]}}</th>
                <th class="md24-g1">{{lang_txt.status[lang_choose]}}</th>
                <th class="md24-g1 text-nowrap">{{lang_txt.cetagory[lang_choose]}}</th>
                <th class="md24-g1 text-nowrap">{{lang_txt.date_time[lang_choose]}}</th>
                <th class="md24-g1">{{lang_txt.coc[lang_choose]}}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="r, i in list_document" class="cs-pointer" >
                <!-- checkbox -->
                <td class="align-middle rg18-g1 text-center text-nowrap">
                  <input type="checkbox" class="checkfile checkbox cs-pointer" :name="'doc_id' + i" :value="r._id"
                    v-model="selectDocument" @change="openBar()">
                </td>
                <!-- Subject -->
                <td class="rg18-g1 text-nowrap" @click="gotoDoc(r.id)">
                  {{ r.subject }}
                  <div class="lg16-g2">{{lang_txt.sender[lang_choose]}}: {{ r.owner }}</div>
                  <div class="lg16-g2">{{lang_txt.reciever[lang_choose]}}: {{ get_signer_str_list(r.signers) }}</div>
                </td>

                <!-- status signer -->
                <td class="align-middle rg18-g1 text-nowrap">
                  <span v-if="r.status == 1" class="cl-21">{{lang_txt.signed[lang_choose]}}</span>
                  <span v-else-if="recheck_status_field_user(r.fields,r.signers) == 1" class="cl-21">{{lang_txt.signed[lang_choose]}}</span>
                  <span v-else-if="recheck_status_field_user(r.fields,r.signers) == 0" class="cl-F0">{{lang_txt.notsign[lang_choose]}}</span>

                  <!-- <div class="text-start cl-21" v-if="r.status == 1">
                    {{lang_txt.signed[lang_choose]}}
                  </div>
                  <div class="text-start cl-F0" v-else-if="r.status == 3">
                    {{lang_txt.doc_cancel[lang_choose]}}
                  </div>
                  <div class="text-start cl-F0" v-else-if="my_status_signer(r.signers, r.fields, r.status) == '0'">
                    {{lang_txt.notsign[lang_choose]}}
                  </div>
                  <div class="text-start cl-21" v-else-if="my_status_signer(r.signers, r.fields, r.status) == '1'">
                    {{lang_txt.signed[lang_choose]}}
                  </div> -->
                </td>

                <!-- Status -->
                <td class="rg18-g1 align-middle text-nowrap">
                  <div class="cl-F0" v-if="r.status == 3">{{lang_txt.doc_cancel[lang_choose]}}</div>
                  <div class="cl-21" v-else-if="count_signer(r.signers, r.fields) == r.signers.length">
                    {{lang_txt.complete[lang_choose]}} (<span v-html="count_signer_success(r.fields,r.signers)"></span>/
                    <span v-html="count_signer_needtosign(r.signers)"></span>)
                    <!-- ({{count_signer(r.signers, r.fields)}}/{{ r.signers.length }}) -->
                  </div>
                  <div class="cl-F2" v-else>{{lang_txt.incomplete[lang_choose]}} 
                    ({{count_signer(r.signers,r.fields)}}/{{ r.signers.length }})</div>
                  
                  
                  <!-- <div class="tooltip2 rg14-g3 cl-CI"
                    v-if="r.chk_exp && my_status_signer(r.signers, r.fields, r.status) == '0'" @click="gotoDoc(r.id)">
                    {{lang_txt.exp_soon[lang_choose]}}
                    <span class="tooltiptext border">
                      <p class="bg-F2 border-bottom mb-0">{{lang_txt.exp_date[lang_choose]}}</p>
                      <p class="mb-0">{{r.exp_date}}</p>
                    </span>
                  </div> -->
                </td>

                <!-- Document category -->
                <td class="rg18-g1 align-middle text-nowrap">
                  <div v-if="r.setting_pdf && r.setting_pdf.length > 0">
                    <span class="cl-F0"
                      v-if="r.setting_pdf[0].tag_folder == 'Confidential'">{{r.setting_pdf[0].tag_folder}}</span>
                    <span class="cl-2F"
                      v-else-if="r.setting_pdf[0].tag_folder == 'Private'">{{r.setting_pdf[0].tag_folder}}</span>
                    <span class="cl-21" v-else>{{r.setting_pdf[0].tag_folder}}</span>
                    <!-- <span class="cl-21"
                      v-else-if="r.setting_pdf[0].tag_folder == 'Public'">{{r.setting_pdf[0].tag_folder}}</span> -->
                  </div>
                </td>

                <!-- sent date -->
                <td class="align-middle text-nowrap">
                  <div>{{ r.createdDtm | date }}</div>
                  <div class="cl-BD">{{ r.createdDtm | time }}</div>
                </td>

                <!-- COC -->
                <td class="align-middle rg18-g2 cl-00 text-nowrap">
                  <a class="a-under-none" v-bind:href="'/capi/coc?file=' + r.id + '&stamp=true'" target="_blank"
                    v-if="r.status == 1">COC-{{r.id}}</a>
                </td>

                <!-- Bin -->
                <td class="align-middle rg14-g2 text-nowrap">
                  <div class="text-center" v-if="r.status == 1 || r.status == 3">
                    <i class="fas fa-trash-alt cl-F0" @click="delTrash_single(r._id)"
                      v-bind:id="'trash-document' + r._id"></i>
                    <i class="fas fa-spinner fa-spin dy-none" v-bind:id="'load-document' + r._id"></i>
                  </div>
                  <!-- <div class="text-center" v-else>
                    <i class="fas fa-trash-alt cl-BD"></i>
                  </div> -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>

</section>