<section>

  <div class="head-title-search">

    <div class="head-title md18-g1">
      ผลลัพท์การค้นหา
    </div>

    <div class="head-search">

      <div class="input-search">
        <div class="input-group">
          <span class="input-group-text-transparent border-right-none">
            <i class="fas fa-search"></i>
          </span>
          <input type="text" class="form-control border-left-none border-right-radius"
            placeholder="ชื่อเอกสาร, อีเมล, ชื่อ">
        </div>
      </div>

      <div class="input-filter rg14-g1">
        <i class="fas fa-sliders-h"></i> ตัวกรอง</span>
      </div>

      <div class="popup-filter">

        <div class="row hr-popup-filter">
          <div class="col-12 md-g1 text-start">
            สถานะ
            <input type="text" class="form-control mt-2">
          </div>
          <div class="col-12 md-g1 text-start mt-3">
            ผู้ส่ง
            <input type="text" class="form-control mt-2">
          </div>
          <div class="col-12 md-g1 text-start mt-3">
            วันที่
            <input type="text" class="form-control mt-2">
          </div>
        </div>

        <div class="row">
          <div class="col-12 mt-3 text-start">
            <button type="button" class="btn btn-primary">ค้นหา</button>
            <button type="button" class="btn btn-light">รีเซ็ต</button>
          </div>
        </div>

      </div>

    </div>
  </div>

  <div class="container-fluid">

    <div class="row">
      <div class="col-12 px-0 mTop-m15">
        <span class="md14-g1">กรองโดย:</span>
        <span class="lg14-g1">สถานะ (สมบูรณ์), ผู้ส่ง: ฉัน, วันที่: ทั้งหมด</span>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-12 mTop-m15 bg-FF">
        <div class="row">
          <div class="col-lg-3 col-12">
            <div>
              <img src="images/doc_upload.png" alt="image document upload">
            </div>
            <div class="d-grid gap-2 mt-3">
              <button type="button" class="btn btn-primary ">อัพโหลดไฟล์</button>
            </div>
            <div class="rg14-g3 mt-2">
              ขนาดไฟล์สูงสุดไม่เกิน 25 mb
            </div>
          </div>
          <div class="col-lg-9 col-12">
            <div class="row">
              <div class="col-12">
                <div class="row">
                  <div class="col-lg-4 col-6 px-3 py-3">
                    <div class="row">
                      <div class="col-12 rg36-g1 cl-CI">
                        5
                      </div>
                      <div class="col-12 rg18-g1">
                        <i class="fas fa-edit"></i> คุณยังไม่ได้เซ็น
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-6 px-3 py-3">
                    <div class="row">
                      <div class="col-12 rg36-g1 cl-CI">
                        20
                      </div>
                      <div class="col-12 rg18-g1">
                        <i class="fas fa-paper-plane"></i> เอกสารที่ส่งออก
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-6 px-3 py-3">
                    <div class="row">
                      <div class="col-12 rg36-g1 cl-CI">
                        30
                      </div>
                      <div class="col-12 rg18-g1">
                        <i class="fas fa-box-open"></i> เอกสารที่ได้รับ
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12" id="box-storage">
                <div class="row">
                  <div class="col-lg-4 col-12 px-3 py-3">
                    <div class="row">
                      <div class="col-12 rg18-g1">
                        <i class="fas fa-cloud"></i> &nbsp;&nbsp;พื้นที่เก็บข้อมูล
                      </div>
                      <div class="col-12 px-5 py-1">
                        <div class="progress h-progress-02">
                          <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                      <div class="col-12 lg14-g3 px-5 py-1">
                        ใช้ไป 33.33 GB จาก 15 GB
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-12 px-3 py-3">
                    <div class="row">
                      <div class="col-12 rg18-g1">
                        <i class="fas fa-file"></i> &nbsp;&nbsp;การใช้งาน
                      </div>
                      <div class="col-12 px-5 py-1">
                        <div class="progress h-progress-02">
                          <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                      <div class="col-12 lg14-g3 px-5 py-1">
                        ใช้ไป 1 จาก 15
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-12 px-3 py-3">
                    <div class="row">
                      <div class="col-12 rg18-g1">
                        <i class="fas fa-users"></i> &nbsp;&nbsp;ผู้ใช้งาน
                      </div>
                      <div class="col-12 px-5 py-1">
                        <div class="progress h-progress-02">
                          <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                      <div class="col-12 lg14-g3 px-5 py-1">
                        ใช้ไป 1 จาก 5
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 text-end px-5 py-2">
                <button type="button" class="btn btn-outline-primary">
                  ซื้อเพิ่มเติม
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 mt-4 px-0">
        <div class="row">
          <div class="col-xl-2 col-lg-3 col-4 md18-g1">
            เอกสารล่าสุด
          </div>
          <div class="col-xl-10 col-lg-9 col-8">
            <hr class="w-100 bg-BD">
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-12 mt-4 px-0" id="div-last-documnet">
        <div class="table-responsive">
          <table id="last_document" class="table table-striped">
            <thead class="last-thead">
              <tr>
                <th class="md18-g1">เรื่อง</th>
                <th class="md18-g1">ผู้ส่ง</th>
                <th class="md18-g1">สถานะ</th>
                <th class="md18-g1">วัน-เวลา</th>
              </tr>
            </thead>
            <tbody>

              <tr class="Mobile bg-FF" v-for="r, i in 5">
                <td class="rg14-g1">
                  <div class="row">
                    <div class="col-12">
                      Amet minim mollit non .pdf
                    </div>
                    <div class="col-12 lg14-g3">
                      ผู้ส่ง: hattaporn@creden.co
                    </div>
                  </div>
                </td>
                <td class="rg14-g1">
                  <div class="row">
                    <div class="col-12 cl-21 float-end">
                      สมบูรณ์
                    </div>
                    <div class="col-12 float-end">
                      20/09/2018
                    </div>
                  </div>
                </td>
              </tr>

              <tr class="PC" v-for="r, i in 5">
                <td class="rg14-g1">
                  Amet minim mollit non .pdf
                </td>
                <td class="rg14-g1">
                  hattaporn@creden.co
                </td>
                <td class="rg14-g1">
                  <span class="cl-21">สมบูรณ์</span>
                  <span class="cl-F2">ยังไม่สมบูรณ์</span>
                </td>
                <td class="rg14-g1">
                  20/09/2018 13:19:48
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>

</section>