<section>

  <div class="container-fluid">
    <div class="row">

      <div class="col-12 md24-g2 px-0">
        {{lang_txt.Identity[lang_choose]}}
      </div>

      <div class="col-12 px-0 mt-3">
        <hr class="w-100 bg-BD">
      </div>

      <div class="col-12 mt-2 md16-g2">
        {{lang_txt.Verification[lang_choose]}}
      </div>

      <div class="col-12 mt-2 md14-g2" v-if="chk_kyc_status==true">
        {{lang_txt.Level[lang_choose]}}&nbsp;&nbsp;&nbsp;<span class="cl-CI">IAL 2.2</span>
      </div>

      <div class="col-12 mt-4">
        <form name="ekycForm" method="post">
          <input type="hidden" name="ref_no" id="ref_no" />
          <input type="hidden" name="txid" id="txid" />
          <input type="hidden" name="card_reader_id" id="card_reader_id" />
          <input type="hidden" name="redirect_url" id="redirect_url" />
          <input type="hidden" name="adminEmail" id="adminEmail" />
          <input type="hidden" name="new_parameter" id="new_parameter" />

      </form>
        <button type="button" @click="goKyc_dipchip()" class="btn btn-outline-primary">
          {{lang_txt.Verification_Update[lang_choose]}}
       </button>
       <!-- <button type="button" @click="goKyc()" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-outline-primary">
        อัพเดตการยืนยันตัวตน ONLINE
     </button> -->
      </div>
      <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@fat">Open modal for @fat</button> -->
      <div class="col-12 mt-2 md16-g2">
        <span class="text font_blue font16">{{lang_txt.Last_update[lang_choose]}} : {{lastupdateekyc}}</span>

      </div>
    </div>
    

  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">e-KYC</h5>


          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
        </div>
        <!-- <div class="modal-body" v-if="step==1">
          <div class="container-fluid">
            <div class="row">
              <div class="col">
                <div class="mx-2">
                  <input type="text" class="form-control text-center input-pin" maxlength="1" v-model="p1" id="1"
                    onkeyup="moveOnMax(this,'2', 'N/A')"  :disabled="status_pin">
                </div>
              </div>
              <div class="col">
                <div class="mx-2">
                  <input type="text" class="form-control text-center input-pin" maxlength="1" v-model="p2" id="2"
                    onkeyup="moveOnMax(this,'3', '1')"  :disabled="status_pin">
                </div>
              </div>
              <div class="col">
                <div class="mx-2">
                  <input type="text" class="form-control text-center input-pin" maxlength="1" v-model="p3" id="3"
                    onkeyup="moveOnMax(this,'4', '2')" :disabled="status_pin" >
                </div>
              </div>
              <div class="col">
                <div class="mx-2">
                  <input type="text" class="form-control text-center input-pin" maxlength="1" v-model="p4" id="4"
                    onkeyup="moveOnMax(this,'5', '3')" :disabled="status_pin" >
                </div>
              </div>
              <div class="col">
                <div class="mx-2">
                  <input type="text" class="form-control text-center input-pin" maxlength="1" v-model="p5" id="5"
                    onkeyup="moveOnMax(this,'6', '4')"  :disabled="status_pin">
                </div>
              </div>
              <div class="col">
                <div class="mx-2">
                  <input type="text" class="form-control text-center input-pin" maxlength="1" v-model="p6" id="6"
                    onkeyup="moveOnMax(this,'N/A', '5')"  :disabled="status_pin">
                </div>
              </div>
        
            </div>
          </div>
        </div> -->
        <!--<div class="modal-body" v-else>
          <div class="container-fluid">
            <div class="row">
              <div class="col">
                <div class="mx-2">
                  <input type="text" class="form-control text-center input-pin" v-model="tel" id="1">
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>

</section>
