<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 md24-g2 px-0 mb-4">
        {{lang_txt.digital_cert[lang_choose]}}
      </div>
      <hr>
    </div>

    <div class="row">
      <div class="col-12">
        <p class="md18-g1">{{lang_txt.digital_cert[lang_choose]}}</p>
        <p class="rg14-g3 mb-5">{{lang_txt.detail1[lang_choose]}}</p>

        <p class="md18-g1">{{lang_txt.how_to[lang_choose]}}</p>
        <p class="rg14-g3 mb-5">{{lang_txt.booking[lang_choose]}}</p>
        
        <p class="md18-g1">{{lang_txt.walk_in[lang_choose]}}</p>
        <p class="rg14-g3">{{lang_txt.address[lang_choose]}}</p>

        <p class="md18-g1 cl-CI">{{lang_txt.checklist[lang_choose]}}</p>
        <p class="rg14-g3">{{lang_txt.identity_card[lang_choose]}}</p>
        <p class="rg14-g3">{{lang_txt.service50[lang_choose]}}</p>

        <div class="mb-3">
          <img src="images/adress_cert.png" alt="">
        </div>
        

        <button class="btn btn-warning mb-5" onclick="document.location.href='/bla/booked.html'">{{lang_txt.appointment[lang_choose]}}</button>

        <p class="md18-g1 mb-5">{{lang_txt.on_site[lang_choose]}}</p>
      </div>
    </div>
   
  </div>
</section>