<section>

  <div class="container-fluid">

    <div class="row">

      <div class="col-12 md24-g2 px-0">
        {{lang_txt.title[lang_choose]}}
      </div>
 
      <div class="col-xl-5 col-md-6 col-12 rg18-g1 cl-CI px-0 mt-4">
        {{lang_txt.howto_kyc[lang_choose]}}
        <iframe class="w-100 mt-3 p-1 ps-0" height="315" src="https://www.youtube.com/embed/ft1InsU-OcI?enablejsapi=1&version=3&playerapiid=ytplayer"
        allowfullscreen="allowfullscreen"></iframe>
      </div>

      <div class="col-xl-5 col-md-6 col-12 rg18-g1 cl-CI px-0 mt-4 ms-xl-5">
        {{lang_txt.howto_create[lang_choose]}}
        <iframe class="w-100 mt-3 p-1 ps-0" height="315" src="https://www.youtube.com/embed/3DF9SSF52YA?enablejsapi=1&version=3&playerapiid=ytplayer"
        allowfullscreen="allowfullscreen"></iframe>
      </div>
  
    </div>

    <div class="row">

      <div class="col-xl-5 col-md-6 col-12 rg18-g1 cl-CI px-0 mt-4">
        {{lang_txt.howto_sign[lang_choose]}}
        <iframe class="w-100 mt-3 p-1 ps-0" height="315" src="https://www.youtube.com/embed/XYy-ipzGtDw?enablejsapi=1&version=3&playerapiid=ytplayer"
        allowfullscreen="allowfullscreen"></iframe>
      </div>

      <div class="col-xl-5 col-md-6 col-12 rg18-g1 cl-CI px-0 mt-4 ms-xl-5">
        {{lang_txt.howto_create_sig[lang_choose]}}
        <iframe class="w-100 mt-3 p-1 ps-0" height="315" src="https://www.youtube.com/embed/U4Mq1XI7-nE?enablejsapi=1&version=3&playerapiid=ytplayer"
        allowfullscreen="allowfullscreen"></iframe>
      </div>
  
    </div>

    </div>

   



  </div>

</section>