<script type="text/javascript" src="js/jquery-3.3.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/3.0.16/svg.min.js" type="text/javascript"></script>
<script src="node_modules/@svgdotjs/svg.draggable.js/dist/svg.draggable.js"></script>
<script src="node_modules/@svgdotjs/svg.panzoom.js/dist/svg.panzoom.js"></script>
<script src="components/upload_new3_lib.js"></script>

<style>
    .main-svg {
        width: 1200px;
        /*height:100px;*/
        height:800px;

        background-color: pink;
        border-style : solid;
        overflow: scroll;
    }
</style>

<script> 
    var api_host = '../capi/'
    function getUsername() {
        return 'sysnajar@gmail.com'
    }
    function getUserField() {
        return 'sysnajar@gmail.com'
    }
    $(document).ready(function(){  
         var mainSvgWidth = 1200
         $('.main-svg').css('width',mainSvgWidth+'px')
         upload = new Vue(upload_vue())
         
         //page specific settings
         upload.adjustedWidth = mainSvgWidth
         upload.imageFiles = ['pdf165582731614309107-0.png' , 'pdf165582731614309107-1.png']
         
         upload.draw = SVG('#svg')
         upload.init_svg(0)

         //setTimeout(zoom, 3000)
          
    })
</script>

<script>
var upload = null
</script>

<div id="app">
    <button onclick="upload.set_tool('Signature',1)"
    draggable="true" ondragstart="upload.set_tool('Signature');dragTool(event)"
    >Signature</button>
    <button onclick="upload.set_tool('Text')">Text</button>
    <button onclick="upload.set_tool('Name')">Name</button>
    <button onclick="upload.set_tool('Email')">Email</button>
    <button onclick="upload.set_tool('Initial')">Initial</button>

    <br/><br/><br/>
    <div class="main-svg">
    <svg id="svg" width="100%" 
    
    onmouseenter="upload.prepare_new_tool_self_sign(1)"
    onmousemove="upload.mousemove_prepare_new_tool(event)"
    onclick="upload.insert_new_tool(event)"

    ondragover="allowDrop(event);upload.prepare_new_tool_self_sign(2)"
    ondrop="upload.dropToSvg(event);upload.insert_new_tool(event)"
    >
         
    </svg>
    </div><!-- main-svg-->
</div>