<!--SIGNATURE MODAL-->
<div class="modal fade e-signature-modal" id="editSignaturebox" tabindex="-1" role="dialog"
    aria-labelledby="editSignaturebox" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h5 class="modal-title" id="exampleModalLongTitle">
                    {{lang_page.title_tab[lang_choose]}}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="signature-form" onsubmit="return false">
                    <ul class="nav nav-pills nav-fill" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active rounded-0" id="home-tab" data-bs-toggle="tab" href="#home" role="tab"
                                aria-controls="home-tab" aria-selected="true"
                                onclick="click_tab(false)">{{lang_page.tab_Choose[lang_choose]}}
                                <!-- Choose Signature -->
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link rounded-0" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab"
                                aria-controls="profile-tab" aria-selected="false"
                                onclick="click_tab(false)">{{lang_page.tab_Draw[lang_choose]}}
                                <!-- Draw Signature -->
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link rounded-0" id="contact-tab" data-bs-toggle="tab" href="#contact" role="tab"
                                aria-controls="contact-tab" aria-selected="false"
                                onclick="click_tab(true)">{{lang_page.tab_Generate[lang_choose]}}
                                <!-- Generate Signature -->
                            </a>
                        </li>
                    </ul>

                    <br>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <!-- Choose -->
                            <div class="s-choose box-your-signature p-3">
                                <div class="input-signature-group group-draw_img">
                                    <div class="row justify-content-center">
                                        <div class="col-12">
                                            <input type="radio" name="sig-1" value="draw" class="radio-input"
                                                id="type_radio1" @change="check_choose">
                                            <img width="60%" class="draw draw_img" id="draw_img">
                                        </div>
                                    </div>
                                </div>
                                <div class="input-signature-group group-gen_img mt-3">
                                    <div class="row justify-content-center">
                                        <div class="col-12">
                                            <input type="radio" name="sig-1" value="gen" class="radio-input"
                                                id="type_radio2" @change="check_choose">
                                            <img width="60%" class="draw gen_img" id="gen_img">
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <div class="mt-3">
                                    <div v-show="count_field > 1">
                                        <input id="sign_all" type="checkbox" class="float-left marginTop5" disabled>
                                        <label class="float-left marginLeft10 lg14-g1">ทุกตำแหน่งลายเซ็นของฉันใช้ลายเซ็นนี้</label>
                                    </div>
                                    <button type="button" class="btn btn-primary modal-create-btn float-end rounded-0"
                                    v-if="check_choose_signature == true" data-dismiss="modal"
                                    onclick="upload.set_sign_type(document.getElementById('type_radio1').checked?document.getElementById('type_radio1').value:document.getElementById('type_radio2').value)">{{lang_page.save2[lang_choose]}}</button>
                                <button type="button" class="btn btn-secondary float-end rounded-0" v-else @click="please_choose">
                                    {{lang_page.save2[lang_choose]}}
                                </button>
                                <button type="button" class="btn btn-light float-end me-3 rounded-0"
                                    data-bs-dismiss="modal">{{lang_page.close[lang_choose]}}</button>
                                </div>
                            
                        </div>
                        <!-- Draw -->
                        <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="draw-section">
                                <div class="draw-box">
                                    <div class="wrapper">
                                        <canvas id="signature-pad" class="signature-pad" width=400 height=100></canvas>
                                    </div>
                                </div>
                                <br>
                                <div class="modal-button-group" style="float: right;">
                                    <button type="button" class="btn btn-primary modal-create-btn rounded-0" data-dismiss="modal"
                                        onclick="createSignature()">{{lang_page.save[lang_choose]}}</button>
                                    <button type="button" class="btn btn-secondary rounded-0"
                                        @click="clearSignature(1)">{{lang_page.Clear[lang_choose]}}</button>
                                </div>
                            </div>
                        </div>

                        <!-- Gen -->
                        <div class="tab-pane show active" id="contact" role="tabpanel" aria-labelledby="contact-tab"
                            style="padding:0px 10px">

                            <div class="full-name-sign" style="margin-bottom: 15px;">
                                <label>{{lang_page.Fullname[lang_choose]}}</label>
                                <input class="form-control mt-2" type="text" name="sig-fullname" id="sig-fullname"
                                    v-bind:placeholder="lang_page.fname_lname[lang_choose]">
                            </div>
                            <div class="generate-section">
                                <div class="row">
                                    <div class="col-md-7 col-6">
                                        <select id="signature_font" class="form-control">
                                            <option value="">{{lang_page.font[lang_choose]}}</option>
                                            <option value="worasait.ttf">Worasait</option>
                                            <option value="Arthit.ttf">Arthit</option>
                                            <option value="Sriracha.ttf">Sriracha</option>
                                        </select>
                                    </div>
                                    <div class="col-md-5 col-6">
                                        <a href="javascript:" class="generate-a color_a"
                                            onclick="genSignature()">{{lang_page.GenerateSignature[lang_choose]}}</a>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-12">
                                        <div class="exmaple-sig">
                                            <img height=100 id="signature-img" src="" style="display: none;">
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="modal-button-group" style="float: right;">
                                    <button type="button" class="btn btn-primary modal-create-btn rounded-0"
                                        onclick="genSignature()">{{lang_page.save[lang_choose]}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="initialModal" tabindex="-1" aria-labelledby="initialModaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="initialModaLabel">สร้างลายเซ็นย่อ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <nav class="mb-3">
                    <div class="nav nav-pills nav-fill" id="nav-tab-initia" role="tablist">
                        <a class="nav-link active" id="nav-show-initia-tab" data-bs-toggle="tab" href="#nav-show-initia"
                            role="tab" aria-controls="nav-show-initia" aria-selected="true">เลือกรายเซ็น</a>
                        <a class="nav-link" id="nav-draw-initia-tab" data-bs-toggle="tab" href="#nav-draw-initia"
                            role="tab" aria-controls="nav-draw-initia" aria-selected="false">วาดลายเซ็นย่อ</a>
                        <a class="nav-link" id="nav-gen-initia-tab" data-bs-toggle="tab" href="#nav-gen-initia"
                            role="tab" aria-controls="nav-gen-initia" aria-selected="false">สร้างลายเซ็นแบบย่อ</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent-initia">
                    <div class="tab-pane fade show active" id="nav-show-initia" role="tabpanel"
                        aria-labelledby="nav-show-initia-tab">
                        <div class="form-check mb-3" v-if="show_initia_draw">
                            <input class="form-check-input" type="radio" name="initial_sign" id="initial_sign_draw"
                                @input="/*select_initia_sign(1)*/" value="draw_initial">
                            <img v-bind:src="initia_draw" alt="signature_draw_initial" style="width: 200px;"
                                @error="hide_img_sign(1)">
                        </div>
                        <div class="form-check mb-3" v-if="show_initia_gen">
                            <input class="form-check-input" type="radio" name="initial_sign" id="initial_sign_gen"
                                @input="/*select_initia_sign(2)*/" value="gen_initial">
                            <img v-bind:src="initia_gen" alt="signature_gen_initial" style="width: 200px;"
                                @error="hide_img_sign(2)">
                        </div>
                        <div class="form-check mb-3" v-if="select_initia_sing != ''">
                            <input class="form-check-input" type="checkbox" value="" id="" v-model="sign_all_initia"
                                disabled>
                            <label class="form-check-label" for="">
                                ทุกตำแหน่งลายเซ็นของฉันใช้ลายเซ็นนี้
                            </label>
                        </div>
                        <div class="text-end mb-3">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
                            <button type="button" class="btn btn-primary"
                                onclick="upload.set_sign_type(document.getElementById('initial_sign_draw').checked?document.getElementById('initial_sign_draw').value:document.getElementById('initial_sign_gen').value)">เซ็นเอกสาร</button>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-draw-initia" role="tabpanel"
                        aria-labelledby="nav-draw-initia-tab">
                        <div class="draw-box-ps mb-3">
                            <div class="wrapper">
                                <canvas id="signature-pad-initial" class="signature-pad" width=100 height=100></canvas>
                            </div>
                        </div>
                        <div class="text-end">
                            <button type="button" class="btn btn-secondary" @click="clearSignature(2)">ล้าง</button>
                            <button type="button" class="btn btn-primary"
                                @click="createSignature_initial">สร้างลายเซ็น</button>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-gen-initia" role="tabpanel" aria-labelledby="nav-gen-initia-tab">
                        <div class="mb-3">
                            <label class="form-label">ชื่อ</label>
                            <input type="text" class="form-control" v-model="sign_name_initial" maxlength="3">
                        </div>
                        <div class="text-end">
                            <button type="button" class="btn btn-primary"
                                @click="genSignature_initial">สร้างลายเซ็น</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 