<script src="node_modules/@svgdotjs/svg.js/dist/svg.js"></script>
<script src="node_modules/@svgdotjs/svg.draggable.js/dist/svg.draggable.js"></script>

<hr/>
<div id='canvas' style="border-style:solid;background-color:grey"></div>
<hr/>
<script>
var draw = SVG()
  .addTo('#canvas')
  .size(600, 600)
var bg = draw.rect(600,600).fill('white')
var rect = draw.rect(50, 50).fill('yellow')

rect.draggable()
</script>
