<script src="node_modules/@svgdotjs/svg.js/dist/svg.js"></script>
<script src="node_modules/@svgdotjs/svg.draggable.js/dist/svg.draggable.js"></script>

<hr/>
<div id='canvas' style="border-style:solid;background-color:grey"></div>
<hr/>
<script>
var circle_width = 10
var draw = SVG()
  .addTo('#canvas')
  .size(600, 600)
var bg = draw.rect(600,600).fill('white')
var rect = draw.rect(50, 50).fill('yellow')


var group = draw.group()
group.add(rect)

group.draggable()
step2_add_border(draw, group, rect)


function step2_add_border(draw, r, _rec)
{
	var activate = function(r){
		var rect = r
		 
		//1. show border
        _rec.stroke({ color: 'blue', opacity: 1, width: 3 })
	
		//2. show draggers (circles)
		var x2 = (_rec.x()+_rec.width())  - circle_width/2
		var y2 = (_rec.y()+_rec.height()) - circle_width/2
		var cir = draw.circle(circle_width).fill('green')

		r.add(cir)
		cir.center(_rec.width(),_rec.height())
        cir.draggable()
		circleEvt(cir, r, _rec)
	}

	activate(r)

}

/*initialize circle (dragger) event handler */
function circleEvt(cir, group, rect){
var maxX = rect.x()+(rect.width()*2)
var maxY = rect.y()+(rect.height()*2)

cir.on('beforedrag.namespace', (evt) => {
		   var e2 = evt.detail.event
		   var x = e2.offsetX
		   var y = e2.offsetY
		   console.log('rect w,h',rect.x(), rect.y())
		   console.log('circle x,y',cir.x(), cir.y())
		   console.log('max x,y',maxX, maxY)
		   console.log('x,y',x, y)
		 
		   var b1 = x>maxX 
		   var b2 = y>maxY 
		   if(b1 || b2){
		      console.log(x+'/'+maxX+', '+y+'/'+maxY)
		      evt.preventDefault()
			  return;
		   }

})



cir.on('dragend.namespace', (evt) => {
  var x = rect.x()+rect.width()
  var y = rect.y()+rect.height()


  //var cir2 = draw.circle(circle_width).fill('pink')
  //group.remove(cir)
  //group.add(cir2)
  //cir2.center(x, y)
})

		cir.on('dragmove.namespace', (evt) => {
		   var e2 = evt.detail.event
		   var x = e2.offsetX
		   var y = e2.offsetY
		   console.log('rect w,h',rect.x(), rect.y())
		   console.log('circle x,y',cir.x(), cir.y())
		   console.log('max x,y',maxX, maxY)
		   console.log('x,y',x, y)
		 
		   var b1 = x>maxX 
		   var b2 = y>maxY 
		   if(b1 || b2){
		      console.log(x+'/'+maxX+', '+y+'/'+maxY)
		      evt.preventDefault()
			  return;
		   }
		   else{
		      console.log(x+'/'+maxX+', '+y+'/'+maxY)
			 var new_w = x - rect.x()
			 var new_h = y - rect.y()

			 if(new_w>new_h){
			    new_h = new_w
			 }
			 else{
			    new_w = new_h
			 }

			 rect.size(new_w, new_h)
             console.log(new_w, new_h)
			 
		   }


		})



}
</script>
