<script src="node_modules/@svgdotjs/svg.js/dist/svg.js"></script>
<script src="node_modules/@svgdotjs/svg.draggable.js/dist/svg.draggable.js"></script>

<hr/>
<div id='canvas' style="border-style:solid;background-color:grey"></div>
<hr/>
<script>
var circle_width = 10
var draw = SVG()
  .addTo('#canvas')
  .size(600, 600)
var bg = draw.rect(600,600).fill('white')
var rect = draw.rect(50, 50).fill('yellow')

rect.draggable()
step2_add_border(draw, rect)


function step2_add_border(draw, r)
{
  //attach onclick event when click show border 
  //and dragger button 
	

	//r.click( ()=>{ 
	var activate = function(r){
		var rect = r
		 
		//1. show border
        rect.stroke({ color: 'blue', opacity: 1, width: 3 })
	
		//2. show draggers (circles)
		var x2 = (r.x()+r.width())  - circle_width/2
		var y2 = (r.y()+r.height()) - circle_width/2
		var cir = draw.circle(circle_width).fill('white')
		.move(x2, y2).stroke({color: 'blue', width : 3})
		 

		rect._cir4 = cir
		cir._rect  = rect
		cir._origin = {x:r.x(), y:r.y(),
			maxX:r.x() + (rect.width( ) * 2),
			maxY:r.y() + (rect.height() * 2),

			minX:r.x() + (rect.width( ) / 2),
			minY:r.y() + (rect.height() / 2),
		} 

        cir.draggable()

		cir.on('beforedrag.namespace', (evt) => {
		   var e2 = evt.detail.event
		   var x = e2.offsetX
		   var y = e2.offsetY
		   console.log(x,y)
		  

			this._x = x+10
			this._y = y+10

		})

		cir.on('dragmove.namespace', (evt) => {
		   var e2 = evt.detail.event
		   var x = e2.offsetX
		   var y = e2.offsetY
		   var origin = cir._origin
		   //console.log('origin = ' + JSON.stringify(origin))

		   var b1 = x > origin.maxX
		   var b2 = y > origin.maxY

		   var b3 = x < origin.minX
		   var b4 = y < origin.minY
		   //console.log(x+'>'+origin.maxX+' = '+b1+'\n'+y+'>'+origin.maxY+' = '+b2)
		   
		   if(b1 || b2 || b3 || b4){
		      evt.preventDefault()
			  return;
		   }
		   else{
			 var new_w = x - origin.x
			 var new_h = y - origin.y

			 if(new_w>new_h){
			    new_h = new_w
			 }
			 else{
			    new_w = new_h
			 }

			 cir._rect.size(new_w, new_h)
             console.log(new_w, new_h)
		   }


		})
		
	}//Activate

    r.on('beforedrag', e => {
		window.evt = e
		var inited = (r._cir4 != null)

		console.log("inited = "+ inited)
		
		if(!inited)
		  { activate(r) }

        //r.stroke({ color: 'blue', opacity: 1, width: 3 })
	})

    r.on('dragmove', e => {
		var cir = r._cir4
		if(cir){
	       cir._isHiding = true
		   cir.hide()
		  var x2 = (r.x()+r.width())  - circle_width/2
		  var y2 = (r.y()+r.height()) - circle_width/2
		  //cir.move(x2, y2)
		}
	})

    r.on('dragend', e => {
		var cir = r._cir4
		if(cir){
	       cir._isHiding = false
		   cir.show()
		}

		r._cir4 = null //reset circle

	})


}
</script>
