<script src="node_modules/@svgdotjs/svg.js/dist/svg.js"></script>
<script src="node_modules/@svgdotjs/svg.draggable.js/dist/svg.draggable.js"></script>

<hr/>
<div id='canvas' style="border-style:solid;background-color:grey"></div>
<hr/>

<select id="obj4" style="width:200px">
  <option value="it01">Item1</option>
  <option value="it02">Item2</option>
  <option value="it03">Item3</option>
</select>


<input id="obj5" type="checkbox" value="" checked>

<div id="obj6">
<input name="g1" type="radio" value="A" checked> Male
<input name="g1" type="radio" value="B"> Female
</div>

<script>


var draw = SVG()
  .addTo('#canvas')
  .size(800, 600)


var fobj = draw.foreignObject(800,600)

var span = document.createElement('span')
span.innerText = 'Hello'
fobj.add(span)

var obj2 = document.createElement('input')
obj2.value = 'Hello2'
fobj.add(obj2)


var obj4 = document.getElementById('obj4')
fobj.add(obj4)

var obj5 = document.getElementById('obj5')
fobj.add(obj5)

var obj3 = document.createElement('textarea')
obj3.cols = 30
obj3.rows = 10
obj3.value = 'Line1\nLine2\nLine3\nLine4'
fobj.add(obj3)

var obj6 = document.getElementById('obj6')
fobj.add(obj6)

fobj.draggable()
</script>
