<section>
  <div id='file-dropzone-template' class="dropzone" style="display: none;"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <label class="md24-g2">{{lang_txt.title[lang_choose]}}</label>
        <!-- New -->
        <div class="all-template">
          <!-- Template List -->
          <ul class="template-list">
            <!-- Create template -->
            <li class="template-item me-5 mt-4">
              <div class="box-template d-flex align-items-center justify-content-center mt-3" role="button"
                @click="upload">
                <div class="d-flex flex-column align-items-center align-self-center">
                  <i class="fas fa-plus-circle cl-2F" style="font-size: 30px;"></i>
                  <label class="lg16-g1 mt-2">Upload</label>
                  <label class="lg16-g1">New Template</label>
                </div>
              </div>
            </li>
            <li class="template-item me-5 mt-4" v-for="r,i in template_list">
              <div class="row">
                <div class="col-12">
                  <div class="box-template d-flex align-items-center justify-content-center mt-3 p-2" role="button">
                    <img v-bind:src="upload_path + r.imageFiles[0]" v-bind:id="'thumb'" class="w-100"
                      @click="openUpload(r.template_id)">
                  </div>
                </div>
                <div class="d-flex mt-2 w-100">
                  <div class="layout-text-template-start text-truncate">
                    <span class="lg14-g1">{{ r.originalFile }}</span>
                  </div>
                  <div class="layout-text-template-end d-flex justify-content-center align-items-center">
                    <i class="fas fa-ellipsis-v" data-bs-toggle="dropdown" aria-expanded="false" role="button"></i>
                    <ul class="dropdown-menu lg16-g1">
                      <li><a class="dropdown-item lg16-g1" @click="openUpload(r.template_id)" role="button">{{lang_txt.using[lang_choose]}}</a></li>
                      <li><a class="dropdown-item lg16-g1" @click="changeName(r)" role="button">{{lang_txt.rename[lang_choose]}}</a></li>
                      <li><a class="dropdown-item lg16-g1" @click="showPdfImage(r)" role="button">{{lang_txt.preview[lang_choose]}}</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item lg16-g1" @click="remove_template(r._id)" role="button">{{lang_txt.delete[lang_choose]}}</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Old -->
    <!-- <div class="card" style="cursor: pointer;width:15rem;height:20rem;" @click="upload">
      <div class="card-body">
        <i class="fas fa-plus-circle" style="color: blue;"></i>
        <h6 class="card-subtitle mb-2 text-muted">Upload New Template</h6>
      </div>
    </div>
    <br> -->
    <!-- <div v-for="r,i in template_list">
      <div class="card" style="width: 15rem;height: 20rem;">
        <div class="display-doc text-center shadow-sm">
          <a><img v-bind:src="upload_path + r.imageFiles[0]" v-bind:id="'thumb'" class="img-fluid"
              @click="openUpload(r.template_id)" style="cursor: pointer;"></a>
        </div>
      </div>
      <span>{{ r.originalFile }}</span><br>
      <a @click="openUpload(r.template_id)" style="cursor: pointer;">ใช้งาน</a>
      <a @click="changeName(r)" style="cursor: pointer;">เปลี่ยนชื่อ</a>
      <a @click="showPdfImage(r)" style="cursor: pointer;">ดู</a>
      <a @click="remove_template(r._id)" style="cursor: pointer;">ลบ</a><br><br>
    </div> -->
  </div>
  <div class="modal fade" id="loadingModal" tabindex="-1" aria-labelledby="loadingModalLabel" aria-hidden="true"
    data-bs-backdrop="static">
    <div class="modal-dialog modal-sm modal-dialog-centered">
      <div class="modal-content modal-none-bg">
        <div class="modal-body text-center">
          <div class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal" id="optionSignModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{lang_txt.choose[lang_choose]}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row justify-content-center ">
            <div class="col-lg-5 col-sm-6 col-12 mb-3 cs-pointer">
              <div class="card" @click="select_sign(1)">
                <div class="card-body">
                  <div class="row">
                    <div class="col-12 text-center">
                      <div>
                        <img src="images/man.png" alt="image select sign" width="64">
                      </div>
                      <div class="rg16-g1 mt-2">
                        {{lang_txt.self[lang_choose]}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5 col-sm-6 col-12 mb-3 cs-pointer">
              <div class="card" @click="select_sign(2)">
                <div class="card-body">
                  <div class="row">
                    <div class="col-12 text-center">
                      <div>
                        <img src="images/man_woman.png" alt="image select sign" width="64">
                        <img src="images/man.png" alt="image select sign" width="64">
                      </div>
                      <div class="rg16-g1 mt-2">
                        {{lang_txt.multi[lang_choose]}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="showdocument" tabindex="-1" aria-labelledby="showdocumentLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="showdocumentLabel">{{lang_txt.preview[lang_choose]}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row" v-for="r,i in previews">
            <img v-bind:src="upload_path + r" class="img-fluid border" alt="">
            <p class="text-center lg14-g3">{{i+1}} / {{previews.length}}</p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!--Modal Change Name-->
  <div class="modal" id="changNameModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{lang_txt.change_name[lang_choose]}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type="text" class="form-control mt-2" v-model="activeTemplate.originalFile">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"
            data-bs-dismiss="modal">{{lang_txt.cancel[lang_choose]}}</button>
          <button type="button" class="btn btn-primary"
            @click="submitChangeName">{{lang_txt.save[lang_choose]}}</button>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>