<section>
  <div class="container-fluid">

    <div class="row">

      <div class="col-12 md24-g2 px-0">
        {{lang_txt.title[lang_choose]}}
      </div>
      
    </div>


    <div class="row" v-if="display == false">
        <div class="col-12 text-center md36-g1" style="margin-top: 250px">
          {{lang_txt.wait[lang_choose]}}  <i class="fas fa-spinner fa-spin"></i>
        </div>
    </div>

 

    <div class="row" v-else>

      <div class="col-12 mt-4 px-0">
        
          <table id="table" class="table">
            <thead>
              <tr>
                <th class="md16-g1">{{lang_txt.date[lang_choose]}}</th>
                <th class="md16-g1">{{lang_txt.name[lang_choose]}}</th>
                <th class="md16-g1">{{lang_txt.amount[lang_choose]}}</th>
                <th class="md16-g1">{{lang_txt.id[lang_choose]}}</th>
                <th class="md16-g1">{{lang_txt.status[lang_choose]}}</th>
              </tr>
            </thead>
            <tbody>
              <tr class="cs-pointer" >
                <td class="rg14-g2">
                </td>
                <td class="rg14-g2">
                </td>
                <td class="rg14-g2"> 
                </td>
                <td class="rg14-g2">
                </td>
                <td class="rg14-g2">
                </td>
              </tr>
            </tbody>
          </table>
  
      </div>

  </div>

  </div>

</section>