<script type="text/javascript" src="js/jquery-3.3.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/3.0.16/svg.min.js" type="text/javascript"></script>

<button onclick="zoomIn()">Zoom In</button>
<button onclick="zoomOut()">Zoom Out</button>

<div id="app">
     <div class="main-svg">
    <svg id="svg" width="1200" height="3106px">
         <g>
            <image xlink:href="https://hjkl.ninja/face/images/card/pdf165582731614309107-0.png" 
            width="1200px" height="1553px"></image> 
         </g>
         <g>
            <image xlink:href="https://hjkl.ninja/face/images/card/pdf165582731614309107-1.png" 
            width="1200px" height="1553px" y="1553"></image> 
         </g>
    </svg>
    </div><!-- main-svg-->

    <style>
        .main-svg {
            width: 1200px;
            height: 1553px;;
            /*background-color: pink;*/
            border-style : solid;
            overflow: scroll;
        }
    </style>
    <script>

        function zoomIn(){
            var fac = 1.1
            var id = 'svg'
            var draw =   SVG('#'+id)
            var w = 1200 * fac
            var h = (1553*2) * fac

            draw.scale(fac)
            $('#'+id).css('width',  w+'px')
            $('#'+id).css('height', h+'px')
             
            var s = document.getElementById(id)
            var box = s.getBoundingClientRect()
            draw.translate(-box.x, -box.y)   
        }

        function zoomOut(){
            var fac = 0.9
            var id = 'svg'
            var draw =   SVG('#'+id)
            var w = 1200 * 1
            var h = (1553*2) * 1

            draw.scale(fac)
            $('#'+id).css('width',  w+'px')
            $('#'+id).css('height', h+'px')
             
            var s = document.getElementById(id)
            var box = s.getBoundingClientRect()
            window.s = s
            window.box = box
            draw.translate(-box.x, -box.y)   
        }
    </script>