<!DOCTYPE html>
<html lang="th-TH" dir="ltr">

<head>
  <title>Creden | e-Sign</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=1">
  <meta content="156004817605-qpm22mpvfvs0ch56s95igt6b1su33g78.apps.googleusercontent.com"
    name="google-signin-client_id">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="icon" type="image/x-icon" href="images/Creden_logos_ICON_2-Tones.ico">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/index.css?v=12341">
  <link rel="stylesheet" type="text/css" href="css/header.css?v=121">
  <link rel="stylesheet" type="text/css" href="css/table.css?v=1211">
  <link rel="stylesheet" type="text/css" href="css/sideMenu.css?v=122">
  <link rel="stylesheet" type="text/css" href="css/font.css?v=12">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  <style>
  </style>

  <script src="js/moment.js"></script>
</head>

<body class="bg-F2">

  <div id="app" class="content" v-cloak>

    <header class="header">
      <ul>
        <li>
          <ul>
            <li class="max-limit-logo">
              <a href="/esign/#/dashboard">
                <img v-bind:src="myLogo" alt="logo creden website" class="my-logo mt-2" v-if="myLogo">
                <img src="images/Creden_logo.png" alt="logo creden website" class="w-100" v-else>
              </a>
            </li>
            <li class="md24-g2 mt-md-2 mt-3 pt-1" v-if="powered_by == true"></li>
            <li class="border-profile" style="padding: 3rem 10px 0px 0px !important" v-if="powered_by == false"></li>
            <li class="lg14-g2 mt-md-2 mt-3 pt-md-1" v-if="powered_by == false">
              <div class="row">
                <div class="col-12 ps-md-0 ps-2">
                  POWERED BY
                </div>
                <div class="col-12 mt-0 ps-md-0 ps-2">
                  Creden e-Signature
                </div>
              </div>
            </li>

          </ul>
        </li>
        <li class="float-end">
          <ul>
            <li class="mt-3" v-if="lang_choose == 'th'" onclick="swithLang('en')">
              <img src="images/thai-flag.svg" alt="thai" class="flag-size cs-pointer mx-lg-1 mx-2">
              <span class="rg14-g2 mx-1 pc cs-pointer">ภาษาไทย</span>
            </li>
            <li class="mt-3" v-else onclick="swithLang('th')">
              <img src="images/eng-flag.svg" alt="thai" class="flag-size cs-pointer mx-lg-1 mx-2">
              <span class="rg14-g2 mx-1 pc cs-pointer">English</span>
            </li>
            <li class="border-profile pt-5 pe-0 pc"></li>
            <li class="ps-0 pc">

              <div class="dropdown">

                <a class="mt-2" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
                  aria-expanded="true">
                  <img v-if="myProfile" v-bind:src="myProfile" alt="profile" class="pic-profile2 radius50">
                  <img v-else src="images/profile.png" alt="profile" class="pic-profile2 radius50">
                </a>

                <ul class="dropdown-menu dropdown-profile" aria-labelledby="dropdownMenuButton">
                  <li class="d-block">
                    <div class="profile-box-img">
                      <div class="max-profile-detail">
                        <img v-if="myProfile" v-bind:src="myProfile" alt="profile" class="pic-profile2 radius50">
                        <img v-else src="images/profile.png" alt="profile" class="pic-profile2 radius50">
                      </div>
                    </div>
                    <div class="profile-box-text">
                      <div class="row">
                        <div class="col-12 rg14-g1 text-overflow-dot">
                          {{myFirstname}} {{myLastname}}
                        </div>
                        <div class="col-12 rg12-g1">
                          {{myEmail}}
                        </div>
                        <div class="col-12 rg12-g1 cl-2F">
                          -
                        </div>
                      </div>
                    </div>
                    <div class="w-100 text-end rg10-g3 cl-CI pb-2">
                      <span class="cs-pointer" @click="logout()">
                        <i class="fas fa-sign-out-alt"></i>
                        {{lang_txt.logout[lang_choose]}}
                      </span>
                    </div>
                  </li>
                </ul>
              </div>


            </li>
          </ul>

        </li>
      </ul>
    </header>

    <section v-show="step == 1">

      <!-- model ... -->

      <!-- <div class="modal fade" id="loadingModal" tabindex="-1" aria-labelledby="loadingModalLabel" aria-hidden="true"
         data-bs-backdrop="static">
         
        <div class="modal-dialog modal-sm modal-dialog-centered">
          <div class="modal-content modal-none-bg">
            <div class="modal-body text-center">
              <div class="spinner-grow text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              <div class="spinner-grow text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              <div class="spinner-grow text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
          </div>
        </div> 
      </div> -->

      <div id='file-dropzone-upload' class="dropzone" style="display: none;"></div>

      <input id='file-attachment' hidden type="file"></input>
      <!-- Number Step -->
      <div class="row mb-4 fixed-top-step">
        <div class="box-step">
          <div class="row position-relative d-flex justify-content-center">
            <div>
              <button class="btn-creden md14-g1 cl-CI text-decoration-underline position-absolute" @click="saveDraft"><i
                  class="fas fa-times me-1"></i>
                {{lang_txt.undo[lang_choose]}}
              </button>
            </div>
            <div class="w-50">
              <div class="input-group">
                <label class="btn-creden md14-g1 cl-CI cs-default" id="button-addon1"><i class="far fa-dot-circle "></i>
                  {{lang_txt.add[lang_choose]}}</label>
                <hr class="col hr-blue pc">
                <label class="btn-creden md14-g1 pc cs-default " id="button-addon1"><i class="far fa-dot-circle"></i>
                  {{lang_txt.recip[lang_choose]}}</label>
                <hr class="col pc">
                <label class="btn-creden md14-g1 pc cs-default " id="button-addon1"><i class="far fa-dot-circle"></i>
                  {{lang_txt.field[lang_choose]}}</label>
                <hr class="col pc">
                <label class="btn-creden md14-g1 pc cs-default " id="button-addon1"><i class="far fa-dot-circle"></i>
                  {{lang_txt.review[lang_choose]}}</label>
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="container">
        <div class="row justify-content-center mb-3 mt-7">
          <div class="col-lg-10 col-12">
            <div class="alert alert-danger mt-3" role="alert" v-show="alert_no_pdf">
              {{text_alert}}
            </div>
            <h2 class="rg24-g1">{{lang_txt.add[lang_choose]}}</h2>
          </div>
        </div>
      </div>
      <!-- list doc -->
      <div class="row justify-content-center mb-3 Mobile">
        <div class="col-lg-10 col-12">
          <div class="card">
            <div class="card-body text-center cl-BD rg14-g3">
              <p><i class="fas fa-exclamation-circle"></i></p>
              <p>ฟังก์ชั่นอัพโหลดไฟล์ ไม่รองรับอุปกรณ์มือถือ
                Upload file function not support
                in mobile device</p>
            </div>
          </div>
        </div>
      </div>

      <!-- upload -->
      <div class="pc">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-10 col-12">
              <div class="card">


                <div class="card-body">
                  <!-- filemodel  Success-->
                  <div class="row justify-content-center mb-4 " v-for="r,i in display_imageFiles">
                    <div class="col-12">
                      <div class="card">
                        <div class="card-body list_upload">
                          <div class="d-flex">
                            <div style="width: 5%;">
                              <i class="fas fa-file-pdf cl-red" style="font-size: 36px;"></i>
                            </div>
                            <div style="width: 75%;">

                              <label class="lg14-g1 mb-0 text-truncate d-block">{{getDisplayFilename(i)}}</label>
                              <label class="lg14-g1 d-block"> {{ get_count_page_pdf(i) }} page </label>
                            </div>
                            <div style="width: 20%;" class="text-end  pt-2">
                              <label class="rg18-g2 me-2"><i class="fas fa-eye me-2 cs-pointer" @click="showPdfImage(i)"
                                  v-bind:title="lang_txt.view[lang_choose]"></i></label>

                              <label class="rg18-g2"><i class="fas fa-trash cs-pointer" @click="deletepdf(i)"
                                  v-bind:title="lang_txt.draft_discard[lang_choose]"></i></label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- filemodel upload -->
                  <div class="row justify-content-center mb-4 " v-for="r,i in upload_data" v-if='(upload_data[i].win===false||(display_imageFiles.length-1<i))'>
                    <div class="col-12">
                      <div class="card">
                        <div class="card-body list_upload">
                          <div class="d-flex">
                            <div style="width: 5%;">
                              <i class="fas fa-file-pdf cl-red" style="font-size: 36px;"></i>
                            </div>
                            <div style="width: 75%; margin: auto;">

                              <progress :id="'pro' + i" class="the-progress-div" style="width: 100%; " max="100"
                                value="100" ></progress>
                            </div>
                            <div style="width: 20%;" class="text-end  pt-2">
                              <i class="fas fa-spinner fa-spin"></i>
                            </div>
                            
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- filemodel  Success-->
                  <!-- <div class="row justify-content-center mb-4 " v-for="r,i in display_imageFiles">
                       <div class="col-12">
                         <div class="card">
                           <div class="card-body list_upload">
                             <div class="d-flex">
                               <div style="width: 5%;">
                                 <i class="fas fa-file-pdf cl-red" style="font-size: 36px;"></i>
                               </div>
                               <div style="width: 75%;">
                                 
                                 <label class="lg14-g1 mb-0 text-truncate d-block">{{getDisplayFilename(i)}}</label>
                                 <label class="lg14-g1 d-block"> {{ get_count_page_pdf(i) }} page </label>
                               </div>
                               <div style="width: 20%;" class="text-end  pt-2">
                                 <label class="rg18-g2 me-2"><i class="fas fa-eye me-2 cs-pointer" @click="showPdfImage(i)"
                                     v-bind:title="lang_txt.view[lang_choose]"></i></label>
                                     
                                 <label class="rg18-g2"><i class="fas fa-trash cs-pointer" @click="remove_pdf(i)"
                                     v-bind:title="lang_txt.draft_discard[lang_choose]"></i></label>
                               </div>
                             </div>
                           </div>
                         </div>
                       </div>
                     </div> -->


                  <div class="row">
                    <div class="col-12 text-center p-5">
                      <div>
                        <div class="tooltip2 rg14-g3 cl-CI border-0"
                          v-if="myPackage.package_level == 0 && myPackage.doc_per_month > 5">
                          <button type="button" class="btn btn-primary py-2 px-3" disabled>
                            <i class="fas fa-file-upload me-3"></i>{{lang_txt.upload[lang_choose]}}
                          </button>
                          <span class="tooltiptext border p-1 w-100">
                            <p class="mb-2 text-center md24-g1"><i class="fas fa-exclamation-circle cl-F2"></i></p>
                            <p class="mb-3">{{lang_page.max_doc[lang_choose]}}</p>
                          </span>
                        </div>

                        <div class="tooltip2 rg14-g3 cl-CI border-0"
                          v-else-if="myPackage.package == 'PROJECT' && myPackage.is_exp_project == true">
                          <button type="button" class="btn btn-primary py-2 px-3" disabled>
                            <i class="fas fa-file-upload me-3"></i>{{lang_txt.upload[lang_choose]}}
                          </button>
                          <span class="tooltiptext border p-1 w-100">
                            <p class="mb-2 text-center md24-g1"><i class="fas fa-exclamation-circle cl-F2"></i></p>
                            <p class="mb-3">{{lang_page.max_doc[lang_choose]}}</p>
                          </span>
                        </div>
                        <!-- <button type="button" class="btn btn-primary py-2 px-3" v-if="myPackage.package_level == 0 && myPackage.used_doc > 5" disabled >
                        <i class="fas fa-file-upload me-3"></i>{{lang_txt.upload[lang_choose]}} <i class="fas fa-exclamation-circle"></i>
                        </button> -->

                        <button type="button" class="btn btn-primary py-2 px-3"
                          onclick="$('#file-dropzone-upload').click();" v-else>
                          <i class="fas fa-file-upload me-3"></i>{{lang_txt.upload[lang_choose]}}
                        </button>

                        <div class="rg14-g3 mt-2">
                          {{lang_txt.max_size_new[lang_choose]}}
                        </div>


                      </div>


                    </div>
                  </div>
                </div>


              </div>

            </div>
          </div>


          <div class="row justify-content-center mb-3 mt-4" v-if="imageFiles.length > 0">
            <div class="col-lg-10 col-12">
              <h2 class="md14-g1">{{lang_txt.choose[lang_choose]}}</h2>
            </div>
          </div>

          <!-- select signer -->
          <div class="row justify-content-center" v-if="imageFiles.length > 0">
            <div class="col-lg-5 col-sm-6 col-12 mb-3 cs-pointer">
              <div class="card" @click="select_sign_only(1)">
                <div class="card-body">
                  <div class="row">
                    <div class="col-12 text-center">
                      <div>
                        <img src="images/man.png" alt="image select sign" width="64">
                      </div>
                      <div class="rg16-g1 mt-2">
                        {{lang_txt.self[lang_choose]}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5 col-sm-6 col-12 mb-3 cs-pointer">
              <div class="card" @click="select_sign_only(2)">
                <div class="card-body">
                  <div class="row">
                    <div class="col-12 text-center">
                      <div>
                        <img src="images/man_woman.png" alt="image select sign" width="64">
                        <img src="images/man.png" alt="image select sign" width="64">
                      </div>
                      <div class="rg16-g1 mt-2">
                        {{lang_txt.multi[lang_choose]}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



        </div>


      </div>





      <!-- Modal -->
      <div class="modal fade" id="showdocument" tabindex="-1" aria-labelledby="showdocumentLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="showdocumentLabel">{{lang_txt.preview[lang_choose]}}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row" v-for="r,i in previewImgList">
                <img v-bind:src="r" class="img-fluid border" alt="">
                <p class="text-center lg14-g3">{{i+1}} / {{previewImgList.length}}</p>
              </div>
            </div>

          </div>
        </div>
      </div>



    </section>

    <!--# include file="upload2.html" -->
    <!--# include file="upload3b.html" -->
    <!--# include file="upload4.html" -->
    <!--# include file="upload5.html" -->
    <!--# include file="selfsign_modal.html" -->
    <!-- End App -->

    <!-- Modal Save Draft-->
    <div class="modal" id="draftModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{lang_txt.draft_model_title[lang_choose]}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>{{lang_txt.draft_model_detail[lang_choose]}}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary"
              data-bs-dismiss="modal">{{lang_txt.draft_cancel[lang_choose]}}</button>
            <button type="button" class="btn btn-primary"
              @click="discradDraft">{{lang_txt.draft_discard[lang_choose]}}</button>

            <button type="button" class="btn btn-primary" @click="submitDraft"
              v-if="myPackage.isAdvancedFunctionEnabled() || myPackage.package_level > 1 ">{{lang_txt.draft_save[lang_choose]}}</button>
            <div class="tooltip2 rg14-g3 border-0" v-else>
              <button type="button" class="btn btn-primary" disabled>{{lang_txt.draft_save[lang_choose]}} <i
                  class="fas fa-lock cl-F2"></i></button>
              <span class="tooltiptext border p-1 text-break">
                <p class="mb-3">{{lang_page.msg_lock[lang_choose]}}
                  <span>{{lang_page.advanced[lang_choose]}}/{{lang_page.premium[lang_choose]}}</span>
                </p>
                <button type="button" class="btn btn-warning m-1" onclick="document.location.href='/esign/#/plans'">
                  {{lang_page.buy_pack[lang_choose]}}
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalStamp" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="modalStampLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalStampLabel">Creden Stamp</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
              @click="chk_flag_stamp(false)"></button>
          </div>
          <div class="modal-body">
            <div id='file-dropzone-upload-stamp' class="dropzone" style="display: none;"></div>
            <div class="row" v-if="stamp_load == false">

              <div class="col-4 mt-2 px-3" v-for="r, i in list_stamp"
                @click="select_stamp(r.stamp_image ,'stamp' + i, r._id)">
                <div class="row">
                  <div class="box-upload-stamp" v-bind:id="'stamp' + i">
                    <div class="col-12">
                      <img v-bind:src="'/face/images/card/' + r.stamp_image + '.png'" v-bind:alt="'alt_' + i"
                        class="img-stamp">
                    </div>
                    <div class="col-12 text-center text-truncate">
                      {{r.stamp_name}}
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-4 mt-2 px-3">
                <div class="row">
                  <div class="box-upload-stamp" id="box-add-stamp" onclick="$('#file-dropzone-upload-stamp').click();">
                    <div class="col-12 text-center mt-2 p-2 cl-CI md36-g1">
                      <i class="fas fa-plus"></i>
                    </div>
                    <div class="col-12 mt-2 rg14-g1 text-center">
                      {{lang_page.add_stamp[lang_choose]}}
                    </div>
                    <div class="col-12 mt-1 rg10-g3 text-center pb-2">
                      {{lang_page.stamp_size[lang_choose]}}
                    </div>
                  </div>

                  <div class="box-upload-stamp dy-none" id="box-loadding-stamp">
                    <div class="col-12 text-center align-self-center p-5">
                      <i class="fas fa-circle-notch fa-spin"></i>
                    </div>
                  </div>

                </div>
              </div>

            </div>

            <div class="row" v-else>
              <div class="col-12 rg20-g1 text-center mt-3">
                {{lang_page.cus_stamp[lang_choose]}}
              </div>
              <div class="offset-4 col-4 align-self-center text-center mt-2">
                <img v-bind:src="'/face/images/card/' + form_stamp.stamp_image + '.png'" class="w-100 border"
                  v-if="form_stamp.stamp_image">
              </div>


              <div class="col-12 mt-4 mb-3">
                <div class="row row-cols-3">
                  <div class="col text-end rg14-g1 align-self-center d-grid">
                    {{lang_page.name_stamp[lang_choose]}} :
                  </div>
                  <div class="col">
                    <input type="text" class="form-control" v-model="form_stamp.stamp_name">
                  </div>
                  <div class="col align-self-center">
                    <button type="button" class="btn btn-secondary rg14-g2"
                      onclick="$('#file-dropzone-upload-stamp').click();">
                      {{lang_page.change_img[lang_choose]}}
                    </button>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="modal-footer" v-if="stamp_load == false">
            <div class="row w-100">
              <div class="col-md-4 col-12">
                <button type="button" class="btn btn-danger float-start" v-if="stamp_image != ''"
                  @click="remove_stamp()">
                  <i class="far fa-trash-alt"></i> {{lang_page.delete_stamp[lang_choose]}}
                </button>
              </div>
              <div class="col-md-8 col-12 text-end">
                <button type="button" class="btn btn-primary" @click="set_stamp_image"
                  :disabled="stamp_image == ''">{{lang_page.doc_stamp[lang_choose]}}</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                  @click="chk_flag_stamp(false)">{{lang_page.cancle[lang_choose]}}</button>
              </div>
            </div>

          </div>

          <div class="modal-footer" v-else>
            <button type="button" class="btn btn-primary" @click="save_stamp()">{{lang_page.Next[lang_choose]}}</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
              @click="chk_flag_stamp(false)">{{lang_page.cancle[lang_choose]}}</button>
          </div>

        </div>
      </div>
    </div>


  </div>



  <!-- Usetiful begin -->

  <script>
    (function (w, d, s) {
      var a = d.getElementsByTagName('head')[0];
      var r = d.createElement('script');
      r.async = 1;
      r.src = s;
      r.setAttribute('id', 'usetifulScript');
      r.dataset.token = "3ad152bc60bbfa1aec80f2512da56838";
      a.appendChild(r);
    })(window, document, "https://www.usetiful.com/dist/usetiful.js");

  </script>

  <!-- Usetiful end -->
  <iframe id="bug_session" src="../capi/test_bug_session" style="display: none;"></iframe>
</body>

<script type="text/javascript" src="js/jquery-3.3.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script src="js/dropzone.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/3.0.16/svg.min.js" type="text/javascript"></script>
<script src="js/signature_pad.umd2.js"></script>
<script src="https://unpkg.com/clipboard@2.0.0/dist/clipboard.min.js"></script>
<script src="node_modules/@svgdotjs/svg.draggable.js/dist/svg.draggable.js"></script>
<script src="js/signature_pad.umd2.js"></script>
<script src="js/sigpad.js?v=2_03"></script>
<script src="js/jquery.transit.min.js"></script>
<!-- MY ITEM -->
<script type="text/javascript" src="components/upload_new_lang.js?v=12345"></script>
<script type="text/javascript" src="components/upload_new_fn.js?v=1233"></script>
<script type="text/javascript" src="components/upload_new3_lib.js?v=123456"></script>
<script type="text/javascript" src="components/upload_new3.js?v=1234"></script>
<script type="text/javascript" src="components/common.js"></script>
<script type="text/javascript" src="../capi/package"></script>
<script type="text/javascript" src="components/css.js"></script>

</html>