<section v-if="step == 3">
    <!-- Number Step -->
    <div class="row mb-4 fixed-top-step">
        <div class="box-step">
            <div class="row position-relative d-flex justify-content-center">
                <div>
                    <button class="btn-creden md16-g1 cl-CI text-decoration-underline position-absolute" @click="saveDraft"><i class="fas fa-times me-1"></i>
                        {{lang_txt.undo[lang_choose]}} </button>
                </div>
                <div class="w-50">
                    <div class="input-group">
                        <label class="btn-creden md16-g1 cl-CI cs-default" id="button-addon1">
                            <i class="far fa-check-circle"></i> {{lang_txt.add[lang_choose]}}</label>
                        <hr class="col hr-blue pc">
                        <label class="btn-creden md16-g1 cl-CI pc cs-default " id="button-addon1">
                            <i class="far fa-check-circle"></i> {{lang_txt.recip[lang_choose]}}</label>
                        <hr class="col hr-blue pc">
                        <label class="btn-creden md16-g1 cl-CI pc cs-default " id="button-addon1">
                            <i class="far fa-dot-circle"></i> {{lang_txt.field[lang_choose]}}</label>
                        <hr class="col pc">
                        <label class="btn-creden md16-g1 pc cs-default " id="button-addon1"><i
                                class="far fa-dot-circle"></i> {{lang_txt.review[lang_choose]}}</label>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="md36-g2 mb-4 mt-3 pc" style="margin-left: 20%;"><svg width="15" height="40">
                <rect width="10" height="100" style="fill:#1667B2;" />
            </svg> {{lang_txt.field[lang_choose]}}</h2>


        <div class="d-flex">
            <div class="layout-step3-start">
                <!-- ว่างงง มากกก -->
            </div>
            <div class="layout-step3-center">
                <div class="bg-E5 h-previwe scoll-y">
                    <div class="p-5">
                        <!-- <div class="bg-doc mb-2" v-bind:id="'doc'+i" v-for="r,i in imageFiles">
                            <a v-bind:id="'page'+i"></a>    
                            <svg v-bind:id="'svg'+i" width="100%" height="100%"
                                onmouseenter="setActiveSvg(this)" 
                                onmouseleave="leaveActiveSvg(this);"
                                onmousemove="moveTool(this,event)"
                                >
                                <image v-bind:onload="'loadSvgImg('+ i +', this)'" v-bind:id="'svgImg'+i" border="1" v-bind:xlink:href="'../face/images/card/'+r"></image>
                            </svg>
                        </div> -->
                        <div class="bg-doc mb-2" id='main-svg'>
                            <svg v-if="sign_only" id="svg" width="100%" onmouseenter="upload.prepare_new_tool_self_sign(1)" onmousemove="upload.mousemove_prepare_new_tool(event)" onclick="upload.insert_new_tool(event)" ondragover="allowDrop(event);upload.prepare_new_tool_self_sign(2)"
                                ondrop="upload.dropToSvg(event);upload.insert_new_tool(event)">

                            </svg>
                            <svg v-else id="svg" width="100%" onmouseenter="upload.prepare_new_tool(1)" onmousemove="upload.mousemove_prepare_new_tool(event)" onclick="upload.insert_new_tool(event)" ondragover="allowDrop(event);upload.prepare_new_tool(2)" ondrop="upload.dropToSvg(event);upload.insert_new_tool(event)">

                            </svg>
                        </div>

                    </div>
                </div>
            </div>
            <div class="layout-step3-end">
                <div class="scoll-y">
                    <div class="p-2 bg-F2 upload.step=3">
                        <p class="pc md24-g1 cl-CI">{{lang_txt.select_signer[lang_choose]}}</p>
                        <div class="mb-4 pc">
                            <div class="w-100 mb-3">
                                <div class="dropdown rounded-0 mt-3">
                                    <button v-bind:style="{'color': color[selectedPersonIndex].color}" class="btn border full-width rounded-0 text-start text-truncate" type="button" id="dropdownPerson" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #fff;">
                                        <div class="d-flex">
                                            <div style="width:15%;font-size: 20px;"><i class="fas fa-user-circle"></i>
                                            </div>
                                            <div class="rg16-g2 text-truncate" style="width:80%;padding-top: 4px;"
                                                v-if="selectedPersonName == '' ">{{lang_txt.No_signer[lang_choose]}}
                                            </div>
                                            <div class="rg16-g2 text-truncate" style="width:80%;padding-top: 4px;"
                                                v-else>{{selectedPersonName}}</div>
                                            <div style="width:5%;color: #212529 !important;"><i
                                                    class="fas fa-caret-down"></i></div>
                                        </div>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownPerson" style="width: 100%;">
                                        <li v-for="r,i in people" v-if="r.needToSign==true || r.needToSign=='true'">
                                            <a class="dropdown-item" href="javascript:void(0)" @click="setSelectedPerson(i, r.email, r.name,r.title, r.position_id)" v-bind:style="{'color': color[i].color}">
                                                <div class="d-flex">
                                                    <div style="width:15%;font-size: 20px;"><i class="fas fa-user-circle"></i> </div>
                                                    <div class="rg16-g2 text-truncate" style="width:83%;">{{r.name}}
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="javascript:void(0)" @click="setSelectedPerson_no_sign()">
                                                <div class="d-flex">
                                                    <div style="width:15%;font-size: 20px;"><i class="fas fa-user-circle"></i> </div>
                                                    <div class="rg16-g2 text-truncate" style="width:83%;">
                                                        {{lang_txt.No_signer[lang_choose]}}</div>
                                                </div>
                                            </a>
                                        </li>

                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="mb-4 mt-3">
                            <p class="pc md24-g1 cl-CI me-4">{{lang_txt.tool[lang_choose]}}
                                <i class="fas fa-question-circle cl-2F ms-5  rg18-g2" data-bs-toggle="tooltip" data-bs-placement="bottom" v-bind:title="lang_txt.Drag_tools[lang_choose]" @mouseover="t_onover('tool_1')" id="tool_1"></i>
                            </p>
                            <button type="button" class="btn btn-danger rg16-g3 cl-FF  ms-3" @click="deleteField()">{{lang_txt.remove[lang_choose]}}</button>
                        </div>
                        <div class="mb-4 mt-3 pc" v-if="selectedPersonObj.is_inspector == true">

                            <div class="col-md-12 mb-3">

                                <button class="btn-outline-primary-tool" @click="set_tool('Approve', 1)" draggable="true" ondragstart="upload.set_tool('Approve', 1);dragTool(event)" style="width: 180px;"><!-- v-if="!disabled_approve"-->
                                    <span v-bind:style="{'color': color[selectedPersonIndex].color}">
                                        <i class="far fa-check-circle  me-2"></i>
                                    </span>
                                    {{lang_txt.Verification[lang_choose]}}
                                </button>
                                <!-- <button class="btn-outline-primary-tool" disabled v-else style="width: 180px;" >
                                    <i class="far fa-check-circle  me-2"></i>
                                    {{lang_txt.Verification[lang_choose]}}
                                </button> -->
                            </div>

                        </div>
                        <div class="mb-4 mt-3 pc" v-else>
                            <div class="col-md-12 mb-3">
                                <button class="btn-outline-primary-tool me-4" @click="set_tool('Signature',1)" draggable="true" ondragstart="upload.set_tool('Signature', 1);dragTool(event)" v-if="toolSignature">
                                    <span v-bind:style="{'color': color[selectedPersonIndex].color}">
                                        <i class="far fa-edit me-2"></i>
                                    </span>
                                    {{lang_txt.Signature[lang_choose]}}
                                </button>
                                <button class="btn-outline-primary-tool me-4" disabled v-else>
                                    <i class="far fa-edit cl-BD me-2"></i>
                                    {{lang_txt.Signature[lang_choose]}}
                                </button>


                                <button class="btn-outline-primary-tool" @click="set_tool('Email',1)" draggable="true" ondragstart="upload.set_tool('Email', 1);dragTool(event)" v-if="toolEmail">
                                    <span v-bind:style="{'color': color[selectedPersonIndex].color}">
                                        <i class="fas fa-envelope me-2"></i>
                                    </span>
                                    {{lang_txt.Email[lang_choose]}}
                                </button>
                                <button class="btn-outline-primary-tool" disabled v-else>
                                    <i class="fas fa-envelope cl-BD me-2"></i>
                                    {{lang_txt.Email[lang_choose]}}
                                </button>
                            </div>
                            <div class="col-md-12 mb-3">
                                <button class="btn-outline-primary-tool me-4" @click="set_tool('Date',1)" draggable="true" ondragstart="upload.set_tool('Date', 1);dragTool(event)" v-if="toolDate">
                                    <span v-bind:style="{'color': color[selectedPersonIndex].color}">
                                        <i class="far fa-calendar me-2"></i>
                                    </span>
                                    {{lang_txt.Date[lang_choose]}}
                                </button>
                                <button class="btn-outline-primary-tool me-4" disabled v-else>
                                    <i class="far fa-calendar cl-BD me-2"></i>
                                    {{lang_txt.Date[lang_choose]}}
                                </button>

                                <button class="btn-outline-primary-tool" @click="set_tool('Name',1)" draggable="true" ondragstart="upload.set_tool('Name', 1);dragTool(event)" v-if="toolName">
                                    <span v-bind:style="{'color': color[selectedPersonIndex].color}">
                                        <i class="fas fa-user me-2"></i>
                                    </span>
                                    {{lang_txt.Name[lang_choose]}}
                                </button>
                                <button class="btn-outline-primary-tool" disabled v-else>
                                    <i class="far fas fa-user cl-BD me-2"></i>
                                    {{lang_txt.Name[lang_choose]}}
                                </button>
                            </div>
                            <div class="col-md-12 mb-3">
                                <button class="btn-outline-primary-tool me-4" @click="set_tool('Text',1)" draggable="true" ondragstart="upload.set_tool('Text', 1);dragTool(event)" v-if="toolText">
                                    <span v-bind:style="{'color': color[selectedPersonIndex].color}">
                                        <i class="fas fa-font me-2"></i>
                                    </span>
                                    {{lang_txt.Text[lang_choose]}}
                                </button>
                                <button class="btn-outline-primary-tool me-4" disabled v-else>
                                    <i class="fas fa-font fa-user cl-BD me-2"></i>
                                    {{lang_txt.Text[lang_choose]}}
                                </button>

                                <button class="btn-outline-primary-tool" @click="set_tool('Attachment', 1)" draggable="true" ondragstart="upload.set_tool('Attachment', 1);dragTool(event)" v-if="toolAttachment">
                                    <span v-bind:style="{'color': color[selectedPersonIndex].color}">
                                        <i class="fas fa-paperclip me-2"></i>
                                    </span>
                                    {{lang_txt.Attachment[lang_choose]}}
                                </button>
                                <button class="btn-outline-primary-tool" disabled v-else>
                                    <i class="fas fa-paperclip cl-BD me-2"></i>
                                    {{lang_txt.Attachment[lang_choose]}}
                                </button>
                            </div>
                            <!-- <div class="col-md-12 mb-3">
                                <button class="btn-outline-primary-tool me-4" @click="set_tool('Phone',1)" draggable="true" ondragstart="upload.set_tool('Phone', 1);dragTool(event)" v-if="toolPhone">
                                    <span v-bind:style="{'color': color[selectedPersonIndex].color}">
                                        <i class="fas fa-phone  me-2"></i>
                                    </span>
                                    {{lang_txt.Phone[lang_choose]}}
                                </button>
                                <button class="btn-outline-primary-tool me-4" disabled v-else>
                                    <i class="fas fa-phonecl-BD me-2"></i>
                                    {{lang_txt.Phone[lang_choose]}}
                                </button>

                            </div> -->
                        </div>


                        <div class="mb-4 mt-4 ">
                            <p class="pc md24-g1 cl-CI mb-3">{{lang_txt.Advance_Tool[lang_choose]}}</p>
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" value="" id="" v-model="is_no_sign" disabled>
                                <label class="form-check-label" for="">
                                    {{lang_txt.No_signer[lang_choose]}}
                                </label>
                            </div>
                            <!-- <div class="form-check mb-3" v-if="note_field != null">
                                <input class="form-check-input" type="checkbox" value="" id="" v-model="hide_note" @click="hideNotes"> -->
                                <!-- <input class="form-check-input" type="checkbox" value="" id="" v-model="note_field.is_hidden" > -->
                                <!-- <label class="form-check-label" for="">
                                    {{lang_txt.Hide_Text[lang_choose]}}
                                </label>
                            </div> -->
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" value="" id="" @change="set_clone_all_field()" v-model="is_clone" :disabled="is_no_sign">
                                <label class="form-check-label" for="">
                                    {{lang_txt.copy_all[lang_choose]}}
                                </label>
                            </div>

                        </div>
                        <hr class="mb-o" v-if="!this.show_set_detail">

                    </div>
                </div>
            </div>
        </div>
        <div class="fixed-bottom text-center" style="height: 70px;background-color: rgb(255, 255, 255);">
            <div class="mb-4 mt-4 ">
                <button type="button" class="btn btn-secondary me-2 me-4" style="width:120px" @click="backward_step()">{{lang_txt.back[lang_choose]}}</button>
                <button type="button" class="btn btn-info cl-FF" style="width:120px" @click="next_step()">{{lang_txt.next[lang_choose]}}</button>
            </div>
        </div>
    </div>

    <!-- upload.step=3 -->
    <!-- <div class="row bg-FF position-fixed bottom-0 py-2 w-100"
        style="z-index: 99;box-shadow: -9px 0px 4px rgba(0, 0, 0, 0.25);">
        <div class="col-12">
            <div class="text-center">
                <button type="button" class="btn btn-secondary me-2"
                    @click="backward_step()">{{lang_txt.back[lang_choose]}}</button>
                <button type="button" class="btn btn-warning"
                    @click="next_step()">{{lang_txt.next[lang_choose]}}</button>
            </div>
        </div>
    </div> -->

    <div class="modal fade" id="AddfieldModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    Add field for your recipients
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</section>