<div>
  <section v-if="step == 1">
       <!-- Modal -->
  <div class="modal fade" id="loadingModal" tabindex="-1" aria-labelledby="loadingModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-sm modal-dialog-centered">
      <div class="modal-content modal-none-bg">
        <div class="modal-body text-center">
          <div class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  
    <div id='file-dropzone-upload' class="dropzone" style="display: none;"></div>
    <input id='file-attachment' hidden type="file"></input>
    
      <div class="row mb-4 fixed-top-step">
          <div class="col-12">
              <div class="card ">
                  <div class="card-body list_upload">
                      <div class="row">
                          <div class="col-lg-2 col-4">
                             <button class="btn-creden md16-g1 cl-CI text-decoration-underline"><i class="fas fa-times me-1"></i>   {{lang_txt.undo[lang_choose]}} </button>
                          </div>
                          <div class="col-lg-10 col-8">
                              <div class="input-group">
                                  <button class="btn-creden md16-g1 cl-CI" type="button" id="button-addon1"><i class="far fa-dot-circle "></i> {{lang_txt.add[lang_choose]}}</button>
                                  <hr class="col hr-blue pc">
                                  <button class="btn-creden md16-g1 pc" type="button" id="button-addon1"><i class="far fa-dot-circle"></i> {{lang_txt.recip[lang_choose]}}</button>
                                  <hr class="col pc">
                                  <button class="btn-creden md16-g1 pc" type="button" id="button-addon1"><i class="far fa-dot-circle"></i> {{lang_txt.field[lang_choose]}}</button>
                                  <hr class="col pc">
                                  <button class="btn-creden md16-g1 pc" type="button" id="button-addon1"><i class="far fa-dot-circle"></i> {{lang_txt.review[lang_choose]}}</button>
                                </div>
                          </div>
                      </div>
                      
                  </div>
              </div>
          </div>
      </div>
  
      <!-- alert -->
     
      <!-- <div class="row justify-content-center" id="alert-25mb">
        <div class="alert col-lg-10 col-12  alert-danger alert-dismissible fade show lg14-g1 mt-5" role="alert">
          <p class="mb-0">ไม่สามารถอัพโหลดได้เนื่องจากไฟล์ของคุณมีขนาดใหญ่เกินไป (สูงสุดไม่เกิน 25 mb)</p>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div> -->
  
      <div class="row justify-content-center mb-3 mt-7">
          <div class="col-lg-10 col-12">
              <h2 class="rg24-g1">{{lang_txt.add[lang_choose]}}</h2>
          </div>
      </div>
      <!-- list doc -->
      <div class="row justify-content-center mb-3 Mobile" v-for="r,i in display_imageFiles">
          <div class="col-lg-10 col-12">
              <div class="card">
                  <div class="card-body list_upload">
                    <div class="row">
                        <div class="col-md-1 col-2 text-center">
                          <img src="images/pdf_pic.png" alt="image pdf upload">
                        </div>
                        <div class="col-md-8 col-8">
                          <p class="lg14-g1 mb-0">{{getDisplayFilename(i)}}</p>
                          <p class="lg14-g1"> {{ get_count_page_pdf(i) }} page </p>
                        </div>
                        <div class="col-md-3 col-2 dropdown">
                           <p class="lg18-g1 text-end mt-2" id="eventDoc" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></p>
                           <ul class="dropdown-menu" aria-labelledby="eventDoc">
                              <li><a class="dropdown-item" href="javascript:void(0)"  @click="showPdfImage(i)">{{lang_txt.view[lang_choose]}}</a></li>
                              <li><a class="dropdown-item" href="javascript:void(0)" @click="remove_pdf(i)">{{lang_txt.delete[lang_choose]}}</a></li>
                           </ul>
                        </div>
                    </div>
                  </div>
                </div>
          </div>
      </div>
  
      <!-- upload -->
      <div class="row justify-content-center">
          <div class="col-lg-10 col-12">
              <div class="card">
                  <div class="card-body">
                    <div class="row justify-content-center mb-4 pc " v-for="r,i in display_imageFiles">
                      <div class="col-12">
                        <div class="card">
                            <div class="card-body list_upload">
                              <div class="row">
                                  <div class="col-sm-1 col-2 text-center">
                                    <img src="images/pdf_pic.png" alt="image pdf upload">
                                  </div>
                                  <div class="col-sm-9 col-6">
                                    <p class="lg14-g1 mb-0 text-truncate">{{getDisplayFilename(i)}}</p>
                                    <p class="lg14-g1"> {{ get_count_page_pdf(i) }} page </p>
                                  </div>
                                  <div class="col-sm-2 col-4 text-end  pt-2">
                                     <p class="rg18-g2"><i class="fas fa-eye me-2 cs-pointer" @click="showPdfImage(i)" title="View"></i> <i class="fas fa-trash cs-pointer" @click="remove_pdf(i)" title="Delete"></i></p>
                                  </div>
                              </div>
                            </div>
                          </div>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                          <div>
                              <p class="rg24-g2">Drag & Drop files here</p>
                            </div>
                            <div class=" mt-3">
                              <button type="button" class="btn btn-primary" onclick="$('#file-dropzone-upload').click();">{{lang_txt.upload[lang_choose]}}</button>
                            </div>
                            <div class="rg14-g3 mt-2 mb-3">
                              {{lang_txt.max_size[lang_choose]}}
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
                <hr style="border: 1px solid #E0E0E0;">
          </div>
      </div>
  
      <div class="row justify-content-center mb-3 mt-4">
          <div class="col-lg-10 col-12">
              <h2 class="md14-g1">{{lang_txt.choose[lang_choose]}}</h2>
          </div>
      </div>
  
      <!-- select signer -->
      <div class="row justify-content-center">
          <div class="col-lg-5 col-sm-6 col-12 mb-3 cs-pointer" >
            <div class="card" @click="select_sign_only(1)">
                  <div class="card-body">
                    <div class="row">
                        <div class="col-12 text-center">
                          <div>
                              <img src="images/man.png" alt="image select sign" width="64">
                            </div>
                            <div class="rg16-g1 mt-2">
                              {{lang_txt.self[lang_choose]}}
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
          </div>
          <div class="col-lg-5 col-sm-6 col-12 mb-3 cs-pointer">
              <div class="card" @click="select_sign_only(2)">
                  <div class="card-body">
                    <div class="row">
                        <div class="col-12 text-center">
                          <div>
                              <img src="images/man_woman.png" alt="image select sign" width="64">
                              <img src="images/man.png" alt="image select sign" width="64">
                            </div>
                            <div class="rg16-g1 mt-2">
                              {{lang_txt.multi[lang_choose]}}
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
          </div>
      </div>
      <!-- <div class="row justify-content-center">
        <div class="col-lg-5 col-sm-6 col-12 mb-3 cs-pointer" >
          <div class="card" @click="select_sign_only(2)">
                <div class="card-body">
                  <div class="row">
                      <div class="col-12 text-center">
                        <div>
                            <img src="images/man.png" alt="image select sign">
                          </div>
                          <div class="rg16-g1 mt-2">
                            ส่งเซ็นจำนวนมาก
                          </div>
                      </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-lg-5 col-sm-6 col-12 mb-3 "></div>
      </div> -->
  
  
      
      
      <!-- Modal -->
      <div class="modal fade" id="showdocument" tabindex="-1" aria-labelledby="showdocumentLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="showdocumentLabel">{{lang_txt.preview[lang_choose]}}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row" v-for="r,i in previewImgList">
                  <img v-bind:src="r" class="img-fluid border" alt="">
                  <p class="text-center lg14-g3">{{i+1}} / {{previewImgList.length}}</p>
                </div>
            </div>
            
          </div>
        </div>
      </div>
  
   
  
  </section>
  
  <!--# include file="upload2.html" -->
  <!--# include file="upload3.html" -->
  <!--# include file="upload4.html" -->
  
  <!--SIGNATURE MODAL-->
  <div class="modal fade e-signature-modal" id="editSignaturebox" tabindex="-1" role="dialog"
  aria-labelledby="editSignaturebox" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
             
              <h5 class="modal-title" id="exampleModalLongTitle" style="margin-left:50px">
                  {{lang_page.title_tab[lang_choose]}}
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <form class="signature-form" onsubmit="return false">
                 
                 <ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
  <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab" aria-controls="home-tab" aria-selected="true" onclick="click_tab(false)">{{lang_page.tab_Choose[lang_choose]}}<!-- Choose Signature --></a>
  </li>
  <li class="nav-item" role="presentation">
  <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile-tab" aria-selected="false" onclick="click_tab(false)">{{lang_page.tab_Draw[lang_choose]}}<!-- Draw Signature --></a>
  </li>
  <li class="nav-item" role="presentation">
  <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#contact" role="tab" aria-controls="contact-tab" aria-selected="false" onclick="click_tab(true)">{{lang_page.tab_Generate[lang_choose]}}<!-- Generate Signature --></a>
  </li>
  </ul>
  
  
  
  
                  <br>
                  <div class="tab-content" id="myTabContent">
                      <div class="tab-pane  " id="home" role="tabpanel" aria-labelledby="home-tab"
                          style="padding:0px 10px">
                          <div class="s-choose">
  
                              <div class="input-signature-group group-draw_img">
                                  <div class="row justify-content-center">
                                      <div class="col-12">
                                          <input type="radio" name="sig-1" value="draw"
                                              class="radio-input" id="type_radio1" @change="check_choose">
                                          <img width="70%" class="draw draw_img" id="draw_img">
  
                                      </div>
                                  </div>
                              </div>
                              <div class="input-signature-group group-gen_img">
                                  <div class="row justify-content-center">
                                      <div class="col-12">
                                          <input type="radio" name="sig-1" value="gen" class="radio-input"
                                              id="type_radio2" @change="check_choose">
                                          <img width="70%" class="draw gen_img" id="gen_img">
                                      </div>
                                  </div>
                              </div>
                              <br>
                              <div class="modal-button-group">
                                  <div v-show="count_field > 1">
                                      <input id="sign_all" type="checkbox" class="float-left marginTop5" disabled>
                                      <label
                                          class="float-left marginLeft10">ทุกตำแหน่งลายเซ็นของฉันใช้ลายเซ็นนี้</label>
                                  </div>
  
                                  <button type="button"
                                      class="btn btn-primary modal-create-btn float-right"
                                      v-if="check_choose_signature == true" data-dismiss="modal"
                                      onclick="upload.set_sign_type(document.getElementById('type_radio1').checked?document.getElementById('type_radio1').value:document.getElementById('type_radio2').value)">{{lang_page.save2[lang_choose]}}</button>
                                  <button type="button" class="btn btn-secondary float-right" v-else
                                      @click="please_choose">{{lang_page.save2[lang_choose]}}</button>
                              </div>
                          </div>
                      </div>
                      <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                          <div class="draw-section">
                              <div class="draw-box">
                                  <div class="wrapper">
                                      <canvas id="signature-pad" class="signature-pad" width=400
                                          height=100></canvas>
                                  </div>
                              </div>
                              <br>
                              <div class="modal-button-group" style="float: right;">
                                  <button type="button" class="btn btn-primary modal-create-btn"
                                      data-dismiss="modal"
                                      onclick="createSignature()">{{lang_page.save[lang_choose]}}</button>
                                  <button type="button" class="btn btn-secondary"
                                      @click="clearSignature(1)">{{lang_page.Clear[lang_choose]}}</button>
                              </div>
                          </div>
                      </div>
                      <div class="tab-pane show active" id="contact" role="tabpanel"
                          aria-labelledby="contact-tab" style="padding:0px 10px">
  
                          <div class="full-name-sign" style="margin-bottom: 15px;">
                              <label>{{lang_page.Fullname[lang_choose]}}</label>
                              <input class="form-control" type="text" name="sig-fullname"
                                  id="sig-fullname"
                                  v-bind:placeholder="lang_page.fname_lname[lang_choose]">
                          </div>
                          <div class="generate-section">
                              <div class="row">
                                  <div class="col-md-7 col-6">
                                      <select id="signature_font" class="form-control">
                                          <option value="">{{lang_page.font[lang_choose]}}</option>
                                          <option value="worasait.ttf">Worasait</option>
                                          <option value="Arthit.ttf">Arthit</option>
                                          <option value="Sriracha.ttf">Sriracha</option>
                                      </select>
                                  </div>
                                  <div class="col-md-5 col-6">
                                      <a href="javascript:" class="generate-a color_a"
                                          onclick="genSignature()">{{lang_page.GenerateSignature[lang_choose]}}</a>
                                  </div>
                                  <div class="clearfix"></div>
                                  <div class="col-12">
                                      <div class="exmaple-sig">
                                          <img height=100 id="signature-img" src=""
                                              style="display: none;">
                                      </div>
                                  </div>
                              </div>
                              <br>
                              <div class="modal-button-group" style="float: right;">
                                  <button type="button" class="btn btn-primary modal-create-btn"
                                      onclick="genSignature()">{{lang_page.save[lang_choose]}}</button>
                              </div>
                          </div>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
  </div>
  
  
  <div class="modal fade" id="initialModal" tabindex="-1" aria-labelledby="initialModaLabel" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
  <div class="modal-header">
  <h5 class="modal-title" id="initialModaLabel">สร้างลายเซ็นย่อ</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
      <nav class="mb-3">
      <div class="nav nav-tabs" id="nav-tab-initia" role="tablist">
        <a class="nav-link active" id="nav-show-initia-tab" data-bs-toggle="tab" href="#nav-show-initia" role="tab" aria-controls="nav-show-initia" aria-selected="true">เลือกรายเซ็น</a>
        <a class="nav-link" id="nav-draw-initia-tab" data-bs-toggle="tab" href="#nav-draw-initia" role="tab" aria-controls="nav-draw-initia" aria-selected="false">วาดลายเซ็นย่อ</a>
        <a class="nav-link" id="nav-gen-initia-tab" data-bs-toggle="tab" href="#nav-gen-initia" role="tab" aria-controls="nav-gen-initia" aria-selected="false">สร้างลายเซ็นแบบย่อ</a>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent-initia">
      <div class="tab-pane fade show active" id="nav-show-initia" role="tabpanel" aria-labelledby="nav-show-initia-tab">
          <div class="form-check mb-3" v-if="show_initia_draw">
              <input class="form-check-input" type="radio" name="initial_sign" id="initial_sign_draw" @input="/*select_initia_sign(1)*/" value="draw_initial">
              <img v-bind:src="initia_draw"  alt="signature_draw_initial" style="width: 200px;" @error="hide_img_sign(1)">
          </div>
          <div class="form-check mb-3" v-if="show_initia_gen">
              <input class="form-check-input" type="radio" name="initial_sign" id="initial_sign_gen" @input="/*select_initia_sign(2)*/" value="gen_initial">
              <img v-bind:src="initia_gen"  alt="signature_gen_initial" style="width: 200px;" @error="hide_img_sign(2)">
          </div>
          <div class="form-check mb-3" v-if="select_initia_sing != ''">
              <input class="form-check-input" type="checkbox" value="" id="" v-model="sign_all_initia" disabled>
              <label class="form-check-label" for="">
                  ทุกตำแหน่งลายเซ็นของฉันใช้ลายเซ็นนี้
              </label>
          </div>
          <div class="text-end mb-3">
              <button type="button" class="btn btn-secondary">ยกเลิก</button>
              <button type="button" class="btn btn-primary"
  onclick="upload.set_sign_type(document.getElementById('initial_sign_draw').checked?document.getElementById('initial_sign_draw').value:document.getElementById('initial_sign_gen').value)"
              >เซ็นเอกสาร</button>
          </div>
      </div>
      <div class="tab-pane fade" id="nav-draw-initia" role="tabpanel" aria-labelledby="nav-draw-initia-tab">
          <div class="draw-box-ps mb-3">
              <div class="wrapper">
                <canvas id="signature-pad-initial" class="signature-pad" width=100 height=100></canvas>
              </div>
          </div>
          <div class="text-end">
              <button type="button" class="btn btn-secondary"@click="clearSignature(2)">ล้าง</button>
              <button type="button" class="btn btn-primary" @click="createSignature_initial">สร้างลายเซ็น</button>
          </div>
      </div>
      <div class="tab-pane fade" id="nav-gen-initia" role="tabpanel" aria-labelledby="nav-gen-initia-tab">
          <div class="mb-3">
              <label class="form-label">ชื่อ</label>
              <input type="text" class="form-control" v-model="sign_name_initial" maxlength="3">
            </div>
            <div class="text-end">
              <button type="button" class="btn btn-primary"   @click="genSignature_initial">สร้างลายเซ็น</button>
            </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
  <!--SIGNATURE MODAL-->
  
  </div>