<!DOCTYPE html>
<html lang="th-TH" dir="ltr">

<head>
    <title>Bangkok Life | eSignature</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=1">
    <meta content="156004817605-qpm22mpvfvs0ch56s95igt6b1su33g78.apps.googleusercontent.com" name="google-signin-client_id">

    <!-- Preconnent -->
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="web/images/BLA_Icon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/index.css?v=12341">
    <link rel="stylesheet" type="text/css" href="css/header.css?v=121">
    <link rel="stylesheet" type="text/css" href="css/table.css?v=1211">
    <link rel="stylesheet" type="text/css" href="css/sideMenu.css?v=122">
    <link rel="stylesheet" type="text/css" href="css/font.css?v=12">

    <style>

    </style>

    <script src="js/moment.js"></script>
</head>

<body class="bg-F2">

    <div id="app" class="content" v-cloak>

        <header class="header">
            <ul>

                <ul>
                    <li v-if="lang_choose == 'th'">
                        <a href="/bla/#/dashboard">
                            <img src="images/bla_logo_th.png" class="w-h-12 ps-2 pb-2">
                        </a>
                    </li>
                    <li v-else>
                        <a href="/bla/#/dashboard">
                            <img src="images/bla_logo_en.png" class="w-h-12 ps-2 pb-2">
                        </a>
                    </li>
                    <li class="border-profile" style="padding: 3rem 10px 0px 0px !important" v-if="powered_by == false"></li>
                </ul>

                <li class="float-end">
                    <ul>
                        <li class="mt-3" v-if="lang_choose == 'th'" onclick="swithLang('en')">
                            <img src="images/thai-flag.svg" alt="thai" class="flag-size cs-pointer mx-lg-1 mx-2">
                            <span class="rg18-g2 mx-1 pc cs-pointer">ภาษาไทย</span>
                        </li>
                        <li class="mt-3" v-else onclick="swithLang('th')">
                            <img src="images/eng-flag.svg" alt="thai" class="flag-size cs-pointer mx-lg-1 mx-2">
                            <span class="rg18-g2 mx-1 pc cs-pointer">English</span>
                        </li>
                        <li class="border-profile pt-5 pe-0 pc"></li>
                        <li class="ps-0 pc">

                            <div class="dropdown">

                                <a class="mt-2" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="true">
                                    <img v-if="myProfile" v-bind:src="myProfile" alt="profile" class="pic-profile2 radius50">
                                    <img v-else src="images/profile.png" alt="profile" class="pic-profile2 radius50">
                                </a>

                                <ul class="dropdown-menu dropdown-profile" aria-labelledby="dropdownMenuButton">
                                    <li class="d-block">
                                        <div class="profile-box-img">
                                            <div class="max-profile-detail">
                                                <img v-if="myProfile" v-bind:src="myProfile" alt="profile" class="pic-profile2 radius50">
                                                <img v-else src="images/profile.png" alt="profile" class="pic-profile2 radius50">
                                            </div>
                                        </div>
                                        <div class="profile-box-text">
                                            <div class="row">
                                                <div class="col-12 rg14-g1 text-overflow-dot">
                                                    {{myFirstname}} {{myLastname}}
                                                </div>
                                                <div class="col-12 rg12-g1">
                                                    {{myEmail}}
                                                </div>
                                                <div class="col-12 rg12-g1 cl-2F">
                                                    -
                                                </div>
                                            </div>
                                        </div>
                                        <div class="w-100 text-end rg10-g3 cl-CI pb-2">
                                            <span class="cs-pointer" @click="logout()">
                        <i class="fas fa-sign-out-alt"></i>
                        {{lang_txt.logout[lang_choose]}}
                      </span>
                                        </div>
                                    </li>
                                </ul>
                            </div>


                        </li>
                    </ul>

                </li>
            </ul>
        </header>

        <section v-show="step == 1">

            <div class="modal fade" id="loadingModal" tabindex="-1" aria-labelledby="loadingModalLabel" aria-hidden="true" data-bs-backdrop="static">
                <div class="modal-dialog modal-sm modal-dialog-centered">
                    <div class="modal-content modal-none-bg">
                        <div class="modal-body text-center">
                            <div class="spinner-grow text-primary" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <div class="spinner-grow text-primary" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <div class="spinner-grow text-primary" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id='file-dropzone-upload' class="dropzone" style="display: none;"></div>
            <input id='file-attachment' hidden type="file"></input>
            <!-- Number Step -->
            <div class="row mb-4 fixed-top-step">
                <div class="box-step">
                    <div class="row position-relative d-flex justify-content-center">
                        <div>
                            <button class="btn-creden md16-g1 cl-CI text-decoration-underline position-absolute" @click="saveDraft"><i
                  class="fas fa-times me-1"></i>
                {{lang_txt.undo[lang_choose]}} </button>
                        </div>
                        <div class="w-50">
                            <div class="input-group">
                                <label class="btn-creden md16-g1 cl-CI cs-default" id="button-addon1"><i class="far fa-dot-circle "></i>
                  {{lang_txt.add[lang_choose]}}</label>
                                <hr class="col hr-blue pc">
                                <label class="btn-creden md16-g1 pc cs-default " id="button-addon1"><i class="far fa-dot-circle"></i>
                  {{lang_txt.recip[lang_choose]}}</label>
                                <hr class="col pc">
                                <label class="btn-creden md16-g1 pc cs-default " id="button-addon1"><i class="far fa-dot-circle"></i>
                  {{lang_txt.field[lang_choose]}}</label>
                                <hr class="col pc">
                                <label class="btn-creden md16-g1 pc cs-default " id="button-addon1"><i class="far fa-dot-circle"></i>
                  {{lang_txt.review[lang_choose]}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="container">
                <div class="row justify-content-center mb-3 mt-7">
                    <div class="col-lg-10 col-12">
                        <div class="alert alert-danger mt-3" role="alert" v-show="alert_no_pdf">
                            {{text_alert}}
                        </div>
                        <h2 class="md36-g2">
                            <svg width="15" height="40">
                                <rect width="10" height="100" style="fill:#1667B2;" />
                            </svg> 
                            {{lang_txt.add[lang_choose]}}
                        </h2>
                    </div>
                </div>
            </div>
            <!-- list doc -->
            <div class="row justify-content-center mb-3 Mobile">
                <div class="col-lg-10 col-12">
                    <div class="card">
                        <div class="card-body text-center cl-BD rg16-g3">
                            <p><i class="fas fa-exclamation-circle"></i></p>
                            <p>ฟังก์ชั่นอัพโหลดไฟล์ ไม่รองรับอุปกรณ์มือถือ Upload file function not support in mobile device</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- upload -->
            <div class="pc">
                <div class="container">
                    <div class="row justify-content-center mb-4" v-if="display_imageFiles.length > 0">
                        <div class="col-lg-10 col-12">
                            <p class="md24-g2">{{lang_txt.Setting_doctype[lang_choose]}}</p>
                            <div class="btn-group">
                                <button type="button" class="btn bg-FF dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span v-if="name_tag_folder == 'Public'">
                                        <i class="fas fa-folder cl-21"></i> Public
                                    </span>
                                    <span v-else-if="name_tag_folder == 'Private'">
                                        <i class="fas fa-folder cl-2F"></i> Private
                                    </span>
                                    <span v-else-if="name_tag_folder == 'Confidential'">
                                        <i class="fas fa-folder cl-F0 "></i> Confidential
                                    </span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="javascript:void(0)" @click="set_tag_folder('Public')"><i
                        class="fas fa-folder cl-21"></i> Public</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0)" @click="set_tag_folder('Private')"><i
                        class="fas fa-folder cl-2F"></i> Private</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0)" @click="set_tag_folder('Confidential')"><i
                        class="fas fa-folder cl-F0 "></i> Confidential</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center mb-4 " v-for="r,i in display_imageFiles">
                        <div class="col-lg-10 col-12">
                            <div class="card">
                                <div class="card-body list_upload">
                                    <div class="d-flex">
                                        <div style="width: 5%;">
                                            <i class="fas fa-file-pdf cl-red" style="font-size: 36px;"></i>
                                        </div>
                                        <div style="width: 60%;">
                                            <label class="lg18-g1 mb-0 text-truncate d-block">{{getDisplayFilename(i)}}</label>
                                            <label class="lg16-g1 d-block">{{ get_count_page_pdf(i) }}{{lang_txt.page[lang_choose]}}</label>
                                        </div>
                                        <!-- setting_pdf -->
                                        <div style="width: 30%;" class="text-end pt-2">
                                            <span class="badge rounded-pill bg-orange" :data="i" v-if="setting_pdf[i].type_document == 'memo'">{{lang_txt.Memo_doc2[lang_choose]}}
                      </span>
                                            <span class="badge rounded-pill bg-info" v-else>{{lang_txt.General_doc2[lang_choose]}}</span>
                                            <span class="badge rounded-pill bg-green-1" v-if="setting_pdf[i].tag_folder == 'Public'">Public</span>
                                            <span class="badge rounded-pill bg-CI" v-else-if="setting_pdf[i].tag_folder == 'Private'">Private</span>
                                            <span class="badge rounded-pill bg-red" v-else-if="setting_pdf[i].tag_folder == 'Confidential'">Confidential</span>
                                        </div>
                                        <div style="width: 5%;" class="text-end  pt-2">
                                            <label class="rg18-g2 cs-pointer" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i
                          class="fas fa-ellipsis-v"></i></label>
                                            <ul class="dropdown-menu">
                                                <li><span class="dropdown-item-text md18-g4 cl-2F">{{lang_txt.Setting_doc[lang_choose]}}</span>
                                                </li>
                                                <li><a class="dropdown-item" href="javascript:void(0)" @click="set_type_doc(i,'general')">{{lang_txt.General_doc[lang_choose]}}</a></li>
                                                <li><a class="dropdown-item" href="javascript:void(0)" @click="set_type_doc(i,'memo')">{{lang_txt.Memo_doc[lang_choose]}}
                          </a></li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><span class="dropdown-item-text md18-g4 cl-2F">{{lang_txt.Manage_doc[lang_choose]}}</span>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="javascript:void(0)" @click="showPdfImage(i)">
                                                        <i class="fas fa-eye me-2 cs-pointer" v-bind:title="lang_txt.view[lang_choose]"></i> {{lang_txt.view[lang_choose]}}
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="javascript:void(0)" @click="remove_pdf(i)">
                                                        <i class="fas fa-trash me-2 cs-pointer" v-bind:title="lang_txt.draft_discard[lang_choose]"></i> {{lang_txt.draft_discard[lang_choose]}}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-10 col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12 text-center p-5">
                                            <div>
                                                <button type="button" class="btn btn-primary rg18-g3 cl-FF py-2 px-3" onclick="$('#file-dropzone-upload').click();"><i
                            class="fas fa-file-upload me-3"></i>{{lang_txt.upload[lang_choose]}}</button>
                                            </div>
                                            <div class="rg16-g3 mt-2">
                                                {{lang_txt.max_size[lang_choose]}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="row justify-content-center mb-3 mt-4">
                        <div class="col-10 text-end">
                            <button type="button" class="btn btn-info cl-FF rg18-g1" @click="select_sign_only(2)">{{lang_page.Next[lang_choose]}}</button>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Modal -->
            <div class="modal fade" id="showdocument" tabindex="-1" aria-labelledby="showdocumentLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="showdocumentLabel">{{lang_txt.preview[lang_choose]}}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row" v-for="r,i in previewImgList">
                                <img v-bind:src="r" class="img-fluid border" alt="">
                                <p class="text-center lg14-g3">{{i+1}} / {{previewImgList.length}}</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>



        </section>

        <!--# include file="upload2.html" -->
        <!--# include file="upload3b.html" -->
        <!--# include file="upload4.html" -->
        <!--# include file="selfsign_modal.html" -->
        <!--# include file="secret_select.html" -->
        <!-- End App -->

        <!-- Modal Save Draft-->
        <div class="modal" id="draftModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title md24-g1">{{lang_txt.draft_model_title[lang_choose]}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p class="rg18-g1">{{lang_txt.draft_model_detail[lang_choose]}}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary rg18-g1 cl-FF" @click="submitDraft">{{lang_txt.draft_save[lang_choose]}}</button>
                        <button type="button" class="btn btn-danger rg18-g1 cl-FF" @click="discradDraft">{{lang_txt.draft_discard[lang_choose]}}</button>
                        <button type="button" class="btn btn-secondary rg18-g1 cl-FF" data-bs-dismiss="modal">{{lang_txt.draft_cancel[lang_choose]}}</button>

                    </div>
                </div>
            </div>
        </div>
    </div>



    <iframe id="bug_session" src="../capi/test_bug_session" style="display: none;"></iframe>
</body>

<script type="text/javascript" src="js/jquery-3.3.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script src="js/dropzone.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/3.0.16/svg.min.js" type="text/javascript"></script>
<script src="js/signature_pad.umd2.js"></script>
<script src="https://unpkg.com/clipboard@2.0.0/dist/clipboard.min.js"></script>
<script src="node_modules/@svgdotjs/svg.draggable.js/dist/svg.draggable.js"></script>
<script src="js/signature_pad.umd2.js"></script>
<script src="js/sigpad.js?v=2_03"></script>
<script src="js/jquery.transit.min.js"></script>
<!-- MY ITEM -->
<script type="text/javascript" src="components/upload_new_lang.js?v=1"></script>
<script type="text/javascript" src="components/upload_new_fn.js?v=1"></script>
<script type="text/javascript" src="components/upload_new3_lib.js"></script>
<script type="text/javascript" src="components/upload_new3.js?v=1"></script>
<script type="text/javascript" src="components/common.js"></script>
<script type="text/javascript" src="components/css.js"></script>

</html>
