<section v-show="step == 2">
  <!-- modal group sign -->
  <div class="modal fade" id="groupModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="groupModalLabel"
    aria-hidden="true">
    <div class="modal-dialog  modal-lg modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="groupModalLabel">{{lang_txt.search_recip[lang_choose]}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" @click="cancle_member"
            aria-label="Close"></button>
        </div>
        <div class="modal-body p-0">
          <div class="d-flex">
            <div class="p-3 border-end" style="width: 30%;">
              <!--@click="show_history"-->
              <p class="rg18-g2" @click="show_history" style="cursor: pointer"><i class="fas fa-history me-1"></i>{{lang_txt.recip_list[lang_choose]}} </p>
              <div>
                <label class="md16-g2 d-block">{{lang_txt.group_sign[lang_choose]}}</label>
                <div class="d-flex flex-row mt-2" v-for="r,i in group_sign">
                
                   <!--  @click="c_selecthis(i)"-->
                  <!-- @input="select_group_sign(i)" -->
                  <label class="form-check-label rg18-g2 ms-3 cs-pointer" style="word-wrap: break-word;width: 80%;"
                  @click="c_selecthis(i)">
                    <i class="fas fa-address-card me-1"></i>{{r.group_name}}
                  </label>
                </div>
              </div>
            </div>
            <div class="p-0" style="width: 100%;">
              <div class="p-3">
                <input type="text" class="form-control" v-bind:placeholder="lang_txt.email[lang_choose]+' '+lang_txt.name[lang_choose]"
                  v-model="search_member_text" @input="search_member">
              </div>
              <!-- Header -->
              <div class="d-flex flex-row border-bottom border-top p-2 align-items-center">
                <div class="w-50">
                  <div class="md18-g2 pe-2">{{lang_txt.name[lang_choose]}}</div>
                </div>
                <div class="w-50">
                  <div class="md18-g2">{{lang_txt.email[lang_choose]}}</div>
                </div>
              </div>

              <div class="overflow-scroll" height="150">
                <!-- History -->
                <div class="d-flex flex-row border-bottom p-2 align-items-center" v-for="u,n in search_members"
                  v-if="history_show == true">
                  <div class="w-50">
                    <div class="d-flex flex-row">
                      <input class="form-check-input m-0" type="radio" name="select-person" v-model="selecthis"
                        v-bind:value="n" @click="c_selectgroup">
                      <!-- @input="select_member_sign(u.name,u.email)" -->
                      <label class="form-check-label rg18-g2 text-truncate ms-2" for="">{{u.name}} </label>
                    </div>
                  </div>
                  <div class="w-50">
                    <div class="d-flex flex-row-start">
                      <div class="rg18-g2 text-truncate" style="width:90%">{{u.email}}</div>
                      <div class="rg18-g2 cl-red cs-pointer" style="width:10%" v-if="history_show == true"><i class="fas fa-trash-alt"
                          @click="remove_history(u.email)"></i></div>
                    </div>
                  </div>
                </div>

                <!-- List menber -->
                <div class="d-flex flex-row border-bottom p-2 align-items-center" v-for="u,n in show_list_member"
                  v-if="history_show == false">
                  <div class="w-50">

                    <div class="rg18-g2 text-truncate">
                      <input class="form-check-input me-2" type="radio" name="select-person"
                        @change="c_selecthisDep(u.get_groupname,n)" v-bind:value="n"
                        v-bind:id="'check_member_' + u.email">
                      {{u.name}} 
                    </div>

                  </div>
                  <div class="w-50">
                    <div class="rg18-g2 text-truncate">
                      {{u.email}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <!-- @click="clear_modal_group" -->
          <button type="button" class="btn btn-light rounded-0"
            data-bs-dismiss="modal">{{lang_txt.cancel[lang_choose]}}</button>

          <button type="button" class="btn btn-primary rounded-0" data-bs-dismiss="modal"
            @click="select_user_modal">{{lang_txt.confirm[lang_choose]}}</button>
          <!-- <button type="button" class="btn btn-info" data-bs-dismiss="modal" @click="select_mem" v-if="selecthis != '' || selecthis == 0 ">{{lang_txt.confirm[lang_choose]}}</button>
        <button type="button" class="btn btn-info" data-bs-dismiss="modal" @click="select_group_sign(selectgroup)" v-if="selectgroup != ''" >{{lang_txt.confirm[lang_choose]}}</button> -->
          <!-- @click="cancle_member" -->
        </div>
      </div>
    </div>

  </div>
  <!-- end modal -->
  <!-- modal group sign -->
  <div class="modal fade" id="groupdelegateModal" tabindex="-1" data-bs-backdrop="static"
    aria-labelledby="groupdelegateModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="groupModalLabel">{{lang_txt.search_recip[lang_choose]}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body p-0">
          <div class="d-flex">
            <div class="p-3 border-end" style="width: 30%;">
              <!-- <p class="rg18-g2 cs-pointer" @click="show_history"><i
                  class="fas fa-history me-1"></i>{{lang_txt.recip_list[lang_choose]}}</p>
              <div>
                <label class="md14-g2 d-block">{{lang_txt.group_sign[lang_choose]}}</label>
                <div class="d-flex flex-row align-items-center mt-2" v-for="r,i in group_sign">
                  <input class="form-check-input m-0" type="radio" name="selectgroup">
                  <label class="form-check-label rg18-g2 ms-3" for="">
                    <i class="fas fa-address-card me-1"></i>{{r.group_name}}
                  </label>
                </div>
              </div> -->
            </div>
            <div class="p-0" style="width: 70%;">
              <div class="p-3">
                <input type="text" class="form-control" v-bind:placeholder="lang_txt.email[lang_choose]"
                  v-model="search_member_text" @input="search_member">
              </div>
              <div class="d-flex flex-row border-bottom border-top p-2 align-items-center">
                <div class="w-50">
                  <div class="md18-g2 pe-2">{{lang_txt.name[lang_choose]}}</div>
                </div>
                <div class="w-50">
                  <div class="md18-g2">{{lang_txt.email[lang_choose]}}</div>
                </div>
              </div>

              <div class="overflow-scroll" height="150">
                <div class="d-flex flex-row border-bottom p-2 align-items-center" v-for="u,n in search_members"
                  v-if="history_show">
                  <div class="w-50">
                    <div class="d-flex flex-row align-items-center">
                      <input class="form-check-input m-0" type="radio" name="select-person" v-bind:value="n"
                        @click="select_delegate(u.email,u.name)">
                      <label class="form-check-label rg18-g2 text-truncate ms-2" for="">{{u.name}}</label>
                    </div>
                  </div>
                  <div class="w-50">
                    <div class="d-flex flex-row-start">
                      <div class="rg18-g2 text-truncate" style="width:90%">{{u.email}}</div>
                      <div class="rg18-g2 cl-red cs-pointer" style="width:10%"><i class="fas fa-trash-alt"></i></div>
                    </div>
                  </div>
                </div>

                <!-- <div class="d-flex flex-row border-bottom p-2 align-items-center" v-for="u,n in show_list_member"
                  v-if="search_member_text == '' && history_show == false">
                  <div class="w-50">
                    <div class="rg18-g2 text-truncate">
                      {{u.name}}
                    </div>
                  </div>
                  <div class="w-50">
                    <div class="rg18-g2 text-truncate">
                      {{u.email}}
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light rounded-0"
            data-bs-dismiss="modal">{{lang_txt.cancel[lang_choose]}}</button>
          <button type="button" class="btn btn-primary rounded-0" data-bs-dismiss="modal"
            @click="save_select_delegate()">{{lang_txt.confirm[lang_choose]}}</button>
        </div>
      </div>
    </div>

  </div>
  <!-- end modal -->

  <div class="modal fade" id="removefieldModal" tabindex="-1" data-bs-backdrop="static"
    aria-labelledby="removefieldModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          {{lang_txt.changing_role[lang_choose]}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light rounded-0"
            @click="no_remove_field">{{lang_txt.cancel[lang_choose]}}</button>
          <button type="button" class="btn btn-primary rounded-0"
            @click="remove_field_step2">{{lang_txt.confirm[lang_choose]}}</button>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row mb-3" v-if="i > 0">
    <div class="col-12 cl-2F rg18-g1 cs-pointer" @click="change_delegates_status(i,true)">
      <i class="fas fa-user-plus me-2"></i> {{lang_txt.adddelegates[lang_choose]}}
    </div>
  </div> -->
  <!-- Number Step -->
  <div class="row mb-4 fixed-top-step">
    <div class="box-step">
      <div class="row position-relative d-flex justify-content-center">
        <div>
          <button class="btn-creden md16-g1 cl-CI text-decoration-underline position-absolute" @click="saveDraft"><i
              class="fas fa-times me-1"></i>
            {{lang_txt.undo[lang_choose]}} </button>
        </div>
        <div class="w-50">
          <div class="input-group">
            <label class="btn-creden md16-g1 cl-CI cs-default" id="button-addon1">
              <i class="far fa-check-circle"></i>{{lang_txt.add[lang_choose]}}</label>
            <hr class="col hr-blue pc">
            <label class="btn-creden md16-g1 cl-CI pc cs-default " id="button-addon1"><i class="far fa-dot-circle"></i>
              {{lang_txt.recip[lang_choose]}}</label>
            <hr class="col hr-blue pc">
            <label class="btn-creden md16-g1 pc cs-default " id="button-addon1"><i class="far fa-dot-circle"></i>
              {{lang_txt.field[lang_choose]}}</label>
            <hr class="col pc">
            <label class="btn-creden md16-g1 pc cs-default " id="button-addon1"><i class="far fa-dot-circle"></i>
              {{lang_txt.review[lang_choose]}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- detail -->
  <div class="container">
    <div class="row justify-content-center mb-3 mt-7">
      <div class="col-lg-10 col-12">
        <h2 class="md36-g2 mb-4 pc"><svg width="15" height="40">
            <rect width="10" height="100" style="fill:#1667B2;" />
          </svg> {{lang_txt.recip[lang_choose]}}</h2>
        <p class="md18-g1 cl-CI mb-3 mt-3">{{lang_txt.sender[lang_choose]}}</p>
        <p class="rg18-g2 mb-4">{{user_name}} ({{user_email}})</p>
        <p class="md18-g1 cl-CI mb-3">{{lang_txt.recip[lang_choose]}}</p>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" v-model="use_signing_order" @input="set_number_sign_order">
          <label class="form-check-label rg18-g2">{{lang_txt.sign_order[lang_choose]}} | <span
              class="cl-CI text-decoration-underline cs-pointer" data-bs-toggle="modal" data-bs-target="#signorder">
              {{lang_txt.view_order[lang_choose]}} <i class="fas fa-comment-dots"></i></span> </label>
        </div>
      </div>
    </div>

    <div class="row justify-content-center mb-3" v-if="alert_step_2">
      <div class="col-lg-8">
        <div class="alert alert-danger alert-dismissible" role="alert">
          {{text_alert}}
          <button type="button" class="btn-close text-end" @click="close_alert_2"></button>
        </div>
      </div>
    </div>

    <!-- form ผู้รับ New -->
    <div class="row justify-content-center mb-3" v-for="r,i in people" v-if="r.needToSign">
      <div class="col-1 pc" v-if="use_signing_order">
        <input type="text" min="1" class="box-number fs-3 text-center border shadow-sm" @keyup="replace_number(i)"
          v-model="r.order_set">
        <!-- <div class="box-number text-center cl-CI md24-g1 float-end pt-2 border" v-else >{{i+1}}</div> -->
      </div>
      <div class="col-9" id="step2">
        <!-- bd-callout" v-bind:style="{'border-bottom-color': color[i].color}" -->
        <div class="card">
          <div class="card-body">
            <div class="row mb-3">
              <div class="col-lg-6 col-8">
                <div class="mb-3" v-if="r.needToSign">
                  <!-- is_inspector -->
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" v-bind:value="false" v-bind:name="'sign'+i"
                      @input="selcet_needtosign(i,false)" v-model="r.is_inspector">
                    <label class="form-check-label md18-g2"><i class="fas fa-pen"></i>
                      {{lang_txt.signer[lang_choose]}} </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" v-bind:value="true" v-bind:name="'sign'+i"
                      @input="selcet_needtosign(i,true)" v-model="r.is_inspector">
                    <label class="form-check-label md18-g2"><i class="fas fa-eye"></i>
                      {{lang_txt.view_only[lang_choose]}}</label>
                  </div>
                </div>
                <div class="mb-3" v-else>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" v-bind:value="false" v-bind:name="'sign'+i"
                      v-model="r.needToSign" disabled>
                    <label class="form-check-label md18-g2"><i class="fas fa-eye"></i>
                      {{lang_txt.view_only2[lang_choose]}}</label>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-4">
                <p class="md18-g2 cs-pointer  text-end" v-if="i > 0" @click="removePerson(i)"><i
                    class="fas fa-trash"></i> {{lang_txt.delete_recip[lang_choose]}} </p>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-6 col-12">
                <label class="form-label md18-g2">{{lang_txt.recip_name[lang_choose]}}</label>
                <div class="input-group mb-3">
                  <input type="text" class="form-control border-end-0" v-model="r.name" @input="clear_group(i)">
                  <button class="btn line-bd-CF border-rigth-rd border-start-0" type="button" data-bs-toggle="modal"
                    data-bs-target="#groupModal" @click="set_person(i)"><i class="fas fa-address-book"></i></button>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <label class="form-label md18-g2">{{lang_txt.recip_email[lang_choose]}}</label>
              <div class="col-md-6 col-12">
                <div class="input-group mb-3" v-if="r.is_group == false">
                  <input type="text" class="form-control" v-model="r.email">
                </div>
                <div v-if="!chk_mail && r.email == ''">
                  <small class="rg14-g1 cl-F0">{{lang_txt.email_inva[lang_choose]}}</small>
                </div>

                <div class="row mb-3" v-if="r.is_inspector == false">
                  <div class="col-12 cl-2F rg18-g1 cs-pointer" @click="change_delegates_status(i,true)">
                    <i class="fas fa-user-plus me-2"></i> {{lang_txt.adddelegates[lang_choose]}}
                  </div>
                </div>

                <div class="row mb-3" v-if="r.delegates_sign&&r.is_inspector == false">
                  <div class="col-6 md18-g2 ">{{lang_txt.Setting_Delegating[lang_choose]}} </div>
                  <div class="col-6 md18-g2  text-end cl-2F text-decoration-underline"><span class="cs-pointer"
                      @click="change_delegates_status(i,false)">{{lang_txt.remove[lang_choose]}}</span> </div>
                  <div class="col-12">
                    <div class="input-group mb-3">
                      <input type="text" class="form-control border-end-0" v-model="r.delegates_mail"
                        placeholder="name@example.com">
                      <button class="btn line-bd-CF border-rigth-rd border-start-0" type="button" data-bs-toggle="modal"
                        data-bs-target="#groupdelegateModal" @click="set_person(i)"><i
                          class="fas fa-address-book"></i></button>
                    </div>
                    <div v-if="r.delegates_sign && r.delegates_mail == '' && !chk_mail ">
                      <small class="rg14-g1 cl-F0">{{lang_txt.email_inva[lang_choose]}}</small>
                    </div>
                  </div>
                  <div class="col-12">
                    <label class="form-label md18-g2">{{lang_txt.recip_name[lang_choose]}}</label>
                    <input type="text" class="form-control" v-model="r.delegates_name">
                  </div>
                </div>

                <div class="show-multi-select" v-if="r.user_group.length > 0">
                  <span class="item-multi-select rg12-g1 cl-FF mb-2" v-for="u , k in  r.user_group">{{u.name}}
                    <i class="far fa-times-circle" @click="remove_person_group(i,k)"></i>
                  </span>
                </div>
              </div>
              <div class="col-md-6 col-12" v-if="r.user_group.length > 0">
                <div class="row">
                  <div class="form-check col-5">
                    <input class="form-check-input" type="checkbox" v-model="r.least_sign">
                    <label class="form-check-label rg18-g2">{{lang_txt.at_least[lang_choose]}}</label>
                  </div>
                  <!-- <div class="col-3" v-if="r.least_sign">
                    <select class="form-select" v-model="r.amount_least_sign">
                      <option v-for="n , l in  r.user_group" v-bind:value="l+1">{{l+1}}</option>
                    </select>
                  </div> -->
                </div>
              </div>

            </div>
            <hr>
            <div class="row mb-3">
              <!-- <div class="col-md-4 col-12">
                <p class="md14-g1 cl-2F">{{lang_txt.sign_set[lang_choose]}}</p>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" v-model="r.eKyc">
                  <label class="form-check-label rg18-g2"><i
                      class="fas fa-clipboard-check me-2"></i>{{lang_txt.req_kyc[lang_choose]}}<i
                      class="fas fa-question-circle ms-3 cl-CI fs-5" data-bs-toggle="tooltip" data-bs-html="true"
                      v-bind:title="lang_txt.kyc_tip[lang_choose]" id="kycTip"></i></label>

                </div>
                <div class="form-check">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label rg18-g2"><i class="fas fa-font me-2"></i>{{lang_txt.sign_initials[lang_choose]}}</label>
              </div>
              </div> -->
              <div class="col-md-4 col-12">
                <p class="md16-g1 cl-2F">{{lang_txt.access_set[lang_choose]}}</p>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" v-model="r.usePassword">
                  <label class="form-check-label rg18-g2"> <i
                      class="fas fa-key me-2"></i>{{lang_txt.pass_doc[lang_choose]}}
                    <i class="fas fa-question-circle ms-3 cl-CI fs-5" data-bs-toggle="tooltip" data-bs-html="true"
                      v-bind:title="lang_txt.pass_tip[lang_choose]" id="passTip"></i></label>

                </div>
                <input class="form-control" type="text" v-bind:placeholder="lang_txt.Enter_password[lang_choose]"
                  v-if="r.usePassword" v-model="r.password">
                <p class="rg12-g3" v-if="r.usePassword">{{lang_txt.provide_pass[lang_choose]}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ปุ่มเพิ่มผู้รับ/ถัดไป/ย้อนกลับ -->
    <div class="row justify-content-center mb-3">
      <div class="col-1" v-if="use_signing_order"></div>
      <div class="col-9">
        <div class="row">
          <div class="col-md-6 col-12 mb-3">
            <button class="btn btn-white2 rg18-g2" @click="addPerson" id="addrecip"><i class="fas fa-user-plus"></i>
              {{lang_txt.add_recip[lang_choose]}}</button>
            <button class="btn btn-white2 rg18-g2" data-bs-toggle="modal" data-bs-target="#ccviewModal">
              <i class="far fa-copy"></i> {{lang_txt.Add_CC[lang_choose]}}</button>
          </div>
          <div class="col-md-6 col-12 text-end">
            <button class="btn btn-gray mx-2" @click="backward_step()">{{lang_txt.back[lang_choose]}}</button>
            <!-- <button class="btn btn-gray mx-2">{{lang_txt.next[lang_choose]}}</button> -->
            <!-- <button class="btn btn-info cl-FF " @click="next_step()">{{lang_txt.next[lang_choose]}}</button> -->
            <button class="btn btn-info cl-FF " @click="set_form_email()">{{lang_txt.next[lang_choose]}}</button>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- modal ดูลำดับการเซ็น -->
  <div class="modal fade" id="signorder" tabindex="-1" aria-labelledby="signorder" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title md24-g1" id="signorderLabel">{{lang_txt.sign_order[lang_choose]}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row mb-2">
            <p class="col-12 md18-g1"> {{lang_txt.sender[lang_choose]}} </p>
            <div class="col-1">
              <p class="cl-CI"><i class="fas fa-paper-plane"></i></p>
            </div>
            <div class="col-10 md14-g1">
              <p class="rg18-g2 mb-0">{{user_name}}</p>
              <p class="rg16-g3 mb-0">{{user_email}}</p>
            </div>
          </div>
          <p class="col-12 md18-g1"> {{lang_txt.recip[lang_choose]}} </p>
          <div class="row mb-2" v-for="r,i in people">
            <div class="col-1 md16-g1 cl-CI" v-if="use_signing_order">{{r.order_set}}</div>
            <div class="col-1 md16-g1 cl-CI" v-else>{{i + 1}} </div>
            <div class="col-1">
              <p class="cl-GY" v-if="!r.is_inspector"><i class="fas fa-pen"></i></p>
              <p class="cl-GY" v-else><i class="fas fa-eye"></i></p>
            </div>
            <div class="col-9 md16-g1">
              <p class="rg18-g2 mb-0">{{r.name}}</p>
              <p class="rg16-g3 mb-0" v-if="r.is_group == false">({{r.email}})</p>
              <p class="rg16-g3 mb-0" v-else v-for="u , k in  r.user_group">({{u.name}})</p>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="ccviewModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="ccviewModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ccviewModalLabel">{{lang_txt.Contact_List[lang_choose]}}</h5>
        </div>
        <div class="modal-body p-0">
          <div class="d-flex border-bottom" style="max-height: 241px;">
            <div class="p-3 border-end" style="width: 30%;overflow-y: auto;">
              <div class="d-flex flex-row align-items-center mt-2" v-for="r,i in group_sign">
              <!---  <input class="form-check-input m-0" type="checkbox"  v-model="r.checked"  @change="add_all_list(r, i,r.checked)"
                  v-bind:id="'check_group_'+ r._id">-->
                 
                <label class="form-check-label rg18-g2 ms-3 pt-2 cs-pointer" @click="show_member_cc(i)">
                  <i class="fas fa-address-card me-1"></i>{{r.group_name}} 
                </label>
              </div>
            </div>
            <div class="p-0" style="width: 70%;overflow-y: auto;">
              <div class="p-3">
                <input type="text" class="form-control" v-bind:placeholder="lang_txt.email[lang_choose]+' '+lang_txt.name[lang_choose]"
                  v-model="search_list_cc" @input="search_list_cc_mail">
              </div>
              <!-- Header -->
              <div class="d-flex flex-row border-bottom border-top p-2 align-items-center">
                <div class="w-50">
                  <div class="md18-g2 pe-2">{{lang_txt.name[lang_choose]}}</div>
                </div>
                <div class="w-50">
                  <div class="md18-g2">{{lang_txt.email[lang_choose]}}</div>
                </div>
              </div>

              <div class="overflow-scroll" height="150">
                <!-- List menber -->
                <div class="d-flex flex-row border-bottom p-2 align-items-center" v-for="u,n in show_list_cc">
                  <div class="w-50">
                    <div class="rg18-g2 text-truncate">
                      <input class="form-check-input me-2" type="checkbox" v-model="u.checked"
                        name="add_one_cc"
                        @change="add_list_cc(u.email , u.name, u.checked, u.get_groupname, $event)"
                        v-bind:value="u.email" v-bind:id="'check_member_' + u.email">
                      {{u.name}}

                    </div>
                  </div>
                  <div class="w-50">
                    <div class="rg18-g2 text-truncate">
                      {{u.email}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="row p-3" style="max-height: 241px;overflow-y: auto;" v-if="list_cc.length>0">
            <p class="rg18-g1 mb-0">รายชื่อที่เลือก</p>

            <div class="col-12" v-for="l, i in list_cc">
              <p class="mt-2 md14-g2 mb-0"><i class="fas fa-address-card me-1"></i> 
                {{l.name_group}} 
              </p>
              <span class="rg12-g2 me-2 mb-2" v-if="l.cc.length > 0" v-for="c, n in l.cc">
                {{c.name}} ,
              </span>
            </div>

          </div> -->
          <div class="row p-3" style="max-height: 241px;overflow-y: auto;">
            <p class="rg18-g1 mb-0">รายชื่อที่เลือก</p>

            <!-- <div class="col-12" v-for="l, i in people"> 
              <div v-if="l.is_group && l.needToSign == false">
                <p class="mt-2 md14-g2 mb-0"><i class="fas fa-address-card me-1"></i> 
                  {{l.name}} 
                </p>
                <span class="rg12-g2 me-2 mb-2" v-if="l.user_group.length > 0" v-for="c, n in l.user_group">
                  {{c.email}} ,
                </span>
              </div> -->
            <!-- <div v-else-if="l.needToSign == false"> -->

            <!-- <p class="mt-2 md14-g2 mb-0"><i class="fas fa-address-card me-1"></i>  -->

            <!-- <p class="mt-2 md14-g2 mb-0"> 
                  {{l.email}} , this is CC mail
                </p> -->

            <!-- <span class="rg12-g2 me-2 mb-2">
                  {{l.email}} ,
                </span> -->
            <!-- </div> -->
            <div v-for="(itemlist,indexlist) in list_member_department">

              
              <div class="col-12" v-for="(item,index) in group_sign">

                <div v-if="(index == itemlist)">
                  <p class="mt-2 md18-g2 mb-0">
                    <i class="fas fa-address-card me-1"></i> {{item.group_name}}
                  </p>
                </div>
              </div>
              <span v-for="(prod, j) in list_cc" v-if="(itemlist== prod.get_groupname)">

               
                  
                    {{ prod.name}},
                  
                
              </span>



            </div>
            <!-- </div> -->
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
            @click="clear_list_cc">{{lang_page.close[lang_choose]}}</button>
          <button type="button" class="btn btn-info cl-FF "
            data-bs-dismiss="modal">{{lang_page.save[lang_choose]}}</button>
        </div>
      </div>
    </div>
  </div>

</section>