<section v-show="step == 4">
  <!-- Number Step -->
  <div class="row mb-4 fixed-top-step">
    <div class="box-step">
      <div class="row position-relative d-flex justify-content-center">
        <div>
          <button class="btn-creden md16-g1 cl-CI text-decoration-underline position-absolute" @click="saveDraft"><i
              class="fas fa-times me-1"></i>
            {{lang_txt.undo[lang_choose]}} </button>
        </div>
        <div class="w-50">
          <div class="input-group">
            <label class="btn-creden md16-g1 cl-CI cs-default" id="button-addon1">
              <i class="far fa-check-circle"></i> {{lang_txt.add[lang_choose]}}</label>
            <hr class="col hr-blue pc">
            <label class="btn-creden md16-g1 cl-CI pc cs-default " id="button-addon1">
              <i class="far fa-check-circle"></i> {{lang_txt.recip[lang_choose]}}</label>
            <hr class="col hr-blue pc">
            <label class="btn-creden md16-g1 cl-CI pc cs-default " id="button-addon1">
              <i class="far fa-check-circle"></i> {{lang_txt.field[lang_choose]}}</label>
            <hr class="col hr-blue pc">
            <label class="btn-creden md16-g1 cl-CI pc cs-default " id="button-addon1">
              <i class="far fa-check-circle"></i> {{lang_txt.review[lang_choose]}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- upload.step=4 -->
  <!-- detail -->
  <div class="container">
  <div class="row justify-content-center mt-5">
      <div class="col-8 position-relative">
        <h2 class="md36-g2 mb-4 pc"><svg width="15" height="40">
          <rect width="10" height="100" style="fill:#1667B2;" />
          </svg> {{lang_txt.recip[lang_choose]}}
        </h2>
        <p class="md24-g1 mt-4">{{lang_txt.Type[lang_choose]}}</p>
        <!-- <p class="md18-g2" v-for="l,i in setting_pdf.slice(0, 1)"> {{l.type_document}} <span class="cl-CI">({{lang_txt.document_type[lang_choose]}} {{l.tag_folder}} )</span></p> -->
        <p class="md18-g2" v-if="setting_pdf[0]"> {{setting_pdf[0].type_document}} <span class="cl-CI">({{lang_txt.document_type[lang_choose]}} {{setting_pdf[0].tag_folder}} )</span></p>

        <p class="md24-g1 mb-3 mt-5">{{lang_txt.sender[lang_choose]}}</p>
        <p class="md18-g2">{{user_name}} ({{user_email}})</p>

        <p class="md24-g1 mb-3 mt-5">{{lang_txt.recip_info[lang_choose]}}</p>

        <div v-for="l,i in people" v-if="step == 4">
          <span v-if="l.is_group">
            <p class="md18-g2 me-0" v-for="g,i in l.user_group"> {{g.name}} ({{g.email}})</p>
          </span>
          <!-- <p class="md18-g2" v-else-if="l.is_group"> {{lang_txt.No_signer[lang_choose]}} </p> -->
          <p class="md18-g2" v-else> {{l.name}} ({{l.email}})</p>
          <!-- <p class="md18-g4 cl-CI" v-if="l.needToSign"> <i class="far fa-edit"></i> {{lang_txt.need_sign[lang_choose]}} <span v-html="getCountTotalSign(l.email)"></span></p> -->
          <p class="md18-g4 cl-CI" v-if="l.needToSign"> <i class="far fa-edit"></i> {{lang_txt.need_sign[lang_choose]}} (<span v-html="getCountTotalSign(l.email,l.toolName)"></span>)</p>
        <!-- <p class="md18-g4 cl-CI" v-else> <i class="fas fa-eye"></i> {{lang_txt.view_only[lang_choose]}}</p> -->
        </div>

        <p class="md24-g1 mb-3 mt-5" >{{lang_txt.CC_Recipients[lang_choose]}}</p><!--v-if="list_cc.length > 0"-->
		<!--
        <div v-for="l,i in people">
          <div v-if="l.is_group && l.needToSign == false">
            <span class="md18-g2" v-if="l.user_group.length > 0" v-for="c, n in l.user_group">
              {{c.email}} ,
            </span>
            </span>
          </div>
          <div v-else-if="l.needToSign == false">
            <span class="md18-g2">
              {{l.email}} ,
            </span>
          </div>
        </div>
		-->

    <div v-for="(itemlist,indexlist) in list_member_department">

              
      <div class="col-12" v-for="(item,index) in group_sign">

        <div v-if="(index == itemlist)">
          <p class="mt-2 md18-g2 mb-0">
            <i class="fas fa-address-card me-1"></i> {{item.group_name}}
          </p>
        </div>
      </div>
      <span v-for="(prod, j) in list_cc" v-if="(itemlist== prod.get_groupname)">

       
          
            {{ prod.name}},
          
        
      </span>



    </div>
        

        <p class="md24-g1 mb-3 mt-5">{{lang_txt.subject[lang_choose]}}</p>
        <input class="form-control" type="text" placeholder="Please Sign : Amet" v-model='subject' maxlength="100">
        <small class="rg14-g3">{{lang_txt.max_text[lang_choose]}} {{subject.length}} / 100</small>

        <p class="md24-g1 mb-3 mt-3">{{lang_txt.message[lang_choose]}}</p>
        <textarea class="form-control" rows="3" v-model="msg"></textarea>


        <div class="d-flex justify-content-end mt-3">
          <button type="button" class="btn btn-secondary rg18-g1 cl-FF me-3"
            @click="backward_step">{{lang_txt.back[lang_choose]}}</button>

          <button type="button" class="btn btn-info rg18-g1 cl-FF px-5" @click="finish"
            v-if="status_finish_btn">{{lang_txt.sent[lang_choose]}}</button>
          <button type="button" class="btn btn-info rg18-g1 cl-FF px-5" v-else>
            <div class="spinner-border spinner-border-sm" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </button>
        </div>

        <div class="position-absolute top-0 end-0">
          <div class="d-flex flex-column justify-content-center">
            <!-- <div class="box-review"> -->
              <img v-bind:src="'../face/images/card/'+imageFiles[0]" alt="" class="box-review">
            <!-- </div> -->
            <label class="md18-g1 mt-2 cl-CI text-center">{{lang_txt.Preview_file[lang_choose]}}</label> 
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- modal -->
  <div class="modal fade" id="privatenailModal" tabindex="-1" aria-labelledby="privatemailModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="privatemailModalLabel">{{lang_txt.add_pri_mess[lang_choose]}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6 col-12">
              <div class="mb-3">
                <label class="form-label">{{lang_txt.message[lang_choose]}}</label>
                <select class="form-select" aria-label="select person" v-model="select_person_private_mail">
                  <option v-for="r,i in people" v-bind:value="i">{{r.name}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <label for="" class="form-label">{{lang_txt.message[lang_choose]}}</label>
              <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                  style="height: 100px" v-model="private_mail" maxlength="100"></textarea>
                <!-- <label for="floatingTextarea2">{{lang_txt.message[lang_choose]}}</label> -->
              </div>
              <p class="rg14-g2">{{lang_txt.max_text[lang_choose]}} {{private_mail.length}} / 100
                {{lang_txt.cha[lang_choose]}}</p>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light"
            data-bs-dismiss="modal">{{lang_txt.cancel[lang_choose]}}</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
            @click="set_private_mail">{{lang_txt.confirm[lang_choose]}}</button>
        </div>
      </div>
    </div>
  </div>

</section>
