<section>
    <div class="container-fluid">

        <div class="row">
            <div class="col-12 px-0 md36-g2">
                {{lang_txt.user_set[lang_choose]}}
            </div>
            <div class="row" style="position: inherit; margin-top: 30px; margin-bottom: 25px;">
                <div class="col-12">
                    <button type="button" class="btn btn-primary" @click="isShowFristTable = true">{{lang_txt.contactList[lang_choose]}}</button>
                    <button type="button" class="btn btn-primary" @click="isShowFristTable = false">{{lang_txt.userList[lang_choose]}}</button>
                </div>
                <!-- <div class="col-2"><button type="button" class="btn btn-primary" @click="isShowFristTable = false">{{lang_txt.userList[lang_choose]}}</button></div> -->

            </div>
            <div class="col-12 mt-3 px-0">
              <div class="alert dy-none" role="alert" id="er_alert">
                {{lang_err}}
              </div>
            </div>

            <!-- <div class="col-12 mt-4 px-0">
        <div class="row">

          <div class="col-12 rg14-g1">
            <div class="alert dy-none" role="alert" id="er_alert">
              {{lang_err}}
            </div>
          </div>

          <div class="col-12">
            {{lang_txt.add_mail[lang_choose]}}
          </div>
          <div class="col-12 mt-2">
            <div class="row">
              <div class="col-lg-4 col-md-6 col-8">
                <input type="text" class="form-control mt-2" v-bind:placeholder="lang_txt.email[lang_choose]" v-model="add_member_email" v-on:keyup.enter="add_user" v-bind:disabled="chk_btn_add_user == false">
              </div>
              <div class="col">
                <button type="button" class="btn btn-primary mt-2" @click="add_user" v-if="chk_btn_add_user == true">
                  {{lang_txt.invite[lang_choose]}}
                </button>
                <button type="button" class="btn btn-primary mt-2" v-else-if="chk_btn_add_user == false">
                  {{lang_txt.invite[lang_choose]}} <i class="fas fa-spinner fa-spin"></i>
                </button>
                
              </div>
            </div>
          </div>
        </div>
      </div> -->

            <!-- <div class="col-12 mt-4 px-0">
        <hr class="w-100 bg-BD">
      </div> -->

        </div>
        <!-- card p O -->
        <div class="row" v-show="isShowFristTable">
            <div class="col-12 mt-4 px-0 usercard">
                <div class="row">
                    <div class="col usercard2">
                        <div class="m-l-20 m-t-20 m-r-40">
                            <div class="m-b-20">
                                <a class="md24-g2 " style="color: #000;  text-decoration: auto;">{{lang_txt.Usability[lang_choose]}}</a>
                                <!-- <button class="btn btn-primary" style="float: right;" data-bs-toggle="collapse" href="#collapseExample" ><i class="fas fa-calendar-alt"></i>  เวลา</button> -->

                                <div class="dropdown " style="float: right;">
                                    <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="far fa-calendar-alt"></i> {{lang_txt.period[lang_choose]}}
                                    </a>

                                    <ul class="dropdown-menu row" aria-labelledby="dropdownMenuLink" style="width: 400px;">
                                        <li class="add-group-item col-12">
                                            <div class="row" style="margin-right: 10px;">
                                                <div class="col-5">
                                                    <label for="exampleInputEmail1">{{lang_txt.from[lang_choose]}}</label>
                                                    <input id="startdate" class="format-date" :data-date-format="init_date" pattern="\d{2}/\d{2}/\d{4}" @change="format_date($event.target)" v-model="startdate1" value="" width="250" type="date" required />
                                                </div>
                                                <div class="col-5">
                                                    <label for="exampleInputEmail1">{{lang_txt.to[lang_choose]}}</label>
                                                    <input id="enddate" class="format-date" :data-date-format="init_date" pattern="\d{2}/\d{2}/\d{4}" @change="format_date($event.target)" v-model="enddate1" value="" width="250" type="date" required />
                                                </div>
                                                <div class="col-2" style="margin-top: 17px;">
                                                  <button type="button" class="btn btn-primary" @click="filter_date">{{lang_txt.filter[lang_choose]}}</button>
                                               </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="md24-g2 nom"> <i class="fas fa-file "></i> {{lang_txt.num_doc_used[lang_choose]}}</p>
                                    <p class="t-c md36-g2 cl-2F m-b-10">{{count_edoc}}</p>
                                </div>
                                <div class="col">
                                    <p class="md24-g2 nom"><i class="fas fa-users"></i> {{lang_txt.num_ekyc[lang_choose]}}</p>
                                    <p class="t-c md36-g2 cl-2F m-b-10">{{count_ekyc}}</p>
                                </div>
                            </div>
                            <div class="nom">
                                <i class="fas fa-calendar-alt cl-2F"></i> {{lang_txt.period[lang_choose]}} {{s_date}} - {{n_date}}</button>
                                <!-- <i class="fas fa-calendar-alt cl-2F"></i> ช่วงเวลา {{startdate1}} - {{enddate1}}</button> -->
                            </div>
                        </div>

                    </div>
                    <div class="col usercard3 ">
                        <div class="m-t-40 m-l-80">
                            <p class="col-12 md36-g2 cl-CI m-b-10" style="text-decoration: auto;text-align: center;">{{lang_txt.reduce_paper[lang_choose]}}</p>
                            <p class="nom md36-g2 cl-00 t-c">{{count_edoc_all}}</p>
                            <p class="nom md18-g2 cl-CI t-c">{{lang_txt.sheet[lang_choose]}}</p>
                        </div>

                    </div>
                </div>

            </div>

            <!-- <div class="col-12 mt-4 px-0">
        <hr class="w-100 bg-BD">
      </div> -->

        </div>

        <div class="row">

            <!-- <div class="col-12 mt-3 md18-g1 px-0">
        {{lang_txt.com_user[lang_choose]}}
      </div> -->

            <div id="member-wrapper" class="col-12 mt-4 px-0">
                <div class="table-responsive" v-show="isShowFristTable">
                    <table id="memberTable" class="table table-striped border">
                        <thead>
                            <tr>
                                <th class="md18-g1 ps-3">{{lang_txt.name[lang_choose]}}</th>
                                <th class="md18-g1">{{lang_txt.email[lang_choose]}}</th>
                                <th class="md18-g1 text-nowrap">{{lang_txt.department[lang_choose]}}</th>
                                <th class="md18-g1">{{lang_txt.role[lang_choose]}}</th>
                                <!-- <th class="md18-g1">{{lang_txt.status[lang_choose]}}</th> -->
                                <!-- <th class="md18-g1"></th>
                                <th class="md18-g1"></th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="r, i in members">
                                <td class="ps-3 py-3 rg16-g1 text-nowrap">{{ r.fName }} {{ r.lName }}</td>
                                <td class="py-3 rg16-g1">{{ r.email }}
                                  <!-- <span v-if="members.length == (i+1)" >
                                    { memberLoop(i) }
                                  </span> -->
                                </td>
                                <!-- {{memberLoop}} -->
                                <!-- <td class="py-3 rg14-g1" v-if="myRole == 'ADMIN' && r.is_root != true && r.email != myEmail">
                  <div class="dropdown">
                    <a class="dropdown-toggle a-under-none cl-G2" href="#" role="button" id="dropdownRole"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      {{r.role}}
                    </a>
  
                    <ul class="dropdown-menu" aria-labelledby="dropdownRole">
                      <li>
                        <a class="dropdown-item rg14-g1" href="javascript:void(0)" @click="edit_user(r, 'ADMIN')">ADMIN</a>
                      </li>
                      <li>
                        <a class="dropdown-item rg14-g1" href="javascript:void(0)" @click="edit_user(r, 'USER')">USER</a>
                      </li>
                    </ul>
                  </div>
                </td> -->
                                <td class="py-3 rg14-g1">
                                  {{ r.OrgDescription }}
                                </td>
                                <td class="py-3 rg16-g1 edit-wrapper edit-hidden">
                                  <div class="edit-hidden-item" >
                                    <span class="ms-1" >
                                      {{r.role}}
                                    </span>
                                    <span class="float-right" @click="toggle_role_edit($event.target, r)" role="button" v-if="myRole == 'SUPER ADMIN' && r.email != myEmail" ><i class="fas fa-user-edit"></i></span>
                                  </div>
                                  <div v-bind:id="'select-control-' + r._id" class="form-inline edit-visible-item" v-if="myRole == 'SUPER ADMIN' && r.email != myEmail" >
                                    <!-- <select v-bind:id="'select-' + r._id" v-model="r.role_selected" class="form-control arrow-visible me-sm-1 w-75" @change="edit_user(r, $event.target)">
                                      <option value="ADMIN">ADMIN</option>
                                      <option value="USER">USER</option>
                                      <option value="SUPER ADMIN">SUPER ADMIN</option>
                                    </select> -->
                                    <span class="close-btn" @click="toggle_role_edit($event.target, r)" role="button" ><i class="fas fa-times"></i></span>
                                  </div>
                                </td>
                                <!-- <td class="py-3 rg16-g1">
                                    <span class="ms-1" v-for="r2, i2 in r.group">
                                      {{r2}},
                                    </span>
                                </td> -->

                                <!-- <td class="py-3 rg16-g1 cl-21 text-nowrap" v-if="r.status == 'APPROVE'">{{lang_txt.active[lang_choose]}}</td>
                                <td class="py-3 rg16-g1 cl-F2 text-nowrap" v-else-if="r.status == 'WAITING'">{{lang_txt.not_active[lang_choose]}}</td> -->

                                <!-- <td class="py-3 rg16-g1 cl-F0 text-nowrap" v-else>{{lang_txt.reject[lang_choose]}}</td>
                                <td class="pe-3 py-3 text-end rg16-g1 text-nowrap">
                                    <i class="fas fa-paper-plane px-2 cs-pointer" v-if="myRole == 'ADMIN' && r.is_root != true && r.status != 'APPROVE' && r.email != myEmail" @click="resend_invite_user(r.email)" data-bs-toggle="tooltip" data-bs-html="true" v-bind:title="lang_txt.invite_agian[lang_choose]"
                                        v-bind:id="'resend_' + i" @mouseover="t_onover('resend_' + i)"></i>
                                    <i class="fas fa-trash-alt px-2 cs-pointer" v-if="myRole == 'ADMIN' && r.is_root != true && r.email != myEmail" @click="delete_user(r)"></i>
                                </td>
                                <td class="py-3 text-center rg16-g1 text-nowrap">
                                    <button type="button" class="btn btn-danger" v-if="myRole != 'ADMIN' &&  r.email == myEmail" @click="quit_company()">
                    {{lang_txt.leave[lang_choose]}}
                  </button>
                                </td> -->
                            </tr>
                        </tbody>
                    </table>
                    <div id="role-select-wrapper" class="d-none" >
                      <select v-for="r, i in members" v-bind:id="'select-' + r._id" v-model="r.role_selected" class="form-control arrow-visible me-sm-1 w-75" @change="edit_user(r, $event.target)">
                        <option value="ADMIN">ADMIN</option>
                        <option value="USER">USER</option>
                        <option value="SUPER ADMIN">SUPER ADMIN</option>
                      </select>
                    </div>
                </div>
                <div class="table-responsive" v-show="!isShowFristTable" >
                  <table id="ListName" class="table table-striped border" >
                      <thead>
                          <tr>
                              <th class="md16-g1 ps-3">{{lang_txt.name[lang_choose]}}</th>
                              <th class="md16-g1">{{lang_txt.email[lang_choose]}}</th>
                              <th class="md16-g1">{{lang_txt.department[lang_choose]}}</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr v-for="r, i in userList">
                              <td class="ps-3 py-3 rg14-g1 text-nowrap">{{ r.EmpName }} {{ r.EmpSurname }}</td>
                              <td class="py-3 rg14-g1">{{ r.email }}</td>
                              <td class="py-3 rg14-g1">
                                  {{ r.OrgDescription }}
                                  <!-- <span v-if="userList.length == (i+1)" >
                                    { userListLoop(i) }
                                  </span> -->
                              </td>
                              <!-- {{ userListLoop }} -->
                          </tr>
                      </tbody>
                  </table>
              </div>
            </div>

            <!-- <div id="list-name-wrapper" class="col-12 mt-4 px-0">
                <div class="table-responsive">
                    <table id="ListName" class="table table-striped border" >
                        <thead>
                            <tr>
                                <th class="md16-g1 ps-3">{{lang_txt.name[lang_choose]}}</th>
                                <th class="md16-g1">{{lang_txt.email[lang_choose]}}</th>
                                <th class="md16-g1">{{lang_txt.department[lang_choose]}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="r, i in userList">
                                <td class="ps-3 py-3 rg14-g1 text-nowrap">{{ r.EmpName }} {{ r.EmpSurname }}</td>
                                <td class="py-3 rg14-g1">{{ r.email }}</td>
                                <td class="py-3 rg14-g1">
                                    {{ r.OrgDescription }}
                                </td>
                                {{ userListLoop }}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div> -->

            <!-- <div class="row">

      <div class="col-12 px-0 mt-5 rg14-g1">
        <div class="alert dy-none" role="alert" id="err_alert_group">
          {{lang_err}}
        </div>
      </div>

      <div class="col-12 px-0">
        {{lang_txt.manage_group[lang_choose]}}
        <button type="button" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#modalGroup"
          @click="btn_add_group()">
          + {{lang_txt.add_group[lang_choose]}}
        </button>
      </div>

      <div class="col-12 px-0 mt-3">
        <div class="table-responsive">
          <table class="table" id="groupsignTable">
            <thead>
              <tr>
                <th class="md16-g1 ps-3">{{lang_txt.no[lang_choose]}}</th>
                <th class="md16-g1 text-nowrap">{{lang_txt.group_mem[lang_choose]}}</th>
                <th class="md16-g1">{{lang_txt.name[lang_choose]}}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="r, i in group">
                <td class="ps-3 py-3 rg14-g1">{{i+1}}</td>
                <td class="py-3 rg14-g1">{{r.group_name}}</td>
                <td class="py-3 rg14-g1">
                  <div class="mb-2" v-for="r2, i2 in r.group_sign">
                    {{r2.name}} <span class="cl-BD">({{r2.email}})</span>
                  </div>
                </td>
                <td class="pe-3 py-3 text-end rg14-g1 text-nowrap">
                  <i class="fas fa-pen px-2 cs-pointer" @click="btn_edit_group(r)" data-bs-toggle="modal"
                    data-bs-target="#modalGroup"></i>
                  <i class="fas fa-trash-alt px-2 cs-pointer" @click="del_group(r)"></i>
                </td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div> -->

            <!-- Modal Group-->
            <!-- <div class="modal fade" id="modalGroup" tabindex="-1" aria-labelledby="groupLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <h5 class="modal-title" id="groupLabel">{{lang_txt.create_group[lang_choose]}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" id="btn_group_close"
              aria-label="Close"></button>
          </div>

          <div class="modal-body">
            <div class="row">

              <div class="col-12 mb-2 rg14-g1">
                <div class="alert dy-none" role="alert" id="err_alert_group_modal">
                  {{lang_err}}
                </div>
              </div>


              <div class="col-12 rg16-g1">
                {{lang_txt.name_group[lang_choose]}}
                <input type="text" class="form-control mt-2" v-model="name_group" v-on:keyup.enter="save_group" v-if="btn_group == 'add'" maxlength="20">
                <input type="text" class="form-control mt-2" v-model="name_group" v-on:keyup.enter="edit_group_sign" v-else-if="btn_group == 'edit'" maxlength="20">
              </div>

              <div class="col-12 mt-3 mb-2 rg16-g1">
                {{lang_txt.select_user[lang_choose]}}
                <select class="form-select mt-2" v-model="select_member_group"
                  @change="add_list_group(select_member_group)">
                  <option value="" disabled>{{lang_txt.select[lang_choose]}}</option>
                  <option v-for="r, i in members" v-bind:value="i" v-if="r.status == 'APPROVE'">{{ r.fName }} {{r.lName}} </option>
                </select>
              </div>

              <div class="col-12 mt-3">
                <span class="badge bg-primary rg10-g3 mx-2" v-for="r, i in push_member_group">
                  {{r.name}} &nbsp;&nbsp;
                  <i class="far fa-times-circle cs-pointer" @click="remove_list_group(i)"></i>
                </span>
              </div>

            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" @click="save_group"
              v-if="btn_group == 'add'">{{lang_txt.save[lang_choose]}}</button>
            <button type="button" class="btn btn-primary" @click="edit_group_sign"
              v-else-if="btn_group == 'edit'">{{lang_txt.save[lang_choose]}}</button>
          </div>
        </div>
      </div>
    </div> -->

        </div>
    </div>
</section>