<section>
  <div class="container-fluid">
    <div class="alert alert-warning alert-dismissible fade show rg18-g1" role="alert" v-if="day_exp_cer <= 15">
      {{lang_txt.noticeKyc[lang_choose]}} {{cert.expire_date}}  ({{lang_txt.another[lang_choose]}} {{day_exp_cer}} {{lang_txt.days[lang_choose]}}) {{lang_txt.noticeKyc2[lang_choose]}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <label class="md36-g2 border-start border-5 border-left">&nbsp;{{lang_txt.dashboard_title[lang_choose]}}</label>
        <div class="row">
          <div class="d-flex align-items-center col-lg-3 col-6 mt-3"
            onclick="document.location.href='/bla/#/alldocument'" role="button">
            <div class="d-flex p-3 w-100 align-items-center bg-FF dash-box">
              <div style="width: 40%;">
                <label class="md36-g1 cl-CI">{{doc_All}}</label>
              </div>
              <div class="text-center" style="width: 60%;">
                <h1>
                  <i class="fas fa-inbox cl-CI d-block"></i>
                </h1>
                <label class="rg18-g1 cl-CI d-block mt-2">{{lang_txt.doc_all[lang_choose]}}</label>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center col-lg-3 col-6 mt-3" @click="gotoPage('inbox?sign=not_sign')"
            role="button">
            <div class="bg-FF dash-box d-flex p-3 w-100 align-items-center">
              <div style="width: 40%;">
                <label class="md36-g1 cl-CI">{{doc_notSign}}</label>
              </div>
              <div class="text-center" style="width: 60%;">
                <h1>
                  <i class="fas fa-edit cl-CI d-block"></i>
                </h1>
                <label class="rg18-g1 cl-CI d-block mt-2">{{lang_txt.doc_not_sign[lang_choose]}}</label>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center col-lg-3 col-6 mt-3" onclick="document.location.href='/bla/#/inbox'"
            role="button">
            <div class="bg-FF dash-box d-flex p-3 w-100 align-items-center">
              <div style="width: 40%;">
                <label class="md36-g1 cl-CI">{{doc_received}}</label>
              </div>
              <div class="text-center" style="width: 60%;">
                <h1>
                  <i class="fas fa-file-download cl-CI d-block"></i>
                </h1>
                <label class="rg18-g1 cl-CI d-block mt-2">{{lang_txt.doc_inbox[lang_choose]}}</label>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center col-lg-3 col-6 mt-3" onclick="document.location.href='/bla/#/send'"
            role="button">
            <div class="bg-FF dash-box d-flex p-3 w-100 align-items-center">
              <div style="width: 40%;">
                <label class="md36-g1 cl-CI">{{doc_export}}</label>
              </div>
              <div class="text-center" style="width: 60%;">
                <h1>
                  <i class="fas fa-paper-plane cl-CI d-block"></i>
                </h1>
                <label class="rg18-g1 cl-CI d-block mt-2">{{lang_txt.doc_sent[lang_choose]}}</label>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

    <!-- Title -->
    <div class="row">
      <div class="col-6 mt-5">
        <label class="md36-g2 border-start border-5 border-left">&nbsp;{{lang_txt.last_doc[lang_choose]}}</label>
      </div>

      <div class="col-6 mt-5 text-end">
        <button class="btn btn-primary md20-g1 cl-FF"
          onclick="document.location.href='/bla/#/alldocument'">{{lang_txt.view_doc[lang_choose]}}</button>
      </div>
    </div>

    <!-- 5 last doc -->
    <div class="row row-cols-5 g-2 mt-3 PC">
      <div class="col" id="div-last-documnet" v-for="r, i in list_document" @click="gotoDoc(r.id)" role="button">
        <div class="d-flex flex-column bg-FF border box-last-doc">
          <div>
            <img v-bind:src="'/face/images/card/' + r.imageFiles[0].fileName" class="img-doc w-100">
          </div>
          <div class="border-top p-2">
            <label class="d-block text-truncate md18-g1">{{r.subject}}</label>
            <div class="d-flex mt-1">
              <div class="d-block" style="width: 50%;">
                <label class="d-block rg16-g2">{{ r.createdDtm | date }}</label>
                <label class="d-block rg16-g2">{{ r.createdDtm | time }}</label>
              </div>
              <div class="text-end d-block" style="width: 50%;">
                <!-- <label class="d-block rg16-g2 cl-F0 text-truncate"
                  v-if="r.status == 3">{{lang_txt.doc_cancel[lang_choose]}}</label>
                <label class="d-block rg16-g2 cl-21 text-truncate"
                  v-else-if="count_signer(r.signers, r.fields) == r.signers.length">{{lang_txt.doc_complete[lang_choose]}}</label>
                <label class="d-block rg16-g2 cl-F0 text-truncate"
                  v-else>{{lang_txt.doc_not_complete[lang_choose]}}</label> -->

                <!-- <label class="d-block rg16-g2 cl-F0 text-truncate"
                  v-if="(r.fields, r.status) == '0'">{{lang_txt.not_sign[lang_choose]}}</label>
                <label class="d-block rg16-g2 cl-21 text-truncate"
                  v-else-if="(r.fields, r.status) == '1'">{{lang_txt.signed[lang_choose]}}</label>
                <label class="d-block rg16-g2 cl-21 text-truncate"
                  v-else-if="(r.signers, r.needToSign) == 'true'">{{lang_txt.not_sign[lang_choose]}}ตรวจสอบแล้ว</label>
                <label class="d-block rg16-g2 cl-F0 text-truncate"
                  v-else-if="(r.signers, r.needToSign) == 'false'">{{lang_txt.not_sign[lang_choose]}}ยังไม่ได้ตรวจสอบ</label> -->
                <label class="d-block rg16-g2 text-truncate">
                  <span v-if="r.status == 3"class="cl-F0">{{lang_txt.doc_cancel[lang_choose]}}</span>
                  <span v-else-if="r.status == 1"class="cl-21">{{lang_txt.doc_complete[lang_choose]}}</span>
                  <span v-else class="cl-G3">{{lang_txt.doc_not_complete[lang_choose]}}
                    <!-- <span v-if="return_status_doc(r.fields) == 1" class="cl-21">ตรวจสอบแล้ว</span>
                    <span v-else-if="return_status_doc(r.fields) == 0" class="cl-F0">ยังไม่ได้ตรวจสอบ</span> -->
                  </span>
                </label>
                <label class="d-block rg16-g2 text-truncate">
                  <span v-if="r.status == 1" class="cl-21" style="color: #0057A7 !important;">{{lang_txt.signed[lang_choose]}}</span>
                  <span v-else-if="recheck_status_field_user(r.fields,r.signers) == 1" class="cl-05" style="color: #0057A7 !important;">{{lang_txt.signed[lang_choose]}}</span>
                  <span v-else-if="recheck_status_field_user(r.fields,r.signers) == 0" class="cl-FF0">{{lang_txt.not_sign[lang_choose]}}</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>


  </div>

  <div class="row Mobile">
    <div class="col-12 mt-4 px-0" id="div-last-documnet">
      <div class="table-responsive">
        <table id="last_document" class="table table-striped w-100">
          <thead class="last-thead">
            <tr>
              <th class="md18-g1 py-3 ps-3">{{lang_txt.subject[lang_choose]}}</th>
              <th class="md18-g1 py-3">{{lang_txt.sender[lang_choose]}}</th>
              <th class="md18-g1 py-3">{{lang_txt.status[lang_choose]}}</th>
              <th class="md18-g1 py-3">{{lang_txt.date[lang_choose]}}</th>
            </tr>
          </thead>
          <tbody>

            <tr class="Mobile tr_mobile" v-for="r, i in list_document">
              <td class="rg16-g1">
                <div class="row">
                  <div class="col-12">
                    {{r.subject}}
                  </div>
                  <div class="col-12 lg14-g3">
                    {{lang_txt.sender[lang_choose]}}: {{r.owner}}
                  </div>
                </div>
              </td>
              <td class="rg16-g1">
                <div class="row">
                  <div class="col-12 cl-21 float-end">
                    <div class="cl-F0" v-if="r.status == 3">{{lang_txt.doc_cancel[lang_choose]}}</div>
                    <div class="cl-21" v-else-if="count_signer(r.signers, r.fields) == r.signers.length">
                      {{lang_txt.doc_complete[lang_choose]}}</div>
                    <div class="cl-F2" style="color: #828282 !important;" v-else>{{lang_txt.doc_not_complete[lang_choose]}}</div>
                  </div>
                  <div class="col-12 float-end">
                    {{ r.createdDtm | date }}
                  </div>
                </div>
              </td>
            </tr>

            <tr class="PC cs-pointer" v-for="r, i in list_document" @click="gotoDoc(r.id)">
                <td class="rg16-g1 py-3 ps-3">
                  {{r.subject}} 
                </td>
                <td class="rg16-g1 py-3">
                  {{r.owner}}
                </td>
                <td class="rg16-g1 py-3">
                  <div class="cl-F0" v-if="r.status == 3">{{lang_txt.doc_cancel[lang_choose]}}</div>
                  <div class="cl-21" v-else-if="count_signer(r.signers, r.fields) == r.signers.length">
                    {{lang_txt.doc_complete[lang_choose]}}</div>
                  <div class="cl-F2" v-else>{{lang_txt.doc_not_complete[lang_choose]}}</div>
                </td>
                <td class="rg16-g1 py-3">
                  {{ r.createdDtm | date }}
                </td>
              </tr>

          </tbody>
        </table>
      </div>
    </div>
    <!-- <div class="col-12 text-end">
        <button type="button" class="btn btn-primary rg16-g2" @click="gotoPage('all')">{{lang_txt.view_all_doc[lang_choose]}}</button>
      </div> -->
  </div>


  </div>

</section>