<section>
    <div id="form2">
        <div id="app2" class="container">


            <div class="sizeForm">
                <div class="well form-horizontal" style="background-color:#ffffff;border:1px solid #c4c4c4">
                    <fieldset class="modePc">
                        <legend align="center" style="padding:15px"><h2 class="display-4" style="font-family:'Prompt', sans-serif;">แบบประเมินความสามารถในการรับความเสี่ยงลงทุน</h2></legend>

                        <div class="leftForm text_font">
                            <!-- ------------------------------------ข้อ 1 -->
                            <div class="form-group">
                                <label class="col-12 control-label font_label">1. ปัจจุบันท่านอายุ</label>
                                <div class="col-12 inputGroupContainer" style="margin-left:15px;margin-top: 5px">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="c1" value="1" v-model="choice1">
                                        <label class="form-check-label font_label">
                                            มากกว่า 55 ปี
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="c1" value="2" v-model="choice1">
                                        <label class="form-check-label font_label">
                                            45 - 55 ปี
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="c1" value="3" v-model="choice1">
                                        <label class="form-check-label font_label">
                                            35 - 44 ปี
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="c1" value="4" v-model="choice1">
                                        <label class="form-check-label font_label">
                                            น้อยกว่า 35 ปี
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <!-- ------------------------------------ข้อ 2 -->

                            <div class="form-group">
                                <label class="col-12 control-label font_label">2. ปัจจุบันท่านมีภาระทางการเงินและค่าใช้จ่ายประจำ
                                    เช่น ค่าผ่อนบ้านรถ ค่าใช้จ่ายส่วนตัว และค่าเลี้ยงดูครอบครัวเป็นสัดส่วนเท่าใด</label>
                                <div class="col-12 inputGroupContainer" style="margin-left:15px;margin-top: 5px">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="c2" value="1" v-model="choice2">
                                        <label class="form-check-label font_label">
                                            มากกว่าร้อยละ 75 ของรายได้ทั้งหมด
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="c2" value="2" v-model="choice2">
                                        <label class="form-check-label font_label">
                                            ระหว่างร้อยละ 50 ถึงร้อยละ 75 ของรายได้ทั้งหมด
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="c2" value="3" v-model="choice2">
                                        <label class="form-check-label font_label">
                                            ระหว่างร้อยละ 25 ถึงร้อยละ 50 ของรายได้ทั้งหมด
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="c2" value="4" v-model="choice2">
                                        <label class="form-check-label font_label">
                                            น้อยกว่าร้อยละ 25 ของรายได้ทั้งหมด
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <!-- ------------------------------------ข้อ 3 -->

                            <div class="form-group">
                                <label class="col-12 control-label font_label">3. ท่านมีสถานภาพทางการเงินในปัจจุบันอย่างไร</label>
                                <div class="col-12 inputGroupContainer" style="margin-left:15px;margin-top: 5px">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="c3" value="1" v-model="choice3">
                                        <label class="form-check-label font_label">
                                            มีทรัพย์สินน้อยกว่าหนี้สิน
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="c3" value="2" v-model="choice3">
                                        <label class="form-check-label font_label">
                                            มีทรัพย์สินเท่ากับหนี้สิน
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="c3" value="3" v-model="choice3">
                                        <label class="form-check-label font_label">
                                            มีทรัพย์สินมากกว่าหนี้สิน
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="c3" value="4" v-model="choice3">
                                        <label class="form-check-label font_label">
                                            มีความมั่นใจว่ามีเงินออมหรือเงินลงทุนเพียงพอสำหรับการใช้ชีวิตหลังเกษีณอายุแล้ว
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <!-- ------------------------------------ข้อ 4 -->

                            <div class="form-group">
                                <label class="col-12 control-label font_label">4. ท่านเคยมีประสบการณ์ หรือมีความรู้ในการลงทุนในทรัพย์สินกลุ่มใดต่อไปนี้บ้าง
                                    (เลือกได้มากกว่า 1 ข้อ)</label>
                                <div class="col-12 inputGroupContainer" style="margin-left:15px;margin-top: 5px">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="c4" value="1" v-model="checkChoice4">
                                        <label class="form-check-label font_label">
                                            เงินฝากธนาคาร
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="c4" value="2" v-model="checkChoice4">
                                        <label class="form-check-label font_label">
                                            พันธบัตรรัฐบาล หรือกองทุนรวมพันธบัตรรัฐบาล
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="c4" value="3" v-model="checkChoice4">
                                        <label class="form-check-label font_label">
                                            หุ้นกู้ หรือกองทุนรวมตราสารหนี้
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="c4" value="4" v-model="checkChoice4">
                                        <label class="form-check-label font_label">
                                            หุ้นสามัญ หรือกองทุนรวมหุ้น หรือสินทรัพย์อื่นที่มีความเสี่ยงสูง
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <!-- ------------------------------------ข้อ 5 -->

                            <div class="form-group">
                                <label class="col-12 control-label font_label">5. ระยะเวลาที่ท่านคาดว่าจะไม่มีความจำเป็นต้องใช้เงินลงทุนนี้</label>
                                <div class="col-12 inputGroupContainer" style="margin-left:15px;margin-top: 5px">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="c5" value="1" v-model="choice5">
                                        <label class="form-check-label font_label">
                                            ไม่เกิน 1 ปี
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="c5" value="2" v-model="choice5">
                                        <label class="form-check-label font_label">
                                            1 ถึง 3 ปี
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="c5" value="3" v-model="choice5">
                                        <label class="form-check-label font_label">
                                            3 ถึง 5 ปี
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="c5" value="4" v-model="choice5">
                                        <label class="form-check-label font_label">
                                            มากกว่า 5 ปี
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <!-- ------------------------------------ข้อ 6 -->

                            <div class="form-group">
                                <label class="col-12 control-label font_label">6. วัตถุประสงค์หลักในการลงทุนของท่าน คือ</label>
                                <div class="col-12 inputGroupContainer" style="margin-left:15px;margin-top: 5px">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="c6" value="1" v-model="choice6">
                                        <label class="form-check-label font_label">
                                            เน้นเงินต้นต้องปลอดภัยและได้รับผลตอบแทนสม่ำเสมอแต่ต่ำได้
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="c6" value="2" v-model="choice6">
                                        <label class="form-check-label font_label">
                                            เน้นโอกาสได้รับผลตอบแทนที่สม่ำเสมอ แต่อาจเสี่ยงที่จะสูญเสียเงินต้นได้บ้าง
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="c6" value="3" v-model="choice6">
                                        <label class="form-check-label font_label">
                                            เน้นโอกาสได้รับผลตอบแทนที่สูงขึ้น แต่อาจเสี่ยงที่จะสูญเสียเงินต้นได้มากขึ้น
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="c6" value="4" v-model="choice6">
                                        <label class="form-check-label font_label">
                                            เน้นผลตอบแทนสูงสุดในระยะยาว แต่อาจเสี่ยงที่จะสูญเงินต้นส่วนใหญ่ได้
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <!-- ------------------------------------ข้อ 7 -->

                            <div class="form-group">
                                <label class="col-12 control-label font_label">7. เมื่อพิจารณารูปแสดงตัวอย่างผลตอบแทนของกลุ่มการลงทุนที่อาจเกิดขึ้นด้านล่างท่านเต็มใจที่จะลงทุนในกลุ่มการลงทุนใดมากที่สุด</label>
                                <br> <img src="img/c_graph-07.png" width="300px" class="img-thumbnail">
                                <div class="col-12 inputGroupContainer" style="margin-left:15px;margin-top: 5px">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="c7" value="1" v-model="choice7">
                                        <label class="form-check-label font_label">
                                            กลุ่มการลงทุนที่ 1 มีโอกาสได้รับผลตอบแทน 2.5% โดยไม่ขาดทุนเลย
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="c7" value="2" v-model="choice7">
                                        <label class="form-check-label font_label">
                                            กลุ่มการลงทุนที่ 2 มีโอกาสได้รับผลตอบแทนสูงสุด 7% แต่อาจมีผลขาดทุนได้ถึง 1%
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="c7" value="3" v-model="choice7">
                                        <label class="form-check-label font_label">
                                            กลุ่มการลงทุนที่ 3 มีโอกาสได้รับผลตอบแทนสูงสุด 15% แต่อาจมีผลขาดทุนได้ถึง 5%
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="c7" value="4" v-model="choice7">
                                        <label class="form-check-label font_label">
                                            กลุ่มการลงทุนที่ 4 มีโอกาสได้รับผลตอบแทนสูงสุด 25% แต่อาจมีผลขาดทุนได้ถึง 15%
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <!-- ------------------------------------ข้อ 8 -->

                            <div class="form-group">
                                <label class="col-12 control-label font_label">8. ถ้าท่านเลือกลงทุนในทรัพย์สินที่มีโอกาสได้รับผลตอบแทนมาก
                                    แต่มีโอกาสขาดทุนสูงด้วยเช่นกัน ท่านจะรู้สึกอย่างไร
                                </label>
                                <div class="col-12 inputGroupContainer" style="margin-left:15px;margin-top: 5px">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="c8" value="1" v-model="choice8">
                                        <label class="form-check-label font_label">
                                            กังวลและตื่นตระหนกกลัวขาดทุน
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="c8" value="2" v-model="choice8">
                                        <label class="form-check-label font_label">
                                            ไม่สบายใจแต่พอเข้าใจได้บ้าง
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="c8" value="3" v-model="choice8">
                                        <label class="form-check-label font_label">
                                            เข้าใจและรับความผันผวนได้ในระดับหนึ่ง
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="c8" value="4" v-model="choice8">
                                        <label class="form-check-label font_label">
                                            ไม่กังวลกับโอกาสขนาดทุนสูง และหวังกับผลตอบแทนที่อาจจะได้รับสูงขึ้น
                                        </label>
                                    </div>
                                </div>
                            </div>


                            <!-- ------------------------------------ข้อ 9 -->

                            <div class="form-group">
                                <label class="col-12 control-label font_label">9. ท่านจะรู้สึกกังวล/รับไม่ได้ เมื่อมูลค่าเงินลงทุนของท่านมีการปรับตัวลดลงในสัดส่วนเท่าใด</label>
                                <div class="col-12 inputGroupContainer" style="margin-left:15px;margin-top: 5px">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="c9" value="1" v-model="choice9">
                                        <label class="form-check-label font_label">
                                            5% หรือน้อยกว่า
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="c9" value="2" v-model="choice9">
                                        <label class="form-check-label font_label">
                                            มากกว่า 5% - 10%
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="c9" value="3" v-model="choice9">
                                        <label class="form-check-label font_label">
                                            มากกว่า 10% - 20%
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="c9" value="4" v-model="choice9">
                                        <label class="form-check-label font_label">
                                            มากกว่า 20% ขึ้นไป
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <!-- ------------------------------------ข้อ 10 -->

                            <div class="form-group">
                                <label class="col-12 control-label font_label">10. หากปีที่แล้วท่านลงทุนไป 100,000 บาท ปีนี้ท่านพบว่ามูลค่าเงินลงทุนลดลงเหลือ
                                    85,000 บาทท่านจะทำอย่างไร</label>
                                <div class="col-12 inputGroupContainer" style="margin-left:15px;margin-top: 5px">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="c10" value="1" v-model="choice10">
                                        <label class="form-check-label font_label">
                                            ตกใจ และต้องการขายการลงทุนที่เหลือทิ้ง
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="c10" value="2" v-model="choice10">
                                        <label class="form-check-label font_label">
                                            กังวลใจ และจะปรับเปลี่ยนการลงทุนบางส่วนไปในทรัพย์สินที่เสี่ยงน้อยลง
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="c10" value="3" v-model="choice10">
                                        <label class="form-check-label font_label">
                                            อดทนถือต่อไปได้ และรอผลตอบแทนปรับตัวกลับมา
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="c10" value="4" v-model="choice10">
                                        <label class="form-check-label font_label">
                                            ยังมั่นใจเพราะเข้าใจว่าต้องลงทุนระยะยาว และจะเพิ่มเงินลงทุนในแบบเดิมเพื่อเฉลี่ยต้นทุน
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <legend align="center" style="padding:15px;margin-top:60px"><h3 class="display-4" style="font-family:'Prompt', sans-serif;">สำหรับการลงทุนในตราสารอนุพันธ์</h3></legend>

                            <!-- ------------------------------------ข้อ 11 -->

                            <div class="form-group">
                                <label class="col-12 control-label font_label">11. การลงทุนในตราสารอนุพันธ์ หากการลงทุนประสบความสำเร็จ
                                    ท่านจะได้รับผลประโยชน์ในอัตราที่สูงมากแต่หากการลงทุนล้มเหลว ท่านอาจจะสูญเสียเงินลงทุนทั้งหมด
                                    และอาจต้องลงเงินชดเชยเพิ่มบางส่วนท่านยอมรับได้เพียงใด</label>
                                <div class="col-12 inputGroupContainer" style="margin-left:15px;margin-top: 5px">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="c11" value="1" v-model="choice11">
                                        <label class="form-check-label font_label">
                                            ไม่ได้
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="c11" value="2" v-model="choice11">
                                        <label class="form-check-label font_label">
                                            ได้
                                        </label>
                                    </div>
                                </div>
                            </div>


                            <legend align="center" style="padding:15px;margin-top:40px"><h3 class="display-4" style="font-family:'Prompt', sans-serif;">สำหรับการลงทุนในต่างประเทศ</h3></legend>

                            <!-- ------------------------------------ข้อ 12 -->

                            <div class="form-group">
                                <label class="col-12 control-label font_label">12. นอกเหนือจากความเสี่ยงในการลงทุนแล้ว ท่านสามารถรับความเสี่ยงด้านอัตราแลกเปลี่ยนได้เพียงใด</label>
                                <div class="col-12 inputGroupContainer" style="margin-left:15px;margin-top: 5px">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="c12" value="1" v-model="choice12">
                                        <label class="form-check-label font_label">
                                            ไม่ได้
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="c12" value="2" v-model="choice12">
                                        <label class="form-check-label font_label">
                                            ได้
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </fieldset>

                    <fieldset class="modeMobile">
                            <legend align="center" style="padding:15px">แบบประเมินความสามารถในการรับความเสี่ยงลงทุน</legend>
    
                            <div class="leftForm">
                                <!-- ------------------------------------ข้อ 1 -->
                                <div class="form-group" v-show="templateForm == 1">
                                    <label class="col-12 control-label font_label">1. ปัจจุบันท่านอายุ</label>
                                    <div class="col-12 inputGroupContainer" style="margin-left:15px;margin-top: 5px">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="mc1" value="1" v-model="choice1">
                                            <label class="form-check-label font_label">
                                                มากกว่า 55 ปี
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="mc1" value="2" v-model="choice1">
                                            <label class="form-check-label font_label">
                                                45 - 55 ปี
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="mc1" value="3" v-model="choice1">
                                            <label class="form-check-label font_label">
                                                35 - 44 ปี
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="mc1" value="4" v-model="choice1">
                                            <label class="form-check-label font_label">
                                                น้อยกว่า 35 ปี
                                            </label>
                                        </div>
                                    </div>
                                </div>
    
                                <!-- ------------------------------------ข้อ 2 -->
    
                                <div class="form-group" v-show="templateForm == 2">
                                    <label class="col-12 control-label font_label">2. ปัจจุบันท่านมีภาระทางการเงินและค่าใช้จ่ายประจำ
                                        เช่น ค่าผ่อนบ้านรถ ค่าใช้จ่ายส่วนตัว และค่าเลี้ยงดูครอบครัวเป็นสัดส่วนเท่าใด</label>
                                    <div class="col-12 inputGroupContainer" style="margin-left:15px;margin-top: 5px">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="mc2" value="1" v-model="choice2">
                                            <label class="form-check-label font_label">
                                                มากกว่าร้อยละ 75 ของรายได้ทั้งหมด
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="mc2" value="2" v-model="choice2">
                                            <label class="form-check-label font_label">
                                                ระหว่างร้อยละ 50 ถึงร้อยละ 75 ของรายได้ทั้งหมด
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="mc2" value="3" v-model="choice2">
                                            <label class="form-check-label font_label">
                                                ระหว่างร้อยละ 25 ถึงร้อยละ 50 ของรายได้ทั้งหมด
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="mc2" value="4" v-model="choice2">
                                            <label class="form-check-label font_label">
                                                น้อยกว่าร้อยละ 25 ของรายได้ทั้งหมด
                                            </label>
                                        </div>
                                    </div>
                                </div>
    
                                <!-- ------------------------------------ข้อ 3 -->
    
                                <div class="form-group" v-show="templateForm == 3">
                                    <label class="col-12 control-label font_label">3. ท่านมีสถานภาพทางการเงินในปัจจุบันอย่างไร</label>
                                    <div class="col-12 inputGroupContainer" style="margin-left:15px;margin-top: 5px">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="mc3" value="1" v-model="choice3">
                                            <label class="form-check-label font_label">
                                                มีทรัพย์สินน้อยกว่าหนี้สิน
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="mc3" value="2" v-model="choice3">
                                            <label class="form-check-label font_label">
                                                มีทรัพย์สินเท่ากับหนี้สิน
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="mc3" value="3" v-model="choice3">
                                            <label class="form-check-label font_label">
                                                มีทรัพย์สินมากกว่าหนี้สิน
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="mc3" value="4" v-model="choice3">
                                            <label class="form-check-label font_label">
                                                มีความมั่นใจว่ามีเงินออมหรือเงินลงทุนเพียงพอสำหรับการใช้ชีวิตหลังเกษีณอายุแล้ว
                                            </label>
                                        </div>
                                    </div>
                                </div>
    
                                <!-- ------------------------------------ข้อ 4 -->
    
                                <div class="form-group" v-show="templateForm == 4">
                                    <label class="col-12 control-label font_label">4. ท่านเคยมีประสบการณ์ หรือมีความรู้ในการลงทุนในทรัพย์สินกลุ่มใดต่อไปนี้บ้าง
                                        (เลือกได้มากกว่า 1 ข้อ)</label>
                                    <div class="col-12 inputGroupContainer" style="margin-left:15px;margin-top: 5px">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="mc4" value="1" v-model="checkChoice4">
                                            <label class="form-check-label font_label">
                                                เงินฝากธนาคาร
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="mc4" value="2" v-model="checkChoice4">
                                            <label class="form-check-label font_label">
                                                พันธบัตรรัฐบาล หรือกองทุนรวมพันธบัตรรัฐบาล
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="mc4" value="3" v-model="checkChoice4">
                                            <label class="form-check-label font_label">
                                                หุ้นกู้ หรือกองทุนรวมตราสารหนี้
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="mc4" value="4" v-model="checkChoice4">
                                            <label class="form-check-label font_label">
                                                หุ้นสามัญ หรือกองทุนรวมหุ้น หรือสินทรัพย์อื่นที่มีความเสี่ยงสูง
                                            </label>
                                        </div>
                                    </div>
                                </div>
    
                                <!-- ------------------------------------ข้อ 5 -->
    
                                <div class="form-group" v-show="templateForm == 5">
                                    <label class="col-12 control-label font_label">5. ระยะเวลาที่ท่านคาดว่าจะไม่มีความจำเป็นต้องใช้เงินลงทุนนี้</label>
                                    <div class="col-12 inputGroupContainer" style="margin-left:15px;margin-top: 5px">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="mc5" value="1" v-model="choice5">
                                            <label class="form-check-label font_label">
                                                ไม่เกิน 1 ปี
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="mc5" value="2" v-model="choice5">
                                            <label class="form-check-label font_label">
                                                1 ถึง 3 ปี
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="mc5" value="3" v-model="choice5">
                                            <label class="form-check-label font_label">
                                                3 ถึง 5 ปี
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="mc5" value="4" v-model="choice5">
                                            <label class="form-check-label font_label">
                                                มากกว่า 5 ปี
                                            </label>
                                        </div>
                                    </div>
                                </div>
    
                                <!-- ------------------------------------ข้อ 6 -->
    
                                <div class="form-group" v-show="templateForm == 6">
                                    <label class="col-12 control-label font_label">6. วัตถุประสงค์หลักในการลงทุนของท่าน คือ</label>
                                    <div class="col-12 inputGroupContainer" style="margin-left:15px;margin-top: 5px">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="mc6" value="1" v-model="choice6">
                                            <label class="form-check-label font_label">
                                                เน้นเงินต้นต้องปลอดภัยและได้รับผลตอบแทนสม่ำเสมอแต่ต่ำได้
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="mc6" value="2" v-model="choice6">
                                            <label class="form-check-label font_label">
                                                เน้นโอกาสได้รับผลตอบแทนที่สม่ำเสมอ แต่อาจเสี่ยงที่จะสูญเสียเงินต้นได้บ้าง
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="mc6" value="3" v-model="choice6">
                                            <label class="form-check-label font_label">
                                                เน้นโอกาสได้รับผลตอบแทนที่สูงขึ้น แต่อาจเสี่ยงที่จะสูญเสียเงินต้นได้มากขึ้น
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="mc6" value="4" v-model="choice6">
                                            <label class="form-check-label font_label">
                                                เน้นผลตอบแทนสูงสุดในระยะยาว แต่อาจเสี่ยงที่จะสูญเงินต้นส่วนใหญ่ได้
                                            </label>
                                        </div>
                                    </div>
                                </div>
    
                                <!-- ------------------------------------ข้อ 7 -->
    
                                <div class="form-group" v-show="templateForm == 7">
                                    <label class="col-12 control-label font_label">7. เมื่อพิจารณารูปแสดงตัวอย่างผลตอบแทนของกลุ่มการลงทุนที่อาจเกิดขึ้นด้านล่างท่านเต็มใจที่จะลงทุนในกลุ่มการลงทุนใดมากที่สุด</label>
                                    <br> <img src="img/c_graph-07.png" width="300px" class="img-thumbnail">
                                    <div class="col-12 inputGroupContainer" style="margin-left:15px;margin-top: 5px">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="mc7" value="1" v-model="choice7">
                                            <label class="form-check-label font_label">
                                                กลุ่มการลงทุนที่ 1 มีโอกาสได้รับผลตอบแทน 2.5% โดยไม่ขาดทุนเลย
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="mc7" value="2" v-model="choice7">
                                            <label class="form-check-label font_label">
                                                กลุ่มการลงทุนที่ 2 มีโอกาสได้รับผลตอบแทนสูงสุด 7% แต่อาจมีผลขาดทุนได้ถึง 1%
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="mc7" value="3" v-model="choice7">
                                            <label class="form-check-label font_label">
                                                กลุ่มการลงทุนที่ 3 มีโอกาสได้รับผลตอบแทนสูงสุด 15% แต่อาจมีผลขาดทุนได้ถึง 5%
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="mc7" value="4" v-model="choice7">
                                            <label class="form-check-label font_label">
                                                กลุ่มการลงทุนที่ 4 มีโอกาสได้รับผลตอบแทนสูงสุด 25% แต่อาจมีผลขาดทุนได้ถึง 15%
                                            </label>
                                        </div>
                                    </div>
                                </div>
    
                                <!-- ------------------------------------ข้อ 8 -->
    
                                <div class="form-group" v-show="templateForm == 8">
                                    <label class="col-12 control-label font_label">8. ถ้าท่านเลือกลงทุนในทรัพย์สินที่มีโอกาสได้รับผลตอบแทนมาก
                                        แต่มีโอกาสขาดทุนสูงด้วยเช่นกัน ท่านจะรู้สึกอย่างไร
                                    </label>
                                    <div class="col-12 inputGroupContainer" style="margin-left:15px;margin-top: 5px">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="mc8" value="1" v-model="choice8">
                                            <label class="form-check-label font_label">
                                                กังวลและตื่นตระหนกกลัวขาดทุน
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="mc8" value="2" v-model="choice8">
                                            <label class="form-check-label font_label">
                                                ไม่สบายใจแต่พอเข้าใจได้บ้าง
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="mc8" value="3" v-model="choice8">
                                            <label class="form-check-label font_label">
                                                เข้าใจและรับความผันผวนได้ในระดับหนึ่ง
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="mc8" value="4" v-model="choice8">
                                            <label class="form-check-label font_label">
                                                ไม่กังวลกับโอกาสขนาดทุนสูง และหวังกับผลตอบแทนที่อาจจะได้รับสูงขึ้น
                                            </label>
                                        </div>
                                    </div>
                                </div>
    
    
                                <!-- ------------------------------------ข้อ 9 -->
    
                                <div class="form-group" v-show="templateForm == 9">
                                    <label class="col-12 control-label font_label">9. ท่านจะรู้สึกกังวล/รับไม่ได้ เมื่อมูลค่าเงินลงทุนของท่านมีการปรับตัวลดลงในสัดส่วนเท่าใด</label>
                                    <div class="col-12 inputGroupContainer" style="margin-left:15px;margin-top: 5px">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="mc9" value="1" v-model="choice9">
                                            <label class="form-check-label font_label">
                                                5% หรือน้อยกว่า
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="mc9" value="2" v-model="choice9">
                                            <label class="form-check-label font_label">
                                                มากกว่า 5% - 10%
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="mc9" value="3" v-model="choice9">
                                            <label class="form-check-label font_label">
                                                มากกว่า 10% - 20%
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="mc9" value="4" v-model="choice9">
                                            <label class="form-check-label font_label">
                                                มากกว่า 20% ขึ้นไป
                                            </label>
                                        </div>
                                    </div>
                                </div>
    
                                <!-- ------------------------------------ข้อ 10 -->
    
                                <div class="form-group" v-show="templateForm == 10">
                                    <label class="col-12 control-label font_label">10. หากปีที่แล้วท่านลงทุนไป 100,000 บาท ปีนี้ท่านพบว่ามูลค่าเงินลงทุนลดลงเหลือ
                                        85,000 บาทท่านจะทำอย่างไร</label>
                                    <div class="col-12 inputGroupContainer" style="margin-left:15px;margin-top: 5px">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="mc10" value="1" v-model="choice10">
                                            <label class="form-check-label font_label">
                                                ตกใจ และต้องการขายการลงทุนที่เหลือทิ้ง
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="mc10" value="2" v-model="choice10">
                                            <label class="form-check-label font_label">
                                                กังวลใจ และจะปรับเปลี่ยนการลงทุนบางส่วนไปในทรัพย์สินที่เสี่ยงน้อยลง
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="mc10" value="3" v-model="choice10">
                                            <label class="form-check-label font_label">
                                                อดทนถือต่อไปได้ และรอผลตอบแทนปรับตัวกลับมา
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="mc10" value="4" v-model="choice10">
                                            <label class="form-check-label font_label">
                                                ยังมั่นใจเพราะเข้าใจว่าต้องลงทุนระยะยาว และจะเพิ่มเงินลงทุนในแบบเดิมเพื่อเฉลี่ยต้นทุน
                                            </label>
                                        </div>
                                    </div>
                                </div>
    
                                <legend align="center" style="padding:15px" v-show="templateForm == 11">สำหรับการลงทุนในตราสารอนุพันธ์</legend>
    
                                <!-- ------------------------------------ข้อ 11 -->
    
                                <div class="form-group" v-show="templateForm == 11">
                                    <label class="col-12 control-label font_label">11. การลงทุนในตราสารอนุพันธ์ หากการลงทุนประสบความสำเร็จ
                                        ท่านจะได้รับผลประโยชน์ในอัตราที่สูงมากแต่หากการลงทุนล้มเหลว ท่านอาจจะสูญเสียเงินลงทุนทั้งหมด
                                        และอาจต้องลงเงินชดเชยเพิ่มบางส่วนท่านยอมรับได้เพียงใด</label>
                                    <div class="col-12 inputGroupContainer" style="margin-left:15px;margin-top: 5px">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="mc11" value="1" v-model="choice11">
                                            <label class="form-check-label font_label">
                                                ไม่ได้
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="mc11" value="2" v-model="choice11">
                                            <label class="form-check-label font_label">
                                                ได้
                                            </label>
                                        </div>
                                    </div>
                                </div>
    
    
                                <legend align="center" style="padding:15px" v-show="templateForm == 12">สำหรับการลงทุนในต่างประเทศ</legend>
    
                                <!-- ------------------------------------ข้อ 12 -->
    
                                <div class="form-group" v-show="templateForm == 12">
                                    <label class="col-12 control-label font_label">12. นอกเหนือจากความเสี่ยงในการลงทุนแล้ว ท่านสามารถรับความเสี่ยงด้านอัตราแลกเปลี่ยนได้เพียงใด</label>
                                    <div class="col-12 inputGroupContainer" style="margin-left:15px;margin-top: 5px">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="mc12" value="1" v-model="choice12">
                                            <label class="form-check-label font_label">
                                                ไม่ได้
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="mc12" value="2" v-model="choice12">
                                            <label class="form-check-label font_label">
                                                ได้
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                        </fieldset>
                    <br><br>
                    <div align="center">
                        <button type="button" class="btn btn-primary modeMobile" v-show="templateForm != 1" @click="back()" style="margin:auto;">ย้อนกลับ </button>
                        <button type="button" class="btn btn-primary modeMobile" v-show="templateForm != 12" @click="next()">ถัดไป </button>
                        <button type="button" class="btn btn-primary modeMobile" @click="sendForm()" v-show="templateForm == 12">ส่งแบบประเมิน <i class="glyphicon glyphicon-send"></i></button>
                        <button type="button" class="btn btn-primary modePc" @click="sendForm()">ส่งแบบประเมิน <i class="glyphicon glyphicon-send"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>
  <script src="js/index.js"></script> -->
    </div>

</section>