<!-- <!DOCTYPE html> -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <!-- response mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Prompt" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- jquery and requir vue -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>

    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>

<body>
    <section id="app" style="display:none">
        <!-- Image and text -->
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="/img/Creden_logos-01.png" width="150" height="50" class="d-inline-block align-top">
            </a>
        </nav>
        <div style="background-color:#1668b2;width:100%;height:300px"></div>

        <div style="margin-top:-250px">

            <section v-if="true">
                <div>
                    <div class="container" style="background-color:#ffffff;border-radius:8px" align="center">
                        <div class="row" style="padding:15px;padding-bottom: 60px">
                            <div class="col-12">
                                <div class="row setForm">
                                    <div class="col-12">
                                        <h2 class="display-4" style="font-family:'Prompt', sans-serif;">แบบฟอร์มการเปิดบัญชี</h2>
                                        <hr>
                                    </div>
                                    <div style="text-align:left">
                                        <div class="col-12 marginTop15">
                                            <label class="text_font">ID</label>
                                            <input type="text" class="form-control" readonly v-model="id">
                                        </div>
                                        <div class="col-12 marginTop15">
                                            <label class="text_font">Template ID</label>
                                            <input type="text" class="form-control" v-model="template_id">
                                        </div>
                                        <div class="col-12 marginTop15">
                                            <label class="text_font">ชื่อ</label>
                                            <input type="text" class="form-control" v-model="first">
                                        </div>
                                        <div class="col-12 marginTop15">
                                            <label class="text_font">นามสกุล</label>
                                            <input type="text" class="form-control" v-model="last">
                                        </div>
                                        <div class="col-12 marginTop15">
                                            <label class="text_font">เบอร์โทร</label>
                                            <input type="text" class="form-control" v-model="phone">
                                        </div>
                                        <div class="col-12 marginTop15">
                                            <label class="text_font">อีเมล</label>
                                            <input type="email" class="form-control" v-model="email">
                                        </div>

                                        <div class="col-12 marginTop15" align="center">
                                            <button class="btn btn-primary" @click="sendForm()">
                                                ถัดไป</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

        </div>
    </section>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>
    <script src="js/index.js"></script>
</body>

</html>
