<!DOCTYPE html>
<html lang="th-TH" dir="ltr">

<head>
  <title>Bangkok Life | Esign</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=1">
  <meta content="156004817605-qpm22mpvfvs0ch56s95igt6b1su33g78.apps.googleusercontent.com"
    name="google-signin-client_id">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="icon" type="image/x-icon" href="images/Creden_logos_ICON_2-Tones.ico">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/index.css?v=12341">
  <link rel="stylesheet" type="text/css" href="css/header.css?v=121">
  <link rel="stylesheet" type="text/css" href="css/font.css?v=12">
  <link rel="stylesheet" type="text/css" href="css/booking.css?v=12">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <script src="js/moment.js"></script>
</head>

<body>
  
  <div id="app" class=" bg-E5" v-cloak>

    <header class="header">
      <ul>
        <li>
          <ul>
            <li class="max-limit-logo">
              <a href="/bla/#/dashboard">
                <img src="images/Creden_logo.png" alt="logo creden website" class="w-100">
              </a>
            </li>
            <li class="md24-g2 mt-md-2 mt-3 pt-1">e-Signature</li>
          </ul>
        </li>
        <li class="float-end">
          <ul>
            <li class="mt-3" v-if="lang_choose == 'th'" onclick="swithLang('en')">
              <img src="images/thai-flag.svg" alt="thai" class="flag-size cs-pointer mx-lg-1 mx-2">
              <span class="rg14-g2 mx-1 pc cs-pointer">ภาษาไทย</span>
            </li>
            <li class="mt-3" v-else onclick="swithLang('th')">
              <img src="images/eng-flag.svg" alt="thai" class="flag-size cs-pointer mx-lg-1 mx-2">
              <span class="rg14-g2 mx-1 pc cs-pointer">English</span>
            </li>
            <li class="border-profile pt-5 pe-0 pc"></li>
            <li class="ps-0 pc">

              <div class="dropdown">

                <a class="mt-2" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
                  aria-expanded="true">
                  <img v-if="myProfile" v-bind:src="myProfile" alt="profile" class="pic-profile2 radius50">
                  <img v-else src="images/profile.png" alt="profile" class="pic-profile2 radius50">
                </a>

                <ul class="dropdown-menu dropdown-profile" aria-labelledby="dropdownMenuButton">
                  <li class="d-block">
                    <div class="profile-box-img">
                      <div class="max-profile-detail">
                        <img v-if="myProfile" v-bind:src="myProfile" alt="profile" class="pic-profile2 radius50">
                        <img v-else src="images/profile.png" alt="profile" class="pic-profile2 radius50">
                      </div>
                    </div>
                    <div class="profile-box-text">
                      <div class="row">
                        <div class="col-12 rg14-g1 text-overflow-dot">
                          {{myFirstname}} {{myLastname}}
                        </div>
                        <div class="col-12 rg12-g1">
                          {{myEmail}}
                        </div>
                        <div class="col-12 rg12-g1 cl-2F">
                          -
                        </div>
                      </div>
                    </div>
                    <div class="w-100 text-end rg10-g3 cl-CI pb-2">
                      <span class="cs-pointer" @click="logout()">
                        <!-- <i class="fas fa-sign-out-alt"></i> {{lang_txt.logout[lang_choose]}} -->
                      </span>
                    </div>
                  </li>
                </ul>
              </div>


            </li>
          </ul>

        </li>
      </ul>
    </header>
    <div class="row mb-4 mt-5 pt-4">
      <div class="col-12">
          <div class="card ">
              <div class="card-body list_upload">
                  <div class="row justify-content-center">
                      <div class="col-lg-6 col-8">
                          <div class="input-group">
                              <button class="btn-creden md14-g1 cl-CI" type="button" id="button-addon1"><i class="far fa-dot-circle "></i> {{lang_txt.Reservations[lang_choose]}}</button>
                              <hr class="col-2 hr-blue pc">
                              <button class="btn-creden md14-g1 pc" type="button" id="button-addon1"><i class="far fa-dot-circle"></i> {{lang_txt.Summary[lang_choose]}}</button>
                            </div>
                      </div>
                  </div>
                  
              </div>
          </div>
      </div>
    </div>
    <div class="container">
      
      <div class="row justify-content-md-center">
        <div class="col-xl-5 col-md-8 col-12 mt-5 md24-g1">
          {{lang_txt.Reservations[lang_choose]}}
        </div>
        <div class="col-xl-3 col-md-4 col-12 text-right mt-5">

            <!-- <button type="button" class="btn btn-primary"
                v-if="mode == 'messager'">Messager</button>
            <button type="button" class="btn btn-outline-primary"
                v-if="mode == 'messager'" @click="choose_mode('walkin')">Walk - in</button> -->

            <!-- <button type="button" class="btn btn-outline-primary"
                v-if="mode == 'walkin'" @click="choose_mode('messager')">Messager</button> -->
            <button type="button" class="btn btn-primary"
                v-if="mode == 'walkin'">Walk - in</button>

        </div>

        <div class="row justify-content-center  mt-5">
          <div class="col-xl-3 col-lg-4 col-md-5 col-12 mb-4">

            <div class="row">
                <div class="col-12">
                    <p class="text cl-CI">{{lang_txt.Booking[lang_choose]}} : {{selected_date}} </p>
                    <div id="datepicker" onchange="app.choose_date($('#datepicker').val())"></div>
                </div>

                <div class="col-12 mt-3 cl-CI">
                  {{lang_txt.Contact[lang_choose]}}
                    <input type="text" class="form-control" v-model="phone_number">
                </div>

                <div class="col-12 mt-3 cl-CI">
                  {{lang_txt.validity[lang_choose]}}
                  <select class="form-select" v-model="exp_month">
                    <option value="1">{{lang_txt.mont1[lang_choose]}} </option>
                    <option value="12">{{lang_txt.mont12[lang_choose]}} </option>
                  </select>
                </div>

                <!-- <div class="col-12 mt-3">
                    <p class="text cl-CI">{{lang_txt.Location[lang_choose]}}</p>
                </div>
                <div class="col-12">
                    <input type="text" class="form-control" id="autocomplete" placeholder="">
                </div> -->

                <!-- <div class="col-12 mt-3">
                    <div id="map"></div>
                </div> -->
            </div>

        </div>
        <div class="col-xl-5 col-lg-8 col-md-7 col-12">
          <div class="row">
              <div class="col-12">
                  <div class="box-check-in text">
                      <div class="row">
                          <div class="col-12 mt-3 mx-4 md18-g1">
                            <i class="fas fa-sun cl-F2"></i>  {{lang_txt.Morning[lang_choose]}}
                          </div>
                          <div class="col-12 font16 mx-4" style="color: #828282;">
                              9:00 - 12:00
                          </div>

                          <div class="col-12">
                              <ul style="margin-left: -15px !important;">
                                  <li class="list mt-4" v-for="m, i in t_morning">
                                      <div class="list-time">
                                          <div class="form-check text font16">
                                              <input class="form-check-input" type="radio" name="mn_time"
                                                  v-bind:id="'time_m' + i" v-bind:value="m.slot.time" v-model="selected_time" :disabled="m.not_select">
                                              <label class="form-check-label cl-CI"
                                                  v-bind:for="'time_m' + i" style="margin-top:2px">
                                                  {{m.slot.time}} AM
                                              </label>
                                          </div>
                                      </div>

                                      <p class="text mt-2" style="color: #828282 !important;font-size: 12px;">
                                        {{lang_txt.Available[lang_choose]}} {{m.slot.available_min}}/{{m.slot.available_max}}
                                      </p>
                                  </li>
                              </ul>
                          </div>

                          <div class="col-12 px-5">
                              <hr style="width: 100%;">
                          </div>

                          <div class="col-12 marginTop15 mx-4 md18-g1">
                            <i class="fas fa-sun cl-F0"></i>  {{lang_txt.Afternoon[lang_choose]}}
                          </div>
                          <div class="col-12 font16 mx-4" >
                              13:00 - 17:00
                          </div>

                          <div class="col-12">
                              <ul style="margin-left: -15px !important;">
                                  <li class="list mt-4" v-for="a, i in t_afternoon">
                                      <div class="list-time">
                                          <div class="form-check text font16">
                                              <input class="form-check-input" type="radio" name="mn_time"
                                                  v-bind:id="'time_a' + i" v-bind:value="a.slot.time" v-model="selected_time" :disabled="a.not_select">
                                              <label class="form-check-label cl-CI"
                                                  v-bind:for="'time_a' + i" style="margin-top:2px">
                                                  {{a.slot.time}} PM
                                              </label>
                                          </div>
                                      </div>

                                      <p class="text mt-2" style="color: #828282 !important;font-size: 12px;">
                                        {{lang_txt.Available[lang_choose]}} {{a.slot.available_min}}/{{a.slot.available_max}}
                                      </p>
                                  </li>
                              </ul>
                          </div>

                      </div>
                  </div>
              </div>
              <div class="col-12 text-end mt-4 mb-4">
                  <button type="button" class="btn btn-warning text font16" @click="save_datetime_slot()">{{lang_txt.Summary[lang_choose]}}</button>
              </div>
          </div>
      </div>
        </div>
    </div>
    </div>
  </div>

</body>
<style>
   .ui-state-highlight,
    .ui-widget-content .ui-state-highlight,
    .ui-widget-header .ui-state-highlight {
        border: 1px solid #c5c5c5;
        background: #f6f6f6;
        font-weight: normal;
        color: #454545;
    }
    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
        border: 1px solid #fff ;
        background: #fff;
        font-weight: normal;
        color: #454545;
    }
    .ui-state-active,
    .ui-widget-content .ui-state-active,
    .ui-widget-header .ui-state-active,
    a.ui-button:active,
    .ui-button:active,
    .ui-button.ui-state-active:hover {
        background-color: #1667b2;
        border: 1px solid #1667b2;
        color: #fff;
    }

    .ui-state-active,
    .ui-widget-content .ui-state-active,
    .ui-widget-header .ui-state-active,
    a.ui-button:active,
    .ui-button:active,
    .ui-button.ui-state-active:hover {
        background-color: #1667b2;
        border: 1px solid #1667b2;
        color: #fff;
    }
    .ui-widget-header {
        background-color: #fff;
        border: 1px solid #fff;
    }
    
</style>
<!-- <script type="text/javascript" src="js/jquery-3.3.1.js"></script> -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/3.0.16/svg.min.js" type="text/javascript"></script>
<script src="https://unpkg.com/clipboard@2.0.0/dist/clipboard.min.js"></script>
<script src="node_modules/@svgdotjs/svg.draggable.js/dist/svg.draggable.js"></script>
<!-- MY ITEM -->
<script type="text/javascript" src="components/booked.js?v=1"></script>
<script type="text/javascript" src="components/common.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9jmdshQjxAHSybRrbJ_ladqyHShrgDwI&callback=initMap&libraries=places&v=weekly"
    defer></script>

</html>