<section>

  <div class="container-fluid">
    <div id='file-dropzone-upload-certificate' class="dropzone" style="display: none;"></div>
    <div class="row">

      <div class="col-12 md36-g2 border-start border-5" style="border-color: #0058A9 !important;">
        {{lang_txt.digital_cer[lang_choose]}}
      </div>

      <!-- <button type="button" class="btn btn-primary" @click="gen_cert()">
        Digital Certificate
      </button> -->

      <!-- <div class="col-12">
        <p class="md16-g1">{{lang_txt.account[lang_choose]}}</p>
        <p class="rg14-g3">{{lang_txt.have_not[lang_choose]}}</p>
        <button type="button" class="btn btn-outline-primary" @click="gotoDigital_detail">{{lang_txt.request_cer[lang_choose]}}</button>
      </div>

      <div class="col-12 px-0 mt-3 mb-3">
        <hr class="w-100 bg-BD">
      </div> -->

      <div class="col-xl-8 col-lg-10 col-12 mt-5 px-0">
        <div class="table-responsive">
          <table class="table table-hover border bg-FF">
            <thead>
              <tr>
                <th>{{lang_txt.id_cert[lang_choose]}}</th>
                <th>{{lang_txt.name_cert[lang_choose]}}</th>
                <th>{{lang_txt.date[lang_choose]}}</th>
                <th>{{lang_txt.exp[lang_choose]}}</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="l,i in list_cer">
                <td class="text-nowrap"> {{l.cer_id}} </td>
                <td class="text-nowrap">{{l.cer_name}}</td>
                <td class="text-nowrap">{{ l.cer_start | fomat_date }}</td>
                <td class="text-nowrap">{{ l.cer_exp | fomat_date }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>

</section>
