<section>
  <div class="container-fluid">
    <div id='file-dropzone-upload-logo' class="dropzone" style="display: none;"></div>
    <div class="row">
      <div class="col-12 px-0 md24-g2">
        {{lang_txt.title[lang_choose]}}
      </div>
      <div class="col-12 px-0 mt-3">
        <hr class="w-100 bg-BD">
      </div>
    </div>
 

    <div class="row">
      <div class="col-12 mt-2 px-0 md18-g1">
        {{lang_txt.com_set[lang_choose]}}
      </div>
      <div class="col-12 mt-2 px-0 md14-g2">
        {{lang_txt.logo_set[lang_choose]}}
      </div>

      <div class="col-12 px-0 mt-4">
        <!-- <img v-bind:src="'../face/images/card/' + template.LOGO + '.png'" alt="Logo" class="cs-pointer img_logo"
          @error="change_img_profile" onclick="$('#file-dropzone-upload-logo').click();"> -->
          <div class="max-limit-logo-company" v-if="company_detail.companyLogo">
              <img v-bind:src="'/face/images/card/' + company_detail.companyLogo + '.png'" class="cs-pointer w-100" onclick="$('#file-dropzone-upload-logo').click();" v-if="myRole == 'ADMIN'">
              <img v-bind:src="'/face/images/card/' + company_detail.companyLogo + '.png'" class="w-100" v-else>
          </div>
      </div>

      <div class="col-12 mt-4 px-0">
        <span class="bg-FF" style="padding: 5px 0px 9px 0px;">
          <button type="button" class="btn btn-outline-primary" onclick="$('#file-dropzone-upload-logo').click();" :disabled="myRole == 'USER'">
            {{lang_txt.upload_img[lang_choose]}}
          </button>

          <button type="button" class="btn btn-outline-danger" @click="remove_logo_company" v-if="company_detail.companyLogo" :disabled="myRole == 'USER'">
            {{lang_txt.remove[lang_choose]}}
          </button>
        </span>
      </div>

      <div class="col-12 cl-F0 lg14-g2 mt-2 px-0">
        {{lang_txt.sup_file[lang_choose]}}
      </div>

      <div class="col-12 px-0">
        <hr class="w-100 bg-BD">
      </div>

    </div>



    <div class="row">

      <div class="col-12 mt-3 px-0 md18-g1">
        {{lang_txt.detail_company[lang_choose]}}
      </div>

      <div class="col-lg-5 col-md-8 col-12 px-0">
        <div class="row">

          <div class="col-12 rg14-g1 mt-3">
            {{lang_txt.com_name[lang_choose]}}
            <input type="text" class="form-control mt-2" v-model="company_detail.companyName" :disabled="myRole == 'USER'">
          </div>

          <div class="col-12 rg14-g1 mt-3">
            {{lang_txt.com_id[lang_choose]}}
            <input type="text" class="form-control mt-2" v-model="company_detail.companyTaxNo" :disabled="myRole == 'USER'">
          </div>

          <div class="col-12 rg14-g1 mt-3">
            {{lang_txt.location[lang_choose]}}
            <input type="text" class="form-control mt-2" v-model="company_detail.companyBranch" :disabled="myRole == 'USER'">
          </div>

          <div class="col-12 rg14-g1 mt-3">
            {{lang_txt.address[lang_choose]}}
            <textarea class="form-control" rows="4" v-model="company_detail.companyAddress" :disabled="myRole == 'USER'"></textarea>
          </div>

        </div>
      </div>

      <div class="col-12 px-0 mt-5">
        <button type="button" class="btn btn-primary" @click="save_detail_company" :disabled="myRole == 'USER'">{{lang_txt.save[lang_choose]}}</button>
        <button type="button" class="btn btn-light ms-3" @click="cancel_edit_company()" :disabled="myRole == 'USER'">{{lang_txt.cancel[lang_choose]}}</button>
      </div>


    </div>



  </div>
</section>