<section>
  <div class="container-fluid">
    <!-- รายละเอียดเอกสาร -->
    <div class="row">
      <p class="md36-g2"> {{lang_txt.please_sign[lang_choose]}} {{sign_obj.subject}} .pdf</p>
    </div>
    <!-- new  BLa -->
    <div class="row">
      <div class="col-md-6 col-12">
        <div class="d-flex flex-row p-2">
          <div class="col-4">
            <p class="md18-g2 cl-CI">{{lang_txt.doc_id[lang_choose]}}</p>
            <p class="md18-g2 cl-CI">{{lang_txt.status[lang_choose]}}</p>
            <p class="md18-g2 cl-CI">{{lang_txt.sender[lang_choose]}}</p>
            <p class="md18-g2 cl-CI">{{lang_txt.sent_date[lang_choose]}}</p>
            <p class="md18-g2 cl-CI">{{lang_txt.Document_category[lang_choose]}}</p>
            <p class="md18-g2 cl-CI">{{lang_txt.Screener_Review[lang_choose]}}</p>
          </div>
          <div class="col-8">
            <p class="rg18-g1">: {{sign_obj.id}}</p>
            <p class="rg18-g1">:
              <span v-if="sign_obj.status == 1 || sign_obj.status == '1'">{{lang_txt.complete[lang_choose]}}</span>
              <span v-else-if="sign_obj.status == 3 || sign_obj.status == '3'">{{lang_txt.cancel[lang_choose]}}</span>
              <span v-else>{{lang_txt.incomplete[lang_choose]}}</span>
            </p>
            <p class="rg18-g1">: {{sign_obj.owner_name}} ({{sign_obj.owner}})</p>
            <p class="rg18-g1">: {{sign_obj.time}}</p>
            <p class="rg18-g1">: {{tag_folder}}</p>

            <p class="rg18-g1 cl-red" v-if="approvesec == false && sign_obj.is_have_inspector">:
              {{lang_txt.Not_verified[lang_choose]}}</p>
            <p class="rg18-g1 cl-21" v-else-if="approvesec && sign_obj.is_have_inspector">:
              {{lang_txt.Pass[lang_choose]}}</p>
            <p class="rg18-g1 cl-21" v-else>:
              {{lang_txt.Pass[lang_choose]}}</p>
            
          </div>

        </div>
        <div class="d-flex flex-row p-2">
          <div class="col-12">
          <!-- btn sign -->
           <span v-if="sign_obj.is_have_inspector"> <!-- เอกสารต้องการ การอนุติ  -->
              <!-- เอกสารไม่สำเร็จ  เป็นคนเซน อนุมัติด้วย ไม่อนุมัติ จะกดอีกไม่ได้ -->
              <button v-if="sign_obj.status == 0 && Need_Sign && (approvesec == 'unapprove' || approvesec == true) && approve" 
              class="btn btn-secondary shadow-btn cs-no-drop me-2">{{lang_txt.approve[lang_choose]}}</button>
              <!-- เอกสารไม่สำเร็จ เป็นคนอนุติ  เป็นคนเซน -->
              <button v-else-if="sign_obj.status == 0 && approve && Need_Sign && approvesec == false"  
              class="btn btn-info cl-FF shadow-btn me-2" @click="open_document()">{{lang_txt.approve[lang_choose]}}</button>
              <!-- เอกสารไม่สำเร็จ  เป็นคนเซน และอนุมัติแล้ว -->
              <button v-else-if="sign_obj.status == 0 && Need_Sign && approvesec"  
              class="btn btn-info cl-FF shadow-btn me-2" @click="open_document()">{{lang_txt.sign[lang_choose]}}</button>
              <!-- เอกสารสำเร็จ-->
              <button v-else-if="sign_obj.status == 1" class="btn bg-in cl-FF shadow-btn me-2"
              @click="open_document_success()">{{lang_txt.view_document[lang_choose]}}</button> 
              <button v-else class="btn btn-secondary shadow-btn cs-no-drop me-2">{{lang_txt.sign[lang_choose]}}</button>
            </span>
            <span v-else><!-- เอกสารไม่ต้องการ การอนุติ  -->
              <!-- เอกสารไม่สำเร็จ เป็นคนเซน -->
            <button v-if="sign_obj.status == 0 && Need_Sign" 
              class="btn btn-info cl-FF shadow-btn me-2" @click="open_document()">{{lang_txt.sign[lang_choose]}}</button>
              <!-- เอกสารสำเร็จ-->
            <button v-else-if="sign_obj.status == 1" class="btn bg-in cl-FF shadow-btn me-2"
              @click="open_document_success()">{{lang_txt.view_document[lang_choose]}}</button> 
            <button v-else class="btn btn-secondary shadow-btn cs-no-drop me-2">{{lang_txt.sign[lang_choose]}}</button>
            </span>

            <!-- btn cancle -->
            <button class="btn bg-orange cl-FF me-2 shadow-btn" v-if="chk_btn_cancle && !isUseApprove"
              data-bs-toggle="modal" data-bs-target="#cancleModal">{{lang_txt.cancel[lang_choose]}}</button>
            <button class="btn btn-secondary shadow-btn cs-no-drop me-2"
              v-else>{{lang_txt.cancel[lang_choose]}}</button>

            <button type="button" class="btn bg-red cl-FF me-2"
              @click="delTrash_single(sign_obj.id)">{{lang_txt.Delete[lang_choose]}}</button>

            <!-- btn download -->
            <button class="btn btn-info shadow-btn me-2 cl-FF" data-bs-toggle="modal" data-bs-target="#downloadModal"
              v-if="sign_obj.status == 1 && approvesec ">{{lang_txt.download[lang_choose]}}</button>
          </div>
        </div>
      </div>
      <hr class="mt-2 mb-2">
    </div>
    <div class="row">
      <div class="col-md-8 col-12">
        <div class="row">
          <div class="col-7 rg18-g1">
            {{lang_txt.recip[lang_choose]}} <span class="cl-CI"
              v-if="sign_obj.use_signing_order">({{lang_txt.sign_order[lang_choose]}})</span>
          </div>
          <div class="col-5 rg18-g1">
            {{lang_txt.sign_status[lang_choose]}}
          </div>
          <hr class="w-100 bg-BD mt-2">
        </div>
        <div class="row" v-for="r,i in sign_obj.signers">
          <div class="col-7">
            <p class="rg14-g1 mb-0">
              <span class="cl-CI me-2" v-if="sign_obj.use_signing_order">{{r.order_set}}.</span>
              {{r.name}}
              <span class="cl-BD " v-if="r.is_group">({{lang_txt.at_least[lang_choose]}} {{r.amount_least_sign}}
                {{lang_txt.people[lang_choose]}} ) </span>
            </p>
            <div v-if="r.is_group">
              <p class="rg12-g3 mb-0" v-for="g,j in sign_obj.signers[i].user_group">
                <span class="cl-CI me-2" v-if="sign_obj.use_signing_order"> &nbsp;&nbsp; </span>
                ({{g.email}})
              </p>
            </div>
            <p class="rg12-g3" v-else>
              <span class="cl-CI me-2" v-if="sign_obj.use_signing_order"> &nbsp;&nbsp; </span>
              ({{r.email}})
            </p>
            <div v-if="is_owner">
              <p class="md14-g1 cl-CI mb-0 mt-2" v-if="r.private_mail != undefined"><i
                  class="fas fa-envelope-open-text"></i> {{lang_txt.pri_mess[lang_choose]}}</p>
              <p class="rg12-g3 mb-0" v-if="r.private_mail != undefined">{{r.private_mail}} </p>
              <p class="rg12-g3" v-if="r.usePassword"> <i class="fas fa-key"></i> {{lang_txt.pass_access[lang_choose]}}:
                {{r.password}} </p>
            </div>
            <div v-else-if="chk_role_private && private_signer_mail == r.email">
              <p class="md14-g1 cl-CI mb-0 mt-2" v-if="r.private_mail != undefined"><i
                  class="fas fa-envelope-open-text"></i> {{lang_txt.pri_mess[lang_choose]}}</p>
              <p class="rg12-g3 mb-0" v-if="r.private_mail != undefined">{{r.private_mail}} </p>
              <p class="rg12-g3" v-if="r.usePassword"> <i class="fas fa-key"></i> {{lang_txt.pass_access[lang_choose]}}:
                {{r.password}} </p>
            </div>
            <div v-else-if="r.is_group" v-for="g,j in sign_obj.signers[i].user_group">
              <div v-if="chk_role_private && private_signer_mail == g.email">
                <p class="md14-g1 cl-CI mb-0 mt-2" v-if="r.private_mail != undefined"><i
                    class="fas fa-envelope-open-text"></i> {{lang_txt.pri_mess[lang_choose]}}</p>
                <p class="rg12-g3 mb-0" v-if="r.private_mail != undefined">{{r.private_mail}} </p>
                <p class="rg12-g3" v-if="r.usePassword"> <i class="fas fa-key"></i>
                  {{lang_txt.pass_access[lang_choose]}}: {{r.password}} </p>
              </div>
            </div>


          </div>
          <div class="col-5 rg16-g1">
            <p class="rg14-g1 mb-0 cl-21" v-if="r.status_sign_user == 1">
              {{ (r.is_inspector)? lang_txt.approvecomplete[lang_choose] : lang_txt.complete[lang_choose]}}
              <i class="fas fa-check-double"></i>
            </p>
            <p class="rg14-g1 mb-0 cl-F2" v-else>
              {{ (r.is_inspector)? lang_txt.approveincomplete[lang_choose] : lang_txt.incomplete[lang_choose]}}
              <i class="fas fa-info-circle"></i>
            </p>
            <p class="rg12-g3 mb-0 ">{{get_time_sign(i,r.email,r.position_id)}}</p>
          </div>
          <hr class="w-100 bg-BD mt-2">
        </div>

        <div class="row" v-if="sign_obj.setting_pdf">
          <div class="col-12">
            <p class="md24-g2">{{lang_txt.All_Document[lang_choose]}}</p>
            <div class="card mb-2" v-for="r,i in sign_obj.setting_pdf">
              <div class="card-body d-flex flex-row p-2">
                <div style="width: 10%;">
                  <i class="fas fa-file-pdf cl-red" style="font-size: 36px;"></i>
                </div>
                <div style="width: 85%;">
                  <p class="lg14-g1 mb-0 text-truncate d-block"> {{r.originalFile_name}} </p>
                  <span class="lg14-g1">Tag : </span>
                  <span class="badge rounded-pill bg-orange"
                    v-if="r.type_document == 'memo'">{{lang_txt.Memo_doc2[lang_choose]}}</span>
                  <span class="badge rounded-pill bg-info" v-else>{{lang_txt.General_doc2[lang_choose]}}</span>

                  <span class="badge rounded-pill bg-green-1" v-if="r.tag_folder == 'Public'">Public</span>
                  <span class="badge rounded-pill bg-CI" v-else-if="r.tag_folder == 'Private'">Private</span>
                  <span class="badge rounded-pill bg-red" v-else-if="r.tag_folder == 'Confidential'">Confidential</span>

                </div>
                <div style="width: 5%;" class="lg14-g1" v-if="sign_obj.status == 1 || sign_obj.status == '1'">
                  <i class="fas fa-download mt-2 me-2" style="font-size: 20px;" data-bs-toggle="modal"
                    data-bs-target="#downloadModal"></i>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-4 col-12 text-center">
        <img v-bind:src="img1" class="img_detail_document" alt="document">
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="cancleModal" tabindex="-1" aria-labelledby="cancleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="cancleModalLabel">{{lang_txt.cancel[lang_choose]}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-12">
              <label class="text font20">{{lang_txt.note[lang_choose]}}</label>
            </div>
            <div class="col-12">
              <textarea rows="4" cols="50" v-model="mgs_canceldoc" class="form-control"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"
            data-bs-dismiss="modal">{{lang_txt.close[lang_choose]}}</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
            @click="cancel_document">{{lang_txt.save[lang_choose]}}</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Download-->
  <div class="modal" id="downloadModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{lang_txt.download[lang_choose]}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>{{lang_txt.download_detail[lang_choose]}} :</p>
          <div class="row">
            <div class="col-1">
              <input class="form-check-input" type="checkbox" :disabled='chk_download_combine'
                @change='chk_download_ch(0)' v-model="chk_download_all" />
            </div>
            <div class="col-11">
              <span>{{lang_txt.download_all[lang_choose]}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-1">
              <input class="form-check-input" type="checkbox" :disabled='chk_download_combine'
                @change='chk_download_ch(1)' v-model="chk_download_document" />
            </div>
            <div class="col-11">
              <span>{{lang_txt.download_document[lang_choose]}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-1">
              <input class="form-check-input" type="checkbox" :disabled='chk_download_combine'
                @change='chk_download_ch(2)' v-model="chk_download_cert" />
            </div>
            <div class="col-11">
              <span>{{lang_txt.download_cert[lang_choose]}}</span>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-1">
              <input class="form-check-input" type="checkbox" @change='chk_download_ch(3)'
                v-model="chk_download_combine" />
            </div>
            <div class="col-11">
              <span>{{lang_txt.combine[lang_choose]}}</span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"
            data-bs-dismiss="modal">{{lang_txt.cancel_download[lang_choose]}}</button>
          <button type="button" class="btn btn-primary"
            @click="submitDownload">{{lang_txt.download[lang_choose]}}</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="loadingModal" tabindex="-1" aria-labelledby="loadingModalLabel" aria-hidden="true"
    data-bs-backdrop="static">
    <div class="modal-dialog modal-sm modal-dialog-centered">
      <div class="modal-content modal-none-bg">
        <div class="modal-body text-center">
          <div class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>