<header>
  <nav class="navbar header position-fixed shadow-sm">
    <div class="container-fluid">
      <a class="navbar-brand text-logo logo" href="#/dashboard">
        <img src="images/Creden_logo.png" alt="logo creden website" class="d-inline-block align-top ">
        <!-- eSignature -->
        <span class="md36-g2">e-Signature</span>
      </a>


      <!-- profile pc -->
      <form class="d-flex">
        <img src="images/thai-flag.svg" alt="" class="flag-size cs-pointer mx-lg-1 mx-2"> 
        <!-- <img src="images/eng-flag.svg" alt="" class="flag-size cs-pointer mx-lg-1 mx-2">  -->
        <span class="rg14-g2 mt-2 pt-1 mx-2 pc">ภาษาไทย</span>
        <span class="pc border-profile"></span>

        <div class="dropdown me-2 pt-1 pc">

          <a href="#" role="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            <img v-if="myProfile" v-bind:src="myProfile" alt="profile" class="pic-profile ms-2 radius50">
            <img v-else src="images/profile.png" alt="profile" class="pic-profile ms-2 pc">
          </a>

          <ul class="dropdown-menu dropdown-profile" aria-labelledby="dropdownMenuButton">
            <li class="d-block">
              <div class="profile-box-img">
                <div class="max-profile-detail">
                  <img v-if="myProfile" v-bind:src="myProfile" alt="profile" class="pic-profile2 radius50">
                  <img v-else src="images/profile.png" alt="profile" class="w-100">
                </div>
              </div>
              <div class="profile-box-text">
                <div class="row">
                  <div class="col-12 rg14-g1 text-overflow-dot">
                    {{myFirstname}} {{myLastname}}
                  </div>
                  <div class="col-12 rg12-g1">
                    {{myEmail}}
                  </div>
                  <div class="col-12 rg12-g1 cl-2F">
                    -
                  </div>
                </div>
              </div>
              <div class="w-100 text-end rg10-g3 cl-CI pb-2">
                <span class="cs-pointer" @click="logout()">
                  <i class="fas fa-sign-out-alt"></i> ออกจากระบบ
                </span>
              </div>
            </li>
          </ul>

        </div>


        <div class="float-end mb">
          <button class="btn mb cl-CI" type="button" onclick="openNav()" id="burger-open">
            <i class="fas fa-bars"></i>
          </button>
        </div>

      </form>

    </div>
  </nav>
</header>