<section>

  <div class="container-fluid">

    <div class="row">

      <div class="col-12 md24-g2 px-0">
        {{lang_txt.title[lang_choose]}}
      </div>
 
      <div class="row">
        <div class="col-12 md16-g2 px-0 mt-4">
          {{lang_txt.your_pack[lang_choose]}}
        </div>
        <div class="col-12 mt-3 rg24-g2 px-0">
          <img src="images/Creden_logos_ICON_2-Tones.ico" alt="logo" style="width: 27px;">
          {{plan.package | firstUpper}} Package
        </div>
        <!-- <div class="col-12 mt-2 rg14-g3 px-0">
          การเป็นสมาชิกแพ็คเกจ {{plan.package | firstUpper}}
        </div> -->
        <div class="col-12 mt-3 rg14-g3 px-0" v-if="plan.active_start_date">
          {{lang_txt.start_active[lang_choose]}} {{ plan.active_start_date | dateThai }}
        </div>
        <div class="col-12 mt-3 rg14-g3 px-0" v-if="plan.active_expire_date">
          {{lang_txt.pack_exp[lang_choose]}} {{ plan.active_expire_date | dateThai }}
        </div>

        <div class="col-12 mt-4 px-0">
          <hr class="w-100 bg-BD">
        </div>

      </div>

    </div>


    <div class="row">

      <div class="col-lg-8 col-12 px-0 mt-3">
        <div class="row">
          <div class="col-12 md16-g2">
            {{lang_txt.used_title[lang_choose]}}
          </div>

          <div class="col-lg-6 col-12 mt-4">
            <div class="row">
              <div class="col-12 rg18-g1">
                <i class="fas fa-cloud"></i> &nbsp;&nbsp;{{lang_txt.storage[lang_choose]}}
              </div>
              <div class="col-12 px-5 py-1">
                <div class="progress h-progress-02">
                  <div class="progress-bar" role="progressbar" v-bind:style="{ width: plan.use_storage_percent + '%'}" v-bind:aria-valuenow="plan.use_storage_percent" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
              </div>
              <div class="col-12 lg14-g3 px-5 py-1">
                {{lang_txt.used[lang_choose]}} {{plan.use_storage_gb}} {{lang_txt.from[lang_choose]}} {{plan.max_storage}} GB
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-12 mt-4">
            <div class="row">
              <div class="col-12 rg18-g1">
                <i class="fas fa-file"></i> &nbsp;&nbsp;{{lang_txt.used_title[lang_choose]}}
              </div>
              <div class="col-12 px-5 py-1">
                <div class="progress h-progress-02">
                  <div class="progress-bar" role="progressbar" v-bind:style="{ width: plan.use_doc_percent + '%'}" v-bind:aria-valuenow="plan.use_doc_percent" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
              </div>
              <div class="col-12 lg14-g3 px-5 py-1">
                {{lang_txt.used[lang_choose]}} {{plan.doc_used}} 
                <span v-if="plan.max_doc == 'UNLIMIT'">(Document Unlimited)</span>
                <span v-else>{{lang_txt.from[lang_choose]}} {{plan.max_doc}}</span>
              </div>
            </div>
          </div>


          <div class="col-lg-6 col-12 mt-4">
            <div class="row">
              <div class="col-12 rg18-g1">
                <i class="fas fa-users"></i> &nbsp;&nbsp;{{lang_txt.count_user[lang_choose]}}
              </div>
              <div class="col-12 px-5 py-1">
                <div class="progress h-progress-02">
                  <div class="progress-bar" role="progressbar" v-bind:style="{ width: plan.use_members_percent + '%'}" v-bind:aria-valuenow="plan.use_members_percent" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
              </div>
              <div class="col-12 lg14-g3 px-5 py-1">
                {{lang_txt.used[lang_choose]}} {{plan.member_used}} {{lang_txt.from[lang_choose]}} {{plan.users}}
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-12 mt-4">
            <div class="row">
              <div class="col-12 rg18-g1">
                <i class="fas fa-users"></i> &nbsp;&nbsp;{{lang_txt.kyc[lang_choose]}}
              </div>
              <div class="col-12 px-5 py-1">
                <div class="progress h-progress-02">
                  <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
              </div>
              <div class="col-12 lg14-g3 px-5 py-1">
                {{lang_txt.used[lang_choose]}} 1 {{lang_txt.from[lang_choose]}} 15
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="col-12 px-0 mt-3">
        <hr class="w-100 bg-BD">
      </div>

    </div>

    <div class="row">
      <div class="col-12 md16-g2 px-0 mt-3">
        {{lang_txt.have_feature[lang_choose]}}
      </div>

      <div class="col-lg-8 col-12 px-0 mt-3">

        <table>
          <tbody>
            <tr v-for="r in plan.features">
              <td class="cl-CI md16-g1 pt-2" v-if="r.value">{{r.value}}</td>
              <td class="cl-CI md16-g1 pt-2" v-else><i class="fas fa-check"></i></td>
              <td class="rg14-g2 ps-4 pt-2">{{r.detail}}</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>

    <div class="row">
      <div class="col-12 md16-g2 px-0 mt-3" v-if="plan.use_add_on">
        {{lang_txt.add_on[lang_choose]}}
      </div>
      <div class="col-12 md16-g2 px-0 mt-2">
        <table>
          <tbody>
            <tr v-if="plan.advance_func">
              <td class="cl-CI md16-g1"><i class="fas fa-check"></i></td>
              <td class="rg14-g2 ps-4 pt-2">Advance Functions (30 Days)</td>
            </tr>
            <tr v-for="r, i in plan.storage">
              <td class="cl-CI md16-g1 pt-2">{{r.size}} GB</td>
              <td class="rg14-g2 ps-4 pt-2">{{r.name}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-12 rg14-g2 px-0 mt-4">
        {{lang_txt.have_feature[lang_choose]}}
      </div>
      <div class="col-12 px-0 mt-3 mb-4">
        <button type="button" class="btn btn-warning" @click="goto_pricing()" v-if="plan.package != 'free'">
          {{lang_txt.buy_main[lang_choose]}}
        </button>
        <button type="button" class="btn btn-warning" @click="goto_pricing()" v-else>
          {{lang_txt.buy_main[lang_choose]}}
        </button>
      </div>
      <!-- <div class="col-12 px-0 mt-3">
        <hr class="w-100 bg-BD">
      </div> -->
      <!-- <div class="col-12 md16-g2 px-0 mt-3">
        รูปแบบการชำระเงิน
      </div>
      <div class="col-12 rg14-g3 px-0 mt-3">
        คุณยังไม่ได้ซื้อแพ็คเกจ
      </div> -->
    </div>



  </div>

</section>