<section>
  <div id='file-dropzone-upload-profile' class="dropzone" style="display: none;"></div>

  <div class="container-fluid">
    <!-- position-alert -->
    <div class="" v-if="alert">
      <div class="alert  alert-dismissible alert-success fade show" role="alert" v-if="alert_success">
        <strong><i class="fas fa-check-double"></i></strong> {{msg_alert}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
          @click='close_alert'></button>
      </div>
      <div class="alert  alert-dismissible alert-danger fade show" role="alert" v-else>
        <strong>!</strong> {{msg_alert}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
          @click='close_alert'></button>
      </div>
    </div>

    <div class="row">
      <div class="col-12 md24-g2 px-0">
        <label class="md36-g2 border-start border-5 border-left">&nbsp;{{lang_txt.profile_title[lang_choose]}}</label>


      </div>
      <div class="col-12 px-0">
        <hr class="w-100 bg-BD">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-12 px-0">
        <div class="row">
          <div class="col-lg-6 col-8 mt-4">
            <div class="mb-3">
              <label class="form-label rg20-g1">{{lang_txt.email[lang_choose]}}</label>
              <input type="email" class="form-control" v-model="user_email" readonly>
            </div>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-lg-6 col-8">
            <label class="form-label rg18-g1">{{lang_txt.phone[lang_choose]}}</label>
            <input type="text" class="form-control" v-model="user_phone" readonly>
          </div>
          <div class="col-4 pd-t-2">
            <p class="rg16-g1 cl-2F cs-pointer" data-bs-toggle="modal" data-bs-target="#editphoneModal">
              {{lang_txt.edit[lang_choose]}}</p>
          </div>
        </div> -->
        <div class="row">
          <div class="col-lg-6 col-8">
            <div class="mb-3">
              <label class="form-label rg20-g1">{{lang_txt.fname[lang_choose]}}</label>
              <input type="text" class="form-control" v-model="fname" readonly>
            </div>
            <!-- <div class="mb-3">
              <label class="form-label rg18-g1">{{lang_txt.mname[lang_choose]}}</label>
              <input type="text" class="form-control" v-model="mname">
            </div> -->
            <div class="mb-3">
              <label class="form-label rg20-g1">{{lang_txt.lname[lang_choose]}}</label>
              <input type="text" class="form-control" v-model="lname" readonly>
            </div>
          </div>
        </div>

      </div>
      <div class="col-12 rg20-g1 mt-3">
        {{lang_txt.img_profile[lang_choose]}}
      </div>
      <div class="col-12 mt-3">
        <img v-bind:src="img_profile" alt="my_profile" class="cs-pointer profile_img" v-if="img_profile != ''"
          @error="change_img_profile" onclick="$('#file-dropzone-upload-profile').click();">
        <img v-else src="images/profile.png" alt="my_profile" class="cs-pointer profile_img"
          onclick="$('#file-dropzone-upload-profile').click();" @error="change_img_profile">
      </div>
      <div class="col-12 px-0 my-3 mTop-m15">
        <button type="button" class="btn btn-info text-white"
          @click="save_profile">{{lang_txt.save[lang_choose]}}</button>
        <!-- <button type="button" class="btn btn-light" @click="get_profile">{{lang_txt.cancel[lang_choose]}}</button> -->
      </div>

    </div>

    <div class="row mt-5">
      <div class="col-12 md24-g2 px-0">
        <label class="md36-g2 border-start border-5 border-left">&nbsp;{{lang_txt.Identity[lang_choose]}}</label>
      </div>
      <div class="col-12 mt-2 md20-g2 px-0">
        {{lang_txt.Verification[lang_choose]}}
      </div>

      <div class="col-12 mt-2 md18-g2 px-0" v-if="chk_kyc_status==true">
        {{lang_txt.Level[lang_choose]}}&nbsp;&nbsp;&nbsp;<span class="cl-CI">IAL 2.3</span>
      </div>

      <div class="col-12 mt-4 px-0">
        <form name="ekycForm" method="post">
          <input type="hidden" name="ref_no" id="ref_no" />
          <input type="hidden" name="txid" id="txid" />
          <input type="hidden" name="card_reader_id" id="card_reader_id" />
          <input type="hidden" name="redirect_url" id="redirect_url" />
          <input type="hidden" name="adminEmail" id="adminEmail" />
          <input type="hidden" name="new_parameter" id="new_parameter" />
          <input type="hidden" name="verified_ekyc" id="verified_ekyc" />

        </form>
        <div v-if="can_kyc == true ">
          <button type="button" @click="goKyc_dipchip()"  class="btn btn-outline-primary ">
            {{lang_txt.Verification_Update[lang_choose]}} 
          </button>
        </div>
        <div v-else>
          <button type="button" @click="goKyc_dipchip()" disabled  class="btn btn-outline-primary ">
            {{lang_txt.Verification_Update[lang_choose]}} 
          </button>
        </div>
       
        <span class="text font_blue rg18-g3 cl-G3 d-block mt-2">{{lang_txt.Last_update[lang_choose]}} :
          {{lastupdateekyc}}</span>
        <!-- <button type="button" @click="goKyc()" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-outline-primary">
        อัพเดตการยืนยันตัวตน ONLINE
     </button> -->
        <!-- <span class="text font_blue font16">อัพเดทล่าสุด : {{lastupdateekyc}}</span> -->
      </div>
      <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@fat">Open modal for @fat</button> -->
    </div>
    <div class="col-12 px-0">
      <hr class="w-100 bg-BD">
    </div>
    <!-- <div class="row mt-3">
      <div class="col-12 md16-g1 mb-2">
        {{lang_txt.Notification[lang_choose]}}
      </div>
      <div class="col-12">
        <p class="rg16-g1"> <span class="fs-1 align-middle cl-21 me-3"><i class="fab fa-line"></i> </span>
          {{lang_txt.line_noti[lang_choose]}} : &nbsp;&nbsp;&nbsp;&nbsp;
          <span class="cl-CI cs-pointer text-decoration-underline" @click="connect_line">
            {{lang_txt.connect[lang_choose]}}
          </span>
        </p>
      </div>
    </div> -->
    <!-- <hr class="mt-0"> -->
    <!-- show signature -->
    <!-- <div class="row mt-3">
      <div class="col-12 md16-g1 mt-5 px-0">
        {{lang_txt.your_sig[lang_choose]}}
      </div>
      <div class="col-12 mt-3" v-if="draw">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="RadioDefaultSign" value="draw" v-model="select_sign"
            @change="set_signature">
          <img v-bind:src="user_signature[0].draw" @error="hide_img_sign(1)" alt="signature_draw" style="width: 200px;">
          <span class="rg16-g1 cl-2F cs-pointer"
            @click="remove_sing('_draw.png')">{{lang_txt.delete[lang_choose]}}</span>
        </div>
      </div>
      <div class="col-12 mt-3" v-if="gen">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="RadioDefaultSign" value="gen" v-model="select_sign"
            @change="set_signature">
          <img v-bind:src="user_signature[0].gen" @error="hide_img_sign(2)" alt="signature_gen" style="width: 200px;">
          <span class="rg16-g1 cl-2F cs-pointer"
            @click="remove_sing('_gen.png')">{{lang_txt.delete[lang_choose]}}</span>
        </div>
      </div>
      <div class="col-12 mt-4">
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
          data-bs-target="#createSignatureModal">
          {{lang_txt.create_sig[lang_choose]}}
        </button>
      </div>

      <div class="col-12 md16-g1 mt-5 px-0">
        {{lang_txt.your_initi[lang_choose]}}
      </div>
      <div class="col-12 mt-3" v-if="initial">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="RadioDefaultInitial" value="draw_initial"
            v-model="select_init" @change="set_signature">
          <img v-bind:src="user_signature[0].initial" @error="hide_img_sign(3)" alt="signature_draw_initial"
            style="width: 200px;">
          <span class="rg16-g1 cl-2F cs-pointer"
            @click="remove_sing('_draw_initial.png')">{{lang_txt.delete[lang_choose]}}</span>
        </div>
      </div>
      <div class="col-12 mt-3" v-if="gen_initial">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="RadioDefaultInitial" value="gen_initial"
            v-model="select_init" @change="set_signature">
          <img v-bind:src="user_signature[0].gen_initial" @error="hide_img_sign(4)" alt="signature_draw_initial"
            style="width: 200px;">
          <span class="rg16-g1 cl-2F cs-pointer"
            @click="remove_sing('_gen_initial.png')">{{lang_txt.delete[lang_choose]}}</span>
        </div>
      </div>
      <div class="col-12 mt-4">
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
          data-bs-target="#createSignatureinitialModal">
          {{lang_txt.create_sig[lang_choose]}}
        </button>
      </div>



    </div> -->

    <!-- <hr> -->
    <!-- รหัสผ่าน -->
    <!-- <div class="row mt-3">
      <div class="col-12">
        <p class="rg16-g1"> <i class="fas fa-key"></i> {{lang_txt.pass_title[lang_choose]}}
          <span class="cl-CI cs-pointer" v-if="change_pass"
            @click="close_div_resetpass">{{lang_txt.change_pass[lang_choose]}}</span>
          <span class="cs-pointer cl-CI" v-else-if="check_social_register && hash_pass == ''"
            @click="change_password_social">
            <div class="spinner-border text-primary spinner-border-sm" role="status" v-if="spiner">
              <span class="visually-hidden">Loading...</span>
            </div>
            <div v-else>
              {{lang_txt.change_pass[lang_choose]}}
            </div>
          </span>
          <span class="cl-CI cs-pointer" v-else="change_pass" @click="open_div_resetpass">
            {{lang_txt.change_pass[lang_choose]}}
          </span>
          <span class="cl-CI cs-pointer" v-else @click="change_password_social">{{lang_txt.change_pass[lang_choose]}}</span> 
        </p>
      </div>
    </div> -->

    <div class="row" v-if="change_pass">
      <!-- <div class="col-lg-8 col-12 px-0" v-if="change_pass_social">
        <div class="row">
          <div class="col-12 md16-g1 mt-3">
            {{lang_txt.pass_title[lang_choose]}}
          </div>
          <div class="col-lg-6 col-12 mt-3">
            <div class="mb-3">
              {{lang_txt.new_pass[lang_choose]}}
              <div class="input-group mb-3" v-if="show_pass">
                <input type="text" class="form-control border-end-0" v-model="new_password" maxlength="16"
                  @input="chk_format_password">
                <button class="btn line-bd-CF bg-FF border-start-0" type="button" @click="showpass(2)"><i
                    class="fas fa-eye"></i></button>
              </div>
              <div class="input-group mb-3" v-else>
                <input type="password" class="form-control border-end-0" v-model="new_password" maxlength="16"
                  @input="chk_format_password">
                <button class="btn line-bd-CF bg-FF border-start-0" type="button" @click="showpass(1)"><i
                    class="fas fa-eye-slash"></i></button>
              </div>
              <div class="form-text rg10-g3" id="pass_spt">{{lang_txt.max_cha[lang_choose]}}</div>
              <div class="form-text rg10-g3" id="pass_t">{{lang_txt.upper_case[lang_choose]}}</div>
              <div class="form-text rg10-g3" id="pass_num">{{lang_txt.numeric[lang_choose]}}</div>
            </div>


            <div class="mb-3">
              {{lang_txt.confirm_new_pass[lang_choose]}}
              <div class="input-group mb-3" v-if="show_con_pass">
                <input type="text" class="form-control border-end-0" v-model="con_password" maxlength="16"
                  @input="chk_format_password_con">
                <button class="btn line-bd-CF bg-FF border-start-0" type="button" @click="show_conpass(2)"><i
                    class="fas fa-eye"></i></button>
              </div>
              <div class="input-group mb-3" v-else>
                <input type="password" class="form-control border-end-0" v-model="con_password" maxlength="16"
                  @input="chk_format_password_con">
                <button class="btn line-bd-CF bg-FF border-start-0" type="button" @click="show_conpass(1)"><i
                    class="fas fa-eye-slash"></i></button>
              </div>
              <div class="form-text rg10-g3" id="pass_spt_c">{{lang_txt.max_cha[lang_choose]}}</div>
              <div class="form-text rg10-g3" id="pass_t_c">{{lang_txt.upper_case[lang_choose]}}</div>
              <div class="form-text rg10-g3" id="pass_num_c">{{lang_txt.numeric[lang_choose]}}</div>
            </div>

            <div class="mb-3">
              <button type="button" class="btn btn-primary"
                @click="edit_password('sc')">{{lang_txt.save[lang_choose]}}</button>

              <button type="button" class="btn btn-light" @click="cancle_pass">{{lang_txt.cancel[lang_choose]}}</button>
            </div>
          </div>
        </div>
      </div> -->
      <!-- edit pass original -->
      <!-- <div class="col-lg-8 col-12 px-0" v-else>
        <div class="row">
          <div class="col-12 md16-g1 mt-3">
            {{lang_txt.pass_title[lang_choose]}}
          </div>
          <div class="col-lg-6 col-12 mt-3">
            <div class="mb-3">
              {{lang_txt.now_pass[lang_choose]}}
              <div class="input-group mb-3" v-if="show_old_pass">
                <input type="text" class="form-control border-end-0" v-model="password" maxlength="16">
                <button class="btn line-bd-CF bg-FF border-start-0" type="button" @click="show_oldpass(2)"><i
                    class="fas fa-eye"></i></button>
              </div>
              <div class="input-group mb-3" v-else>
                <input type="password" class="form-control border-end-0" v-model="password" maxlength="16">
                <button class="btn line-bd-CF bg-FF border-start-0" type="button" @click="show_oldpass(1)"><i
                    class="fas fa-eye-slash"></i></button>
              </div>
            </div>

            <div class="mb-3">
              {{lang_txt.new_pass[lang_choose]}}
              <div class="input-group mb-3" v-if="show_pass">
                <input type="text" class="form-control border-end-0" v-model="new_password" maxlength="16"
                  @input="chk_format_password">
                <button class="btn line-bd-CF bg-FF border-start-0" type="button" @click="showpass(2)"><i
                    class="fas fa-eye"></i></button>
              </div>
              <div class="input-group mb-3" v-else>
                <input type="password" class="form-control border-end-0" v-model="new_password" maxlength="16"
                  @input="chk_format_password">
                <button class="btn line-bd-CF bg-FF border-start-0" type="button" @click="showpass(1)"><i
                    class="fas fa-eye-slash"></i></button>
              </div>
              <div class="form-text rg10-g3" id="pass_spt">{{lang_txt.max_cha[lang_choose]}}</div>
              <div class="form-text rg10-g3" id="pass_t">{{lang_txt.upper_case[lang_choose]}}</div>
              <div class="form-text rg10-g3" id="pass_num">{{lang_txt.numeric[lang_choose]}}</div>
            </div>


            <div class="mb-3">
              {{lang_txt.confirm_new_pass[lang_choose]}}
              <div class="input-group mb-3" v-if="show_con_pass">
                <input type="text" class="form-control border-end-0" v-model="con_password" maxlength="16"
                  @input="chk_format_password_con">
                <button class="btn line-bd-CF bg-FF border-start-0" type="button" @click="show_conpass(2)"><i
                    class="fas fa-eye"></i></button>
              </div>
              <div class="input-group mb-3" v-else>
                <input type="password" class="form-control border-end-0" v-model="con_password" maxlength="16"
                  @input="chk_format_password_con">
                <button class="btn line-bd-CF bg-FF border-start-0" type="button" @click="show_conpass(1)"><i
                    class="fas fa-eye-slash"></i></button>
              </div>
              <div class="form-text rg10-g3" id="pass_spt_c">{{lang_txt.max_cha[lang_choose]}}</div>
              <div class="form-text rg10-g3" id="pass_t_c">{{lang_txt.upper_case[lang_choose]}}</div>
              <div class="form-text rg10-g3" id="pass_num_c">{{lang_txt.numeric[lang_choose]}}</div>
            </div>

            <div class="mb-3">
              <button type="button" class="btn btn-primary"
                @click="edit_password('edit')">{{lang_txt.save[lang_choose]}}</button>

              <button type="button" class="btn btn-light" @click="cancle_pass">{{lang_txt.cancel[lang_choose]}}</button>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>


  <!-- Modal -->
  <!-- ลายเซ็น -->
  <!-- <div class="modal fade" id="createSignatureModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createSignatureLabel">{{lang_txt.create_sig[lang_choose]}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <ul class="nav nav-tabs" id="TabcreateSignature" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link active" id="draw-tab" data-bs-toggle="tab" href="#draw" role="tab" aria-controls="draw"
                aria-selected="true">{{lang_txt.draw_sign[lang_choose]}}</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="gen-tab" data-bs-toggle="tab" href="#gen" role="tab" aria-controls="gen"
                aria-selected="false">{{lang_txt.gen_sign[lang_choose]}}</a>
            </li>
          </ul>
          <div class="tab-content mt-3" id="TabContentcreateSignature">
            <div class="tab-pane fade show active" id="draw" role="tabpanel" aria-labelledby="draw-tab">
              <div class="draw-box mb-3">
                <div class="wrapper">
                  <canvas id="signature-pad" class="signature-pad" width=400 height=100></canvas>
                </div>
              </div>
              <div class="text-end">
                <button type="button" class="btn btn-secondary"
                  @click="clearSignature(1)">{{lang_txt.clear[lang_choose]}}</button>
                <button type="button" class="btn btn-primary" @click="createSignature"
                  data-bs-dismiss="modal">{{lang_txt.create_sig[lang_choose]}}</button>
              </div>
            </div>
            <div class="tab-pane fade" id="gen" role="tabpanel" aria-labelledby="gen-tab">
              <div class="row">
                <div class="mb-3 col-6">
                  <label class="form-label">{{lang_txt.fname[lang_choose]}}</label>
                  <input type="text" class="form-control" v-model="sign_name">
                </div>
                <div class="col-6 mb-3">
                  <label class="form-label">{{lang_txt.font[lang_choose]}}</label>
                  <select class="form-select" aria-label="select font" v-model='font_sing'>
                    <option value="">{{lang_txt.select_font[lang_choose]}}</option>
                    <option value="worasait.ttf">Worasait</option>
                    <option value="Arthit.ttf">Arthit</option>
                    <option value="Sriracha.ttf">Sriracha</option>
                  </select>
                </div>
              </div>
              <div class="text-end">
                <button type="button" class="btn btn-secondary"
                  v-if="sign_name == '' && font_sing == ''">{{lang_txt.create_sig[lang_choose]}}</button>
                <button type="button" class="btn btn-primary" v-else @click="genSignature"
                  data-bs-dismiss="modal">{{lang_txt.create_sig[lang_choose]}}</button>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div> -->
  <!-- ลายเซ็นย่อ -->
  <!-- <div class="modal fade" id="createSignatureinitialModal" tabindex="-1"
    aria-labelledby="createSignatureinitialModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createSignatureinitialModalLabel">{{lang_txt.your_initi[lang_choose]}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <ul class="nav nav-tabs" id="TabcreateSignatureinitial" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link active" id="gen2-tab" data-bs-toggle="tab" href="#gen2" role="tab" aria-controls="gen2"
                aria-selected="false">{{lang_txt.draw_initi[lang_choose]}}</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="gen-initial" data-bs-toggle="tab" href="#gen_initial" role="tab"
                aria-controls="gen-initial" aria-selected="false">{{lang_txt.gen_initi[lang_choose]}}</a>
            </li>
          </ul>
          <div class="tab-content mt-3" id="TabContentcreateSignatureinitial">
            <div class="tab-pane fade  show active" id="gen2" role="tabpanel" aria-labelledby="contact-tab">
              <div class="draw-box-ps mb-3">
                <div class="wrapper">
                  <canvas id="signature-pad-initial" class="signature-pad" width=100 height=100></canvas>
                </div>
              </div>
              <div class="text-end">
                <button type="button" class="btn btn-secondary"
                  @click="clearSignature(2)">{{lang_txt.clear[lang_choose]}}</button>
                <button type="button" class="btn btn-primary" @click="createSignature_initial"
                  data-bs-dismiss="modal">{{lang_txt.create_sig[lang_choose]}}</button>
              </div>
            </div>
            <div class="tab-pane fade" id="gen_initial" role="tabpanel" aria-labelledby="gen-initial">
              <div class="row">
                <div class="mb-3 col-6">
                  <label class="form-label">{{lang_txt.fname[lang_choose]}}</label>
                  <input type="text" class="form-control" v-model="sign_name_initial" maxlength="3">
                </div>
                <div class="col-6 mb-3">
                  <label class="form-label">{{lang_txt.font[lang_choose]}}</label>
                  <select class="form-select" aria-label="select font" v-model='font_initia'>
                    <option value="">{{lang_txt.select_font[lang_choose]}}</option>
                    <option value="worasait.ttf">Worasait</option>
                    <option value="Arthit.ttf">Arthit</option>
                    <option value="Sriracha.ttf">Sriracha</option>
                  </select>
                </div>
              </div>
              <div class="text-end">
                <button type="button" class="btn btn-secondary"
                  v-if="sign_name_initial == '' && font_initia == ''">{{lang_txt.create_sig[lang_choose]}}</button>
                <button type="button" class="btn btn-primary" v-else data-bs-dismiss="modal"
                  @click="genSignature_initial">{{lang_txt.create_sig[lang_choose]}}</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div> -->
  <!-- เปลี่ยนเบอร์มือถือ -->
  <!-- <div class="modal fade" id="editphoneModal" tabindex="-1" aria-labelledby="editphoneModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 v-if="new_number == false" class="modal-title md18-g1" id="editphoneModalLabel">
            {{lang_txt.q_change_phone[lang_choose]}}</h5>
          <h5 v-else class="modal-title md18-g1" id="editphoneModalLabel">{{lang_txt.identity[lang_choose]}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div v-if="use_namber_phone == undefined">
            <p class="rg18-g1 text-center">{{lang_txt.confirm_phone[lang_choose]}} {{hide_phone}}
              {{lang_txt.still_active[lang_choose]}}</p>
          </div>
          <div v-else-if="use_namber_phone == false">
            <div class="text-center" v-if="new_number == false">
              <p class="rg18-g1 text-center">{{lang_txt.pls_con_email[lang_choose]}} {{user_email}}</p>
              <input type="text" class="form-control" v-model='otp_confirm'>
              <button type="button" class="btn btn-primary mt-2"
                @click="verify_otp_mail('email')">{{lang_txt.confirm[lang_choose]}}</button>
            </div>
            <div class="text-center" v-else-if="new_number == 'new'">
              <p class="rg18-g1 text-center">{{lang_txt.pls_enter_new_phone[lang_choose]}}</p>
              <input type="text" class="form-control" v-model='new_user_phone' placeholder="0899999999">
              <button type="button" class="btn btn-primary mt-2"
                @click="request_otp_mobile">{{lang_txt.confirm[lang_choose]}}</button>
            </div>
            <div class="text-center" v-else-if="new_number">
              <p class="rg18-g1 text-center">{{lang_txt.pls_con_phone[lang_choose]}} {{hide_new_phone}}</p>
              <input type="text" class="form-control" v-model='otp_confirm'>
              <p class="rg12-g1">{{lang_txt.dont_get_code[lang_choose]}}? <span class="cl-2F cs-pointer"
                  @click="request_otp_mobile">{{lang_txt.resend[lang_choose]}}</span> </p>
              <button type="button" class="btn btn-primary"
                @click="verify_otp_mail('mb')">{{lang_txt.confirm[lang_choose]}}</button>
            </div>
          </div>
          <div v-else-if="use_namber_phone">
            <div class="text-center">
              <p class="rg18-g1 text-center">{{lang_txt.pls_con_phone[lang_choose]}} {{hide_new_phone}}</p>
              <input type="text" class="form-control" v-model='otp_confirm'>
              <p class="rg12-g1">{{lang_txt.dont_get_code[lang_choose]}} <span class="cl-2F cs-pointer"
                  @click="request_otp_mobile">{{lang_txt.resend[lang_choose]}}</span> </p>
              <button type="button" class="btn btn-primary"
                @click="verify_otp_mail2">{{lang_txt.confirm[lang_choose]}}</button>
            </div>
          </div>
        </div>
        <div class="modal-footer" v-if="use_namber_phone == undefined">
          <button type="button" class="btn btn-secondary"
            @click="use_number(false)">{{lang_txt.inactive[lang_choose]}}</button>
          <button type="button" class="btn btn-primary"
            @click="use_number(true)">{{lang_txt.active[lang_choose]}}</button>
        </div>
      </div>
    </div>
  </div> -->

  <!-- modal otp change pass -->
  <!-- <div class="modal fade" id="otpChangePassModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby=""
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <p class="md16-g1 mt-3">
            {{lang_txt.pls_con_email[lang_choose]}} {{user_email}}
          </p>
          <input type="text" class="form-control" v-model="con_otp_mail">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" @click="verify_otp_mail_pass">Save</button>
        </div>
      </div>
    </div>
  </div> -->


  <!-- modal line QR -->
  <div class="modal fade" id="lineConnectModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createSignatureLabel">{{lang_txt.connectYourLine[lang_choose]}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row text-center">
            <div class="col-2 align-self-center">
              <i class="fas fa-arrow-alt-circle-left icon-step-qr" @click="next_step_qr"></i>
            </div>
            <div class="col-8">

              <!-- step1 -->
              <div class="qr-box" v-if="current_qr =='0'">
                <div class="pe-4 ps-4 pt-1 mt-2">
                  <div class="position-relative m-4">
                    <div class="progress" style="height: 1px;">
                      <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <button type="button"
                      class="position-absolute top-0 start-0 translate-middle btn btn-sm btn-primary rounded-pill"
                      style="width: 3rem; height:3rem;">1</button>
                    <button type="button"
                      class="position-absolute top-0 start-100 translate-middle btn btn-sm btn-secondary rounded-pill"
                      style="width: 2rem; height:2rem;">2</button>
                  </div>
                </div>
                <div class="d-flex flex-column">
                  <label class="mt-1">{{lang_txt.addLine[lang_choose]}}</label>
                  <label>LINE Creden e-Signature</label>
                </div>
                <div class="mb-3">
                  <a href="https://lin.ee/opJIgB6"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/th.png"
                      alt="เพิ่มเพื่อน" height="36" border="0"></a>
                </div>
              </div>

              <!-- step2 -->
              <div class="qr-box" v-else>
                <div class="pe-4 ps-4 pt-1 mt-2">
                  <div class="position-relative m-4">
                    <div class="progress" style="height: 1px;">
                      <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <button type="button"
                      class="position-absolute top-0 start-0 translate-middle btn btn-sm btn-primary rounded-pill"
                      style="width: 3rem; height:3rem;">1</button>
                    <button type="button"
                      class="position-absolute top-0 start-100 translate-middle btn btn-sm btn-primary rounded-pill"
                      style="width: 3rem; height:3rem;">2</button>
                  </div>
                </div>
                <label class="mt-2">{{lang_txt.takeQR[lang_choose]}}</label>
                <label>LINE Creden e-Signature</label>
                <div class="rq-frame position-relative mt-1 mb-3" id="connectLine">
                  <!-- <img src="images/qr_frame.png" width="250px"> -->
                  <div id="connectLine" role="tabpanel" aria-labelledby="connectLine-tab" style="left: 15px;top: 15px;">
                    <img v-bind:src="lineQR" alt="my_profile" class="cs-pointer img-qr ">
                    <button type="button" class="btn btn-primary mt-2"
                      @click="connect_line">{{lang_txt.genQR[lang_choose]}}</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-2 align-self-center">
              <i class="fas fa-arrow-alt-circle-right icon-step-qr" @click="next_step_qr"></i>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
