<div class="modal fade" id="requespassModal" tabindex="-1" aria-labelledby="requespassModalLabel" data-bs-backdrop="static" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content-jay borred15">
     <div class="modal-body text-center">
        <p class="lg48-g1 cl-red "><i class="fas fa-exclamation-circle "></i></p>
        <div class="container">
          <div class="text-center col-12">
            lang_txt.classification_level[lang_choose]]] &nbsp:&nbsp 
            <u><b>
              <span v-if="secret_level == 0">lang_txt.Public[lang_choose]]]</span>
              <span v-else-if="secret_level == 1">lang_txt.Internal[lang_choose]]]</span>
              <span v-else-if="secret_level == 2">lang_txt.Confidential[lang_choose]]]</span>
              <span v-else-if="secret_level == 3">lang_txt.Secret[lang_choose]]]</span>
              <span v-else-if="secret_level == 4">lang_txt.Top_Secret[lang_choose]]]</span>
            </b></u> <br>
            lang_txt.Please_set_password[lang_choose]]]<br><br>
            <button type="button" class="bg-E5 borred5 noborder p-2" data-bs-dismiss="modal"> lang_txt.Accept[lang_choose]]]</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

