<!DOCTYPE html>
<html lang="th-TH" dir="ltr">

<head>
  <title>Bangkok Life | Esign</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=1">
  <meta content="156004817605-qpm22mpvfvs0ch56s95igt6b1su33g78.apps.googleusercontent.com"
    name="google-signin-client_id">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="icon" type="image/x-icon" href="images/BLA_Icon.ico">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/index.css?v=12341">
  <link rel="stylesheet" type="text/css" href="css/header.css?v=121">
  <link rel="stylesheet" type="text/css" href="css/font.css?v=12">
  <link rel="stylesheet" type="text/css" href="css/booking.css?v=12">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <script src="js/moment.js"></script>
</head>

<body>
  
  <div id="app" class="" v-cloak>

    <header class="header">
      <ul>
        <li>
          <ul>
            <li class="max-limit-logo">
              <a href="/bla/#/dashboard">
                <img src="images/Creden_logo.png" alt="logo creden website" class="w-100">
              </a>
            </li>
            <li class="md24-g2 mt-md-2 mt-3 pt-1">e-Signature</li>
          </ul>
        </li>
        <li class="float-end">
          <ul>
            <li class="mt-3" v-if="lang_choose == 'th'" onclick="swithLang('en')">
              <img src="images/thai-flag.svg" alt="thai" class="flag-size cs-pointer mx-lg-1 mx-2">
              <span class="rg14-g2 mx-1 pc cs-pointer">ภาษาไทย</span>
            </li>
            <li class="mt-3" v-else onclick="swithLang('th')">
              <img src="images/eng-flag.svg" alt="thai" class="flag-size cs-pointer mx-lg-1 mx-2">
              <span class="rg14-g2 mx-1 pc cs-pointer">English</span>
            </li>
            <li class="border-profile pt-5 pe-0 pc"></li>
            <li class="ps-0 pc">

              <div class="dropdown">

                <a class="mt-2" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
                  aria-expanded="true">
                  <img v-if="myProfile" v-bind:src="myProfile" alt="profile" class="pic-profile2 radius50">
                  <img v-else src="images/profile.png" alt="profile" class="pic-profile2 radius50">
                </a>

                <ul class="dropdown-menu dropdown-profile" aria-labelledby="dropdownMenuButton">
                  <li class="d-block">
                    <div class="profile-box-img">
                      <div class="max-profile-detail">
                        <img v-if="myProfile" v-bind:src="myProfile" alt="profile" class="pic-profile2 radius50">
                        <img v-else src="images/profile.png" alt="profile" class="pic-profile2 radius50">
                      </div>
                    </div>
                    <div class="profile-box-text">
                      <div class="row">
                        <div class="col-12 rg14-g1 text-overflow-dot">
                          {{myFirstname}} {{myLastname}}
                        </div>
                        <div class="col-12 rg12-g1">
                          {{myEmail}}
                        </div>
                        <div class="col-12 rg12-g1 cl-2F">
                          -
                        </div>
                      </div>
                    </div>
                    <div class="w-100 text-end rg10-g3 cl-CI pb-2">
                      <span class="cs-pointer" @click="logout()">
                        <!-- <i class="fas fa-sign-out-alt"></i> {{lang_txt.logout[lang_choose]}} -->
                      </span>
                    </div>
                  </li>
                </ul>
              </div>


            </li>
          </ul>

        </li>
      </ul>
    </header>
    <div class="row mb-4 mt-5 pt-4">
      <div class="col-12">
          <div class="card ">
              <div class="card-body list_upload">
                  <div class="row justify-content-center">
                      <div class="col-lg-6 col-8">
                          <div class="input-group">
                              <button class="btn-creden md14-g1 pc cl-CI" type="button" id="button-addon1"><i class="far fa-check-circle"></i> {{lang_txt.Reservations[lang_choose]}}</button>
                              <hr class="col-2 hr-blue pc">
                              <button class="btn-creden md14-g1 cl-CI" type="button" id="button-addon1"><i class="far fa-check-circle"></i> {{lang_txt.Summary[lang_choose]}}</button>
                            </div>
                      </div>
                  </div>
                  
              </div>
          </div>
      </div>
    </div>

    <div class="container" style="padding-bottom: 250px;">
        <div class="row justify-content-md-center">
            
            <div class="col-md-6 col-12">
                <div class="row mt-3">
                    <div class="col-12 rg24-g1">
                      {{lang_txt.Summary[lang_choose]}}
                    </div>
                </div>
    
                <div class="row mt-3">
                    <div class="col-12 text md16-g1">
                      {{lang_txt.Booking_Name[lang_choose]}}
                    </div>
                    <div class="col-12 rg14-g2 mt-1">
                        {{myFirstname}} {{myLastname}}({{myEmail}})
                    </div>
    
                    <div class="col-12 md16-g1 mt-3 mb-3">
                      {{lang_txt.Booking_Information[lang_choose]}}
                    </div>
                    <div class="col-12 rg14-g2 mt-1">
                        <div class="row mb-3">
                            <div class="col-5 cl-CI">{{lang_txt.Contact[lang_choose]}}</div>
                            <div class="col-6">
                                : {{phone_number}}
                            </div>
                        </div>
                    </div>

                    <div class="col-12 rg14-g2 mt-1">
                        <div class="row mb-3">
                            <div class="col-5 cl-CI">{{lang_txt.date[lang_choose]}}</div>
                            <div class="col-6">
                                : {{booking.booking_date}}
                            </div>
                        </div>
                    </div>
    
                    <div class="col-12 rg14-g2 mt-1">
                        <div class="row mb-3">
                            <div class="col-5 cl-CI">{{lang_txt.Period[lang_choose]}}</div>
                            <div class="col-6">
                                : {{booking.booking_time}}  {{text_time}}
                            </div>
                        </div>
                    </div>

                    <div class="col-12 rg14-g2 mt-1">
                      <div class="row mb-3">
                          <div class="col-5 cl-CI">{{lang_txt.validity[lang_choose]}}</div>
                          <div class="col-6" v-if="booking.booking_exp_month == '1'">
                              : {{lang_txt.mont1[lang_choose]}}
                          </div>
                          <div class="col-6" v-else >
                            : {{lang_txt.mont12[lang_choose]}}
                        </div>
                      </div>
                  </div>
    
                    <div class="col-12 rg14-g2 mt-1">
                        <div class="row mb-3">
                            <div class="col-5 cl-CI">{{lang_txt.process[lang_choose]}}</div>
                            <div class="col-6">
                                : 05:00  {{lang_txt.minute[lang_choose]}}
                            </div>
                        </div>
                    </div>
    
                    
    
                   
    
                    <!-- <div class="col-12 text md16-g1 mt-3">
                        หมายเหตุ
                    </div>
    
                    <div class="col-md-8 col-12 marginTop15">
                        <textarea class="form-control" rows="4"></textarea>
                    </div>
    
                    <div class="col-12 rg12-g3">
                        สูงสุด 30/100 ตัวอักษร
                    </div> -->
    
                    <div class="col-md-8 col-12 mt-4 text-end">
                        <button type="button" class="btn btn-default ">{{lang_txt.Back[lang_choose]}}</button>
                        <button type="button" class="btn btn-warning ">{{lang_txt.Payment[lang_choose]}}</button>
                    </div>
    
                </div>
            </div>
        </div>
    </div>
   
  </div>

</body>

<script type="text/javascript" src="js/jquery-3.3.1.js"></script>
<!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/3.0.16/svg.min.js" type="text/javascript"></script>
<script src="https://unpkg.com/clipboard@2.0.0/dist/clipboard.min.js"></script>
<script src="node_modules/@svgdotjs/svg.draggable.js/dist/svg.draggable.js"></script>
<!-- MY ITEM -->
<script type="text/javascript" src="components/summary.js?v=1"></script>
<script type="text/javascript" src="components/common.js"></script>


</html>