<section>

  <div class="container-fluid">

    <div class="row">

      <div class="col-12 md24-g2 px-0">
        {{lang_txt.title[lang_choose]}}
      </div>

      <div class="col-12 mt-4 px-0 md16-g1">
        {{lang_txt.your_email[lang_choose]}}
      </div>
      <div class="col-12 mt-2 px-0 rg14-g1">
        <!-- thanaphas@gmail.com -->
        {{myEmail}}
      </div>
 
      <div class="col-xl-6 col-lg-8 col-md-10 col-12 mt-4 px-0 md16-g1">
        {{lang_txt.subject[lang_choose]}}
        <input type="text" class="form-control mt-3" v-model="subject">
      </div>
      <div class="offset-xl-6 offset-lg-4 offset-md-2 offset-0"></div>

      <div class="col-xl-6 col-lg-8 col-md-10 col-12 mt-4 px-0 md16-g1">
        {{lang_txt.message[lang_choose]}}
        <textarea class="form-control mt-3" rows="5" v-model="message"></textarea>
      </div>
      <div class="offset-xl-6 offset-lg-4 offset-md-2 offset-0"></div>

      <div class="col-xl-6 col-lg-8 col-md-10 col-12 mt-4 px-0 md16-g1 text-end">
        <button type="button" class="btn btn-primary" @click="send_mail()" v-if="btn_status == true">
          {{lang_txt.sent[lang_choose]}}
        </button>
        <button type="button" class="btn btn-secondary" v-else>
          {{lang_txt.pls_wait[lang_choose]}}  <i class="fas fa-spinner fa-spin"></i>
      </button>
      </div>

    </div>
  </div>
</section>