<script type="text/javascript" src="js/jquery-3.3.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/3.0.16/svg.min.js" type="text/javascript"></script>
<script src="node_modules/@svgdotjs/svg.draggable.js/dist/svg.draggable.js"></script>
<script src="node_modules/@svgdotjs/svg.panzoom.js/dist/svg.panzoom.js"></script>

<style>
    .main-svg {
        width: 1200px;
        background-color: pink;
        border-style : solid;
        overflow: scroll;
    }
</style>

<script> 

    $(document).ready(function(){  
         upload = new Vue({
             id : '#app',
             data : {
             adjustedWidth : 1200,
             totalHeight : 0,
             pagesDim : [],
             master_group : null ,
             draw  : null,
             draggingTool : null
             }, 
             methods : {
            init_svg: function (i) {
                    
                    var draw = this.draw

                    if(i==0)
                      {
                         this.master_group = draw.group()
                      }

                    var images = ['https://hjkl.ninja/face/images/card/pdf165582731614309107-0.png',
                    'https://hjkl.ninja/face/images/card/pdf165582731614309107-1.png']
                  
                    draw.image(images[i], function(evt){ 
                        var  group = upload.new_document_page(draw, this)  
                        upload.master_group.add(group)
                        

                        if(i<images.length-1){upload.init_svg(i+1)} //load next page
                    })   
                    

                },
                new_document_page : function(draw, img){
                    var group = draw.group()  
                    var adjustedWidth   = this.adjustedWidth
                    var adjustedHeight = adjustedWidth * (img.height() / img.width()) 
                        img.size(adjustedWidth , adjustedHeight)   
                        var newTotalHeight =  this.totalHeight  + adjustedHeight
                        draw.size(adjustedHeight , newTotalHeight)
                        group.add(img)
                        group.move(0, this.totalHeight) 
                        this.totalHeight = newTotalHeight //Save new height value 

                        upload.pagesDim.push({width:adjustedWidth, height:adjustedHeight}) //store page dimensions
                    

                    return group  
                }, 
                compute_page : function(y){
                    var ret = -1
                    var arr = this.pagesDim
                     
                    var y1 = 0 
                    var y2 = 0

                    for(var i=0; i<arr.length; i++)
                      {
                            y2 = y1 + arr[i].height  
                            if(y >= y1 && y <= y2)
                               {ret = i; break;}
                            y1 = y2   
                      }
                    
                      return ret
                },
                
                attach_drag : function(g){
                    g.draggable()  
                    g.on('dragmove.namespace', function (evt) {
                        const { handler, box } = evt.detail
                        let { x, y } = box
                        g.find("text").text(`${g._toolName}\n(${parseInt(x)},${parseInt(y)})\npage ${upload.compute_page(y)}`)
                        window.evt  = evt

                    })

                    return g
                }, 

                set_tool : function (toolName, N) {  
                var field = { 
                    "toolName": toolName, 
                    "isNew"   : true, 
                }
                this.draggingTool = field
                //console.log('set tool to '+field)

                },

                fieldID : function(){
                    var tmp = window.TMP_FIELD_ID || 0
                    tmp = tmp+1
                    window.TMP_FIELD_ID = tmp    
                    return tmp
                },

                prepare_new_tool : function (mode) {  
                //console.log(`prepare_new_tool mode ${mode}`)  
                var field = this.draggingTool
  
                if(!field)
                  {
                     //console.log('prepare_new_tool skipped Reason#1')    
                     return; //user pick no tool
                  }
                  if(field.group)
                  {
                     //console.log('prepare_new_tool skippedReason#2 >>> already have group')    
                     return; //user already have group install
                  }  

                window.preload_svg()  

                var draw  = this.draw  
                var g = draw.group()
                g._toolName = field.toolName
                // var rect = draw.rect(70,70).fill('yellow')
                var w = (field.toolName == 'Signature' || field.toolName == 'Initial') ? 70 : 150;
                var h = (field.toolName == 'Signature' || field.toolName == 'Initial') ? 70 : 50;

                var rect = draw.rect(w,h).fill('yellow')
                var text = draw.text(field.toolName+this.fieldID())    
                                              
                g.add(rect)
                g.add(text)

                // start control size
                var cir1 = draw.circle(10,10).attr({ //left top
                    fill: "red",
                    stroke: "none",
                    opacity: .5
                })
                var cir2 = draw.circle(10,10).attr({ // right top
                    fill: "red",
                    stroke: "none",
                    opacity: .5
                })
                var cir3 = draw.circle(10,10).attr({ // left bottom
                    fill: "red",
                    stroke: "none",
                    opacity: .5
                })
                var cir4 = draw.circle(10,10).attr({ // right bottom
                    fill: "red",
                    stroke: "none",
                    opacity: .5
                })
                var _cir1 = draw.circle(10,10).attr({ // right top
                    fill: "red",
                    stroke: "none",
                    opacity: .5
                })
                var _cir2 = draw.circle(10,10).attr({ // right top
                    fill: "red",
                    stroke: "none",
                    opacity: .5
                })
                var _cir3 = draw.circle(10,10).attr({ // right bottom
                    fill: "red",
                    stroke: "none",
                    opacity: .5
                })
                var _cir4 = draw.circle(10,10).attr({ // right bottom
                    fill: "red",
                    stroke: "none",
                    opacity: .5
                })
                
                // cir1.draggable()
                cir1.draggable()
                cir2.draggable()
                cir3.draggable()
                cir4.draggable()
                
                // set element first               
                cir1.center(rect.x(), rect.y())
                cir2.center(rect.x()+rect.width(), rect.y())              
                cir3.center(rect.x(), rect.y()+rect.height())                
                cir4.center(rect.x()+rect.width(), rect.y()+rect.height())
                _cir1.hide()
                _cir2.hide()
                _cir3.hide()
                _cir4.hide()

                const ratio = rect.height()/rect.width()

                cir1.on('dragstart.namespace', (evt) => { 
                    _cir1.center(rect.x(),rect.y())                                     
                    _cir1.show()                                       
                    cir1.hide()
                })

                cir1.on('dragmove.namespace', (evt) => {
                    _cir1.center(rect.x(), rect.y()) 
                    const wNew = cir4.x() - cir1.x()
                    rect.size(wNew,wNew*ratio)
                    const rad = cir4.width()/2                                                          
                    rect.move(cir4.x()-rect.width()+rad,cir4.y()-rect.height()+rad) 
                    cir2.center(rect.x()+rect.width(),rect.y())
                    cir3.center(rect.x(), rect.y()+rect.height())
                    text.center((cir1.x()+cir2.x())/2,(cir1.y()+cir4.y())/2)
                })

                cir1.on('dragend.namespace', (evt) => {
                    // rect.move(cir1.x(),cir1.y())
                    cir1.show()
                    _cir1.hide()
                    cir1.center(rect.x(), rect.y())
                    cir2.center(rect.x()+rect.width(), rect.y())
                    cir3.center(rect.x(), rect.y()+rect.height())
                    cir4.center(rect.x()+rect.width(), rect.y()+rect.height())
                })

                cir2.on('dragstart.namespace', (evt) => { 
                    _cir2.center(rect.x()+rect.width(), rect.y())                                     
                    _cir2.show()                                       
                    cir2.hide()
                })

                cir2.on('dragmove.namespace', (evt) => {
                    _cir2.center(rect.x()+rect.width(), rect.y()) 
                    const hNew = cir3.y()-cir2.y()
                    const rad = cir3.width()/2
                    rect.move(cir3.x()+ rad,cir2.y() + rad) 
                    rect.size(hNew/ratio,hNew)
                    cir1.center(rect.x(),rect.y())
                    cir4.center(rect.x()+rect.width(),rect.y()+hNew)
                    text.center((cir1.x()+cir2.x())/2,(cir1.y()+cir3.y())/2)
                })

                cir2.on('dragend.namespace', (evt) => {
                    // rect.move(cir1.x(),cir1.y())
                    cir2.show()
                    _cir2.hide()
                    cir1.center(rect.x(), rect.y())
                    cir2.center(rect.x()+rect.width(), rect.y())
                    cir3.center(rect.x(), rect.y()+rect.height())
                    cir4.center(rect.x()+rect.width(), rect.y()+rect.height())
                })

                cir3.on('dragstart.namespace', (evt) => { 
                    _cir3.center(rect.x(),rect.y()+rect.height())                                     
                    _cir3.show()                                       
                    cir3.hide()
                })

                cir3.on('dragmove.namespace', (evt) => {
                    _cir3.center(rect.x(),rect.y()+rect.height()) 
                    const wNew = cir2.x()-cir3.x()
                    const rad = cir3.width()
                    rect.move(cir3.x()+rad,cir2.y()+rad) 
                    rect.size(wNew,wNew*ratio)
                    cir1.center(rect.x(),rect.y())
                    cir4.center(rect.x()+rect.width(),rect.y()+rect.height())
                    text.center((cir1.x()+cir2.x())/2,(cir1.y()+cir3.y())/2)
                })

                cir3.on('dragend.namespace', (evt) => {
                    const { handler, box } = evt.detail
                    let { x, y } = box
                    // set element new
                    cir3.show()
                    _cir3.hide()
                    cir1.center(rect.x(), rect.y())
                    cir2.center(rect.x()+rect.width(), rect.y())
                    cir3.center(rect.x(), rect.y()+rect.height())
                    cir4.center(rect.x()+rect.width(), rect.y()+rect.height())
                })

                cir4.on('dragstart.namespace', (evt) => { 
                    _cir4.center(rect.x()+rect.width(),rect.y()+rect.height())                                     
                    _cir4.show()                                       
                    cir4.hide()
                })
                
                cir4.on('dragmove.namespace', (evt) => {
                    _cir4.center(rect.x()+rect.width(),rect.y()+rect.height())
                    const wNew = cir4.x()-cir1.x()
                    rect.size(wNew, wNew *ratio)                   
                    cir2.center(rect.x()+rect.width(),rect.y())
                    cir3.center(rect.x(),rect.y()+rect.height()) 
                    _cir4.center(rect.x()+rect.width(),rect.y()+rect.height())
                    text.center((cir1.x()+cir2.x())/2,(cir1.y()+cir3.y())/2)
                })

                cir4.on('dragend.namespace', (evt) => {
                    const { handler, box } = evt.detail
                    let { x, y } = box
                    // set element new
                    // rect.move(cir1.x(),cir1.y())
                    cir4.show()
                    _cir4.hide()
                    cir1.center(rect.x(), rect.y())
                    cir2.center(rect.x()+rect.width(), rect.y())
                    cir3.center(rect.x(), rect.y()+rect.height())
                    cir4.center(rect.x()+rect.width(), rect.y()+rect.height())
                    // cir4.origin = {x:cir4.x(), y:cir4.y()} 
                })

                
                g.add(cir1)
                g.add(cir2)
                g.add(cir3)
                g.add(cir4)
                // end control size


                upload.attach_drag(g)   
                field.group = g

                if(mode==2)
                  {
                      g.hide()
                  }  


                },
                mousemove_prepare_new_tool : function(evt){ 
                  var field = this.draggingTool
                  //this.draggingTool = null

                  if(!field)
                  {
                     //console.log('  mousemove_prepare_new_tool skipped')    
                     return; //user pick no tool
                  }
                  const {x, y, clientX, clientY , offsetX , offsetY} = evt
                  ////console.log(x,y , ' | ' ,clientX,clientY, '|' , offsetX , offsetY)
                  field.group.move(offsetX, offsetY)
                },
                insert_new_tool : function(){
                  //console.log("insert_new_tool")
                  var field = this.draggingTool

                  if(!field)
                  {
                     //console.log('  insert_new_tool skipped')    
                     return; //user pick no tool›
                  }

                  //field.group.on('click', function(){alert('show property editor now !!!')})

                  this.draggingTool = null  
                  //todo: addNewField to this.fields
                  //compute page
                },

                dropToSvg : function(evt){
                    evt.preventDefault()
                    //console.log("dropToSvg")
                    window.dropEvt = evt

                    var field = this.draggingTool
                  

                  if(!field)
                  {
                     //console.log(' dropToSvg skipped')    
                     return; //user pick no tool
                  }
                  const {x, y, clientX, clientY , offsetX , offsetY} = evt
                  //console.log(x,y , ' | ' ,clientX,clientY, '|' , offsetX , offsetY)
                  field.group.move(offsetX, offsetY)
                  field.group.show()
                }

                
                
            } //methods
         })
         window.preload_svg()
         upload.draw = SVG('#svg')
         
         upload.init_svg(0)

         //setTimeout(zoom, 3000)
          
    })
</script>

<script>
var upload = null

 
function dragTool(evt){
    evt.dataTransfer.setDragImage(dragingImages.Signature, 70, 70);
}

function allowDrop(evt){
    event.preventDefault()
}
function preload_svg(){

    var color = 'yellow'
    var svg = `<svg version="1.1"
     baseProfile="full"
     width="70" height="70"
     xmlns="http://www.w3.org/2000/svg">

        <rect width="100%" height="100%" fill="${color}" />
        <text x="35" y="35" font-size="10" text-anchor="middle" fill="black">Signature</text>
        </svg>
     `

    var b64 = window.btoa(svg);   

    var img = document.createElement("img"); 
    img.src = 'data:image/svg+xml;base64,'+b64

    window.dragingImages = {
       Signature : img
   } 

   
}

function zoom(){
    var h = upload.totalHeight*2
    //console.log('new h = '+h)

    var draw = upload.draw
     draw.scale(2)
     draw.translate(1000, 1000)
   }

   function zoomIn(){
        var fac = 1.1
        var id = 'svg'
        var draw =   SVG('#'+id)
        var w = 1200 * fac
        var h = (1553*2) * fac

        draw.scale(fac)
        $('#'+id).css('width',  w+'px')
        $('#'+id).css('height', h+'px')
            
        var s = document.getElementById(id)
        var box = s.getBoundingClientRect()
        draw.translate(-box.x, -box.y)   
    }

    function zoomOut(){
        var fac = 0.9
        var id = 'svg'
        var draw =   SVG('#'+id)
        var w = 1200 * 1
        var h = (1553*2) * 1

        draw.scale(fac)
        $('#'+id).css('width',  w+'px')
        $('#'+id).css('height', h+'px')
            
        var s = document.getElementById(id)
        var box = s.getBoundingClientRect()
        window.s = s
        window.box = box
        draw.translate(-box.x, -box.y)   
    }
</script>

<div id="app">
    <button onclick="upload.set_tool('Signature')"
    draggable="true" ondragstart="upload.set_tool('Signature');dragTool(event)"
    >Signature</button>
    <button onclick="upload.set_tool('Text')">Text</button>
    <button onclick="zoomIn()">Zoom In</button>
    <button onclick="zoomOut()">Zoom Out</button>
    <br/><br/><br/>
    <div class="main-svg">
    <svg id="svg" width="100%" 
    
    onmouseenter="upload.prepare_new_tool(1)"
    onmousemove="upload.mousemove_prepare_new_tool(event)"
    onclick="upload.insert_new_tool(event)"

    ondragover="allowDrop(event);upload.prepare_new_tool(2)"
    ondrop="upload.dropToSvg(event);upload.insert_new_tool(event)"
    >
         
    </svg>
    </div><!-- main-svg-->
</div>