<section v-if="step == 3">
    <!-- step -->
    <div class="row mb-4 fixed-top-step">
        <div class="col-12">
            <div class="card ">
                <div class="card-body list_upload">
                    <div class="row">
                        <div class="col-lg-2 col-4">
                           <button class="btn-creden md14-g1 cl-CI text-decoration-underline" @click="saveDraft"><i class="fas fa-times me-1"></i>   {{lang_txt.undo[lang_choose]}} </button>
                        </div>
                        <div class="col-lg-10 col-8">
                            <div class="input-group">
                                <label class="btn-creden md14-g1 cl-CI pc cs-default"  id="button-addon1"><i class="far fa-dot-circle "></i> {{lang_txt.add[lang_choose]}}</label>
                                <hr class="col hr-blue pc">
                                <label class="btn-creden md14-g1 cl-CI pc cs-default"  id="button-addon1"><i class="far fa-dot-circle"></i> {{lang_txt.recip[lang_choose]}}</label>
                                <hr class="col hr-blue pc">
                                <label class="btn-creden md14-g1 cl-CI cs-default"  id="button-addon1"><i class="far fa-dot-circle"></i> {{lang_txt.field[lang_choose]}}</label>
                                <hr class="col pc">
                                <label class="btn-creden md14-g1 pc cs-default"  id="button-addon1"><i class="far fa-dot-circle"></i> {{lang_txt.review[lang_choose]}}</label>
                              </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-10 ">
            <div class="row mt-5">
                <div class="col-md-12 text-center pc border-bottom">
                    <div class="row justify-content-md-center mb-2">
                        <div class="col-2">
                            <button class="btn-none-border rg18-g1 ms-2" onclick="window.upload.zoomIn()"><i class="fas fa-search-plus"></i></button>
                            <button class="btn-none-border rg18-g1" onclick="window.upload.zoomOut()"><i class="fas fa-search-minus"></i></button>
                        </div>
                        <div class="col-md-2 col-4">
                            <select class="form-select" id="zoomLevel" onchange="window.upload.setZoomLevel(this.value)">
                                <option value="1.0">100%</option>
                                <option value="0.8">80%</option>
                                <option value="0.5">50%</option>
                            </select>
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2 col-md-3 pt-2 bg-F2">
                    
                    <div id="set-detail-tool" v-if="show_set_detail"> 
                        <div class="row">
                            <div class="col-12">
                                <p class="md16-g1">{{lang_txt.tool_setting[lang_choose]}} <span class="cl-CI">{{chk_set_field}}</span> 
                                    <i class="fas fa-times cs-pointer" @click="close_setting"></i> 
                                </p>
                                <hr>
                                <div id="set-sign" v-if="chk_set_field == 'Signature'">
                                    <p class="md18-g1">{{lang_txt.option[lang_choose]}}</p>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" disabled>
                                        <label class="form-check-label rg14-g1" for="flexCheckDefault">
                                            {{lang_txt.copy_all[lang_choose]}}
                                        </label>
                                    </div>
                                    <p class="rg12-g1  cl-red">{{lang_txt.des_copy[lang_choose]}}</p>
                                    <button type="button" class="btn btn-danger full-width rg14-g1 cl-FF" @click="deleteField()">{{lang_txt.remove[lang_choose]}}</button>
                                </div>
    
                                <div id="set-attach" v-else-if="chk_set_field == 'Attachment'">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" disabled>
                                        <label class="form-check-label rg14-g1" for="flexCheckDefault">
                                            Required Field
                                        </label>
                                    </div>
                                    <p class="rg12-g1  cl-red">{{lang_txt.file_support[lang_choose]}}</p>
                                    <button type="button" class="btn btn-danger full-width rg14-g1 cl-FF"  @click="deleteField()">{{lang_txt.remove[lang_choose]}}</button>
                                </div>
    
                                <div id="set-text" v-else-if="chk_set_field == 'Text' || chk_set_field == 'Date' || chk_set_field == 'Name' || chk_set_field == 'Email'">
                                    <p class="md18-g1">{{lang_txt.format[lang_choose]}}</p>
                                    <select class="form-select mb-3" aria-label="font" @change="set_font_stlye(0,this)" v-model='font' >
                                        <option value="angsa">Angsana new</option>
                                        <option value="THSarabunNew" selected >Th-sarabun-new</option>
                                        <option value="cordia">Cordia new</option>
                                    </select>
                                    <div class="row mb-3">
                                        <div class="col-5">
                                            <select class="form-select" aria-label="font size" @change="set_font_stlye(0,this)" v-model='size'>
                                                <option value="14">14</option>
                                                <option value="16">16</option>
                                                <option value="18">18</option>
                                                <option value="20">20</option>
                                            </select>
                                        </div>
                                        <div class="col-7">
                                            <button type="button" class="btn btn-outline-secondary"  @click="set_font_stlye(1,this)" disabled><i class="fas fa-bold"></i></button>
                                            <button type="button" class="btn btn-outline-secondary"  @click="set_font_stlye(2,this)" disabled><i class="fas fa-italic"></i></button>
                                            <button type="button" class="btn btn-outline-secondary"  @click="set_font_stlye(3,this)" disabled><i class="fas fa-underline"></i></button>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-danger full-width rg14-g1 cl-FF" @click="clear_font_stlye">{{lang_txt.remove[lang_choose]}}</button>
                                </div>
    
                                <div id="set-dropdown" v-else-if="chk_set_field == 'Dropdown'">
                                    <p class="md18-g1">{{lang_txt.format[lang_choose]}}</p>
                                    <select class="form-select mb-3" aria-label="Default select example" @change="set_font_stlye(0,this)" v-model='font'>
                                        <option value="angsa">Angsana new</option>
                                        <option value="THSarabunNew">Th-sarabun-new</option>
                                        <option value="cordia">Cordia new</option>                            </select>
                                    <div class="row mb-3">
                                        <div class="col-5">
                                            <select class="form-select" aria-label="font size" @change="set_font_stlye(0,this)" v-model='size'>
                                                <option value="14">14</option>
                                                <option value="16">16</option>
                                                <option value="18">18</option>
                                                <option value="20">20</option>
                                            </select>
                                        </div>
                                        <div class="col-7">
                                            <button type="button" class="btn btn-outline-secondary" disabled><i class="fas fa-bold"></i></button>
                                            <button type="button" class="btn btn-outline-secondary" disabled><i class="fas fa-italic"></i></button>
                                            <button type="button" class="btn btn-outline-secondary" disabled><i class="fas fa-underline"></i></button>
                                        </div>
                                    </div>
                                    <p class="md18-g1">{{lang_txt.option[lang_choose]}}</p>
                                    <p class="rg16-g1">Fill in the list of options.</p>
                                    <p class="md16-g1 cl-CI cs-pointer" @click="addDropownOption">{{lang_txt.add_opt[lang_choose]}}</p>
                                    <div class="input-group mb-4" v-for="r,i in toolOptionsArray">
                                        <input type="text" class="form-control" v-bind:data-index="i" v-bind:value="r" onchange="upload.updateDrpodownOption(this.value,this)">
                                        <button class="btn btn-outline-secondary" type="button" @click="delDropownOption(i)"><i class="fas fa-minus"></i></button>
                                    </div>
                                    <p class="md18-g1">{{lang_txt.def_opt[lang_choose]}}</p>
                                    <select class="form-select mb-3" aria-label="Default select example" v-model='dropdownDefaultOption' @change="updateDrpodownDefaultOption();">
                                        <option v-bind:value="r" v-for="r,i in toolOptionsArray">{{r}}</option>
                                    </select>
                                    <button type="button" class="btn btn-danger full-width rg14-g1 cl-FF" @click="deleteField()">{{lang_txt.remove[lang_choose]}}</button>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <!-- zoom -->
                    <div class="" v-else>
                        <select class="form-select select-none-bg rg14-g1 border border-dark">
                            <option value="1">100%</option>
                            <option value="2">80%</option>
                            <option value="3">50%</option>
                        </select>
                        <!-- previwe เอกสาร -->
                        <div v-for="r,i in imageFiles" class="mb-2">
                            <p class="rg14-g3  mb-0">Page {{i+1}}</p>
                            <div class="display-doc text-center shadow-sm">
                                <a v-bind:href="'#page'+i"><img v-bind:src="upload_path + r" v-bind:id="'thumb' + i" class="img-fluid"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-10 col-md-9 ">
                    <div class="row justify-content-center bg-E5 pt-2 h-previwe">
                        <div class=" col-10 ">
                            <div class="bg-doc mb-2 main-svg" v-bind:id="'doc'+i" v-for="r,i in imageFiles">
                                <a v-bind:id="'page'+i"></a>    
                                <svg v-bind:id="'svg'+i" width="100%" height="100%"
                                    onmouseenter="setActiveSvg(this)" 
                                    onmouseleave="leaveActiveSvg(this);"
                                    onmousemove="moveTool(this,event)"
                                    >
                                    <image v-bind:onload="'loadSvgImg('+ i +', this)'" v-bind:id="'svgImg'+i" border="1" v-bind:xlink:href="'../face/images/card/'+r"></image>
                                </svg>
                            </div>
                        </div>
                    </div>
                    
                </div>

            </div>

        </div>
        <div class="col-2 pt-5 bg-F2">
            <p class="pc">{{lang_txt.select_signer[lang_choose]}}</p>
            <div class="row mb-4 pc">
                <div class="col-md-12">
                    <div class="dropdown">
                        <button class="btn btn-outline-secondary dropdown-toggle full-width" type="button" id="dropdownPerson" data-bs-toggle="dropdown" aria-expanded="false">
                            {{selectedPersonName}}
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownPerson">
                          <li v-for="r,i in people" v-if="r.needToSign==true || r.needToSign=='true'">
                              <a class="dropdown-item" href="javascript:void(0)" @click="setSelectedPerson(i, r.email, r.name,r.title, r.position_id)">{{r.name}}</a>
                          </li>
                        </ul>
                      </div>
                </div>
            </div>
            
           
                <div id="tool-sig">
                    <p class="mb-0">{{lang_txt.field_title[lang_choose]}}</p>
                    <div class="row pc">
                        <div class="col-md-12 col-4">
                            <button class="btn-none-border btn-sm p-0 rg18-g1" @click="set_tool('Signature',1)"><i class="far fa-edit cl-F2 me-2"></i> Signature</button>
                        </div>
                        <div class="col-md-12 col-4 mt-3">
                            <button class="btn-none-border btn-sm p-0 rg18-g1" @click="set_tool('Initial',2)"><i class="fab fa-buysellads cl-F2 me-2"></i> Initial</button>
                        </div>
                        <div class="col-md-12 col-4 mt-3">
                            <button class="btn-none-border btn-sm p-0 rg18-g1" @click="set_tool('Date',1)"><i class="far fa-calendar cl-F2 me-2"></i> Date Signed</button>
                        </div>
                        <hr class="col-12 mt-2 mb-0">
                     </div>
                     <div class="row pc">
                        <div class="col-md-12 col-3">
                            <button class="btn-none-border btn-sm p-0 rg18-g1"  @click="set_tool('Name',1)"><i class="fas fa-user cl-F2 me-2"></i> Name</button>
                        </div>
                        <div class="col-md-12 col-3 mt-3">
                            <button class="btn-none-border btn-sm p-0 rg18-g1"  @click="set_tool('Email',1)"><i class="fas fa-envelope cl-F2 me-2"></i> Email</button>
                        </div>
                        <hr class="col-12 mt-2 mb-0">
                     </div>
                    <div class="row pc">
                        <div class="col-md-12 col-3">
                            <button class="btn-none-border btn-sm p-0 rg18-g1"  @click="set_tool('Text',1)"><i class="fas fa-font cl-F2 me-2"></i> Text</button>
                        </div>
                        <div class="col-md-12 col-3 mt-3">
                            <button class="btn-none-border btn-sm p-0 rg18-g1"  @click="set_tool('Checkbox',2)"><i class="fas fa-check-square cl-F2 me-2"></i> Checkbox</button>
                        </div>
                        <div class="col-md-12 col-3 mt-3">
                            <button class="btn-none-border btn-sm p-0 rg18-g1"  @click="set_tool('Dropdown',1)"><i class="fas fa-chevron-circle-down cl-F2 me-2"></i> Dropdown</button>
                        </div>
                        <div class="col-md-12 col-3 mt-3">
                            <button class="btn-none-border btn-sm p-0 rg18-g1"  @click="set_tool('Radio',2)"><i class="far fa-dot-circle cl-F2XXX me-2" style="color:black"></i> Radio</button>
                        </div>
        
                        <hr class="col-12 mt-2 mb-0">
                    </div>
                    <div class="row pc">
                        <div class="col-md-12 col-4">
                            <button class="btn-none-border btn-sm p-0 rg18-g1" @click="set_tool('Attachment',1)"><i class="fas fa-paperclip cl-F2 me-2"></i> Attachment <i class="fas fa-lock cl-F2"></i></button>
                        </div>
                        <div class="col-md-12 col-4 mt-3">
                            <button class="btn-none-border btn-sm p-0 rg18-g1" @click="set_tool('Approve',2)"><i class="fas fa-check-circle cl-F2 me-2"></i> Approve <i class="fas fa-lock cl-F2"></i></button>
                        </div>
                        <div class="col-md-12 col-4 mt-3">
                            <button class="btn-none-border btn-sm p-0 rg18-g1" @click="set_tool('Qrcode',2)"><i class="fas fa-qrcode cl-F2 me-2"></i> QR Code <i class="fas fa-lock cl-F2"></i></button>
                        </div>
                    </div>
                </div>
             <!-- <p v-if="this.show_set_detail" class="">จัดการ</p> -->
            <div class="mb-3" v-if="!this.show_set_detail">
                <button type="button" class="btn btn-danger rg12-g3 cl-FF" @click="deleteField()">ลบออก</button>
            </div>
            <hr class="mb-o" v-if="!this.show_set_detail">
        </div>
    </div>


    <div class="row bg-FF row bg-FF position-fixed bottom-0 p-2" style="min-width: 100%;">
        <div class="col-12">
            <div class="text-center">
                <button type="button" class="btn btn-secondary me-2" @click="backward_step()">{{lang_txt.back[lang_choose]}}</button>
                <button type="button" class="btn btn-warning" @click="next_step()">{{lang_txt.next[lang_choose]}}</button>
            </div>
        </div>
    </div>
</section>
