<!DOCTYPE html>
<html lang="th-TH" dir="ltr">

<head>
  <title>Bangkok Life | Esign</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=1">
  <meta content="156004817605-qpm22mpvfvs0ch56s95igt6b1su33g78.apps.googleusercontent.com"
    name="google-signin-client_id">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="icon" type="image/x-icon" href="web/images/BLA_Icon.ico">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/index.css?v=12341">
  <link rel="stylesheet" type="text/css" href="css/header.css?v=121">
  <link rel="stylesheet" type="text/css" href="css/table.css?v=1211">
  <link rel="stylesheet" type="text/css" href="css/sideMenu.css?v=122">
  <link rel="stylesheet" type="text/css" href="css/font.css?v=12">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  
  <style>
  </style>

  <script src="js/moment.js"></script>
</head>

<body class="bg-F2">

  <div id="app" class="content" v-cloak>

    <header class="header">
      <ul>
        <li>
          <ul>
            <li class="max-limit-logo">
              <a href="/bla/#/dashboard">
                <img v-bind:src="myLogo" alt="logo creden website" class="my-logo" v-if="myLogo">
                <img src="images/Creden_logo.png" alt="logo creden website" class="w-100" v-else>
              </a>
            </li>
            <li class="md24-g2 mt-md-2 mt-3 pt-1" v-if="powered_by == true">e-Signature</li>
            <li class="border-profile" style="padding: 3rem 10px 0px 0px !important" v-if="powered_by == false"></li>
            <li class="lg14-g2 mt-md-2 mt-3 pt-md-1" v-if="powered_by == false">
              <div class="row">
                <div class="col-12 ps-md-0 ps-2">
                  POWERED BY
                </div>
                <div class="col-12 mt-0 ps-md-0 ps-2">
                  Creden e-Signature
                </div>
              </div>
            </li>
            
          </ul>
        </li>
        <li class="float-end">
          <ul>
            <li class="mt-3" v-if="lang_choose == 'th'" onclick="swithLang('en')">
              <img src="images/thai-flag.svg" alt="thai" class="flag-size cs-pointer mx-lg-1 mx-2">
              <span class="rg14-g2 mx-1 pc cs-pointer">ภาษาไทย</span>
            </li>
            <li class="mt-3" v-else onclick="swithLang('th')">
              <img src="images/eng-flag.svg" alt="thai" class="flag-size cs-pointer mx-lg-1 mx-2">
              <span class="rg14-g2 mx-1 pc cs-pointer">English</span>
            </li>
            <li class="border-profile pt-5 pe-0 pc"></li>
            <li class="ps-0 pc">

              <div class="dropdown">

                <a class="mt-2" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
                  aria-expanded="true">
                  <img v-if="myProfile" v-bind:src="myProfile" alt="profile" class="pic-profile2 radius50">
                  <img v-else src="images/profile.png" alt="profile" class="pic-profile2 radius50">
                </a>

                <ul class="dropdown-menu dropdown-profile" aria-labelledby="dropdownMenuButton">
                  <li class="d-block">
                    <div class="profile-box-img">
                      <div class="max-profile-detail">
                        <img v-if="myProfile" v-bind:src="myProfile" alt="profile" class="pic-profile2 radius50">
                        <img v-else src="images/profile.png" alt="profile" class="pic-profile2 radius50">
                      </div>
                    </div>
                    <div class="profile-box-text">
                      <div class="row">
                        <div class="col-12 rg14-g1 text-overflow-dot">
                          {{myFirstname}} {{myLastname}}
                        </div>
                        <div class="col-12 rg12-g1">
                          {{myEmail}}
                        </div>
                        <div class="col-12 rg12-g1 cl-2F">
                          -
                        </div>
                      </div>
                    </div>
                    <div class="w-100 text-end rg10-g3 cl-CI pb-2">
                      <span class="cs-pointer" @click="logout()">
                        <i class="fas fa-sign-out-alt"></i> 
                        {{lang_txt.logout[lang_choose]}}
                      </span>
                    </div>
                  </li>
                </ul>
              </div>


            </li>
          </ul>

        </li>
      </ul>
    </header>

    <section v-show="step == 1">

      <div class="modal fade" id="loadingModal" tabindex="-1" aria-labelledby="loadingModalLabel" aria-hidden="true"
        data-bs-backdrop="static">
        <div class="modal-dialog modal-sm modal-dialog-centered">
          <div class="modal-content modal-none-bg">
            <div class="modal-body text-center">
              <div class="spinner-grow text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              <div class="spinner-grow text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              <div class="spinner-grow text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id='file-dropzone-upload' class="dropzone" style="display: none;"></div>
      <input id='file-attachment' hidden type="file"></input>
      <div class="row mb-4 fixed-top-step">
        <div class="col-12">
          <div class="card ">
            <div class="card-body list_upload">
              <div class="row">
                <div class="col-lg-2 col-4">
                  <button class="btn-creden md14-g1 cl-CI text-decoration-underline" @click="saveDraft"><i
                      class="fas fa-times me-1"></i>
                    {{lang_txt.undo[lang_choose]}} </button>
                </div>
                <div class="col-lg-10 col-8">
                  <div class="input-group">
                    <label class="btn-creden md14-g1 cl-CI cs-default"  id="button-addon1"><i
                        class="far fa-dot-circle "></i> {{lang_txt.add[lang_choose]}}</label>
                    <hr class="col hr-blue pc">
                    <label class="btn-creden md14-g1 pc cs-default " id="button-addon1"><i
                        class="far fa-dot-circle"></i> {{lang_txt.recip[lang_choose]}}</label>
                    <hr class="col pc">
                    <label class="btn-creden md14-g1 pc cs-default "  id="button-addon1"><i
                        class="far fa-dot-circle"></i> {{lang_txt.field[lang_choose]}}</label>
                    <hr class="col pc">
                    <label class="btn-creden md14-g1 pc cs-default "  id="button-addon1"><i
                        class="far fa-dot-circle"></i> {{lang_txt.review[lang_choose]}}</label>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      

      <div class="row justify-content-center mb-3 mt-7">
        <div class="col-lg-10 col-12">
          <div class="alert alert-danger mt-3" role="alert" v-show="alert_no_pdf">
            {{text_alert}}
          </div>
          <h2 class="rg24-g1">{{lang_txt.add[lang_choose]}}</h2>
        </div>
      </div>
      <!-- list doc -->
      <div class="row justify-content-center mb-3 Mobile">
        <div class="col-lg-10 col-12">
          <div class="card">
            <div class="card-body text-center cl-BD rg14-g3">
              <p><i class="fas fa-exclamation-circle"></i></p>
              <p>ฟังก์ชั่นอัพโหลดไฟล์ ไม่รองรับอุปกรณ์มือถือ
                Upload file function not support
                in mobile device</p>
            </div>
          </div>
        </div>
      </div>

      <!-- upload -->
      <div class="pc">
        <div class="row justify-content-center">
          <div class="col-lg-10 col-12">
            <div class="card">
              <div class="card-body">
                <div class="row justify-content-center mb-4 pc " v-for="r,i in display_imageFiles">
                  <div class="col-12">
                    <div class="card">
                      <div class="card-body list_upload">
                        <div class="row">
                          <div class="col-sm-1 col-2 text-center">
                            <img src="images/pdf_pic.png" alt="image pdf upload">
                          </div>
                          <div class="col-sm-9 col-6">
                            <p class="lg14-g1 mb-0 text-truncate">{{getDisplayFilename(i)}}</p>
                            <p class="lg14-g1"> {{ get_count_page_pdf(i) }} page </p>
                          </div>
                          <div class="col-sm-2 col-4 text-end  pt-2">
                            <p class="rg18-g2"><i class="fas fa-eye me-2 cs-pointer" @click="showPdfImage(i)"
                                v-bind:title="lang_txt.view[lang_choose]"></i> <i class="fas fa-trash cs-pointer" @click="remove_pdf(i)"
                                v-bind:title="lang_txt.draft_discard[lang_choose]"></i></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 text-center">
                    <div>
                      <!-- <p class="rg24-g2">Drag & Drop files here</p> -->
                    </div>
                    <div class=" mt-3">
                      <button type="button" class="btn btn-primary"
                        onclick="$('#file-dropzone-upload').click();">{{lang_txt.upload[lang_choose]}}</button>
                    </div>
                    <div class="rg14-g3 mt-2 mb-3">
                      {{lang_txt.max_size[lang_choose]}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr style="border: 1px solid #E0E0E0;">
          </div>
        </div>

        <div class="row justify-content-center mb-3 mt-4 ">
          <div class="col-lg-10 col-12">
            <h2 class="md14-g1">{{lang_txt.choose[lang_choose]}}</h2>
          </div>
        </div>

        <!-- select signer -->
        <div class="row justify-content-center ">
          <div class="col-lg-5 col-sm-6 col-12 mb-3 cs-pointer">
            <div class="card" @click="select_sign_only(1)">
              <div class="card-body">
                <div class="row">
                  <div class="col-12 text-center">
                    <div>
                      <img src="images/man.png" alt="image select sign">
                    </div>
                    <div class="rg16-g1 mt-2">
                      {{lang_txt.self[lang_choose]}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-sm-6 col-12 mb-3 cs-pointer">
            <div class="card" @click="select_sign_only(2)">
              <div class="card-body">
                <div class="row">
                  <div class="col-12 text-center">
                    <div>
                      <img src="images/man_woman.png" alt="image select sign">
                    </div>
                    <div class="rg16-g1 mt-2">
                      {{lang_txt.multi[lang_choose]}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="row justify-content-center">
      <div class="col-lg-5 col-sm-6 col-12 mb-3 cs-pointer" >
        <div class="card" @click="select_sign_only(2)">
              <div class="card-body">
                <div class="row">
                    <div class="col-12 text-center">
                      <div>
                          <img src="images/man.png" alt="image select sign">
                        </div>
                        <div class="rg16-g1 mt-2">
                          ส่งเซ็นจำนวนมาก
                        </div>
                    </div>
                </div>
              </div>
            </div>
      </div>
      <div class="col-lg-5 col-sm-6 col-12 mb-3 "></div>
    </div> -->

      </div>





      <!-- Modal -->
      <div class="modal fade" id="showdocument" tabindex="-1" aria-labelledby="showdocumentLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="showdocumentLabel">{{lang_txt.preview[lang_choose]}}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row" v-for="r,i in previewImgList">
                <img v-bind:src="r" class="img-fluid border" alt="">
                <p class="text-center lg14-g3">{{i+1}} / {{previewImgList.length}}</p>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!-- Modal Save Draft-->
      <!-- <div class="modal" id="draftModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">{{lang_txt.draft_model_title[lang_choose]}}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>{{lang_txt.draft_model_detail[lang_choose]}}</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{lang_txt.draft_cancel[lang_choose]}}</button>
              <button type="button" class="btn btn-primary" @click="discradDraft">{{lang_txt.draft_discard[lang_choose]}}</button>
              <button type="button" class="btn btn-primary" @click="submitDraft">{{lang_txt.draft_save[lang_choose]}}</button>
            </div>
          </div>
        </div>
      </div> -->

    </section>

    <!--# include file="upload2.html" -->
    <!--# include file="upload3b.html" -->
    <!--# include file="upload4.html" -->
    <!-- End App -->
    
    <!-- Modal Save Draft-->
    <div class="modal" id="draftModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{lang_txt.draft_model_title[lang_choose]}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>{{lang_txt.draft_model_detail[lang_choose]}}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{lang_txt.draft_cancel[lang_choose]}}</button>
            <button type="button" class="btn btn-primary" @click="discradDraft">{{lang_txt.draft_discard[lang_choose]}}</button>
            <button type="button" class="btn btn-primary" @click="submitDraft">{{lang_txt.draft_save[lang_choose]}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Usetiful begin -->

  <script>
    (function (w, d, s) {
      var a = d.getElementsByTagName('head')[0];
      var r = d.createElement('script');
      r.async = 1;
      r.src = s;
      r.setAttribute('id', 'usetifulScript');
      r.dataset.token = "3ad152bc60bbfa1aec80f2512da56838";
      a.appendChild(r);
    })(window, document, "https://www.usetiful.com/dist/usetiful.js");
  </script>

  <!-- Usetiful end -->
  <iframe id="bug_session" src="../capi/test_bug_session" style="display: none;"></iframe>
</body>

<script type="text/javascript" src="js/jquery-3.3.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script src="js/dropzone.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/3.0.16/svg.min.js" type="text/javascript"></script>
<script src="js/signature_pad.umd2.js"></script>
<script src="https://unpkg.com/clipboard@2.0.0/dist/clipboard.min.js"></script>
<script src="node_modules/@svgdotjs/svg.draggable.js/dist/svg.draggable.js"></script>
<script src="js/signature_pad.umd2.js"></script>
<script src="js/sigpad.js?v=2_03"></script>
<!-- MY ITEM -->
<script type="text/javascript" src="components/upload_new_lang.js?v=1"></script>
<script type="text/javascript" src="components/upload_new_fn.js?v=1"></script>
<script type="text/javascript" src="components/upload_new3_lib.js"></script>
<script type="text/javascript" src="components/upload_new3.js?v=1"></script>
<script type="text/javascript" src="components/upload_new3_lib_nut.js"></script>
<script type="text/javascript" src="components/common.js"></script>

</html>