<!DOCTYPE html>
<html lang="th-TH" dir="ltr">

<head>
    <title>Bangkok Life | eSignature</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=1">
    <meta content="156004817605-qpm22mpvfvs0ch56s95igt6b1su33g78.apps.googleusercontent.com" name="google-signin-client_id">

    <!-- Preconnent -->
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="web/images/BLA_Icon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/index.css?v=12341">
    <link rel="stylesheet" type="text/css" href="css/header.css?v=121">
    <link rel="stylesheet" type="text/css" href="css/table.css?v=1211">
    <link rel="stylesheet" type="text/css" href="css/sideMenu.css?v=122">
    <link rel="stylesheet" type="text/css" href="css/font.css?v=12">

    <style>

    </style>

    <script src="js/moment.js"></script>
</head>

<body class="bg-F2">

    <div id="app" class="content" v-cloak>

        <header class="header">
            <ul>

                <ul>
                    <li v-if="lang_choose == 'th'">
                        <a href="/bla/#/dashboard">
                            <img src="images/bla_logo_th.png" class="w-h-12 ps-2 pb-2">
                        </a>
                    </li>
                    <li v-else>
                        <a href="/bla/#/dashboard">
                            <img src="images/bla_logo_en.png" class="w-h-12 ps-2 pb-2">
                        </a>
                    </li>
                    <li class="border-profile" style="padding: 3rem 10px 0px 0px !important" v-if="powered_by == false"></li>
                </ul>

                <li class="float-end">
                    <ul>
                        <li class="mt-3" v-if="lang_choose == 'th'" onclick="swithLang('en')">
                            <img src="images/thai-flag.svg" alt="thai" class="flag-size cs-pointer mx-lg-1 mx-2">
                            <span class="rg18-g2 mx-1 pc cs-pointer">ภาษาไทย</span>
                        </li>
                        <li class="mt-3" v-else onclick="swithLang('th')">
                            <img src="images/eng-flag.svg" alt="thai" class="flag-size cs-pointer mx-lg-1 mx-2">
                            <span class="rg18-g2 mx-1 pc cs-pointer">English</span>
                        </li>
                        <li class="border-profile pt-5 pe-0 pc"></li>
                        <li class="ps-0 pc">

                            <div class="dropdown">

                                <a class="mt-2" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="true">
                                    <img v-if="myProfile" v-bind:src="myProfile" alt="profile" class="pic-profile2 radius50">
                                    <img v-else src="images/profile.png" alt="profile" class="pic-profile2 radius50">
                                </a>

                                <ul class="dropdown-menu dropdown-profile" aria-labelledby="dropdownMenuButton">
                                    <li class="d-block">
                                        <div class="profile-box-img">
                                            <div class="max-profile-detail">
                                                <img v-if="myProfile" v-bind:src="myProfile" alt="profile" class="pic-profile2 radius50">
                                                <img v-else src="images/profile.png" alt="profile" class="pic-profile2 radius50">
                                            </div>
                                        </div>
                                        <div class="profile-box-text">
                                            <div class="row">
                                                <div class="col-12 rg14-g1 text-overflow-dot">
                                                    {{myFirstname}} {{myLastname}}
                                                </div>
                                                <div class="col-12 rg12-g1">
                                                    {{myEmail}}
                                                </div>
                                                <div class="col-12 rg12-g1 cl-2F">
                                                    -
                                                </div>
                                            </div>
                                        </div>
                                        <div class="w-100 text-end rg10-g3 cl-CI pb-2">
                                            <span class="cs-pointer" @click="logout()">
                        <i class="fas fa-sign-out-alt"></i>
                        {{lang_txt.logout[lang_choose]}}
                      </span>
                                        </div>
                                    </li>
                                </ul>
                            </div>


                        </li>
                    </ul>

                </li>
            </ul>
        </header>

        <section v-show="step == 1">

            <div class="modal fade" id="loadingModal" tabindex="-1" aria-labelledby="loadingModalLabel" aria-hidden="true" data-bs-backdrop="static">
                <div class="modal-dialog modal-sm modal-dialog-centered">
                    <div class="modal-content modal-none-bg">
                        <div class="modal-body text-center">
                            <div class="spinner-grow text-primary" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <div class="spinner-grow text-primary" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <div class="spinner-grow text-primary" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id='file-dropzone-upload' class="dropzone" style="display: none;"></div>
            <input id='file-attachment' hidden type="file"></input>
            <!-- Number Step -->
            <div class="row mb-4 fixed-top-step">
                <div class="box-step">
                    <div class="row position-relative d-flex justify-content-center">
                        <div>
                            <button class="btn-creden md16-g1 cl-CI text-decoration-underline position-absolute" @click="saveDraft"><i
                  class="fas fa-times me-1"></i>
                {{lang_txt.undo[lang_choose]}} </button>
                        </div>
                        <div class="w-50">
                            <div class="input-group">
                                <label class="btn-creden md16-g1 cl-CI cs-default" id="button-addon1"><i class="far fa-dot-circle "></i>
                  {{lang_txt.add[lang_choose]}}</label>
                                <hr class="col hr-blue pc">
                                <label class="btn-creden md16-g1 pc cs-default " id="button-addon1"><i class="far fa-dot-circle"></i>
                  {{lang_txt.recip[lang_choose]}}</label>
                                <hr class="col pc">
                                <label class="btn-creden md16-g1 pc cs-default " id="button-addon1"><i class="far fa-dot-circle"></i>
                  {{lang_txt.field[lang_choose]}}</label>
                                <hr class="col pc">
                                <label class="btn-creden md16-g1 pc cs-default " id="button-addon1"><i class="far fa-dot-circle"></i>
                  {{lang_txt.review[lang_choose]}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="container">
                <div class="row justify-content-center mb-3 mt-7">
                    <div class="col-lg-10 col-12">
                        <div class="alert alert-danger mt-3" role="alert" v-show="alert_no_pdf">
                            {{text_alert}}
                        </div>
                        <h2 class="md36-g2"> <svg width="15" height="40">
                <rect width="10" height="100" style="fill:#1667B2;" />
              </svg> {{lang_txt.add[lang_choose]}}
                        </h2>
                    </div>
                </div>
            </div>
            <!-- list doc -->
            <div class="row justify-content-center mb-3 Mobile">
                <div class="col-lg-10 col-12">
                    <div class="card">
                        <div class="card-body text-center cl-BD rg16-g3">
                            <p><i class="fas fa-exclamation-circle"></i></p>
                            <p>ฟังก์ชั่นอัพโหลดไฟล์ ไม่รองรับอุปกรณ์มือถือ Upload file function not support in mobile device</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- upload -->
            <div class="pc">
                <div class="container">
                    <div class="row justify-content-center mb-4" v-if="display_imageFiles.length > 0">
                        <div class="col-lg-10 col-12">
                            <p class="md24-g2">{{lang_txt.Setting_doctype[lang_choose]}}</p>
                            <div class="btn-group">
                                <button type="button" class="btn bg-FF dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  <span v-if="name_tag_folder == 'Public'">
                    <i class="fas fa-folder cl-21"></i> Public
                  </span>
                  <span v-else-if="name_tag_folder == 'Private'">
                    <i class="fas fa-folder cl-2F"></i> Private
                  </span>
                  <span v-else-if="name_tag_folder == 'Confidential'">
                    <i class="fas fa-folder cl-F0 "></i> Confidential
                  </span>

                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="javascript:void(0)" @click="set_tag_folder('Public')"><i
                        class="fas fa-folder cl-21"></i> Public</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0)" @click="set_tag_folder('Private')"><i
                        class="fas fa-folder cl-2F"></i> Private</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0)" @click="set_tag_folder('Confidential')"><i
                        class="fas fa-folder cl-F0 "></i> Confidential</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center mb-4 " v-for="r,i in display_imageFiles">
                        <div class="col-lg-10 col-12">
                            <div class="card">
                                <div class="card-body list_upload">
                                    <div class="d-flex">
                                        <div style="width: 5%;">
                                            <i class="fas fa-file-pdf cl-red" style="font-size: 36px;"></i>
                                        </div>
                                        <div style="width: 60%;">
                                            <label class="lg18-g1 mb-0 text-truncate d-block">{{getDisplayFilename(i)}}</label>
                                            <label class="lg16-g1 d-block">{{ get_count_page_pdf(i) }}{{lang_txt.page[lang_choose]}}</label>
                                        </div>
                                        <!-- setting_pdf -->
                                        <div style="width: 30%;" class="text-end pt-2">
                                            <span class="badge rounded-pill bg-orange" :data="i" v-if="setting_pdf[i].type_document == 'memo'">{{lang_txt.Memo_doc2[lang_choose]}}
                      </span>
                                            <span class="badge rounded-pill bg-info" v-else>{{lang_txt.General_doc2[lang_choose]}}</span>
                                            <span class="badge rounded-pill bg-green-1" v-if="setting_pdf[i].tag_folder == 'Public'">Public</span>
                                            <span class="badge rounded-pill bg-CI" v-else-if="setting_pdf[i].tag_folder == 'Private'">Private</span>
                                            <span class="badge rounded-pill bg-red" v-else-if="setting_pdf[i].tag_folder == 'Confidential'">Confidential</span>
                                        </div>
                                        <div style="width: 5%;" class="text-end  pt-2">
                                            <label class="rg18-g2 cs-pointer" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i
                          class="fas fa-ellipsis-v"></i></label>
                                            <ul class="dropdown-menu">
                                                <li><span class="dropdown-item-text md18-g4 cl-2F">{{lang_txt.Setting_doc[lang_choose]}}</span>
                                                </li>
                                                <li><a class="dropdown-item" href="javascript:void(0)" @click="set_type_doc(i,'general')">{{lang_txt.General_doc[lang_choose]}}</a></li>
                                                <li><a class="dropdown-item" href="javascript:void(0)" @click="set_type_doc(i,'memo')">{{lang_txt.Memo_doc[lang_choose]}}
                          </a></li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><span class="dropdown-item-text md18-g4 cl-2F">{{lang_txt.Manage_doc[lang_choose]}}</span>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="javascript:void(0)" @click="showPdfImage(i)">
                                                        <i class="fas fa-eye me-2 cs-pointer" v-bind:title="lang_txt.view[lang_choose]"></i> {{lang_txt.view[lang_choose]}}
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="javascript:void(0)" @click="remove_pdf(i)">
                                                        <i class="fas fa-trash me-2 cs-pointer" v-bind:title="lang_txt.draft_discard[lang_choose]"></i> {{lang_txt.draft_discard[lang_choose]}}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-10 col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12 text-center p-5">
                                            <div>
                                                <button type="button" class="btn btn-primary rg18-g3 cl-FF py-2 px-3" onclick="$('#file-dropzone-upload').click();"><i
                            class="fas fa-file-upload me-3"></i>{{lang_txt.upload[lang_choose]}}</button>
                                            </div>
                                            <div class="rg16-g3 mt-2">
                                                {{lang_txt.max_size[lang_choose]}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="row justify-content-center mb-3 mt-4">
                        <div class="col-10 text-end">
                            <button type="button" class="btn btn-info cl-FF rg18-g1" @click="select_sign_only(2)">{{lang_page.Next[lang_choose]}}</button>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Modal -->
            <div class="modal fade" id="showdocument" tabindex="-1" aria-labelledby="showdocumentLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="showdocumentLabel">{{lang_txt.preview[lang_choose]}}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row" v-for="r,i in previewImgList">
                                <img v-bind:src="r" class="img-fluid border" alt="">
                                <p class="text-center lg14-g3">{{i+1}} / {{previewImgList.length}}</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>



        </section>

        <section v-show="step == 2">
  <!-- modal group sign -->
  <div class="modal fade" id="groupModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="groupModalLabel"
    aria-hidden="true">
    <div class="modal-dialog  modal-lg modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="groupModalLabel">{{lang_txt.search_recip[lang_choose]}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" @click="cancle_member"
            aria-label="Close"></button>
        </div>
        <div class="modal-body p-0">
          <div class="d-flex">
            <div class="p-3 border-end" style="width: 30%;">
              <!--@click="show_history"-->
             
              <p class="rg18-g2" @click="show_history" style="cursor: pointer"><i class="fas fa-history me-1"></i>{{lang_txt.recip_list[lang_choose]}} </p>
              <div>
                <label class="md16-g2 d-block">{{lang_txt.group_sign[lang_choose]}}</label>
                <!--- search department-->
                <div class="p-1">
                  
                </div>
                <input type="text" class="form-control" v-bind:placeholder="lang_txt.search_dep[lang_choose]"
                  v-model="search_department_text" @input="search_department">
                <div class="d-flex flex-row mt-2" v-for="r,i in group_sign"  v-if="history_dap ==  false ">
                
                   <!--  @click="c_selecthis(i)"-->
                  <!-- @input="select_group_sign(i)" -->
                  <label class="form-check-label rg18-g2 ms-3 cs-pointer" style="word-wrap: break-word;width: 80%;"
                  @click="c_selecthis(r.group_id)">
                    <i class="fas fa-address-card me-1"></i>{{r.group_name}}
                  </label>
                </div>
                <div class="d-flex flex-row mt-2" v-for="r,i in search_department_arr"  v-if="history_dap ==  true ">
                
                  <!--  @click="c_selecthis(i)"-->
                 <!-- @input="select_group_sign(i)" -->
                 <label class="form-check-label rg18-g2 ms-3 cs-pointer" style="word-wrap: break-word;width: 80%;"
                 @click="c_selecthis(r.group_id)">
                   <i class="fas fa-address-card me-1"></i>{{r.group_name}}
                 </label>
               </div>
              </div>
            </div>
            <div class="p-0" style="width: 100%;">
              <div class="p-3">
                <input type="text" class="form-control" v-bind:placeholder="lang_txt.email[lang_choose]+' '+lang_txt.name[lang_choose]"
                  v-model="search_member_text" @input="search_member">
              </div>
              <!-- Header -->
              <div class="d-flex flex-row border-bottom border-top p-2 align-items-center">
                <div class="w-50">
                  <div class="md18-g2 pe-2">{{lang_txt.name[lang_choose]}}</div>
                </div>
                <div class="w-50">
                  <div class="md18-g2">{{lang_txt.email[lang_choose]}}</div>
                </div>
              </div>

              <div class="overflow-scroll" height="150">
                <!-- History -->
                <div class="d-flex flex-row border-bottom p-2 align-items-center" v-for="u,n in search_members"
                  v-if="history_show == false">
                  <div class="w-50">
                    <div class="d-flex flex-row">
                      <input class="form-check-input m-0" type="radio" name="select-person" v-model="selecthis"
                        v-bind:value="n" @click="c_selectgroup">
                      <!-- @input="select_member_sign(u.name,u.email)" -->
                      <label class="form-check-label rg18-g2 text-truncate ms-2" for="">{{u.name}} </label>
                    </div>
                  </div>
                  <div class="w-50">
                    <div class="d-flex flex-row-start">
                      <div class="rg18-g2 text-truncate" style="width:90%">{{u.email}}</div>
                      <div class="rg18-g2 cl-red cs-pointer" style="width:10%" v-if="history_show == false"><i class="fas fa-trash-alt"
                          @click="remove_history(u.email)"></i></div>
                    </div>
                  </div>
                </div>

                <!-- List menber -->
                <div class="d-flex flex-row border-bottom p-2 align-items-center" v-for="u,n in show_list_member"
                  v-if="history_show == true">
                  <div class="w-50">

                    <div class="rg18-g2 text-truncate">
                      <input class="form-check-input me-2" type="radio" name="select-person"
                        @change="c_selecthisDep(u.email,u.name)" v-bind:value="n"
                        v-bind:id="'check_member_' + u.email">
                      {{u.name}}
                    </div>

                  </div>
                  <div class="w-50">
                    <div class="rg18-g2 text-truncate">
                      {{u.email}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <!-- @click="clear_modal_group" -->
          <button type="button" class="btn btn-light rounded-0"
            data-bs-dismiss="modal">{{lang_txt.cancel[lang_choose]}}</button>

          <button type="button" class="btn btn-primary rounded-0" data-bs-dismiss="modal"
            @click="select_user_modal">{{lang_txt.confirm[lang_choose]}}</button>
          <!-- <button type="button" class="btn btn-info" data-bs-dismiss="modal" @click="select_mem" v-if="selecthis != '' || selecthis == 0 ">{{lang_txt.confirm[lang_choose]}}</button>
        <button type="button" class="btn btn-info" data-bs-dismiss="modal" @click="select_group_sign(selectgroup)" v-if="selectgroup != ''" >{{lang_txt.confirm[lang_choose]}}</button> -->
          <!-- @click="cancle_member" -->
        </div>
      </div>
    </div>

  </div>
  <!-- end modal -->
  <!-- modal group sign -->
  <div class="modal fade" id="groupdelegateModal" tabindex="-1" data-bs-backdrop="static"
    aria-labelledby="groupdelegateModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="groupModalLabel">{{lang_txt.search_recip[lang_choose]}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body p-0">
          <div class="d-flex">
            <div class="p-3 border-end" style="width: 30%;">
              <!--@click="show_history"-->
              <p class="rg18-g2" @click="show_history" style="cursor: pointer"><i class="fas fa-history me-1"></i>{{lang_txt.recip_list[lang_choose]}} </p>
              <div>
                
                <label class="md16-g2 d-block">{{lang_txt.group_sign[lang_choose]}}</label>
               <input type="text" class="form-control" v-bind:placeholder="lang_txt.search_dep[lang_choose]"
                  v-model="search_department_text" @input="search_department">
                <div class="d-flex flex-row mt-2" v-for="r,i in group_sign"  v-if="history_dap ==  false ">
                
                   <!--  @click="c_selecthis(i)"-->
                  <!-- @input="select_group_sign(i)" -->
                  <label class="form-check-label rg18-g2 ms-3 cs-pointer" style="word-wrap: break-word;width: 80%;"
                  @click="c_selecthis(r.group_id)">
                    <i class="fas fa-address-card me-1"></i>{{r.group_name}}
                  </label>
                </div>
                <div class="d-flex flex-row mt-2" v-for="r,i in search_department_arr"  v-if="history_dap ==  true ">
                  <!--  @click="c_selecthis(i)"-->
                 <!-- @input="select_group_sign(i)" -->
                 <label class="form-check-label rg18-g2 ms-3 cs-pointer" style="word-wrap: break-word;width: 80%;"
                 @click="c_selecthis(r.group_id)">
                   <i class="fas fa-address-card me-1"></i>{{r.group_name}}
                 </label>
               </div>
              </div>
            </div>
            <div class="p-0" style="width: 100%;">
              <div class="p-3">
                <input type="text" class="form-control" v-bind:placeholder="lang_txt.email[lang_choose]+' '+lang_txt.name[lang_choose]"
                  v-model="search_member_text" @input="search_member">
              </div>
              <!-- Header -->
              <div class="d-flex flex-row border-bottom border-top p-2 align-items-center">
                <div class="w-50">
                  <div class="md18-g2 pe-2">{{lang_txt.name[lang_choose]}}</div>
                </div>
                <div class="w-50">
                  <div class="md18-g2">{{lang_txt.email[lang_choose]}}</div>
                </div>
              </div>

              <div class="overflow-scroll" height="150">
                <!-- History -->
                <div class="d-flex flex-row border-bottom p-2 align-items-center" v-for="u,n in search_members"
                  v-if="history_show ==  false ">
                  <div class="w-50">
                    <div class="d-flex flex-row">
                      <input class="form-check-input m-0" type="radio" name="select-person" v-bind:value="n"
                        @click="select_delegate(u.email,u.name)">
                      <!-- @input="select_member_sign(u.name,u.email)" -->
                      <label class="form-check-label rg18-g2 text-truncate ms-2" for="">{{u.name}} </label>
                    </div>
                  </div>
                  <div class="w-50">
                    <div class="d-flex flex-row-start">
                      <div class="rg18-g2 text-truncate" style="width:90%">{{u.email}}</div>
                      <div class="rg18-g2 cl-red cs-pointer" style="width:10%" v-if="history_show == false"><i class="fas fa-trash-alt"
                          @click="remove_history(u.email)"></i></div>
                    </div>
                  </div>
                </div>

                <!-- List menber -->
                <div class="d-flex flex-row border-bottom p-2 align-items-center" v-for="u,n in show_list_member"
                  v-if="history_show == true">
                  <div class="w-50">

                    <div class="rg18-g2 text-truncate">
                      <input class="form-check-input m-0" type="radio" name="select-person" v-bind:value="n"
                        @click="select_delegate(u.email,u.name)">
                      {{u.name}} 
                    </div>

                  </div>
                  <div class="w-50">
                    <div class="rg18-g2 text-truncate">
                      {{u.email}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light rounded-0"
            data-bs-dismiss="modal">{{lang_txt.cancel[lang_choose]}}</button>
          <button type="button" class="btn btn-primary rounded-0" data-bs-dismiss="modal"
            @click="save_select_delegate()">{{lang_txt.confirm[lang_choose]}}</button>
        </div>
      </div>
    </div>

  </div>
  <!-- end modal -->

  <div class="modal fade" id="removefieldModal" tabindex="-1" data-bs-backdrop="static"
    aria-labelledby="removefieldModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          {{lang_txt.changing_role[lang_choose]}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light rounded-0"
            @click="no_remove_field">{{lang_txt.cancel[lang_choose]}}</button>
          <button type="button" class="btn btn-primary rounded-0"
            @click="remove_field_step2">{{lang_txt.confirm[lang_choose]}}</button>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row mb-3" v-if="i > 0">
    <div class="col-12 cl-2F rg18-g1 cs-pointer" @click="change_delegates_status(i,true)">
      <i class="fas fa-user-plus me-2"></i> {{lang_txt.adddelegates[lang_choose]}}
    </div>
  </div> -->
  <!-- Number Step -->
  <div class="row mb-4 fixed-top-step">
    <div class="box-step">
      <div class="row position-relative d-flex justify-content-center">
        <div>
          <button class="btn-creden md16-g1 cl-CI text-decoration-underline position-absolute" @click="saveDraft"><i
              class="fas fa-times me-1"></i>
            {{lang_txt.undo[lang_choose]}} </button>
        </div>
        <div class="w-50">
          <div class="input-group">
            <label class="btn-creden md16-g1 cl-CI cs-default" id="button-addon1">
              <i class="far fa-check-circle"></i>{{lang_txt.add[lang_choose]}}</label>
            <hr class="col hr-blue pc">
            <label class="btn-creden md16-g1 cl-CI pc cs-default " id="button-addon1"><i class="far fa-dot-circle"></i>
              {{lang_txt.recip[lang_choose]}}</label>
            <hr class="col hr-blue pc">
            <label class="btn-creden md16-g1 pc cs-default " id="button-addon1"><i class="far fa-dot-circle"></i>
              {{lang_txt.field[lang_choose]}}</label>
            <hr class="col pc">
            <label class="btn-creden md16-g1 pc cs-default " id="button-addon1"><i class="far fa-dot-circle"></i>
              {{lang_txt.review[lang_choose]}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- detail -->
  <div class="container">
    <div class="row justify-content-center mb-3 mt-7">
      <div class="col-lg-10 col-12">
        <h2 class="md36-g2 mb-4 pc"><svg width="15" height="40">
            <rect width="10" height="100" style="fill:#1667B2;" />
          </svg> {{lang_txt.recip[lang_choose]}}</h2>
        <p class="md18-g1 cl-CI mb-3 mt-3">{{lang_txt.sender[lang_choose]}}</p>
        <p class="rg18-g2 mb-4">{{user_name}} ({{user_email}})</p>
        <p class="md18-g1 cl-CI mb-3">{{lang_txt.recip[lang_choose]}}</p>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" v-model="use_signing_order" @input="set_number_sign_order">
          <label class="form-check-label rg18-g2">{{lang_txt.sign_order[lang_choose]}} | <span
              class="cl-CI text-decoration-underline cs-pointer" data-bs-toggle="modal" data-bs-target="#signorder">
              {{lang_txt.view_order[lang_choose]}} <i class="fas fa-comment-dots"></i></span> </label>
        </div>
      </div>
    </div>

    <div class="row justify-content-center mb-3" v-if="alert_step_2">
      <div class="col-lg-8">
        <div class="alert alert-danger alert-dismissible" role="alert">
          {{text_alert}}
          <button type="button" class="btn-close text-end" @click="close_alert_2"></button>
        </div>
      </div>
    </div>

    <!-- form ผู้รับ New -->
    <div class="row justify-content-center mb-3" v-for="r,i in people" v-if="r.needToSign">
      <div class="col-1 pc" v-if="use_signing_order">
        <input type="text" min="1" class="box-number fs-3 text-center border shadow-sm" @keyup="replace_number(i)"
          v-model="r.order_set">
        <!-- <div class="box-number text-center cl-CI md24-g1 float-end pt-2 border" v-else >{{i+1}}</div> -->
      </div>
      <div class="col-9" id="step2">
        <!-- bd-callout" v-bind:style="{'border-bottom-color': color[i].color}" -->
        <div class="card">
          <div class="card-body">
            <div class="row mb-3">
              <div class="col-lg-6 col-8">
                <div class="mb-3" v-if="r.needToSign">
                  <!-- is_inspector -->
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" v-bind:value="false" v-bind:name="'sign'+i"
                      @input="selcet_needtosign(i,false)" v-model="r.is_inspector">
                    <label class="form-check-label md18-g2"><i class="fas fa-pen"></i>
                      {{lang_txt.signer[lang_choose]}} </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" v-bind:value="true" v-bind:name="'sign'+i"
                      @input="selcet_needtosign(i,true)" v-model="r.is_inspector">
                    <label class="form-check-label md18-g2"><i class="fas fa-eye"></i>
                      {{lang_txt.view_only[lang_choose]}}</label>
                  </div>
                </div>
                <div class="mb-3" v-else>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" v-bind:value="false" v-bind:name="'sign'+i"
                      v-model="r.needToSign" disabled>
                    <label class="form-check-label md18-g2"><i class="fas fa-eye"></i>
                      {{lang_txt.view_only2[lang_choose]}}</label>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-4">
                <p class="md18-g2 cs-pointer  text-end" v-if="i > 0" @click="removePerson(i)"><i
                    class="fas fa-trash"></i> {{lang_txt.delete_recip[lang_choose]}} </p>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-6 col-12">
                <label class="form-label md18-g2">{{lang_txt.recip_name[lang_choose]}}</label>
                <div class="input-group mb-3">
                  <input type="text" class="form-control border-end-0 user-input" id="recip_n" v-model="r.name" @input="clear_group(i)">
                  <button class="btn line-bd-CF border-rigth-rd border-start-0" type="button" data-bs-toggle="modal"
                    data-bs-target="#groupModal" @click="set_person(i, $event)"><i class="fas fa-address-book"></i></button>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <label class="form-label md18-g2">{{lang_txt.recip_email[lang_choose]}}</label>
              <div class="col-md-6 col-12">
                <div class="input-group mb-3"><!--v-if="r.is_group == false"-->
                  <input type="text" class="form-control user-input" v-model="r.email" id="recip_e">
                  <button class="btn line-bd-CF border-rigth-rd border-start-0" type="button" data-bs-toggle="modal"
                    data-bs-target="#groupModal" @click="set_person(i, $event)"><i class="fas fa-address-book"></i></button> 
                </div>
                <!-- <div class="input-group mb-3" v-else>
                  <input type="text" class="form-control" v-model="r.email">
                </div> -->
                <div v-if="!chk_mail && r.email == ''">
                  <small class="rg14-g1 cl-F0">{{lang_txt.email_inva[lang_choose]}}</small>
                </div>

                <div class="row mb-3" v-if="r.is_inspector == false">
                  <div class="col-12 cl-2F rg18-g1 cs-pointer" @click="change_delegates_status(i,true)">
                    <i class="fas fa-user-plus me-2"></i> {{lang_txt.adddelegates[lang_choose]}}
                  </div>
                </div>

                <div class="row mb-3" v-if="r.delegates_sign&&r.is_inspector == false">
                  <div class="col-6 md18-g2 ">{{lang_txt.Setting_Delegating[lang_choose]}} </div>
                  <div class="col-6 md18-g2  text-end cl-2F text-decoration-underline"><span class="cs-pointer"
                      @click="change_delegates_status(i,false)">{{lang_txt.remove[lang_choose]}}</span> </div>
                  <div class="col-12">
                    <div class="input-group mb-3">
                      
                      <input type="text" class="form-control user-input-deleg" v-model="r.delegates_name" id="deleg_n">
                      <!-- <button class="btn line-bd-CF border-rigth-rd border-start-0" type="button" data-bs-toggle="modal"
                        data-bs-target="#groupdelegateModal" @click="set_person(i, $event)"><i
                          class="fas fa-address-book"></i></button> -->
                          <button class="btn line-bd-CF border-rigth-rd border-start-0" type="button" data-bs-toggle="modal"
                    data-bs-target="#groupdelegateModal" @click="set_person(i, $event)"><i class="fas fa-address-book"></i></button>
                    </div>
                    <div v-if="r.delegates_sign && r.delegates_mail == '' && !chk_mail ">
                      <small class="rg14-g1 cl-F0">{{lang_txt.email_inva[lang_choose]}}</small>
                    </div>
                  </div>
                  <div class="col-12">
                    <label class="form-label md18-g2">{{lang_txt.recip_email[lang_choose]}}</label>
                    <div class="input-group mb-3">
                    <input type="text" class="form-control border-end-0 user-input-deleg" v-model="r.delegates_mail" id="deleg_e">
                    <button class="btn line-bd-CF border-rigth-rd border-start-0" type="button" data-bs-toggle="modal"
                    data-bs-target="#groupdelegateModal" @click="set_person(i, $event)"><i class="fas fa-address-book"></i></button>
                  </div>
                </div>
                </div>

                <!-- <div class="show-multi-select" v-if="r.user_group.length > 0">
                  <span class="item-multi-select rg12-g1 cl-FF mb-2" v-for="u , k in  r.user_group">{{u.name}}
                    <i class="far fa-times-circle" @click="remove_person_group(i,k)"></i>
                  </span>
                </div> -->
              </div>
              <div class="col-md-6 col-12" v-if="r.user_group.length > 0">
                <div class="row">
                  <!-- <div class="form-check col-5">
                    <input class="form-check-input" type="checkbox" v-model="r.least_sign">
                    <label class="form-check-label rg18-g2">{{lang_txt.at_least[lang_choose]}}</label>
                  </div> -->
                  <!-- <div class="col-3" v-if="r.least_sign">
                    <select class="form-select" v-model="r.amount_least_sign">
                      <option v-for="n , l in  r.user_group" v-bind:value="l+1">{{l+1}}</option>
                    </select>
                  </div> -->
                </div>
              </div>

            </div>
            <hr>
            <div class="row mb-3">
              <!-- <div class="col-md-4 col-12">
                <p class="md14-g1 cl-2F">{{lang_txt.sign_set[lang_choose]}}</p>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" v-model="r.eKyc">
                  <label class="form-check-label rg18-g2"><i
                      class="fas fa-clipboard-check me-2"></i>{{lang_txt.req_kyc[lang_choose]}}<i
                      class="fas fa-question-circle ms-3 cl-CI fs-5" data-bs-toggle="tooltip" data-bs-html="true"
                      v-bind:title="lang_txt.kyc_tip[lang_choose]" id="kycTip"></i></label>

                </div>
                <div class="form-check">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label rg18-g2"><i class="fas fa-font me-2"></i>{{lang_txt.sign_initials[lang_choose]}}</label>
              </div>
              </div> -->
              <div class="col-md-4 col-12">
                <p class="md16-g1 cl-2F">{{lang_txt.access_set[lang_choose]}}</p>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" v-model="r.usePassword">
                  <label class="form-check-label rg18-g2"> <i
                      class="fas fa-key me-2"></i>{{lang_txt.pass_doc[lang_choose]}}
                    <i class="fas fa-question-circle ms-3 cl-CI fs-5" data-bs-toggle="tooltip" data-bs-html="true"
                      v-bind:title="lang_txt.pass_tip[lang_choose]" id="passTip"></i></label>

                </div>
                <input class="form-control" type="text" v-bind:placeholder="lang_txt.Enter_password[lang_choose]"
                  v-if="r.usePassword" v-model="r.password">
                <p class="rg12-g3" v-if="r.usePassword">{{lang_txt.provide_pass[lang_choose]}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ปุ่มเพิ่มผู้รับ/ถัดไป/ย้อนกลับ -->
    <div class="row justify-content-center mb-3">
      <div class="col-1" v-if="use_signing_order"></div>
      <div class="col-9">
        <div class="row">
          <div class="col-md-6 col-12 mb-3">
            <button class="btn btn-white2 rg18-g2" @click="addPerson" id="addrecip"><i class="fas fa-user-plus"></i>
              {{lang_txt.add_recip[lang_choose]}}</button>
            <button class="btn btn-white2 rg18-g2" data-bs-toggle="modal" @click="defaultcop" data-bs-target="#ccviewModal">
              <i class="far fa-copy"></i> {{lang_txt.Add_CC[lang_choose]}}</button>
          </div>
          <div class="col-md-6 col-12 text-end">
            <button class="btn btn-gray mx-2" @click="backward_step()">{{lang_txt.back[lang_choose]}}</button>
            <!-- <button class="btn btn-gray mx-2">{{lang_txt.next[lang_choose]}}</button> -->
            <!-- <button class="btn btn-info cl-FF " @click="next_step()">{{lang_txt.next[lang_choose]}}</button> -->
            <button class="btn btn-info cl-FF " @click="set_form_email()">{{lang_txt.next[lang_choose]}}</button>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- modal ดูลำดับการเซ็น -->
  <div class="modal fade" id="signorder" tabindex="-1" aria-labelledby="signorder" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title md24-g1" id="signorderLabel">{{lang_txt.sign_order[lang_choose]}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row mb-2">
            <p class="col-12 md18-g1"> {{lang_txt.sender[lang_choose]}} </p>
            <div class="col-1">
              <p class="cl-CI"><i class="fas fa-paper-plane"></i></p>
            </div>
            <div class="col-10 md14-g1">
              <p class="rg18-g2 mb-0">{{user_name}}</p>
              <p class="rg16-g3 mb-0">{{user_email}}</p>
            </div>
          </div>
          <p class="col-12 md18-g1"> {{lang_txt.recip[lang_choose]}} </p>
          <div class="row mb-2" v-for="r,i in people">
            <div class="col-1 md16-g1 cl-CI" v-if="use_signing_order">{{r.order_set}}</div>
            <div class="col-1 md16-g1 cl-CI" v-else>{{i + 1}} </div>
            <div class="col-1">
              <p class="cl-GY" v-if="!r.is_inspector"><i class="fas fa-pen"></i></p>
              <p class="cl-GY" v-else><i class="fas fa-eye"></i></p>
            </div>
            <div class="col-9 md16-g1">
              <p class="rg18-g2 mb-0">{{r.name}}</p>
              <p class="rg16-g3 mb-0" v-if="r.is_group == false">({{r.email}})</p>
              <p class="rg16-g3 mb-0" v-else v-for="u , k in  r.user_group">({{u.name}})</p>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="ccviewModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="ccviewModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ccviewModalLabel">{{lang_txt.Contact_List[lang_choose]}}</h5>
        </div>
        <div class="modal-body p-0">
          <div class="d-flex border-bottom" style="max-height: 241px;">
            <div class="p-3 border-end" style="width: 30%;overflow-y: auto;">
              <input type="text" class="form-control" v-bind:placeholder="lang_txt.search_dep[lang_choose]"
                  v-model="search_department_text" @input="search_department">
                <div class="d-flex flex-row mt-2" v-for="r,i in group_sign"  v-if="history_dap ==  false ">
                
                   <!--  @click="c_selecthis(i)"-->
                  <!-- @input="select_group_sign(i)" -->
                  <label class="form-check-label rg18-g2 ms-3 cs-pointer" style="word-wrap: break-word;width: 80%;"
                  @click="c_selecthis(r.group_id)">
                    <i class="fas fa-address-card me-1"></i>{{r.group_name}}
                  </label>
                </div>
                <div class="d-flex flex-row mt-2" v-for="r,i in search_department_arr"  v-if="history_dap ==  true ">
                
                  <!--  @click="c_selecthis(i)"-->
                 <!-- @input="select_group_sign(i)" -->
                 <label class="form-check-label rg18-g2 ms-3 cs-pointer" style="word-wrap: break-word;width: 80%;"
                 @click="c_selecthis(r.group_id)">
                   <i class="fas fa-address-card me-1"></i>{{r.group_name}}
                 </label>
               </div>
            </div>
            <div class="p-0" style="width: 70%;overflow-y: auto;">
              <div class="p-3">
                <input type="text" class="form-control" v-bind:placeholder="lang_txt.email[lang_choose]+' '+lang_txt.name[lang_choose]"
                  v-model="search_list_cc" @input="search_list_cc_mail">
              </div>
              <!-- Header -->
              <div class="d-flex flex-row border-bottom border-top p-2 align-items-center">
                <div class="w-50">
                  <div class="md18-g2 pe-2">{{lang_txt.name[lang_choose]}}</div>
                </div>
                <div class="w-50">
                  <div class="md18-g2">{{lang_txt.email[lang_choose]}}</div>
                </div>
              </div>

              <div class="overflow-scroll" height="150">
                <!-- List menber -->
                <div class="d-flex flex-row border-bottom p-2 align-items-center" v-for="u,n in show_list_cc">
                  <div class="w-50">
                    <div class="rg18-g2 text-truncate">
                      <input class="form-check-input me-2" type="checkbox" v-model="u.checked"
                        name="add_one_cc"
                        @change="add_list_cc(u.email , u.name, u.checked, u.get_groupname, $event)"
                        v-bind:value="u.email" v-bind:id="'check_member_' + u.email">
                      {{u.name}}

                    </div>
                  </div>
                  <div class="w-50">
                    <div class="rg18-g2 text-truncate">
                      {{u.email}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="row p-3" style="max-height: 241px;overflow-y: auto;" v-if="list_cc.length>0">
            <p class="rg18-g1 mb-0">รายชื่อที่เลือก</p>

            <div class="col-12" v-for="l, i in list_cc">
              <p class="mt-2 md14-g2 mb-0"><i class="fas fa-address-card me-1"></i> 
                {{l.name_group}} 
              </p>
              <span class="rg12-g2 me-2 mb-2" v-if="l.cc.length > 0" v-for="c, n in l.cc">
                {{c.name}} ,
              </span>
            </div>

          </div> -->
          <div class="row p-3" style="max-height: 241px;overflow-y: auto;">
            <p class="rg18-g1 mb-0">รายชื่อที่เลือก</p>

            <!-- <div class="col-12" v-for="l, i in people"> 
              <div v-if="l.is_group && l.needToSign == false">
                <p class="mt-2 md14-g2 mb-0"><i class="fas fa-address-card me-1"></i> 
                  {{l.name}} 
                </p>
                <span class="rg12-g2 me-2 mb-2" v-if="l.user_group.length > 0" v-for="c, n in l.user_group">
                  {{c.email}} ,
                </span>
              </div> -->
            <!-- <div v-else-if="l.needToSign == false"> -->

            <!-- <p class="mt-2 md14-g2 mb-0"><i class="fas fa-address-card me-1"></i>  -->

            <!-- <p class="mt-2 md14-g2 mb-0"> 
                  {{l.email}} , this is CC mail
                </p> -->

            <!-- <span class="rg12-g2 me-2 mb-2">
                  {{l.email}} ,
                </span> -->
            <!-- </div> -->
            <div v-for="(itemlist,indexlist) in list_member_department">

              
              <div class="col-12" v-for="(item,index) in group_sign">

                <div v-if="(index == itemlist)">
                  <p class="mt-2 md18-g2 mb-0">
                    <i class="fas fa-address-card me-1"></i> {{item.group_name}}
                  </p>
                </div>
              </div>
              <span v-for="(prod, j) in list_cc" v-if="(itemlist== prod.get_groupname)">

               
                  
                    {{ prod.name}},
                  
                
              </span>



            </div>
            <!-- </div> -->
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
            @click="clear_list_cc">{{lang_page.close[lang_choose]}}</button>
          <button type="button" class="btn btn-info cl-FF "
            data-bs-dismiss="modal">{{lang_page.save[lang_choose]}}</button>
        </div>
      </div>
    </div>
  </div>

</section>
        <section v-if="step == 3">
    <!-- Number Step -->
    <div class="row mb-4 fixed-top-step">
        <div class="box-step">
            <div class="row position-relative d-flex justify-content-center">
                <div>
                    <button class="btn-creden md16-g1 cl-CI text-decoration-underline position-absolute" @click="saveDraft"><i class="fas fa-times me-1"></i>
                        {{lang_txt.undo[lang_choose]}} </button>
                </div>
                <div class="w-50">
                    <div class="input-group">
                        <label class="btn-creden md16-g1 cl-CI cs-default" id="button-addon1">
                            <i class="far fa-check-circle"></i> {{lang_txt.add[lang_choose]}}</label>
                        <hr class="col hr-blue pc">
                        <label class="btn-creden md16-g1 cl-CI pc cs-default " id="button-addon1">
                            <i class="far fa-check-circle"></i> {{lang_txt.recip[lang_choose]}}</label>
                        <hr class="col hr-blue pc">
                        <label class="btn-creden md16-g1 cl-CI pc cs-default " id="button-addon1">
                            <i class="far fa-dot-circle"></i> {{lang_txt.field[lang_choose]}}</label>
                        <hr class="col pc">
                        <label class="btn-creden md16-g1 pc cs-default " id="button-addon1"><i
                                class="far fa-dot-circle"></i> {{lang_txt.review[lang_choose]}}</label>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="md36-g2 mb-4 mt-3 pc" style="margin-left: 20%;"><svg width="15" height="40">
                <rect width="10" height="100" style="fill:#1667B2;" />
            </svg> {{lang_txt.field[lang_choose]}}</h2>


        <div class="d-flex">
            <div class="layout-step3-start">
                <!-- ว่างงง มากกก -->
            </div>
            <div class="layout-step3-center">
                <div class="bg-E5 h-previwe scoll-y">
                    <div class="p-5">
                        <!-- <div class="bg-doc mb-2" v-bind:id="'doc'+i" v-for="r,i in imageFiles">
                            <a v-bind:id="'page'+i"></a>    
                            <svg v-bind:id="'svg'+i" width="100%" height="100%"
                                onmouseenter="setActiveSvg(this)" 
                                onmouseleave="leaveActiveSvg(this);"
                                onmousemove="moveTool(this,event)"
                                >
                                <image v-bind:onload="'loadSvgImg('+ i +', this)'" v-bind:id="'svgImg'+i" border="1" v-bind:xlink:href="'../face/images/card/'+r"></image>
                            </svg>
                        </div> -->
                        <div class="bg-doc mb-2" id='main-svg'>
                            <svg v-if="sign_only" id="svg" width="100%" onmouseenter="upload.prepare_new_tool_self_sign(1)" onmousemove="upload.mousemove_prepare_new_tool(event)" onclick="upload.insert_new_tool(event)" ondragover="allowDrop(event);upload.prepare_new_tool_self_sign(2)"
                                ondrop="upload.dropToSvg(event);upload.insert_new_tool(event)">

                            </svg>
                            <svg v-else id="svg" width="100%" onmouseenter="upload.prepare_new_tool(1)" onmousemove="upload.mousemove_prepare_new_tool(event)" onclick="upload.insert_new_tool(event)" ondragover="allowDrop(event);upload.prepare_new_tool(2)" ondrop="upload.dropToSvg(event);upload.insert_new_tool(event)">

                            </svg>
                        </div>

                    </div>
                </div>
            </div>
            <div class="layout-step3-end">
                <div class="scoll-y">
                    <div class="p-2 bg-F2 upload.step=3">
                        <p class="pc md24-g1 cl-CI">{{lang_txt.select_signer[lang_choose]}}</p>
                        <div class="mb-4 pc">
                            <div class="w-100 mb-3">
                                <div class="dropdown rounded-0 mt-3">
                                    <button v-bind:style="{'color': color[selectedPersonIndex].color}" class="btn border full-width rounded-0 text-start text-truncate" type="button" id="dropdownPerson" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #fff;">
                                        <div class="d-flex">
                                            <div style="width:15%;font-size: 20px;"><i class="fas fa-user-circle"></i>
                                            </div>
                                            <div class="rg16-g2 text-truncate" style="width:80%;padding-top: 4px;"
                                                v-if="selectedPersonName == '' ">{{lang_txt.No_signer[lang_choose]}}
                                            </div>
                                            <div class="rg16-g2 text-truncate" style="width:80%;padding-top: 4px;"
                                                v-else>{{selectedPersonName}}</div>
                                            <div style="width:5%;color: #212529 !important;"><i
                                                    class="fas fa-caret-down"></i></div>
                                        </div>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownPerson" style="width: 100%;">
                                        <li v-for="r,i in people" v-if="r.needToSign==true || r.needToSign=='true'">
                                            <a class="dropdown-item" href="javascript:void(0)" @click="setSelectedPerson(i, r.email, r.name,r.title, r.position_id)" v-bind:style="{'color': color[i].color}">
                                                <div class="d-flex">
                                                    <div style="width:15%;font-size: 20px;"><i class="fas fa-user-circle"></i> </div>
                                                    <div class="rg16-g2 text-truncate" style="width:83%;">{{r.name}}
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="javascript:void(0)" @click="setSelectedPerson_no_sign()">
                                                <div class="d-flex">
                                                    <div style="width:15%;font-size: 20px;"><i class="fas fa-user-circle"></i> </div>
                                                    <div class="rg16-g2 text-truncate" style="width:83%;">
                                                        {{lang_txt.No_signer[lang_choose]}}</div>
                                                </div>
                                            </a>
                                        </li>

                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="mb-4 mt-3">
                            <p class="pc md24-g1 cl-CI me-4">{{lang_txt.tool[lang_choose]}}
                                <i class="fas fa-question-circle cl-2F ms-5  rg18-g2" data-bs-toggle="tooltip" data-bs-placement="bottom" v-bind:title="lang_txt.Drag_tools[lang_choose]" @mouseover="t_onover('tool_1')" id="tool_1"></i>
                            </p>
                            <button type="button" class="btn btn-danger rg16-g3 cl-FF  ms-3" @click="deleteField()">{{lang_txt.remove[lang_choose]}}</button>
                        </div>
                        <div class="mb-4 mt-3 pc" v-if="selectedPersonObj.is_inspector == true">

                            <div class="col-md-12 mb-3">

                                <button class="btn-outline-primary-tool" @click="set_tool('Approve', 1)" draggable="true" ondragstart="upload.set_tool('Approve', 1);dragTool(event)" style="width: 180px;"><!-- v-if="!disabled_approve"-->
                                    <span v-bind:style="{'color': color[selectedPersonIndex].color}">
                                        <i class="far fa-check-circle  me-2"></i>
                                    </span>
                                    {{lang_txt.Verification[lang_choose]}}
                                </button>
                                <!-- <button class="btn-outline-primary-tool" disabled v-else style="width: 180px;" >
                                    <i class="far fa-check-circle  me-2"></i>
                                    {{lang_txt.Verification[lang_choose]}}
                                </button> -->
                            </div>

                        </div>
                        <div class="mb-4 mt-3 pc" v-else>
                            <div class="col-md-12 mb-3">
                                <button class="btn-outline-primary-tool me-4" @click="set_tool('Signature',1)" draggable="true" ondragstart="upload.set_tool('Signature', 1);dragTool(event)" v-if="toolSignature">
                                    <span v-bind:style="{'color': color[selectedPersonIndex].color}">
                                        <i class="far fa-edit me-2"></i>
                                    </span>
                                    {{lang_txt.Signature[lang_choose]}}
                                </button>
                                <button class="btn-outline-primary-tool me-4" disabled v-else>
                                    <i class="far fa-edit cl-BD me-2"></i>
                                    {{lang_txt.Signature[lang_choose]}}
                                </button>


                                <button class="btn-outline-primary-tool" @click="set_tool('Email',1)" draggable="true" ondragstart="upload.set_tool('Email', 1);dragTool(event)" v-if="toolEmail">
                                    <span v-bind:style="{'color': color[selectedPersonIndex].color}">
                                        <i class="fas fa-envelope me-2"></i>
                                    </span>
                                    {{lang_txt.Email[lang_choose]}}
                                </button>
                                <button class="btn-outline-primary-tool" disabled v-else>
                                    <i class="fas fa-envelope cl-BD me-2"></i>
                                    {{lang_txt.Email[lang_choose]}}
                                </button>
                            </div>
                            <div class="col-md-12 mb-3">
                                <button class="btn-outline-primary-tool me-4" @click="set_tool('Date',1)" draggable="true" ondragstart="upload.set_tool('Date', 1);dragTool(event)" v-if="toolDate">
                                    <span v-bind:style="{'color': color[selectedPersonIndex].color}">
                                        <i class="far fa-calendar me-2"></i>
                                    </span>
                                    {{lang_txt.Date[lang_choose]}}
                                </button>
                                <button class="btn-outline-primary-tool me-4" disabled v-else>
                                    <i class="far fa-calendar cl-BD me-2"></i>
                                    {{lang_txt.Date[lang_choose]}}
                                </button>

                                <button class="btn-outline-primary-tool" @click="set_tool('Name',1)" draggable="true" ondragstart="upload.set_tool('Name', 1);dragTool(event)" v-if="toolName">
                                    <span v-bind:style="{'color': color[selectedPersonIndex].color}">
                                        <i class="fas fa-user me-2"></i>
                                    </span>
                                    {{lang_txt.Name[lang_choose]}}
                                </button>
                                <button class="btn-outline-primary-tool" disabled v-else>
                                    <i class="far fas fa-user cl-BD me-2"></i>
                                    {{lang_txt.Name[lang_choose]}}
                                </button>
                            </div>
                            <div class="col-md-12 mb-3">
                                <button class="btn-outline-primary-tool me-4" @click="set_tool('Text',1)" draggable="true" ondragstart="upload.set_tool('Text', 1);dragTool(event)" v-if="toolText">
                                    <span v-bind:style="{'color': color[selectedPersonIndex].color}">
                                        <i class="fas fa-font me-2"></i>
                                    </span>
                                    {{lang_txt.Text[lang_choose]}}
                                </button>
                                <button class="btn-outline-primary-tool me-4" disabled v-else>
                                    <i class="fas fa-font fa-user cl-BD me-2"></i>
                                    {{lang_txt.Text[lang_choose]}}
                                </button>

                                <button class="btn-outline-primary-tool" @click="set_tool('Attachment', 1)" draggable="true" ondragstart="upload.set_tool('Attachment', 1);dragTool(event)" v-if="toolAttachment">
                                    <span v-bind:style="{'color': color[selectedPersonIndex].color}">
                                        <i class="fas fa-paperclip me-2"></i>
                                    </span>
                                    {{lang_txt.Attachment[lang_choose]}}
                                </button>
                                <button class="btn-outline-primary-tool" disabled v-else>
                                    <i class="fas fa-paperclip cl-BD me-2"></i>
                                    {{lang_txt.Attachment[lang_choose]}}
                                </button>
                            </div>
                            <div class="col-md-12 mb-3">
                                <button class="btn-outline-primary-tool me-4" @click="set_tool('Phone',1)" draggable="true" ondragstart="upload.set_tool('Phone', 1);dragTool(event)" v-if="toolPhone">
                                    <span v-bind:style="{'color': color[selectedPersonIndex].color}">
                                        <i class="fas fa-phone  me-2"></i>
                                    </span>
                                    {{lang_txt.Phone[lang_choose]}}
                                </button>
                                <button class="btn-outline-primary-tool me-4" disabled v-else>
                                    <i class="fas fa-phonecl-BD me-2"></i>
                                    {{lang_txt.Phone[lang_choose]}}
                                </button>

                            </div>
                        </div>


                        <div class="mb-4 mt-4 ">
                            <p class="pc md24-g1 cl-CI mb-3">{{lang_txt.Advance_Tool[lang_choose]}}</p>
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" value="" id="" v-model="is_no_sign" disabled>
                                <label class="form-check-label" for="">
                                    {{lang_txt.No_signer[lang_choose]}}
                                </label>
                            </div>
                            <div class="form-check mb-3" v-if="note_field != null">
                                <input class="form-check-input" type="checkbox" value="" id="" v-model="hide_note" @click="hideNotes">
                                <!-- <input class="form-check-input" type="checkbox" value="" id="" v-model="note_field.is_hidden" > -->
                                <label class="form-check-label" for="">
                                    {{lang_txt.Hide_Text[lang_choose]}}
                                </label>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" value="" id="" @change="set_clone_all_field()" v-model="is_clone" :disabled="is_no_sign">
                                <label class="form-check-label" for="">
                                    {{lang_txt.copy_all[lang_choose]}}
                                </label>
                            </div>

                        </div>
                        <hr class="mb-o" v-if="!this.show_set_detail">

                    </div>
                </div>
            </div>
        </div>
        <div class="fixed-bottom text-center" style="height: 70px;background-color: rgb(255, 255, 255);">
            <div class="mb-4 mt-4 ">
                <button type="button" class="btn btn-secondary me-2 me-4" style="width:120px" @click="backward_step()">{{lang_txt.back[lang_choose]}}</button>
                <button type="button" class="btn btn-info cl-FF" style="width:120px" @click="next_step()">{{lang_txt.next[lang_choose]}}</button>
            </div>
        </div>
    </div>

    <!-- upload.step=3 -->
    <!-- <div class="row bg-FF position-fixed bottom-0 py-2 w-100"
        style="z-index: 99;box-shadow: -9px 0px 4px rgba(0, 0, 0, 0.25);">
        <div class="col-12">
            <div class="text-center">
                <button type="button" class="btn btn-secondary me-2"
                    @click="backward_step()">{{lang_txt.back[lang_choose]}}</button>
                <button type="button" class="btn btn-warning"
                    @click="next_step()">{{lang_txt.next[lang_choose]}}</button>
            </div>
        </div>
    </div> -->

    <div class="modal fade" id="AddfieldModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    Add field for your recipients
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</section>
        <section v-show="step == 4">
  <!-- Number Step -->
  <div class="row mb-4 fixed-top-step">
    <div class="box-step">
      <div class="row position-relative d-flex justify-content-center">
        <div>
          <button class="btn-creden md16-g1 cl-CI text-decoration-underline position-absolute" @click="saveDraft"><i
              class="fas fa-times me-1"></i>
            {{lang_txt.undo[lang_choose]}} </button>
        </div>
        <div class="w-50">
          <div class="input-group">
            <label class="btn-creden md16-g1 cl-CI cs-default" id="button-addon1">
              <i class="far fa-check-circle"></i> {{lang_txt.add[lang_choose]}}</label>
            <hr class="col hr-blue pc">
            <label class="btn-creden md16-g1 cl-CI pc cs-default " id="button-addon1">
              <i class="far fa-check-circle"></i> {{lang_txt.recip[lang_choose]}}</label>
            <hr class="col hr-blue pc">
            <label class="btn-creden md16-g1 cl-CI pc cs-default " id="button-addon1">
              <i class="far fa-check-circle"></i> {{lang_txt.field[lang_choose]}}</label>
            <hr class="col hr-blue pc">
            <label class="btn-creden md16-g1 cl-CI pc cs-default " id="button-addon1">
              <i class="far fa-check-circle"></i> {{lang_txt.review[lang_choose]}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- upload.step=4 -->
  <!-- detail -->
  <div class="container">
  <div class="row justify-content-center mt-5">
      <div class="col-8 position-relative">
        <h2 class="md36-g2 mb-4 pc"><svg width="15" height="40">
          <rect width="10" height="100" style="fill:#1667B2;" />
          </svg> {{lang_txt.recip[lang_choose]}}
        </h2>
        <p class="md24-g1 mt-4">{{lang_txt.Type[lang_choose]}}</p>
        <p class="md18-g2" v-for="l,i in setting_pdf"> {{l.type_document}} <span class="cl-CI">({{lang_txt.document_type[lang_choose]}} {{l.tag_folder}} )</span></p>

        <p class="md24-g1 mb-3 mt-5">{{lang_txt.sender[lang_choose]}}</p>
        <p class="md18-g2">{{user_name}} ({{user_email}})</p>

        <p class="md24-g1 mb-3 mt-5">{{lang_txt.recip_info[lang_choose]}}</p>

        <div v-for="l,i in people" v-if="step == 4">
          <span v-if="l.is_group">
            <p class="md18-g2 me-0" v-for="g,i in l.user_group"> {{g.name}} ({{g.email}})</p>
          </span>
          <!-- <p class="md18-g2" v-else-if="l.is_group"> {{lang_txt.No_signer[lang_choose]}} </p> -->
          <p class="md18-g2" v-else> {{l.name}} ({{l.email}})</p>
          <!-- <p class="md18-g4 cl-CI" v-if="l.needToSign"> <i class="far fa-edit"></i> {{lang_txt.need_sign[lang_choose]}} <span v-html="getCountTotalSign(l.email)"></span></p> -->
          <p class="md18-g4 cl-CI" v-if="l.needToSign"> <i class="far fa-edit"></i> {{lang_txt.need_sign[lang_choose]}} (<span v-html="getCountTotalSign(l.email,l.toolName)"></span>)</p>
        <!-- <p class="md18-g4 cl-CI" v-else> <i class="fas fa-eye"></i> {{lang_txt.view_only[lang_choose]}}</p> -->
        </div>

        <p class="md24-g1 mb-3 mt-5" >{{lang_txt.CC_Recipients[lang_choose]}}</p><!--v-if="list_cc.length > 0"-->
		<!--
        <div v-for="l,i in people">
          <div v-if="l.is_group && l.needToSign == false">
            <span class="md18-g2" v-if="l.user_group.length > 0" v-for="c, n in l.user_group">
              {{c.email}} ,
            </span>
            </span>
          </div>
          <div v-else-if="l.needToSign == false">
            <span class="md18-g2">
              {{l.email}} ,
            </span>
          </div>
        </div>
		-->

    <div v-for="(itemlist,indexlist) in list_member_department">

              
      <div class="col-12" v-for="(item,index) in group_sign">

        <div v-if="(index == itemlist)">
          <p class="mt-2 md18-g2 mb-0">
            <i class="fas fa-address-card me-1"></i> {{item.group_name}}
          </p>
        </div>
      </div>
      <span v-for="(prod, j) in list_cc" v-if="(itemlist== prod.get_groupname)">

       
          
            {{ prod.name}},
          
        
      </span>



    </div>
        

        <p class="md24-g1 mb-3 mt-5">{{lang_txt.subject[lang_choose]}}</p>
        <input class="form-control" type="text" placeholder="Please Sign : Amet" v-model='subject' maxlength="100">
        <small class="rg14-g3">{{lang_txt.max_text[lang_choose]}} {{subject.length}} / 100</small>

        <p class="md24-g1 mb-3 mt-3">{{lang_txt.message[lang_choose]}}</p>
        <textarea class="form-control" rows="3" v-model="msg"></textarea>


        <div class="d-flex justify-content-end mt-3">
          <button type="button" class="btn btn-secondary rg18-g1 cl-FF me-3"
            @click="backward_step">{{lang_txt.back[lang_choose]}}</button>

          <button type="button" class="btn btn-info rg18-g1 cl-FF px-5" @click="finish"
            v-if="status_finish_btn">{{lang_txt.sent[lang_choose]}}</button>
          <button type="button" class="btn btn-info rg18-g1 cl-FF px-5" v-else>
            <div class="spinner-border spinner-border-sm" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </button>
        </div>

        <div class="position-absolute top-0 end-0">
          <div class="d-flex flex-column justify-content-center">
            <!-- <div class="box-review"> -->
              <img v-bind:src="'../face/images/card/'+imageFiles[0]" alt="" class="box-review">
            <!-- </div> -->
            <label class="md18-g1 mt-2 cl-CI text-center">{{lang_txt.Preview_file[lang_choose]}}</label> 
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- modal -->
  <div class="modal fade" id="privatenailModal" tabindex="-1" aria-labelledby="privatemailModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="privatemailModalLabel">{{lang_txt.add_pri_mess[lang_choose]}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6 col-12">
              <div class="mb-3">
                <label class="form-label">{{lang_txt.message[lang_choose]}}</label>
                <select class="form-select" aria-label="select person" v-model="select_person_private_mail">
                  <option v-for="r,i in people" v-bind:value="i">{{r.name}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <label for="" class="form-label">{{lang_txt.message[lang_choose]}}</label>
              <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                  style="height: 100px" v-model="private_mail" maxlength="100"></textarea>
                <!-- <label for="floatingTextarea2">{{lang_txt.message[lang_choose]}}</label> -->
              </div>
              <p class="rg14-g2">{{lang_txt.max_text[lang_choose]}} {{private_mail.length}} / 100
                {{lang_txt.cha[lang_choose]}}</p>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light"
            data-bs-dismiss="modal">{{lang_txt.cancel[lang_choose]}}</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
            @click="set_private_mail">{{lang_txt.confirm[lang_choose]}}</button>
        </div>
      </div>
    </div>
  </div>

</section>

        <!--SIGNATURE MODAL-->
<div class="modal fade e-signature-modal" id="editSignaturebox" tabindex="-1" role="dialog"
    aria-labelledby="editSignaturebox" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h5 class="modal-title" id="exampleModalLongTitle">
                    {{lang_page.title_tab[lang_choose]}}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="signature-form" onsubmit="return false">
                    <ul class="nav nav-pills nav-fill" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active rounded-0" id="home-tab" data-bs-toggle="tab" href="#home" role="tab"
                                aria-controls="home-tab" aria-selected="true"
                                onclick="click_tab(false)">{{lang_page.tab_Choose[lang_choose]}}
                                <!-- Choose Signature -->
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link rounded-0" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab"
                                aria-controls="profile-tab" aria-selected="false"
                                onclick="click_tab(false)">{{lang_page.tab_Draw[lang_choose]}}
                                <!-- Draw Signature -->
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link rounded-0" id="contact-tab" data-bs-toggle="tab" href="#contact" role="tab"
                                aria-controls="contact-tab" aria-selected="false"
                                onclick="click_tab(true)">{{lang_page.tab_Generate[lang_choose]}}
                                <!-- Generate Signature -->
                            </a>
                        </li>
                    </ul>

                    <br>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <!-- Choose -->
                            <div class="s-choose box-your-signature p-3">
                                <div class="input-signature-group group-draw_img">
                                    <div class="row justify-content-center">
                                        <div class="col-12">
                                            <input type="radio" name="sig-1" value="draw" class="radio-input"
                                                id="type_radio1" @change="check_choose">
                                            <img width="60%" class="draw draw_img" id="draw_img">
                                        </div>
                                    </div>
                                </div>
                                <div class="input-signature-group group-gen_img mt-3">
                                    <div class="row justify-content-center">
                                        <div class="col-12">
                                            <input type="radio" name="sig-1" value="gen" class="radio-input"
                                                id="type_radio2" @change="check_choose">
                                            <img width="60%" class="draw gen_img" id="gen_img">
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <div class="mt-3">
                                    <div v-show="count_field > 1">
                                        <input id="sign_all" type="checkbox" class="float-left marginTop5" disabled>
                                        <label class="float-left marginLeft10 lg14-g1">ทุกตำแหน่งลายเซ็นของฉันใช้ลายเซ็นนี้</label>
                                    </div>
                                    <button type="button" class="btn btn-primary modal-create-btn float-end rounded-0"
                                    v-if="check_choose_signature == true" data-dismiss="modal"
                                    onclick="upload.set_sign_type(document.getElementById('type_radio1').checked?document.getElementById('type_radio1').value:document.getElementById('type_radio2').value)">{{lang_page.save2[lang_choose]}}</button>
                                <button type="button" class="btn btn-secondary float-end rounded-0" v-else @click="please_choose">
                                    {{lang_page.save2[lang_choose]}}
                                </button>
                                <button type="button" class="btn btn-light float-end me-3 rounded-0"
                                    data-bs-dismiss="modal">{{lang_page.close[lang_choose]}}</button>
                                </div>
                            
                        </div>
                        <!-- Draw -->
                        <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="draw-section">
                                <div class="draw-box">
                                    <div class="wrapper">
                                        <canvas id="signature-pad" class="signature-pad" width=400 height=100></canvas>
                                    </div>
                                </div>
                                <br>
                                <div class="modal-button-group" style="float: right;">
                                    <button type="button" class="btn btn-primary modal-create-btn rounded-0" data-dismiss="modal"
                                        onclick="createSignature()">{{lang_page.save[lang_choose]}}</button>
                                    <button type="button" class="btn btn-secondary rounded-0"
                                        @click="clearSignature(1)">{{lang_page.Clear[lang_choose]}}</button>
                                </div>
                            </div>
                        </div>

                        <!-- Gen -->
                        <div class="tab-pane show active" id="contact" role="tabpanel" aria-labelledby="contact-tab"
                            style="padding:0px 10px">

                            <div class="full-name-sign" style="margin-bottom: 15px;">
                                <label>{{lang_page.Fullname[lang_choose]}}</label>
                                <input class="form-control mt-2" type="text" name="sig-fullname" id="sig-fullname"
                                    v-bind:placeholder="lang_page.fname_lname[lang_choose]">
                            </div>
                            <div class="generate-section">
                                <div class="row">
                                    <div class="col-md-7 col-6">
                                        <select id="signature_font" class="form-control">
                                            <option value="">{{lang_page.font[lang_choose]}}</option>
                                            <option value="worasait.ttf">Worasait</option>
                                            <option value="Arthit.ttf">Arthit</option>
                                            <option value="Sriracha.ttf">Sriracha</option>
                                        </select>
                                    </div>
                                    <div class="col-md-5 col-6">
                                        <a href="javascript:" class="generate-a color_a"
                                            onclick="genSignature()">{{lang_page.GenerateSignature[lang_choose]}}</a>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-12">
                                        <div class="exmaple-sig">
                                            <img height=100 id="signature-img" src="" style="display: none;">
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="modal-button-group" style="float: right;">
                                    <button type="button" class="btn btn-primary modal-create-btn rounded-0"
                                        onclick="genSignature()">{{lang_page.save[lang_choose]}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="initialModal" tabindex="-1" aria-labelledby="initialModaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="initialModaLabel">สร้างลายเซ็นย่อ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <nav class="mb-3">
                    <div class="nav nav-pills nav-fill" id="nav-tab-initia" role="tablist">
                        <a class="nav-link active" id="nav-show-initia-tab" data-bs-toggle="tab" href="#nav-show-initia"
                            role="tab" aria-controls="nav-show-initia" aria-selected="true">เลือกรายเซ็น</a>
                        <a class="nav-link" id="nav-draw-initia-tab" data-bs-toggle="tab" href="#nav-draw-initia"
                            role="tab" aria-controls="nav-draw-initia" aria-selected="false">วาดลายเซ็นย่อ</a>
                        <a class="nav-link" id="nav-gen-initia-tab" data-bs-toggle="tab" href="#nav-gen-initia"
                            role="tab" aria-controls="nav-gen-initia" aria-selected="false">สร้างลายเซ็นแบบย่อ</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent-initia">
                    <div class="tab-pane fade show active" id="nav-show-initia" role="tabpanel"
                        aria-labelledby="nav-show-initia-tab">
                        <div class="form-check mb-3" v-if="show_initia_draw">
                            <input class="form-check-input" type="radio" name="initial_sign" id="initial_sign_draw"
                                @input="/*select_initia_sign(1)*/" value="draw_initial">
                            <img v-bind:src="initia_draw" alt="signature_draw_initial" style="width: 200px;"
                                @error="hide_img_sign(1)">
                        </div>
                        <div class="form-check mb-3" v-if="show_initia_gen">
                            <input class="form-check-input" type="radio" name="initial_sign" id="initial_sign_gen"
                                @input="/*select_initia_sign(2)*/" value="gen_initial">
                            <img v-bind:src="initia_gen" alt="signature_gen_initial" style="width: 200px;"
                                @error="hide_img_sign(2)">
                        </div>
                        <div class="form-check mb-3" v-if="select_initia_sing != ''">
                            <input class="form-check-input" type="checkbox" value="" id="" v-model="sign_all_initia"
                                disabled>
                            <label class="form-check-label" for="">
                                ทุกตำแหน่งลายเซ็นของฉันใช้ลายเซ็นนี้
                            </label>
                        </div>
                        <div class="text-end mb-3">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
                            <button type="button" class="btn btn-primary"
                                onclick="upload.set_sign_type(document.getElementById('initial_sign_draw').checked?document.getElementById('initial_sign_draw').value:document.getElementById('initial_sign_gen').value)">เซ็นเอกสาร</button>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-draw-initia" role="tabpanel"
                        aria-labelledby="nav-draw-initia-tab">
                        <div class="draw-box-ps mb-3">
                            <div class="wrapper">
                                <canvas id="signature-pad-initial" class="signature-pad" width=100 height=100></canvas>
                            </div>
                        </div>
                        <div class="text-end">
                            <button type="button" class="btn btn-secondary" @click="clearSignature(2)">ล้าง</button>
                            <button type="button" class="btn btn-primary"
                                @click="createSignature_initial">สร้างลายเซ็น</button>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-gen-initia" role="tabpanel" aria-labelledby="nav-gen-initia-tab">
                        <div class="mb-3">
                            <label class="form-label">ชื่อ</label>
                            <input type="text" class="form-control" v-model="sign_name_initial" maxlength="3">
                        </div>
                        <div class="text-end">
                            <button type="button" class="btn btn-primary"
                                @click="genSignature_initial">สร้างลายเซ็น</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 
        <div class="modal fade" id="requespassModal" tabindex="-1" aria-labelledby="requespassModalLabel" data-bs-backdrop="static" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content-jay borred15">
     <div class="modal-body text-center">
        <p class="lg48-g1 cl-red "><i class="fas fa-exclamation-circle "></i></p>
        <div class="container">
          <div class="text-center col-12">
            lang_txt.classification_level[lang_choose]]] &nbsp:&nbsp 
            <u><b>
              <span v-if="secret_level == 0">lang_txt.Public[lang_choose]]]</span>
              <span v-else-if="secret_level == 1">lang_txt.Internal[lang_choose]]]</span>
              <span v-else-if="secret_level == 2">lang_txt.Confidential[lang_choose]]]</span>
              <span v-else-if="secret_level == 3">lang_txt.Secret[lang_choose]]]</span>
              <span v-else-if="secret_level == 4">lang_txt.Top_Secret[lang_choose]]]</span>
            </b></u> <br>
            lang_txt.Please_set_password[lang_choose]]]<br><br>
            <button type="button" class="bg-E5 borred5 noborder p-2" data-bs-dismiss="modal"> lang_txt.Accept[lang_choose]]]</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


        <!-- End App -->

        <!-- Modal Save Draft-->
        <div class="modal" id="draftModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title md24-g1">{{lang_txt.draft_model_title[lang_choose]}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p class="rg18-g1">{{lang_txt.draft_model_detail[lang_choose]}}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary rg18-g1 cl-FF" @click="submitDraft">{{lang_txt.draft_save[lang_choose]}}</button>
                        <button type="button" class="btn btn-danger rg18-g1 cl-FF" @click="discradDraft">{{lang_txt.draft_discard[lang_choose]}}</button>
                        <button type="button" class="btn btn-secondary rg18-g1 cl-FF" data-bs-dismiss="modal">{{lang_txt.draft_cancel[lang_choose]}}</button>

                    </div>
                </div>
            </div>
        </div>
    </div>



    <iframe id="bug_session" src="../capi/test_bug_session" style="display: none;"></iframe>
</body>

<script type="text/javascript" src="js/jquery-3.3.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script src="js/dropzone.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/3.0.16/svg.min.js" type="text/javascript"></script>
<script src="js/signature_pad.umd2.js"></script>
<script src="https://unpkg.com/clipboard@2.0.0/dist/clipboard.min.js"></script>
<script src="node_modules/@svgdotjs/svg.draggable.js/dist/svg.draggable.js"></script>
<script src="js/signature_pad.umd2.js"></script>
<script src="js/sigpad.js?v=2_03"></script>
<script src="js/jquery.transit.min.js"></script>
<!-- MY ITEM -->
<script type="text/javascript" src="components/upload_new_lang.js?v=1"></script>
<script type="text/javascript" src="components/upload_new_fn.js?v=1"></script>
<script type="text/javascript" src="components/upload_new3_lib.js"></script>
<script type="text/javascript" src="components/upload_new3.js?v=1"></script>
<script type="text/javascript" src="components/common.js"></script>
<script type="text/javascript" src="components/css.js"></script>

</html>
