<!DOCTYPE html>
<html lang="th-TH" dir="ltr">

<head>
  <title>Bangkok Life | Esign</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=1">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="icon" type="image/x-icon" href="web/images/BLA_Icon.ico">
  <link rel="stylesheet" type="text/css" href="css/index.css?v=1234">
  <link rel="stylesheet" type="text/css" href="css/header.css">
  <link rel="stylesheet" type="text/css" href="css/table.css">
  <link rel="stylesheet" type="text/css" href="css/sideMenu.css?v=122">
  <link rel="stylesheet" type="text/css" href="css/font.css?v=12">
  <link rel="stylesheet" type="text/css" href="../bla/css/main.css?v=1css/main.css?v=1">


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css"> -->
  <style type="text/css">
    .field-missing {
      border-color: red;
    }
  </style>

  <style type="text/css">
    .img-overlay-wrap {
      position: relative;
      display: inline-block;
      /* <= shrinks container to image size */
      /*transition: transform 150ms ease-in-out;*/
    }

    .img-overlay-wrap img {
      /* <= optional, for responsiveness */
      display: block;
      max-width: 100%;
      height: auto;
    }

    .img-overlay-wrap svg {
      position: absolute;
      top: 0;
      left: 0;
    }

    /*
      .img-overlay-wrap:hover {
        transform: rotate( 15deg );
      }
      */
    .bg-red {
      background: red;
    }

    .box-your-signature {
      border: 1px solid #DADADA;
      box-sizing: border-box;
    }

    [v-cloak] {
      display: none
    }
  </style>

</head>

<body class="bg-F2">
  <div id="app" v-cloak>
    <header id="viewer-header">
      <ul>
        <!-- <li style="max-width: 160px;white-space: nowrap;" class="pt-3">
          <img src="images/bla_logo.svg" alt="logo bla website" class="w-100">
        </li  > -->
        <li class="pt-0 pb-0" v-if="lang_choose == 'th'">
          <a href="/bla/#/dashboard">
            <img src="images/bla_logo_th.png" class="w-h-12 ps-2 pb-2">
          </a>
        </li>
        <li class="pt-0 pb-0" v-else>
          <a href="/bla/#/dashboard">
            <img src="images/bla_logo_en.png" class="w-h-12 ps-2 pb-2">
          </a>
        </li>
        <li class="text-end">
          <span v-if="btn_save_show">
            <button type="button" v-if="stk == '' || stk == null" class="btn btn-warning mx-2"
              @click="saveDoc">{{lang_page.save[lang_choose]}}</button>
          </span>
          <span v-else>
            <button type="button" v-if="stk == '' || stk == null" class="btn btn-warning mx-2">
              <div class="spinner-border spinner-border-sm" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </button>
          </span>

          <button type="button" v-if="stk == '' || stk == null" class="btn btn-info mx-2"
            @click="use_cert()">{{lang_page.use_cer[lang_choose]}}</button>
          <button type="button" class="btn btn-light mx-2" @click="close">{{lang_page.close[lang_choose]}}</button>
        </li>
      </ul>
    </header>

    <div class="viewer-tool-header">
      <div class="viewer-tool-icon rg18-g1"><i class="fas fa-search-plus"></i></div>
      <div class="viewer-tool-icon"><i class="fas fa-search-minus"></i></div>
    </div>

    <div class="container mb-5" style="margin-top:150px;">

      <!--
		  <div class="bg-FF"  style="border: 1px solid;height: 800px;width: 75%;">
		  -->
      <div class="row">
        <div class="col-12">
          <div class="bg-FF" style="border: 1px solid;">

            <!--
      
                     <div v-for="r,i in sign_obj.imageFiles" v-bind:id="'page'+i" style="width: 100%;height: 100%;;background: red;"> 
                    -->
            <!-- Button trigger modal -->
            <!-- <button id="editSignatureboxBtn" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editSignaturebox">
                    Launch demo modal
                  </button> -->

            <div v-for="r,i in sign_obj.imageFiles" v-bind:id="'page'+i" style="background: white;">


              <!-- <div class="bg-doc mb-2" > -->
              <div class="mb-2 img-overlay-wrap" v-bind:id="'page-div'+i">

                <img v-bind:onload="'addImageQueue('+ i +', this)'" v-bind:id="'img'+i" border="1"
                  v-bind:src="'../face/images/card/'+r.fileName" width="100%" height="100%" />
                <!-- <div style="width:150px;height:50px;background:yellow;position: absolute;top:100px;left:50px">
                                   Sign
                                 </div>  -->

                <br />
              </div>


            </div>
            <div id='dropzone-attachment' class="dropzone" style="display: none;"></div>
            <div id="all_modals">
              <!--# include file="viewer_modals.html" -->
            </div>


          </div>

        </div>
      </div>
    </div>


  </div>

  <style>
    .canvas-container {
      background-color: #ffffff;
    }

    .centered3 {
      position: absolute;
      left: 30%;
    }

    .lds-circle {
      display: inline-block;
      transform: translateZ(1px);
    }

    .lds-circle>div {
      background: url('https://hjkl.ninja/company/img/progressbar-02.png');
      width: 150px;
      height: 150px;
      border-radius: 100%;
      animation: lds-circle 4.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }

    @keyframes lds-circle {

      0%,
      100% {
        animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
      }

      0% {
        transform: rotateY(0deg);
      }

      50% {
        transform: rotateY(1800deg);
        animation-timing-function: cubic-bezier(0.5, 1.5, 1.5, 2);
      }

      100% {
        transform: rotateY(3600deg);
      }
    }

    body {
      font-family: 'Prompt', sans-serif;
      width: 100%;
    }

    .btn-icon {
      background-color: transparent;
      border-color: transparent;
      padding: 5px;
      border-radius: 5px;
      color: #595959;
      font-size: 20px;
    }

    /* eark css */

    .page-canvas {
      border: 1px solid;

    }

    /* .upper-canvas{
        transform: scale(1);
    }
    .lower-canvas{
        transform: scale(1);
    } */

    .wall {
      position: absolute;
      z-index: 9;
      width: 100%;
      height: 300%;
      background-color: white;
    }

    .scale-with-same-origin {
      -webkit-transform-origin: 0 0;
      -moz-transform-origin: 0 0;
      transform-origin: 0 0;
    }

    .draw-box {
      width: 400px;
      height: 100px;
      border: 2px dashed #1667B2;
      border-radius: 5px;
      position: relative;
      margin: auto;
    }

    .pd-t-document {
      padding-top: 150px;
    }

    @media screen and (max-width: 502px) {
      .nav-link {

        width: 100px !important;
      }

      #editSignaturebox,
      .modal-dialog {
        max-width: 800px !important;
      }

      .pd-t-document {
        padding-top: 200px;
      }
    }

    /* On screens that are 992px wide or less, the background color is blue */
    /* @media screen and (max-width: 992px) {
        .upper-canvas{
            transform: scale(1.5);
        }
        .lower-canvas{
            transform: scale(1.5);
        }
        .pd-t-document{
            padding-top: 200px;
        }
    } */

    /* On screens that are 600px wide or less, the background color is olive */
    /* @media screen and (max-width: 600px) {
        .upper-canvas{
            transform: scale(1.5);
        }
        .lower-canvas{
            transform: scale(1.5);
        }
    } */

    /* Multiline text editing */
    .canvas-wrapper {
      position: relative;
    }

    /* canvas {
    border: 1px solid #000;
} */
    .itext {
      width: 300px;
      background: transparent;
      position: absolute;
      z-index: 2;
    }
  </style>

</body>

<script type="text/javascript" src="js/jquery-3.3.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.1.3/vue-router.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>


<script src="js/signature_pad.umd2.js"></script>
<script src="js/sigpad.js?v=2_03"></script>
<script src="js/dropzone.min.js" type="text/javascript"></script>


<!-- MY ITEM -->
<script src="components/common.js?v=3_02"></script>
<script src="components/viewer_lang.js?v=3_02"></script>
<script src="components/viewer.js?v=3_02"></script>

</html>