.font_label {
    text-align: left !important;
    font-weight: 400 !important;
}
.icon_background {
    background-color: #ffffff !important;
}
.text_font {
    /* font-family:Helvetica, Kanit, sans-serif; */
    font-family: Prompt, sans-serif !important;
    font-size:14px;
    color: rgb(89, 95, 102);
    font-weight: 400;
}
.marginTop15 {
    margin-top: 15px;
}
@media screen and (max-width:991px){
    .modePc{
        display:none;
    }
    .sizeForm{
        padding-left: 30px;
        padding-right: 30px;
    }
    label{
        font-family: Prompt, sans-serif !important;
        font-size:14px;
        color: rgb(89, 95, 102);
        font-weight: 400;
    }
    .leftForm{
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media screen and (min-width:992px){
    .modeMobile{
        display:none;
    }
    .sizeForm{
        padding-left: 60px;
        padding-right: 60px;
    }
    label{
        font-family: Prompt, sans-serif !important;
        font-size:14px;
        color: rgb(89, 95, 102);
        font-weight: 400;
    }
    .leftForm{
        padding-left: 60px;
        padding-right: 60px;
    }
}
@media screen and (max-width:767px){
    .setForm{
        width: 70%;
    }
}
@media screen and (min-width:768px){
    .setForm{
        width: 50%;
    }
}
