body {
    background: #FFFFFF;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.header ul {
    margin: 0px 0px 5px 0px;
    padding: 0px;
    list-style: none;
}

.header ul li {
    float: left;
}

.item-menu a {
    color: #4F4F4F;
    text-decoration: none;
}

.item-menu {
    padding-bottom: 10px;
}

.item-menu:hover {
    border-bottom: 3px solid #1667B2;
}

.max-limit-size-logo {
    max-width: 160px;
}

.a-line-none {
    text-decoration: none;
}

.flag-size {
    width: 25px;
}

.cs-pointer {
    cursor: pointer;
}

.mTop150 {
    margin-top: 150px
}

.mTop-n5 {
    margin-top: -5px;
}

.bg-CI {
    background: #1667B2;
}

.cl-blue-opa {
    color: rgba(255, 255, 255, 0.6);
}

.button-contact-warning {
    padding: .500rem 3.75rem !important;
}

.button-info-warning {
    padding: .500rem 1.75rem !important;
}

.box-info {
    height: 500px;
    background: #000
}

.box-standard {
    margin: 0px;
    padding: 0px;
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.box-standard li {
    width: 30%;
    background: #FFFFFF;
    border: 1px solid #DFDFDF;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 20px 20px 30px 20px;
}

.box-features {
    margin: 0px;
    padding: 0px;
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.box-features li {
    width: 20%;
    background: #FFFFFF;
    text-align: center;
}

.box-partner {
    margin: 0px;
    padding: 0px;
    list-style: none;
    width: 100%;
    /* display        : block;
    justify-content: space-around; */
}

.box-partner li {
    width: 19%;
    background: #FFFFFF;
    text-align: center;
    display: inline-block;
    margin-top: 60px
}

.box-news {
    margin: 0px;
    padding: 0px;
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.box-news li {
    width: 30%;
    background: #FFFFFF;
    border: 1px solid #DFDFDF;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 15px 15px 30px 15px;
}

.box-contact {
    background: #FFFFFF;
    border: 1px solid #DFDFDF;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 20px 15px;
}

.bg-contact {
    background-image: url("/esign/web/images/bg-contact.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 200px;
}

.bg-blue {
    background-image: url("/esign/web/images/Creden-bg-blue.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    /* padding-bottom: 675px; */
    height: fit-content;
}

.info-macbook-img {
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, -0%);
    width: 923px;
    /* height: 540px; */
    max-width: 100%;
    /* max-height: 100%; */
}

/* Responsive */

/* // Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {}

/* // Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {}

/* // Large devices (desktops, 992px and up) */

@media (min-width: 992px) {}

/* // X-Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}

/* // XX-Large devices (larger desktops, 1400px and up) */

@media (min-width: 1400px) {}

/* // Small devices (landscape phones, less than 768px) */

@media (max-width: 767.98px) {}

/* // Medium devices (tablets, less than 992px) */

@media (max-width: 991.98px) {
    .bg-blue {
        background-image: url("/esign/web/images/Creden-bg-blue.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        /* padding-bottom: 675px; */
        height: fit-content;
    }
}

/* // Large devices (desktops, less than 1200px) */

@media (max-width: 1199.98px) {}

/* // X-Large devices (large desktops, less than 1400px) */

@media (max-width: 1399.98px) {}