[v-cloak] {
  display: none;
}

body {
  font-family: 'Kanit', sans-serif !important;
  background: #F2F2F2;
}

.flag {
  width: 30px;
}

.border-profile {
  border-left: 2px solid #FFFFFF;
}

.switch {
  position: relative;
  display : inline-block;
  width   : 55px;
  height  : 24px;
}

.switch input {
  opacity: 0;
  width  : 0;
  height : 0;
}

.slider {
  position          : absolute;
  cursor            : pointer;
  top               : 0;
  left              : 0;
  right             : 0;
  bottom            : 0;
  background-color  : #ccc;
  -webkit-transition: .4s;
  transition        : .4s;
}

.slider:before {
  position          : absolute;
  content           : "";
  height            : 20px;
  width             : 20px;
  left              : 4px;
  bottom            : 1px;
  background-color  : white;
  -webkit-transition: .4s;
  transition        : .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform    : translateX(26px);
  transform        : translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.list-pricing {
  width   : 100%;
  overflow: auto;
}

.list-pricing-box {
  margin    : 0;
  padding   : 0;
  list-style: none;
  white-space: nowrap;
  display: flex;
}

.list-pricing-item{
  float     : left;
  margin: 30px 10px;
  padding   : 0px 10px;
  width     : 25%;
}

.list-pricing-box .row {
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
}

.bd-bottom-1-bd {
  border-bottom: 1px solid #E0E0E0;
}

.line-bd {
  width: 100%;
  border: 1px solid #BDBDBD;
}

.cl-EB{
  color: #EB5757;
}

.cl-2F8 {
  color: #2F80ED;
}

.cl-FF-op-6 {
  color: rgba(255, 255, 255, 0.6);
}

.a-line-none {
  text-decoration: none;
}

.faq-list {
  list-style: none;
  margin-bottom: 0px !important;
  padding-left: 0px !important;
}

.number-pay {
  border-radius: 50%;
  padding: 2px 12px;
  background: #2F80ED;
}

@media screen and (max-width: 991px){

  .pc {
    display: none;
  }

  .list-pricing-item{
    float     : left;
    margin: 30px 5px;
    padding   : 0px 10px;
    width     : 100%;
  }

}

@media screen and (max-width: 767px){

  .list-pricing {
    width   : 100%;
    overflow: auto;
    /* margin: 0px 15px; */
  }

}