<meta charset="UTF-8"/>
<style>
.btn-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
</style>
<form name="ekycForm" method="post">
    <input type="hidden" name="ref_no" id="ref_no"/>
    <input type="hidden" name="txid" id="txid"/>
    <input type="hidden" name="redirect_url" id="redirect_url"/>
    <input type="hidden" name="apiKey" id="apiKey"/>
    <input type="hidden" name="card_reader_id" id="card_reader_id"/>
	<input type="hidden" name="new_parameter" id="new_parameter"/>
</form>

<div>
    <div class="vertical-center">
	<center>
		<button onclick="goKyc()" class="btn-warning" style="display:none;font-size: 46px;">ยืนยันตัวตน </button> 
	</center>
    </div>
</div>
<script>
 var ldd = document.location.href
 var url_host
                if (ldd.indexOf('esign.ldd') != -1) {
                    //alert('esign.ldd')
			url_host = 'https://esign.ldd.go.th/'
		}else{
		//alert('creden')
		url_host = 'https://hjkl.ninja/'
		}

function gup(name, url) {
    if (!url) url = location.href;
    name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
    var regexS = "[\\?&]" + name + "=([^&#]*)";
    var regex = new RegExp(regexS);
    var results = regex.exec(url);
    return results == null ? null : results[1];
}

	var card_reader_id = gup('id') || ''
 
       var new_parameter = gup('new_parameter') || ''
      
   	var gourl = gup('login_dir') || '' 
function goKyc(){
    document.getElementById('ref_no').value = 'democreden01'
    document.getElementById('txid').value = 'Glosec' +  new Date().getTime();
    
	var url = document.location.href

	 
	
	if(new_parameter==""){
//    alert('ssss')
		if(url_host == "https://hjkl.ninja/"){
		//alert('oooo')
			var r_url = 'https://creden.co/pj/democreden01/userForm.html?rd='+ new Date().getTime()

	r_url += '&card_reader_id='+card_reader_id
		}else{
    var r_url = 'https://esign.ldd.go.th/pj/democreden01/userForm.html?rd='+ new Date().getTime()
	
	r_url += '&card_reader_id='+card_reader_id
		}
	document.getElementById('redirect_url').value = r_url        
	document.getElementById('card_reader_id').value = card_reader_id 
	document.getElementById('apiKey').value = 'ctFp9DVnvlI0x7piQEZhJ2jkKvCRVRrq';
	}else{
		if(url_host == "https://hjkl.ninja/"){
    var r_url = 'https://creden.co/pj/democreden01/userForm.html?rd='+ new Date().getTime()
		r_url +='&card_reader_id='+card_reader_id+'&new_parameter='+new_parameter
//alert('ok'+new_parameter)
		}else{
var r_url = 'https://esign.ldd.go.th/pj/democreden01/userForm.html?rd='+ new Date().getTime()
                r_url +='&card_reader_id='+card_reader_id+'&new_parameter='+new_parameter

		}
 	document.getElementById('redirect_url').value = url_host+'company/#/profile'        
 	document.getElementById('card_reader_id').value = card_reader_id 
    document.getElementById('new_parameter').value = new_parameter
	document.getElementById('apiKey').value = 'ctFp9DVnvlI0x7piQEZhJ2jkKvCRVRrq';
	}


	if(new_parameter==""){
		//alert('1')
           if(gourl==""){
		  //alert('2')
   	   document.ekycForm.action = url_host+'capi/ekyc_auth?card_reader_id='+card_reader_id
           document.ekycForm.submit();
	   }else{
		
               document.ekycForm.action = url_host+'capi/ekyc_auth?card_reader_id='+card_reader_id
		 document.ekycForm.submit();
		   // alert('3')
	       //alert('A login')
           }
	       // alert(r_url+'\n'+card_reader_id)
               //alert('1'+new_parameter)
	       //alert('A')
               document.ekycForm.submit();
        }else{
	   //alert('2'+new_parameter)
	   //document.ekycForm.action = 'https://esign.ldd.go.th/capi/ekyc_auth_dip?card_reader_id='+card_reader_id+'&new_parameter='+new_parameter
           if(gourl==""){
	      // alert('B')
	       document.ekycForm.action = url_host+'capi/ekyc_auth_dip?card_reader_id='+card_reader_id+'&new_parameter='+new_parameter
	       document.ekycForm.submit();
	   }else{
	      // alert('B login')
	         if(gourl=='success' && new_parameter!=''){
                  // alert('xxxxxxx')
	       	   document.ekycForm.action = url_host+'/capi/ekyc_auth_dip?card_reader_id='+card_reader_id+'&new_parameter='+new_parameter
					   
		setTimeout(function(){
		
			  // alert(document.ekycForm)
			localStorage.lang_choose = 'th'
			document.ekycForm.submit();
		},500);
	         
		}else{
		   document.location.href = 'https://esign.ldd.go.th/login.html?p=signature&login_dir='+gourl+'&id='+card_reader_id
		}
	   }
	}
 }


 var card_reader_id = gup('id') || ''
 if(card_reader_id.indexOf('ghb')==0){
	//alert(card_reader_id);
	 goKyc();
//alert('33333')
 }

if(gourl=='success' && new_parameter!=''){


goKyc();

}else{

goKyc();
}
</script>
