<meta charset="UTF-8"/>
<style>
.btn-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
</style>
<form name="ekycForm" method="post">
    <input type="hidden" name="ref_no" id="ref_no"/>
    <input type="hidden" name="txid" id="txid"/>
    <input type="hidden" name="redirect_url" id="redirect_url"/>
    <input type="hidden" name="apiKey" id="apiKey"/>
    <input type="hidden" name="card_reader_id" id="card_reader_id"/>
	<input type="hidden" name="new_parameter" id="new_parameter"/>
</form>

<div>
    <div class="vertical-center">
	<center>
		<button onclick="goKyc()" class="btn-warning" style="display:none;font-size: 46px;">ยืนยันตัวตน </button> 
	</center>
    </div>
</div>
<script>
 var pea = document.location.href
 var url_host
            
		url_host = document.location.origin
		

function gup(name, url) {
    if (!url) url = location.href;
    name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
    var regexS = "[\\?&]" + name + "=([^&#]*)";
    var regex = new RegExp(regexS);
    var results = regex.exec(url);
    return results == null ? null : results[1];
}

	var card_reader_id = gup('id') || ''
 
       var new_parameter = gup('new_parameter') || ''
      
   	var gourl = gup('login_dir') || '' 
function goKyc(){
    document.getElementById('ref_no').value = 'dipship'
    document.getElementById('txid').value = 'Glosec' +  new Date().getTime();
    
	var url = document.location.href




	if(new_parameter==""){
		//alert('1')
           if(gourl==""){
		  //alert('2')
   	   document.ekycForm.action = url_host+'/capi/ekyc_auth?card_reader_id='+card_reader_id
           document.ekycForm.submit();
	   }else{
		
               document.ekycForm.action = url_host+'/capi/ekyc_auth?card_reader_id='+card_reader_id
		 document.ekycForm.submit();
		   // alert('3')
	       //alert('A login')
           }
	       // alert(r_url+'\n'+card_reader_id)
               //alert('1'+new_parameter)
	       //alert('A')
               document.ekycForm.submit();
        }else{
	   //alert('2'+new_parameter)
	   //document.ekycForm.action = 'https://pea.hjkl.ninja/capi/ekyc_auth_dip?card_reader_id='+card_reader_id+'&new_parameter='+new_parameter
           if(gourl==""){
	      // alert('B')
	       document.ekycForm.action = url_host+'/capi/ekyc_auth_dip?card_reader_id='+card_reader_id+'&new_parameter='+new_parameter
	       document.ekycForm.submit();
	   }else{
	      // alert('B login')
	         if(gourl=='success' && new_parameter!=''){
                  // alert('xxxxxxx')
	       	   document.ekycForm.action = url_host+'/capi/ekyc_auth_dip?card_reader_id='+card_reader_id+'&new_parameter='+new_parameter
					   
		setTimeout(function(){
		
			  // alert(document.ekycForm)
			localStorage.lang_choose = 'th'
			document.ekycForm.submit();
		},500);
	         
		}else{
		   document.location.href = document.location.origin+'/bla/web/login.html?p=signature&login_dir='+gourl+'&id='+card_reader_id
		}
	   }
	}
 }



if(gourl=='success' && new_parameter!=''){


goKyc();

}else{

goKyc();
}
</script>
