<section>
    <div id="form2">
        <div id="app2" class="container">


            <div class="sizeForm">
                <div class="well form-horizontal" style="background-color:#ffffff;border:1px solid #c4c4c4">
                    <fieldset class="modePc">
                        <legend align="center" style="padding:15px"><h2 class="display-4" style="font-family:'Prompt', sans-serif;">แบบฟอร์มยืนยันสัญชาติ</h2></legend>

                        <div class="leftForm text_font">
                            <!-- ------------------------------------ข้อ 1 -->
                            <div class="form-group">
                                <label class="col-12 control-label font_label">ข้อบ่งชี้ของบุคคลธรรมดา ที่แสดงว่าเป็นบุคคลอเมริกัน หรือเกี่ยวข้องกับบุคคลอเมริกัน</label>
                                <div class="col-12 inputGroupContainer" style="margin-left:15px;margin-top: 5px">
                                    <div class="form-check">
                                       
                                        <label class="form-check-label font_label">
                                           1. มีสัญชาติอเมริกัน / เกิดที่สหรัฐอเมริกา / มีที่อยู่ถาวรในสหรัฐอเมริกา (W-9)
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        
                                        <label class="form-check-label font_label">
                                            2. มีที่อยู่ปัจจุบัน หรือที่อยู่เพื่อการติดต่อ หรือที่อยู่เพื่อรับา่งไปรษณีย์แทน ในสหรัฐอเมริกา (W-8BEN)
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        
                                        <label class="form-check-label font_label">
                                            3. มีที่อยู่ชั่วคราวในสหรัฐอเมริกา หรือ เคยอาศัยอยู่ในอเมริกาเกินกว่า 183 วัน (W-8BEN)
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        
                                        <label class="form-check-label font_label">
                                            4. มีหมายเลขโทรศัพท์ในสหรัฐอเมริกา (W-8BEN)
                                        </label>
                                    </div>

                                    <div class="form-check">
                                        
                                        <label class="form-check-label font_label">
                                            5. มีการมอบอำนาจให้บุคคลอื่นที่มีอยู่ในสหรัฐอเมริกา ดำเนินการเกี่ยวข้องกับบัญชีแทน (W-8BEN)
                                        </label>
                                    </div>

                                    <div class="form-check">
                                        
                                        <label class="form-check-label font_label">
                                            6. มีการทำคำสั่งทำรายการโอนเงินเป็นประจำไปยังบัญชีที่อยู่ในสหรัฐอเมริกา (W-8BEN)
                                        </label>
                                    </div>

                                     <div class="form-check">
                                        <input class="form-check-input" type="radio" name="config_1" value="1" v-model="config_1">
                                        <label class="form-check-label font_label">
                                           ใช้บุคคลอเมริกัน หรือเกี่ยวข้องกับบุคคลอมริกัน ตามข้อบ่งชี้ ข้อที่ <span>
                                            <select @change="gggg()" v-if="config_1=='1'" v-model="typeselect" id="choice">
                                                <option>กรุณาเลือกประเภท</option>
                                                 <option value="1">1</option>
                                                  <option value="2">2</option>
                                                   <option value="3">3</option>
                                                    <option value="4">4</option>
                                                     <option value="5">5</option>
                                                      <option value="6">6</option>

                                        </select>

                                                    
                                            </span>
                                                  
                                        

                                        </label>


                                    </div>
                                      <span v-if="typeselect=='1'  && config_1=='1'">
                                                       เลขที่ภาษี : <input type="text" v-model="txtNumTax_1">

                                                    </span>
                                                     <span v-else-if="typeselect=='2'  && config_1=='1'">
                                                       เลขที่ภาษี : <input type="text" v-model="txtNumTax_2" >

                                                       เลขที่กรีนการ์ด : <input type="text" v-model="txtGreenCard" >

                                                    </span>
                                                     <span v-else-if="typeselect=='3'  && config_1=='1'">
                                                       เลขที่ภาษี : <input type="text" v-model="txtNumTax_3" >

                                                      

                                                    </span>
                                                      <span v-else-if="typeselect=='4'  && config_1=='1'">
                                                       เลขที่บัญชี : <input type="text" v-model="txtAcc">

                                                        ชื่อธนาคาร/สถานบันการเงิน : <input type="text" v-model="txtBank_1">

                                                      

                                                    </span>
                                                    <span v-else-if="typeselect=='5'  && config_1=='1'">
                                                       
                                                        ชื่อ-นามสกุล : <input type="text" v-model="txtfullnamex">

                                                      

                                                    </span>
                                                    <span v-else-if="typeselect=='6' && config_1=='1'">
                                                       
                                                        ชื่อสถานบันการเงิน : <input type="text" v-model="txtBank_2">

                                                      

                                                    </span>

                                     <div class="form-check">
                                        <input class="form-check-input" type="radio" name="config_1" value="2" v-model="config_1">
                                        <label class="form-check-label font_label">
                                            ไม่ใช่บุคคลอเมริกัน หรือไม่ได้เกี่ยวข้องกับบุคคลอเมริกัน
                                        </label>
                                    </div>



                                </div>
                            </div>

                            
                            </div>
    
                        </fieldset>
                    <br><br>
                    <div align="center">
                        <button type="button" class="btn btn-primary modeMobile" v-show="templateForm != 1" @click="back()" style="margin:auto;">ย้อนกลับ </button>
                        <button type="button" class="btn btn-primary modeMobile" v-show="templateForm != 12" @click="next()">ถัดไป </button>
                        <button type="button" class="btn btn-primary modeMobile" @click="sendForm()" v-show="templateForm == 12">ยืนยัน <i class="glyphicon glyphicon-send"></i></button>
                        <button type="button" class="btn btn-primary modePc" @click="checkchoiceLang()">ยืนยัน <i class="glyphicon glyphicon-send"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>
  <script src="js/index.js"></script> -->
    </div>

</section>